
.new-ui-{
	&form{
		&__row{
			margin: 0 0 10px;
			&__title{
				display: inline-block;
				min-width: 75px;
				padding: 0 5px 0 0;
				p{
					font-family: $f_ui_font_family;
					font-size : 13px;
					line-height: 15px;
					color : #636467;
				}
			}
			&__input{
				display: inline-block;
				min-width: 180px;
				input{
					border: 1px solid  #D9D9D9;
					width: 180px;
					height: 40px;
					line-height: 40px;
					padding: 0 5px;
				}
			}
		}
	}
	
	&accounts{
		&__title{
			p{
				font-family: $f_ui_font_family;
				font-size : 13px;
				line-height: 15px;
				color : #636467;
			}
		}
		&__main{
			&>.new-ui-button{
				margin 0 10px 0 0;
			}
		}
	}
}