/**
 * Hint for some elements
 * usage:
<div class="new-ui-hint">
	Hint text
</div>
 * Modifiers: new-ui-hint_info - grayed one
 */
 
// COLORS
$c_ui_hint_bg       = #FFD321;
$c_ui_hint_bg_info  = #EEEEEE;

$c_ui_hint_text		= #3F3F3F;

// DIMENSIONS
$d_ui_hint_vPadding  = 10px;
$d_ui_hint_hPadding  = 10px;
$d_ui_hint_arrowSize = 7px;
$d_ui_hint_bRadius   = 0px;

$d_ui_hint_static_padding 	= 10px 35px 10px 10px;

// FONT
$f_ui_hint            = $c_ui_textMain;
$f_ui_hint_size       = 12px;
$f_ui_hint_lineheight = 15px;

$f_ui_hint_text_fz			= 12px;
$f_ui_hint_text_lh			= 20px;

// COMPOSITES
$i_ui_hint_shadow  = 0px 2px 2px rgba(#000, 0.25);
$d_ui_hint_bRadius = 4px;

// FONT
$f_ui_hint            = $c_ui_textMain;
$f_ui_hint_size       = 13px;
$f_ui_hint_lineheight = 15px;

.new-ui-hint {
	transform: translate(-50%,0);
	position: absolute;
	left: 50%;
	bottom: 100%;

	margin-bottom: $d_ui_hint_arrowSize;
	padding: $d_ui_hint_vPadding $d_ui_hint_hPadding;

	color: $f_ui_hint;
	font-size: $f_ui_hint_size;
	line-height: $f_ui_hint_lineheight;

	background: $c_ui_hint_bg;
	border-radius: $d_ui_hint_bRadius;

	box-shadow: $i_ui_hint_shadow;

	text-align: center;

	white-space: nowrap;

	z-index: 1;

	cursor: pointer;

    &_info{
        background: $c_ui_hint_bg_info;

        &:before{
            border-top-color: $c_ui_hint_bg_info!important;
        }
    }

	&:before {
		content: '';
		position: absolute;
		border: $d_ui_hint_arrowSize transparent solid;
		border-top-color: $c_ui_hint_bg;
		border-bottom: 0 none;
		top: 100%;
		left: 50%;
		margin-left: 0 - $d_ui_hint_arrowSize;
        filter: drop-shadow(0 2px 1px rgba(0,0,0,0.25));
	}
	
	&_static{
		position: relative;
		transform: translate(0, 0);
		white-space: normal;
		left: auto;
		padding: $d_ui_hint_static_padding;
		&:before{
			display: none;
		}
	}
	
	&__text{
		display: inline-block;
		p{
			color $c_ui_hint_text;
			font-size $f_ui_hint_text_fz;
			line-height $f_ui_hint_text_lh;
			margin: 0;
			text-align left;
		}
	}
	
	&__icon{
		position: absolute;
		display: inline-block;
		vertical-align: middle;
		top: 50%;
		right: 10px;
		transform: translate(0, -50%);
	}
}

.new-ui-{
	&textHint{
		
	}
}
