.new-ui-mMenuIcon {
  background: url("images/menu-icon.svg") 0 0 no-repeat;
  width: 20px;
  height: 14px;
  display: inline-block;
}
.side-menu-open .new-ui-mMenuIcon {
  background: url("images/arr-back.svg") 0 0 no-repeat;
}
.new-ui-mMenuBack {
  display: none;
}
.side-menu-open .new-ui-mMenuBack {
  display: inline-block;
}
.new-ui-overlayMenu {
  background: url("images/popMenu.svg") 0 0 no-repeat;
  width: 4px;
  height: 17px;
  display: inline-block;
}
.new-ui-arrLeftRight {
  background: url("images/arr-left-right.svg") 0 0 no-repeat;
  width: 16px;
  height: 8px;
  display: inline-block;
}
.new-ui-arrTopBlue {
  background: url("images/arr-top-blue.svg") 0 0 no-repeat;
  width: 10px;
  height: 6px;
  display: inline-block;
  vertical-align: middle;
}
.new-ui-ArrowOneCircle {
  background: url("images/path-one.svg") 0 0 no-repeat;
  width: 50px;
  height: 8px;
  display: inline-block;
  vertical-align: middle;
}
.new-ui-ArrowTwoCircle {
  background: url("images/path-two.svg") 0 0 no-repeat;
  width: 50px;
  height: 8px;
  display: inline-block;
  vertical-align: middle;
}
.new-ui-iconCart {
  background: url("images/cart.svg") 0 0 no-repeat;
  width: 22px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px 0 0;
}
.new-ui-arrRight {
  background: url("images/arr-right.svg") 0 0 no-repeat;
  width: 10px;
  height: 4px;
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
.new-ui-arrTopBottom {
  background: url("images/arr-top-bottom.svg") 0 0 no-repeat;
  width: 10px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
}
.new-ui-arrBottom {
  background: url("images/arr-bott-blue1.svg") 0 0 no-repeat;
  width: 10px;
  height: 6px;
  display: inline-block;
  vertical-align: middle;
}
.new-ui-greyCross {
  background: url("images/close.svg") 0 0 no-repeat;
  width: 12px;
  height: 12px;
  display: inline-block;
}
.new-ui-iconClose {
  background: url("images/close-white.svg") 0 0 no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.new-ui-iconClock {
  background: url("images/clock.svg") 0 0 no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.new-ui-soc-direction {
  display: inline-block;
  width: 25px;
  height: 22px;
  background: url("images/account.svg") 0 0 no-repeat;
}
.new-ui-soc-fb {
  display: inline-block;
  width: 24px;
  height: 22px;
  background: url("images/account_fb.svg") 0 0 no-repeat;
}
.new-ui-soc-mail {
  display: inline-block;
  width: 22px;
  height: 21px;
  background: url("images/account_mail.svg") 0 0 no-repeat;
}
.new-ui-soc-tw {
  display: inline-block;
  width: 21px;
  height: 17px;
  background: url("images/account_tw.svg") 0 0 no-repeat;
}
.new-ui-soc-vk {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url("images/account_vk.svg") 0 0 no-repeat;
}
.new-ui-soc-ya {
  display: inline-block;
  width: 10px;
  height: 22px;
  background: url("images/account_ya.svg") 0 0 no-repeat;
}
