@import 'common/fonts.styl';
@import 'common/flags.styl';
@import 'common/variables.styl';
@import 'common/normalize.styl';
@import 'common/mixins.styl';
@import 'common/common.styl';
@import 'uikit/_uikit.styl';

// Commons
@import 'blocks/Common/header.styl';
@import 'blocks/Common/breadcrumbs.styl';
@import 'blocks/Common/footer.styl';
@import 'blocks/Common/postfilters.styl';
@import 'blocks/Common/customScroll.styl';
@import 'blocks/Common/sticker.styl';
@import 'blocks/Common/chosen.styl';
@import 'blocks/Common/oldBrowsers.styl';

// Authorization
@import 'blocks/Common/auth.styl';
@import 'blocks/Common/registration.styl';

// CheeckBooking
@import 'blocks/Common/checkBooking.styl';

// Hotels results
@import 'blocks/Hotels/searchForm.styl';
@import 'blocks/Hotels/searchResuls_HotelsGroup.styl';
@import 'blocks/Hotels/searchResults.styl';
@import 'blocks/Hotels/searchResults_sidebar.styl';
@import 'blocks/Hotels/searchResults_filters.styl';
@import 'blocks/Hotels/searchResults_adaptivity.styl';
@import 'blocks/Hotels/hotel.styl';
@import 'blocks/Hotels/searchResults_map_hotelsGroup.styl';
@import 'blocks/Hotels/searchResults_HotelsGroup_adaptivity.styl';
@import 'blocks/Hotels/hotel_adaptivity.styl';

// Flights form and adaptivity
@import 'blocks/Flights/searchForm.styl';
@import 'blocks/Flights/searchHotelsForm.styl';
@import 'blocks/Flights/searchForm_adaptivity.styl';
@import 'blocks/Flights/searchHotelsForm_adaptivity.styl';

// Flights results and adaptivity
@import 'blocks/Flights/fareRules.styl';
@import 'blocks/Flights/searchResults.styl';
@import 'blocks/Flights/searchResults_fareFamilies.styl';
@import 'blocks/Flights/searchResults_fareFamiliesBySegment.styl';
@import 'blocks/Flights/searchResults_fareFamiliesBySegment_adaptivity.styl';
@import 'blocks/Flights/searchResults_fareVariations.styl';
@import 'blocks/Flights/searchResults_flightsGroup.styl';
@import 'blocks/Flights/searchResults_flightsGroup_dummy.styl';
@import 'blocks/Flights/searchResults_flightsListGroup.styl';
@import 'blocks/Flights/searchResults_travelPolicies.styl';
@import 'blocks/Flights/searchResults_flightsListGroup_adaptivity.styl';
@import 'blocks/Flights/searchResults_adaptivity.styl';

@import 'blocks/Flights/flightsResultsCompareTable.styl';

// Carrier results
@import 'blocks/Flights/carrierResults.styl';
@import 'blocks/Flights/carrierResults_adaptivity.styl';

// Flights info
@import 'blocks/Flights/flightInfo.styl';
@import 'blocks/Flights/flightInfo_adaptivity.styl';

// Coupling table
@import 'blocks/Flights/searchResultsCouplingTable.styl';

// Vicinity dates matrix
@import 'blocks/Flights/searchResultsDatesMatrix.styl';

// Flights schedule search
@import 'blocks/Flights/scheduleSearch.styl';

@import 'blocks/Flights/lastSearches.styl';

// Cookies notification
@import 'blocks/Common/cookies.styl';
