//use('../../../../node_modules/stylobuild', {
//	autoprefixer: { browsers: "last 2 version, Explorer >=8"},
//	csso: true,
//	pixrem: false
//});

@import 'common/fonts.styl';
@import 'common/flags.styl';
@import 'common/variables.styl';
@import 'common/normalize.styl';
@import 'common/mixins.styl';
@import 'common/common.styl';
@import 'uikit/_uikit.styl';

// Commons
@import 'blocks/Common/header.styl';
@import 'blocks/Common/breadcrumbs.styl';
@import 'blocks/Common/footer.styl';
@import 'blocks/Common/postfilters.styl';
@import 'blocks/Common/customScroll.styl';
@import 'blocks/Common/sticker.styl';
@import 'blocks/Common/chosen.styl';

// Authorization
@import 'blocks/Common/auth.styl';
@import 'blocks/Common/registration.styl';

// CheeckBooking
@import 'blocks/Common/checkBooking.styl';

// Flights form and adaptivity
@import 'blocks/Flights/searchForm.styl';
@import 'blocks/Flights/searchHotelsForm.styl';
@import 'blocks/Flights/searchForm_adaptivity.styl';
@import 'blocks/Flights/searchHotelsForm_adaptivity.styl';

// Flights results and adaptivity
@import 'blocks/Flights/searchResults.styl';
@import 'blocks/Flights/searchResults_flightsGroup.styl';
@import 'blocks/Flights/searchResults_flightsGroup_dummy.styl';
@import 'blocks/Flights/searchResults_flightsListGroup.styl';
@import 'blocks/Flights/searchResults_adaptivity.styl';

@import 'blocks/Flights/flightsResultsCompareTable.styl';

// Flights info
@import 'blocks/Flights/flightInfo.styl';
@import 'blocks/Flights/flightInfo_adaptivity.styl';

// Coupling table
@import 'blocks/Flights/searchResultsCouplingTable.styl';

// Vicinity dates matrix
@import 'blocks/Flights/searchResultsDatesMatrix.styl';

@import 'blocks/Flights/lastSearches.styl';