use('../node_modules/stylobuild', {
	autoprefixer: { browsers: "last 2 version, Explorer >=8"},
	csso: true,
	pixrem: false
});

@import 'common/normalize.styl';
@import 'common/mixins.styl';
@import 'common/pickmeup.styl';
@import 'uikit/_uikit.styl';

// Flights form and adaptivity
@import 'blocks/flights-searchForm.styl';
@import 'blocks/flights-searchForm_adaptivity.styl';
@import 'blocks/rating.styl';
@import 'blocks/flight.styl';
@import 'checkbox.styl';
@import 'dropMenu.styl';
@import 'form.styl';
@import 'hint.styl';
@import 'icons.styl';
@import 'layouts.styl';
@import 'sideMenu.styl';
@import 'form-popup.styl';
@import 'textBox.styl';
@import 'blocks/hotel.styl';
@import 'blocks/footer.styl';
@import 'blocks/compareTable.styl';
@import 'blocks/route.styl';
@import 'time.styl';
@import 'ticket.styl';
@import 'hintOverlay.styl';

