
.new-{
	&textBox{
		padding-top: 10px;
		h3{
			font-size: 15px;
			line-height: 20px;
			margin: 0;
			color: #fff;
			padding: 0 0 15px;
			font-weight: normal;
		}
		p{
			font-size: 13px;
			line-height: 20px;
			color: #fff;
			padding: 0 0 15px;
			margin: 0;
		}
	}
}