.new-{
	&ticket{
		&__title{
			padding: 0 20px 20px;
			&__img{
				width: 105px;
				vertical-align: middle;
			}
			&__text{
				display: inline-block;
				vertical-align: middle;
				font-size: 13px;
				line-height: 15px;
				margin: 0 0 0 20px;
				color: #9F9F9F;
			}
		}
		&__item{
			&__title{
				padding: 0 20px;
				background: rgba(99, 180, 245, 0.25);
				border-radius: 5px;
				height: 50px;
				line-height: 50px;
				font-size: 16px;
				color: #626366;
				&_small{
					height: 30px;
					line-height: 30px;
					font-size: 13px;
				}
			}
			&__info{
				&__table{
					width: 100%;
					&__sep{
						min-width: 30px;
						height: 100%;
						background: url("images/sep-arrow.svg") 0 50% no-repeat;
					}
					&__time{
						width: 305px;
						padding: 10px 20px;
						color: #626366;
						font-size: 20px;
						line-height: 24px;
						font-weight: normal;
						&>span{
							color: #626366;
							font-size: 14px;
							line-height: 16px;
						}
						p{
							color: #9F9F9F;
							font-size: 13px;
							line-height: 15px;
							margin: 0;
							padding: 0 0 3px;
							span{
								color: #626366;
							}
						}
						h4{
							padding: 0 0 5px;
							margin: 0;
							color: #626366;
							font-size: 15px;
							line-height: 18px;
							font-weight: normal;
						}
						h3{
							padding: 0 0 5px;
							margin: 0;
							color: #626366;
							font-size: 13px;
							line-height: 15px;
							font-weight: normal;
						}
						.text-orange{
							color: #FF9731;
						}
					}
					&__performer{
						padding: 15px 0;
						vertical-align: top;
					}

				}
			}
		}
		&__bottom{
			border-top: 1px solid rgba(176, 176, 176, 0.5);
			margin: 0 20px;
		}
		
		&-text{
			p{
				margin: 0;
				padding: 20px 0;
				color: #9F9F9F;
				font-size: 13px;
				line-height: 15px;
				b{
					font-weight: normal;
					color: #626366;
				}
			}
		}
	}
	
	&performer{
		tr{
			td{
				padding: 3px 10px;
				font-size: 13px;
				line-height: 15px;
				color: #626366;
				.text-orange{
					color: #FF9731;
				}
				&:first-child{
					color: #9F9F9F;
				}
			}
		}
	}
}