
.new-{
	&time{

		&__table{
			width: 100%;

			&__cell{
				vertical-align: middle;
				&__img{
					width: 80px;
				}
				&__text{
					color: #626366;
					font-size: 13px;
					line-height: 20px;
					padding: 0 0 10px;
				}
				&__time{
					font-size: 20px;
					line-height: 22px;
					color: #626366;
				}
			}
		}
	}
}