// Colors
$c_ui_textMain       				= #414042;
$c_ui_textMain_hover 				= #595959;
$c_ui_textSecondary  				= #969599;
$c_ui_textDisabled   				= #BDBDBD;
$c_ui_textErr        				= #B13D12;

// FONTS
$f_ui_font_family 					= "Open Sans", sans-serif;
$f_ui_font_family_myriad			= "Myriad Pro", sans-serif;


body{
	font-family: $f_ui_font_family;
}

.clearfix:before, .clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}


