// COLORS
$c_breadcrumb_link				= #626366;
$c_breadcrumb_link_focused		= #64B5F6;

$c_route_search_path			= #636467;
$c_route_search_path_link		= #A0A0A0;

// VALUES
$i_ui_search_path_innershadow	= inset 0 0 7px rgba(0,0,0,.6);

// SIZE
$fz_breadcrumb_link				= 13px;
$lh_breadcrumb_link				= $fz_breadcrumb_link + 2px;

$fz_route_search_path			= 12px;
$lh_route_search_path			= $fz_route_search_path + 2px;

$bb_breadcrumb_link_focused 	= 1px dashed #64B5F6;

$d_route_search_borderRadius	= 4px;
$d_route_search_height			= 40px;
$d_route_search_padding			= 0 115px 0 10px;

.new-ui-{

	&breadcrumb{

		&__link{
			position: relative;
			font-size: $fz_breadcrumb_link;
			line-height: $lh_breadcrumb_link;
			color: $c_breadcrumb_link;
			border-bottom: 0;
			text-decoration: none;
			margin: 0 0 0 5px;
			
			&_focused{
				color: $c_breadcrumb_link_focused;
				border-bottom: $bb_breadcrumb_link_focused;
			}
			
			&:first-child{
				margin: 0;
			}
			
		}
		
		&__sep{
			font-size: $fz_breadcrumb_link;
			line-height: $lh_breadcrumb_link;
			color: $c_breadcrumb_link;
			margin: 0 0 0 5px;
		}
	}
	
	&route{
		&__search{
			position: relative;

			&__path{
				background: #fff;
				display: flex;
				padding: $d_route_search_padding;
				border-radius: $d_route_search_borderRadius;
				height: $d_route_search_height;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-around;
				align-content: flex-start;
				align-items: center;
				box-shadow: $i_ui_search_path_innershadow;
				span{
					color: $c_route_search_path;
					font-size: $fz_route_search_path;	
					line-height: $lh_route_search_path;	
					font-family: $f_ui_font_family;
					a{
						color: $c_route_search_path_link;
						text-decoration: none;
					}
				}
			}
			
			.new-ui-button_blue{
				position: absolute;
				top: 0;
				right: 0;
			}
		}
		
		&_inDrop{

			.new-ui-route__search__path{
				display: block;
				box-shadow: none;
				border-right: 0;
				background: none;
				height: auto;
				padding: 20px 20px 10px;
				
				span{
					display: block;
					white-space: nowrap;
					padding: 0 0 10px;
				}
			}
		}
	}
	
		
}