/**
 * Button like checkbox or radiobtn
 *
 * @usage: class "new-ui-btnCheck" on element
 * @tags: label
 * @example:
    <label class="new-ui-btnCheck">
        <input type="checkbox" class="new-ui-btnCheck__input">
        <span class="new-ui-btnCheck__btn">Click</span>
    </label>
 */

//COLOR
$c_ui_checkBtn_bg          = #0C91D7;
$c_ui_checkBtn_hover_bg    = lighten(#0C91D7, 10);
$c_ui_checkBtn_pressed_bg  = darken(#0C91D7, 10);

.new-ui-btnCheck {

    &__input {
        position: absolute;
    }

    &__input:checked,
    &__input:not(:checked) {
        left: -99999px;
    }

    &__input:checked + &__btn {
        background: $c_ui_checkBtn_bg;
        color: $white;

		&:hover {
			background: $c_ui_checkBtn_hover_bg;
		}

		&:active {
			background: $c_ui_checkBtn_pressed_bg;
		}

		&:focuse {
			box-shadow: $i_ui_button_innershadow, $i_ui_button_focused_outershadow;
		}
    }

    &__btn {
        @extend .new-ui-button;
        @extend .new-ui-button_secondary;
		@extend .new-ui-button_small;
	}
}