/**
 * Button like checkbox or radiobtn
 *
 * @usage: class "new-ui-btnCheck" on element
 * @tags: label
 * @example:
    <label class="new-ui-btnCheck">
        <input type="checkbox" class="new-ui-btnCheck__input">
        <span class="new-ui-btnCheck__btn">Click</span>
    </label>
 */

//COLOR
$c_ui_checkBtn_bg = #0B90D6;

//VALUES
$i_ui_checkBtn_checked_innershadow = inset 0 0 8px rgba(0,0,0,.4);

.new-ui-btnCheck{

    &__input{
        position: absolute;
    }

    &__input:checked,
    &__input:not(:checked){
        left: -99999px;
    }

    &__input:checked + &__btn{
        box-shadow: $i_ui_checkBtn_checked_innershadow;
        background: $c_ui_checkBtn_bg;
        color: $white;
    }

    &__btn{
        @extend .new-ui-button;
        @extend .new-ui-button_secondary;
    }
}