/**
 * Button
 *
 * @usage: class "nemo-ui-button" on element
 * @modifiers: _small, _red, _disabled
 * @tags: input, button, div, span, a
 * @example: <a href="http://google.com" class="nemo-ui-button">Google it!</a>
 */

// COLORS
$c_ui_button						= $nemo-color-button-main;
$c_ui_button_hover					= lighten($c_ui_button, 5);

$c_ui_button_disabled               = $nemo-color-button-secondary_disabled;

$c_ui_button_danger_top             = #B23E13;
$c_ui_button_danger_bottom          = #7F2C0D;

$c_ui_button_danger_hover_top       = lighten($c_ui_button_danger_top, 10);
$c_ui_button_danger_hover_bottom    = lighten($c_ui_button_danger_bottom, 10);

$c_ui_button_danger_pressed_top     = darken($c_ui_button_danger_top, 10);
$c_ui_button_danger_pressed_bottom  = darken($c_ui_button_danger_bottom, 10);

$c_ui_button_sec_top                = $nemo-color-button-secondary_g1;
$c_ui_button_sec_bottom             = $nemo-color-button-secondary_g2;

$c_ui_button_common_text			= $nemo-color-button-text-alt;

$c_ui_button_common                 = $nemo-color-button-secondary;

$c_ui_button_common_top				= $nemo-color-button-secondary_g1;
$c_ui_button_common_bottom			= $nemo-color-button-secondary_g2;

$c_ui_button_common_hover_top		= lighten($c_ui_button_common_top, 5);
$c_ui_button_common_hover_bottom	= lighten($c_ui_button_common_bottom, 5);

$c_ui_button_common_focus			= $nemo-color-highlight;
$c_ui_button_common_focus_text		= $nemo-color-button-text-alt;

$c_ui_button_blue					= $nemo-color-container-vivid;

$c_ui_button_blue_text				= $nemo-color-button-text-alt;

$c_ui_button_sec_hover_top          = lighten($c_ui_button_sec_top, 5);
$c_ui_button_sec_hover_bottom       = lighten($c_ui_button_sec_bottom, 5);

$c_ui_button_sec_pressed_top        = darken($c_ui_button_sec_top, 5);
$c_ui_button_sec_pressed_bottom     = darken($c_ui_button_sec_bottom, 5);

$c_ui_button_direction_arrow        = $nemo-color-main;

// DIMENSIONS
$d_ui_button_minwidth               = 100px;
$d_ui_button_height                 = 35px;
$d_ui_button_padding                = 0px 18px;
$d_ui_button_borderradius           = 4px;
$d_ui_button_border                 = 0;

$d_ui_button_small_minwidth         = 66px;
$d_ui_button_small_height           = 24px;
$d_ui_button_small_padding          = 0px 10px;

$d_ui_button_medium_minwidth        = 60px;
$d_ui_button_medium_height          = 30px;
$d_ui_button_medium_padding         = 0px 12px;

$d_ui_button_main_minwidth          = 110px;
$d_ui_button_main_height            = 40px;
$d_ui_button_main_padding           = 0px 15px;

$d_ui_button_transparent_minWidth   = 20px;
$d_ui_button_transparent_padding    = 0 10px;
$d_ui_button_transparent_height     = 30px;

$d_ui_button_common_height			= 30px;
$d_ui_button_common_padding			= 0 10px;
$d_ui_button_common_minWidth		= 20px;

$d_ui_button_blue_height			= 30px;
$d_ui_button_blue_padding			= 0 10px;

// FONT
$f_ui_button_size       			= 18px;
$f_ui_button_color      			= $nemo-color-button-text;
$f_ui_button_sec_color  			= $nemo-color-button-text-alt;
$f_ui_button_shadow     			= 0px 1px 0px rgba(0,0,0,0.5);
$f_ui_button_lineheight 			= $d_ui_button_height - 2*$d_ui_button_border;

$f_ui_button_small_size       		= 13px;
$f_ui_button_small_lineheight 		= $d_ui_button_small_height - 2*$d_ui_button_border;

$fz_ui_button_common				= 100%;
$lh_ui_button_common				= $d_ui_button_common_height;

$f_ui_button_medium_size       		= 13px;
$f_ui_button_medium_lineheight 		= $d_ui_button_medium_height - 2*$d_ui_button_border;

$f_ui_button_main_size       		= 18px;
$f_ui_button_main_lineheight 		= $d_ui_button_main_height - 2*$d_ui_button_border;

$fz_ui_button_blue					= 15px;
$lh_ui_button_blue					= $d_ui_button_blue_height;

// VALUES
$i_ui_button_border = none;
$i_ui_button_focused_outershadow    = 0 0 8px darken($nemo-color-highlight, 10);
$i_ui_button_disabled_outershadow    = 0 0 8px darken($nemo-color-button-secondary_disabled, 10);
$i_ui_button_innershadow            = inset 0 0 5px rgba(0,0,0,.1);

$i_ui_button_sec_innershadow = 0 0 5px rgba(0,0,0,.1);
$i_ui_button_sec_outershadow = 0 1px 2px rgba(0,0,0,.5);


// animation for disabled button
@keyframes shakes {
	0%, 100%                {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-5px);}
	20%, 40%, 60%, 80%      {transform: translateX(5px);}
}

.nemo-ui-button {
	// General
	display: inline-block;
	vertical-align: baseline;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	user-select: none;

	transition: all $nemo-transition-main ease-in;

	// Dimensions
	height: $d_ui_button_height;
	padding: $d_ui_button_padding;

	// Borders and shadows
	border: $i_ui_button_border;
	border-radius: $d_ui_button_borderradius;

	// Text
	font-size: $f_ui_button_size;
	color: $f_ui_button_color;
	line-height: $f_ui_button_lineheight;

	// Background
	background: $c_ui_button;

	// States
	&:link {
		color: $f_ui_button_color;
	}

	&:visited {
		color: $f_ui_button_color;
	}

	&:hover {
		background: $c_ui_button_hover;
	}

	&:active {
		/*padding-top: 0px;*/
	}

	&:focus {
		background: $c_ui_button;
		box-shadow: $i_ui_button_focused_outershadow;
		/*text-shadow: $f_ui_button_shadow;*/

		&:hover {
			background: $c_ui_button_hover;
		}
	}
		
	&_outline {
		&, &:visited, &:link {
			background: transparent;
			border: 1px solid $c_ui_button;
			border-radius: 5px;
			color: $c_ui_button;
			height: 40px;
			line-height: 38px;
			text-decoration: none;
			font-size: 15px;
		}

		&:hover, &:active, &:focus, &:active:focus, &:focus:hover {
			border-color: $c_ui_button;
			color: $c_ui_button;
			background: rgba(148, 202, 81, 0.13);
			text-decoration: none;
		}
	}
		
	// Same as .nemo-ui-button_common, but a little bit bigger in size
	&_default {
		height: $d_ui_button_height;
		line-height: $f_ui_button_lineheight;
		font-size: $fz_ui_button_common;

		background-color: $c_ui_button_common;
		background-image: linear-gradient(to bottom, $c_ui_button_common_top, $c_ui_button_common_bottom);
		color: $c_ui_button_common_text;

		// States
		&:link {
			color: $c_ui_button_common_text;
		}

		&:visited {
			color: $c_ui_button_common_text;
		}

		&:hover {
			background: $c_ui_button_common_text;
		}

		&:hover{
			background-color: lighten($c_ui_button_common, 2);
			background-image: linear-gradient(to bottom, $c_ui_button_common_top, $c_ui_button_common_bottom);
		}

		&:focus, &:focus:hover{
			background-color: lighten($c_ui_button_common, 2);
			background-image: linear-gradient(to bottom, $c_ui_button_common_top, $c_ui_button_common_bottom);
		}
	}

	&_common {
		height: $d_ui_button_common_height;
		line-height: $lh_ui_button_common;
		font-size: $fz_ui_button_common;

		background-color: $c_ui_button_common;
		background-image: linear-gradient(to bottom, $c_ui_button_common_top, $c_ui_button_common_bottom);
		color: $c_ui_button_common_text;


		// States
		&:link {
			color: $c_ui_button_common_text;
		}

		&:visited {
			color: $c_ui_button_common_text;
		}

		&:hover {
			background: $c_ui_button_common_text;
		}

		&:hover{
			background-color: lighten($c_ui_button_common, 2);
			background-image: linear-gradient(to bottom, $c_ui_button_common_top, $c_ui_button_common_bottom);
		}

		&:focus, &:focus:hover{
			background-color: lighten($c_ui_button_common, 2);
			background-image: linear-gradient(to bottom, $c_ui_button_common_top, $c_ui_button_common_bottom);
		}
	}

	// Common state + modifier (sent to the end because it has the highest priority)
	&:disabled,
	&_disabled {
		background: $c_ui_button_disabled;
		cursor: default;
		overflow: hidden;
		box-shadow:$i_ui_button_disabled_outershadow!important;
		&:hover,
		&:active,
		&:focus {
			background: $c_ui_button_disabled;
			box-shadow: none;
			text-shadow: none;
		}

		&:focus:hover {
			background: $c_ui_button_disabled;
			box-shadow: none;
		}

		&:active {
			padding-top: 0;
			animation: shakes .75s 1;
		}
	}

	// Modifiers
	&_small {
		// Dimensions
		min-width: $d_ui_button_small_minwidth;
		height: $d_ui_button_small_height;
		padding: $d_ui_button_small_padding;

		// Text
		font-size: $f_ui_button_small_size;
		line-height: $f_ui_button_small_lineheight;
	}

	&_medium {
		// Dimensions
		min-width: $d_ui_button_medium_minwidth;
		height: $d_ui_button_medium_height;
		padding: $d_ui_button_medium_padding;

		// Text
		font-size: $f_ui_button_medium_size;
		line-height: $f_ui_button_medium_lineheight;

	}

	&_main {
		height: $d_ui_button_main_height;
		padding: $d_ui_button_main_padding;

		box-shadow: 0 4px 8px 0 alpha(darken($nemo-color-secondary, 16), .25), inset 0 1px 2px 0 lighten($nemo-color-secondary, 20);

		&_form {
			box-shadow: 0 4px 8px 0 alpha(darken($nemo-color-secondary, 16), .5), inset 0 1px 2px 0 lighten($nemo-color-secondary, 20);
		}

		// Text
		font-size: $f_ui_button_main_size;
		line-height: $f_ui_button_main_lineheight;
	}

	&_danger {
		background: $c_ui_button_danger_bottom;
		background-image: linear-gradient(to bottom, $c_ui_button_danger_top, $c_ui_button_danger_bottom);

		// States
		&:hover {
			background: $c_ui_button_danger_hover_bottom;
			background-image: linear-gradient(to bottom, $c_ui_button_danger_hover_top, $c_ui_button_danger_hover_bottom);
		}

		&:active {
			background: $c_ui_button_danger_pressed_bottom;
			background-image: linear-gradient(to bottom, $c_ui_button_danger_pressed_top, $c_ui_button_danger_pressed_bottom);
		}

		&:focus,
		&:focus:hover {
			background-image: linear-gradient(to bottom, $c_ui_button_danger_pressed_top, $c_ui_button_danger_pressed_bottom);
		}
	}

	&_direction_down {
		position: relative;
		padding-right: 33px;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			right: 10px;
			margin-top: -3px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 5px 0 5px;
			border-color: $c_ui_button_direction_arrow transparent transparent transparent;
		}
	}

	&_direction_up {
		position: relative;
		padding-right: 33px;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			right: 10px;
			margin-top: -3px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 5px 6px 5px;
			border-color: transparent transparent $c_ui_button_direction_arrow transparent;
		}
	}

	&_direction_left {
		position: relative;
		padding-left: 24px;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 10px;
			left: 10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 6px 5px 0;
			border-color: transparent $c_ui_button_direction_arrow transparent transparent;
		}
	}

	&_direction_right {
		position: relative;
		padding-right: 33px;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 10px;
			right: 10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 0 5px 6px;
			border-color: transparent transparent transparent $c_ui_button_direction_arrow;
		}
	}
}

.nemo-ul-showMoreBtn {
	display: inline-block;
	max-width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0 24px;
	background: $nemo-color-main;
	color: $nemo-color-LightPoint;
	text-align: center;
	border-radius: $nemo-border-radius;
	opacity: .5;
	cursor: pointer;
	margin: 0 auto;
	font-size: 15px;
	trasnition: opacity $nemo-transition-main;

	&:hover {
		opacity: 1;
	}
}