/**
 * Button
 *
 * @usage: class "new-ui-button" on element
 * @modifiers: _small, _red, _disabled
 * @tags: input, button, div, span, a
 * @example: <a href="http://google.com" class="new-ui-button">Google it!</a>
 */

// COLORS
$c_ui_button						= #66A912;
$c_ui_button_hover					= lighten($c_ui_button, 10);

$c_ui_button_disabled               = #BFBFBF;

$c_ui_button_danger_top             = #B23E13;
$c_ui_button_danger_bottom          = #7F2C0D;

$c_ui_button_danger_hover_top       = lighten($c_ui_button_danger_top, 10);
$c_ui_button_danger_hover_bottom    = lighten($c_ui_button_danger_bottom, 10);

$c_ui_button_danger_pressed_top     = darken($c_ui_button_danger_top, 10);
$c_ui_button_danger_pressed_bottom  = darken($c_ui_button_danger_bottom, 10);

$c_ui_button_sec_top                = #E5E5E5;
$c_ui_button_sec_bottom             = #CCCCCC;

$c_ui_button_common_text			= #636467;

$c_ui_button_common_top				= #E5E5E5;
$c_ui_button_common_bottom			= #CCCCCC;

$c_ui_button_common_hover_top		= lighten($c_ui_button_common_top, 5);
$c_ui_button_common_hover_bottom	= lighten($c_ui_button_common_bottom, 5);

$c_ui_button_common_focus			= #64B5F6;
$c_ui_button_common_focus_text		= #fff;

$c_ui_button_blue					= #63B4F5;

$c_ui_button_blue_text				= #fff;

$c_ui_button_sec_hover_top          = lighten($c_ui_button_sec_top, 5);
$c_ui_button_sec_hover_bottom       = lighten($c_ui_button_sec_bottom, 5);

$c_ui_button_sec_pressed_top        = darken($c_ui_button_sec_top, 5);
$c_ui_button_sec_pressed_bottom     = darken($c_ui_button_sec_bottom, 5);

$c_ui_button_direction_arrow        = #2988BD;

// DIMENSIONS
$d_ui_button_minwidth               = 100px;
$d_ui_button_height                 = 35px;
$d_ui_button_padding                = 0px 18px;
$d_ui_button_borderradius           = 4px;
$d_ui_button_border                 = 0;

$d_ui_button_second_minwidth 		= 90px;

$d_ui_button_small_minwidth         = 66px;
$d_ui_button_small_height           = 24px;
$d_ui_button_small_padding          = 0px 10px;

$d_ui_button_medium_minwidth        = 60px;
$d_ui_button_medium_height          = 30px;
$d_ui_button_medium_padding         = 0px 12px;

$d_ui_button_main_minwidth          = 110px;
$d_ui_button_main_height            = 40px;
$d_ui_button_main_padding           = 0px 15px;

$d_ui_button_transparent_minWidth   = 20px;
$d_ui_button_transparent_padding    = 0 10px;
$d_ui_button_transparent_height     = 30px;

$d_ui_button_common_height			= 40px;
$d_ui_button_common_padding			= 0 10px;
$d_ui_button_common_minWidth		= 30px;

$d_ui_button_blue_height			= 40px;
$d_ui_button_blue_padding			= 0 20px;

// FONT
$f_ui_button_size       			= 18px;
$f_ui_button_color      			= #fff;
$f_ui_button_sec_color  			= #404040;
$f_ui_button_shadow     			= 0px 1px 0px rgba(0,0,0,0.5);
$f_ui_button_lineheight 			= $d_ui_button_height - 2*$d_ui_button_border;

$f_ui_button_small_size       		= 14px;
$f_ui_button_small_lineheight 		= $d_ui_button_small_height - 2*$d_ui_button_border;

$fz_ui_button_common				= 15px;
$lh_ui_button_common				= $d_ui_button_common_height;

$f_ui_button_medium_size       		= 13px;
$f_ui_button_medium_lineheight 		= $d_ui_button_medium_height - 2*$d_ui_button_border;

$f_ui_button_main_size       		= 20px;
$f_ui_button_main_lineheight 		= $d_ui_button_main_height - 2*$d_ui_button_border;

$f_ui_button_second_size      		= 15px;
$f_ui_button_second_size_lineheight = $d_ui_button_main_height - 2*$d_ui_button_border;

$fz_ui_button_blue					= 15px;
$lh_ui_button_blue					= $d_ui_button_blue_height;

// VALUES
$i_ui_button_border = none;
$i_ui_button_innershadow         = inset 0 0 5px rgba(0,0,0,.1);
$i_ui_button_focused_outershadow = 0 0 5px rgba(255,145,26,1);

$i_ui_button_sec_innershadow = 0 0 5px rgba(0,0,0,.1);
$i_ui_button_sec_outershadow = 0 1px 2px rgba(0,0,0,.5);


// animation for disabled button
@keyframes shakes {
	0%, 100%                {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80%      {transform: translateX(10px);}
}

.new-ui-button {
	// General
	display: inline-block;
	vertical-align: top;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	user-select: none;

	// Dimensions
	min-width: $d_ui_button_minwidth;
	height: $d_ui_button_height;
	padding: $d_ui_button_padding;

	// Borders and shadows
	border: $i_ui_button_border;
	border-radius: $d_ui_button_borderradius;
	
	// Text
	font-size: $f_ui_button_size;
	color: $f_ui_button_color;
	line-height: $f_ui_button_lineheight;

	// Background
	background: $c_ui_button;

	// States
	&:link {
		color: $f_ui_button_color;
	}

	&:visited {
		color: $f_ui_button_color;
	}

	&:hover {
		background: $c_ui_button_hover;
	}

	&:active {
		padding-top: 1px;
		box-shadow: $i_ui_button_innershadow;
	}

	&:focus {
		background: $c_ui_button;
		box-shadow: $i_ui_button_innershadow, $i_ui_button_focused_outershadow;
		text-shadow: $f_ui_button_shadow;

		&:hover {
			background: $c_ui_button_hover;
		}
	}

	// Common state + modifier (sent to the end because it has the highest priority)
	&:disabled,
	&_disabled {
		background: $c_ui_button_disabled;
		cursor: default;
		overflow: hidden;
		
		&:hover,
		&:active,
		&:focus {
			background: $c_ui_button_disabled;
			box-shadow: none;
			text-shadow: none;
		}

		&:focus:hover {
			background: $c_ui_button_disabled;
			box-shadow: none;
		}

		&:active {
			padding-top: 0;
			animation: shakes .25s 1;
		}
	}

	// Modifiers
	&_small {
		// Dimensions
		min-width: $d_ui_button_small_minwidth;
		height: $d_ui_button_small_height;
		padding: $d_ui_button_small_padding;

		// Text
		font-size: $f_ui_button_small_size;
		line-height: $f_ui_button_small_lineheight;
	}
	
	&_medium {
		// Dimensions
		min-width: $d_ui_button_medium_minwidth;
		height: $d_ui_button_medium_height;
		padding: $d_ui_button_medium_padding;

		// Text
		font-size: $f_ui_button_medium_size;
		line-height: $f_ui_button_medium_lineheight;
	}

	&_main {
		height: $d_ui_button_main_height;
		padding: $d_ui_button_main_padding;

		// Text
		font-size: $f_ui_button_main_size;
		line-height: $f_ui_button_main_lineheight;
	}
	
	&_common{
		height: $d_ui_button_common_height;
		line-height: $lh_ui_button_common;
		font-size: $fz_ui_button_common;
		background: $c_ui_button_common_top;
		background-image: linear-gradient(to bottom, $c_ui_button_common_top, $c_ui_button_common_bottom);
		box-shadow: $i_ui_button_sec_outershadow, $i_ui_button_sec_innershadow;
		text-shadow: none;
		color: $c_ui_button_common_text;
		&:hover{
			background: $c_ui_button_common_hover_top;
			background-image: linear-gradient(to bottom, $c_ui_button_common_hover_top, $c_ui_button_common_hover_bottom);
		}
		&:focus, &:focus:hover{
			background: $c_ui_button_common_focus;
			color:$c_ui_button_common_focus_text;
		}
	}
	
	&_blue{
		background: $c_ui_button_blue;
		color: $c_ui_button_blue_text;
		font-size: $fz_ui_button_blue;
		line-height: $lh_ui_button_blue;
		height: $d_ui_button_blue_height;
		
		&:hover{
			background: lighten($c_ui_button_blue, 10);
		}
		
		&:focus, &:focus:hover{
			background: lighten($c_ui_button_blue, 20);
		}
	}
	
	&_transparent{
		background-color: transparent;
		min-width: $d_ui_button_transparent_minWidth;
		padding: $d_ui_button_transparent_padding;
		height: $d_ui_button_transparent_height;
		
		// States
		&:hover{
			background-color: transparent;
		}
		
		&:active{
			background-color: transparent;
		}
		
		&:focus,
		&:focus:hover {
			box-shadow: none;
			background-color: transparent;
		}
	}

	&_danger {
		background: $c_ui_button_danger_bottom;
		background-image: linear-gradient(to bottom, $c_ui_button_danger_top, $c_ui_button_danger_bottom);

		// States
		&:hover {
			background: $c_ui_button_danger_hover_bottom;
			background-image: linear-gradient(to bottom, $c_ui_button_danger_hover_top, $c_ui_button_danger_hover_bottom);
		}

		&:active {
			background: $c_ui_button_danger_pressed_bottom;
			background-image: linear-gradient(to bottom, $c_ui_button_danger_pressed_top, $c_ui_button_danger_pressed_bottom);
		}

		&:focus,
		&:focus:hover {
			background-image: linear-gradient(to bottom, $c_ui_button_danger_pressed_top, $c_ui_button_danger_pressed_bottom);
		}
	}

	&_secondary, &_second, &_soc {
		border: none;
		background: $c_ui_button_sec_top;
		background-image: linear-gradient(to bottom, $c_ui_button_sec_top, $c_ui_button_sec_bottom);
		box-shadow: $i_ui_button_sec_outershadow, $i_ui_button_sec_innershadow;
		text-shadow: none;
		color: $f_ui_button_sec_color;
		
		& img{
			vertical-align: middle;
		}

		// States
		&:link {
			color: $f_ui_button_sec_color;
		}

		&:visited {
			color: $f_ui_button_sec_color;
		}

		&:hover {
			background: $c_ui_button_sec_hover_top;
			background-image: linear-gradient(to bottom, $c_ui_button_sec_hover_top, $c_ui_button_sec_hover_bottom);
		}

		&:active {
			background: $c_ui_button_sec_pressed_top;
			background-image: linear-gradient(to bottom, $c_ui_button_sec_pressed_top, $c_ui_button_sec_pressed_bottom);
		}

		&:focus {
			background: $c_ui_button_sec_top;
			box-shadow: $i_ui_button_focused_outershadow, $i_ui_button_sec_innershadow;
			outline: none;

			&:hover {
				background: $c_ui_button_sec_hover_top;
				background-image: linear-gradient(to bottom, $c_ui_button_sec_hover_top, $c_ui_button_sec_hover_bottom);
			}
		}
	}
	
	&_second{
		min-width: $d_ui_button_second_minwidth;
		font-size: $f_ui_button_second_size;
	}
	
	&_soc{
		height: 40px;
		min-width: 40px;
		padding: 0;
		& i{
			vertical-align: middle;
		}
	}
	
	&_border{
		color: #52A2CC;
		border: 1px solid  #A5C5E5;
		height: 40px;
		line-height: 40px;
		background: none;
		font-size: 13px;
		
		span{
			border-bottom: 1px dashed #52A2CC;
		}
		
		&:hover, &:active, &:focus{
			background: none;
		}
	}

	&_direction_down {
		position: relative;
		padding-right: 33px;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 13px;
			right: 10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 5px 0 5px;
			border-color: $c_ui_button_direction_arrow transparent transparent transparent;
		}
	}

	&_direction_left {
		position: relative;
		padding-left: 24px;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 10px;
			left: 10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 6px 5px 0;
			border-color: transparent $c_ui_button_direction_arrow transparent transparent;
		}
	}
	
	&_mediumHeight{
		height: 40px;
		font-size: 16px;
		vertical-align: middle;
	}

	&_direction_right {
		position: relative;
		padding-right: 33px;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 10px;
			right: 10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 0 5px 6px;
			border-color: transparent transparent transparent $c_ui_button_direction_arrow;
		}
	}

	&_state&_checked {
		background: $c_ui_button_sec_checked;
	}

	&_state&_checked:hover {
		background: $c_ui_button_sec_checked;
	}
}