/**
 * Button
 *
 * @usage: class "new-ui-button" on element
 * @modifiers: _small, _red, _disabled
 * @tags: input, button, div, span, a
 * @example: <a href="http://google.com" class="new-ui-button">Google it!</a>
 */

// COLORS
$c_ui_button_bottom                 = #0D7F28;
$c_ui_button_top                    = #13B239;

$c_ui_button_hover_bottom           = lighten($c_ui_button_bottom, 10);
$c_ui_button_hover_top              = lighten($c_ui_button_top, 10);

$c_ui_button_pressed_bottom         = darken($c_ui_button_bottom, 10);
$c_ui_button_pressed_top            = darken($c_ui_button_top, 10);

$c_ui_button_disabled_bottom        = #CCCCCC;
$c_ui_button_disabled_top           = #E5E5E5;

$c_ui_button_danger_top             = #B23E13;
$c_ui_button_danger_bottom          = #7F2C0D;

$c_ui_button_danger_hover_top       = lighten($c_ui_button_danger_top, 10);
$c_ui_button_danger_hover_bottom    = lighten($c_ui_button_danger_bottom, 10);

$c_ui_button_danger_pressed_top     = darken($c_ui_button_danger_top, 10);
$c_ui_button_danger_pressed_bottom  = darken($c_ui_button_danger_bottom, 10);

$c_ui_button_sec_top                = #E5E5E5;
$c_ui_button_sec_bottom             = #CCCCCC ;

$c_ui_button_sec_hover_top          = lighten($c_ui_button_sec_top, 5);
$c_ui_button_sec_hover_bottom       = lighten($c_ui_button_sec_bottom, 5);

$c_ui_button_sec_pressed_top        = darken($c_ui_button_sec_top, 5);
$c_ui_button_sec_pressed_bottom     = darken($c_ui_button_sec_bottom, 5);

$c_ui_button_border 				= #F6F6F6;


// DIMENSIONS
$d_ui_button_minwidth     = 100px;
$d_ui_button_height       = 35px;
$d_ui_button_padding      = 0px 18px;
$d_ui_button_borderradius = 4px;
$d_ui_button_border       = 1px;

$d_ui_button_small_minwidth  = 70px;
$d_ui_button_small_height    = 25px;
$d_ui_button_small_padding   = 0px 10px;

$d_ui_button_main_minwidth  = 110px;
$d_ui_button_main_height    = 40px;
$d_ui_button_main_padding   = 0px 15px;

// FONT
$f_ui_button_size = 18px;
$f_ui_button_color = #fff;
$f_ui_button_sec_color = #3F3F3F;
$f_ui_button_shadow = 0px 1px 0px rgba(0,0,0,0.5);
$f_ui_button_lineheight = $d_ui_button_height - 2*$d_ui_button_border;

$f_ui_button_small_size = 14px;
$f_ui_button_small_lineheight = $d_ui_button_small_height - 2*$d_ui_button_border;

$f_ui_button_main_size = 20px;
$f_ui_button_main_lineheight = $d_ui_button_main_height - 2*$d_ui_button_border;

// VALUES
$i_ui_button_border = $d_ui_button_border solid $c_ui_button_border;
$i_ui_button_outershadow = 0px 1px 1px rgba(0,0,0,0.3);
$i_ui_button_innershadow = inset 0 0 8px rgba(0,0,0,.2);
$i_ui_button_pressed_innershadow = inset 0 0 8px rgba(0,0,0,.4);
$i_ui_button_focused_outershadow = 0 0 5px rgba(204,130,0,1);

.new-ui-button {
	// General
	display: inline-block;
	vertical-align: baseline;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	outline: none;
    user-select: none;

	// Dimensions
	min-width: $d_ui_button_minwidth;
	height: $d_ui_button_height;
	padding: $d_ui_button_padding;

	// Borders and shadows
	border: $i_ui_button_border;
	border-radius: $d_ui_button_borderradius;
	box-shadow: $i_ui_button_outershadow, $i_ui_button_innershadow;

	// Text
	font-size: $f_ui_button_size;
	color: $f_ui_button_color;
	text-shadow: $f_ui_button_shadow;
	line-height: $f_ui_button_lineheight;

	// Background
	background-color: $c_ui_button_bottom;
	background-image: linear-gradient(to bottom, $c_ui_button_top, $c_ui_button_bottom);

	// States
	&:link{
		color: $f_ui_button_color;
	}

	&:visited{
		color: $f_ui_button_color;
	}

	&:hover {
		background-color: $c_ui_button_hover_bottom;
		background-image: linear-gradient(to bottom, $c_ui_button_hover_top, $c_ui_button_hover_bottom);
	}

	&:active {
		background-color: $c_ui_button_pressed_bottom;
		background-image: linear-gradient(to bottom, $c_ui_button_pressed_top, $c_ui_button_pressed_bottom);
        box-shadow: $i_ui_button_outershadow, $i_ui_button_pressed_innershadow;
        text-shadow: none;
	}

	&:focus {
		box-shadow: $i_ui_button_focused_outershadow;
		&:hover {
			box-shadow: $i_ui_button_focused_outershadow;
		}
		&:active {
			box-shadow: $i_ui_button_focused_outershadow;
		}
	}

    // Common state + modifier (sent to the end because it has the highest priority)
    &:disabled,
    &_disabled {
        background-color: $c_ui_button_disabled_bottom;
        background-image: linear-gradient(to bottom, $c_ui_button_disabled_top, $c_ui_button_disabled_bottom);
        box-shadow: none;
        cursor: default;

        &:hover,&:active {
            background-image: linear-gradient(to bottom, $c_ui_button_disabled_top, $c_ui_button_disabled_bottom);
            text-shadow: $f_ui_button_shadow;
            box-shadow: none;
        }
    }

	// Modifiers
	&_small {
		// Dimensions
		min-width: $d_ui_button_small_minwidth;
		height: $d_ui_button_small_height;
		padding: $d_ui_button_small_padding;

		// Text
		font-size: $f_ui_button_small_size;
		line-height: $f_ui_button_small_lineheight;
	}

	&_main {
		height: $d_ui_button_main_height;
		padding: $d_ui_button_main_padding;

		// Text
		font-size: $f_ui_button_main_size;
		line-height: $f_ui_button_main_lineheight;
	}

	&_danger {
		background-color: $c_ui_button_danger_bottom;
		background-image: linear-gradient(to bottom, $c_ui_button_danger_top, $c_ui_button_danger_bottom);

		// States
		&:hover {
			background-color: $c_ui_button_danger_hover_bottom;
			background-image: linear-gradient(to bottom, $c_ui_button_danger_hover_top, $c_ui_button_danger_hover_bottom);
		}

		&:active {
			background-color: $c_ui_button_danger_pressed_bottom;
			background-image: linear-gradient(to bottom, $c_ui_button_danger_pressed_top, $c_ui_button_danger_pressed_bottom)
		}
	}

    &_secondary{
        border: none;
        background-color: $c_ui_button_sec_top;
        background-image: linear-gradient(to bottom, $c_ui_button_sec_top, $c_ui_button_sec_bottom);
        box-shadow: 0 1px 3px rgba(0,0,0, 0.4);
        text-shadow: none;
        color: $f_ui_button_sec_color;

        // States
        &:link{
            color: $f_ui_button_sec_color;
        }

        &:visited{
            color: $f_ui_button_sec_color;
        }

        &:hover {
            background-color: $c_ui_button_sec_hover_top;
            background-image: linear-gradient(to bottom, $c_ui_button_sec_hover_top, $c_ui_button_sec_hover_bottom);
        }

        &:active {
            background-color: $c_ui_button_sec_pressed_top;
            background-image: linear-gradient(to bottom, $c_ui_button_sec_pressed_top, $c_ui_button_sec_pressed_bottom)
        }
    }

	&_direction_down {
		position: relative;
		padding-right: 33px;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 10px;
			right: 10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 5px 0 5px;
			border-color: #2888bc transparent transparent transparent;
		}
	}

	&_direction_left {
		position: relative;
		padding-left: 24px;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 7px;
			left: 10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 6px 5px 0;
			border-color: transparent #007bff transparent transparent;
		}
	}

	&_direction_right {
		position: relative;
		padding-right: 33px;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 7px;
			right: 10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 0 5px 6px;
			border-color: transparent transparent transparent #007bff;
		}
	}

	&_state&_checked {
		background: $c_ui_button_sec_checked;
	}

	&_state&_checked:hover {
		background: $c_ui_button_sec_checked;
	}
}