/**
 * Checkbox
 *
 * @usage: class "new-ui-checkbox" on element
 * @modifiers:
 * @tags: label
 * @example:
    <label class="new-ui-checkbox">
        <input class="new-ui-checkbox__input" type="checkbox">
        <span class="new-ui-checkbox__caption">Чекбокс</span>
    </label>
 */
// COLORS
$c_ui_caption             = $c_ui_textMain;
$c_ui_caption_hover       = #4E6C84;
$c_ui_caption_disabled    = $c_ui_textDisabled;

$c_ui_switcher 			  	  = #0B90D6;
$c_ui_switcher_notChecked 	  = #BFBFBF;
$c_ui_switcher_after_top      = #F2F2F2;
$c_ui_switcher_after_bottom   = #BFBFBF;

// DIMENSIONS
$d_ui_padding  = 3px 0;
$d_ui_caption_lPadding   = 25px;
$d_ui_caption_padding   = 0 0 0 $d_ui_caption_lPadding;
$d_ui_pseudoInput_width   = 16px;
$d_ui_pseudoInput_height  = 16px;
$d_ui_pseudoInput_borderRadius  = 2px;

$d_ui_switcher_width = 66px;
$d_ui_switcher_height = 24px;
$d_ui_switcher_after_height = 24px;
$d_ui_switcher_after_width = 24px;

// FONT
$f_ui_caption_size = 12px;
$f_ui_caption_lineHeight = 16px;

// VALUES
$i_ui_checkbox_shadow = 0 0 5px rgba(0, 0, 0, .2);
$i_ui_checkbox_shadow_disabled = 0 0 5px rgba(0, 0, 0, .1);
$i_ui_checkbox_sprite = 'images/ui/checkbox-sprite.png';

$i_ui_switcher_borderRadius = 5px;
$i_ui_switcher_after_borderRadius = 4px;
$i_ui_switcher_boxShadow =  inset 0 0 5px rgba(0,0,0,.25);
$i_ui_switcher_after_boxShadow = 0 1px 2px rgba(0,0,0,.5), inset 0 0 5px rgba(0,0,0,.1);


.new-ui-checkbox{
    display: inline-block;
    padding: $d_ui_padding;
    cursor: pointer;

    &__input{
        position: absolute;
    }

    &__input:checked,
    &__input:not(:checked){
        left: -99999px;
    }

    &__input:checked + &__caption,
    &__input:not(:checked) + &__caption{
        &:before{
            display: block;
        }
    }

    &__input:checked + &__caption{
        &:before{
            background-position: (- ($d_ui_pseudoInput_width + 3))*2 0;
        }

        &:hover{
            &:before{
                background-position: (- ($d_ui_pseudoInput_width + 3))*3 0;
            }
        }
    }

    &__input:disabled + &__caption{
        color: $c_ui_caption_disabled;

        &:before{
            background-position: (- ($d_ui_pseudoInput_width + 3))*4 0;
            box-shadow: $i_ui_checkbox_shadow_disabled;
        }
    }

    &__caption{
        position: relative;
        display: inline-block;
        font-size: $f_ui_caption_size;
        color: $c_ui_caption;
        line-height: $f_ui_caption_lineHeight;
        padding: $d_ui_caption_padding;
        vertical-align: top;

        &:before{
            content: '';
            position: absolute;
            display: none;
            left: 0;
            top: 50%;
            width: $d_ui_pseudoInput_width;
            height: $d_ui_pseudoInput_height;
            margin-top: - ($d_ui_pseudoInput_height / 2);
            border-radius: $d_ui_pseudoInput_borderRadius;
            background: url($i_ui_checkbox_sprite) 0 0 no-repeat;
            box-shadow: $i_ui_checkbox_shadow;
        }

        &:hover{
            color: $c_ui_caption_hover;

            &:before{
                background-position: (- ($d_ui_pseudoInput_width + 3)) 0;
            }
        }
    }
}

// SWITCHER
.new-ui-switcher {

	&__label {
		cursor: pointer;
		display: block;

		&__input {
			position: absolute;
		}

		&__input:checked,
		&__input:not(:checked) {
			left: -99999px;
		}

		&__input:checked + &__text {
			&:after {
				right: 0;
			}
		}

		&__input:not(:checked) + &__text {
			background: $c_ui_switcher_notChecked;

			&:after {
				left: 0;
			}
		}

		&__input:checked + &__text &__text__off {
			display: none;
		}

		&__input:not(:checked) + &__text &__text__on {
			display: none;
		}

		&__text {
			position: relative;
			background: $c_ui_switcher;
			width: $d_ui_switcher_width;
			height: $d_ui_switcher_height;
			border-radius: $i_ui_switcher_borderRadius;
			box-shadow: $i_ui_switcher_boxShadow;

			&:after{
				content:'';
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				width: $d_ui_switcher_after_width;
				height: $d_ui_switcher_after_height;
				border-radius: $i_ui_switcher_after_borderRadius;
				cursor: pointer;
				box-shadow: $i_ui_switcher_after_boxShadow;
				background-image: linear-gradient(to bottom, $c_ui_switcher_after_top, $c_ui_switcher_after_bottom);
				z-index: 5;
			}

			&__off {
				position: absolute;
				right: 6px;
				top: 3px;
			}

			&__on {
				position: absolute;
				left: 9px;
				top: 3px;
				color: #fff;
			}
		}
	}

}

