/**
 * Checkbox
 *
 * @usage: class "nemo-ui-checkbox" on element
 * @modifiers:
 * @tags: label
 * @example:
    <label class="nemo-ui-checkbox">
        <input class="nemo-ui-checkbox__input" type="checkbox">
        <span class="nemo-ui-checkbox__caption">Чекбокс</span>
    </label>
 */
// COLORS
$c_ui_caption                     = $nemo-color-text-main;
$c_ui_caption_text_hover          = lighten($nemo-color-text-main, 10);
$c_ui_caption_disabled            = $nemo-color-text-disabled;

// DIMENSIONS
$d_ui_padding                     = 3px 0;
$d_ui_caption_lPadding            = 25px;
$d_ui_caption_padding             = 0 0 0 $d_ui_caption_lPadding;
$d_ui_pseudoInput_width           = 19px;
$d_ui_pseudoInput_height          = 19px;
$d_ui_pseudoInput_borderRadius    = 5px;

// FONT
$f_ui_caption_size                = 13px;
$f_ui_caption_lineHeight          = $d_ui_pseudoInput_height;

// VALUES
$i_ui_checkbox                    = 'images/ui/checkbox_sprite.svg';

.nemo-ui-checkbox {
    display: inline-block;
    padding: $d_ui_padding;
    cursor: pointer;

    &__input {
        position: absolute;
        left: -99999px;
	    opacity: 0.1;
    }

    &__input:checked + &__caption,
    &__input:not(:checked) + &__caption {
        &:before {
            display: block;
        }
    }

	&__input:not(:checked) + &__caption {
		&:before {
			background-image: url($i_ui_checkbox);
			background-color: $nemo-color-neutral;

			//background-position: bottom;
		}
	}

    &__input:checked + &__caption {
        &:before {
			background-image: url($i_ui_checkbox);
			background-color: $nemo-color-main;
		}
    }

    &__input:disabled + &__caption {
        color: $c_ui_caption_disabled;
		background-color: $nemo-color-button-secondary_disabled;

		&:before {
			background-image: url($i_ui_checkbox);

			//background-position: bottom;
		}
    }

    &__caption {
        position: relative;
        display: inline-block;
        font-size: $f_ui_caption_size;
        color: $c_ui_caption;
        line-height: $f_ui_caption_lineHeight;
        padding: $d_ui_caption_padding;
        vertical-align: top;

        &:before {
            content: '';
            position: absolute;
            display: none;
            left: 0;
            top: 0;
			overflow: hidden;
            width: $d_ui_pseudoInput_width;
            height: $d_ui_pseudoInput_height;
            border-radius: $d_ui_pseudoInput_borderRadius;
			transition: background-color $nemo-transition-main ease;
        }

        &:hover {
            color: $c_ui_caption_text_hover;
        }
    }
    
    &_paddingTopBottom{
    	padding: 15px 0;
    }
}