.nemo-ui-closeCircle {
	position: absolute;
	z-index: 5;
	top: -10px;
	right: -10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #fff url(images/fsf-sprite.svg) 6px -54px no-repeat;
	cursor: pointer;
	transition: all .2s;
	box-shadow: 0 0 5px rgba(0, 0, 0, .1);
	
	&:hover {
		box-shadow: 0 0 5px rgba(0, 0, 0, .2);
	}
}