.new-ui-dummiedInput {
	position: relative;

	&__container {
		position: relative;
		margin: $d_ui_input_margin;
	}

	&__input {
		margin: 0;
	}

	&__dummy {
		@extend .new-ui-textInput__input;
		padding-left: 0;
		bordder-color: transparent;
		position: absolute;
		width: auto;
		height: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0;
		line-height: $d_ui_input_height - 2 * ($d_ui_input_border + $d_ui_input_vPadding);
		text-indent: $d_ui_input_hPadding;

		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		&__icon {
			display: inline-block;
			margin-right: $d_ui_input_hPadding;
		}

		&__placeholder {
			@extend .new-ui-textInput__input::placeholder;
		}

		&__aux {
			color: $c_ui_textSecondary;
		}
	}

	&__input {
		&::placeholder {
			opacity: 0;
		}

		&:focus::placeholder {
			opacity: 1;
		}
	}

	&__input:focus ~ &__dummy {
		right: 100%;
		padding-left: 0;
		padding-right: 0;
		text-overflow: clip;
		border-color: transparent;
	}
}