// DIMENTIONS
$d_filters_padding					= 20px;
$d_filters__title__padding			= 20px 0 10px;

$c_ui_button_common_focus			= #64B5F6;
$c_ui_button_common_focus_text		= #fff;


.new-ui-{
	&filter{
		&__controls{
			.nemo-root_asideShow &{
				.new-ui-button_common{
					background: $c_ui_button_common_focus;
					color:$c_ui_button_common_focus_text;
				}
			}
		}
		&__main{
			
			.nemo-root_tablet &, .nemo-root_mobile &{
				padding: $d_filters_padding;
			}
			
			&>.new-ui-button_second{
				width: 100%;
			}
		}
	}
}