// COLORS
$c_ui_popup_title_bg 		= #EEEEEE;

$c_ui_popup_title_color		= #636467;

// DIMENSIONS
$d_ui_popup_title_height	= 50px;
$d_ui_popup_title_padding	= 0 20px;
$d_ui_popup_main_padding	= 15px 20px;

$fz_ui_popup_title			= 13px;
$lh_ui_popup_title			= 15px;


$br_ui_popup				= 5px 5px 0 0;
$br_ui_popup_bott			= 0 0 5px 5px;

.new-ui-{

	&popup{
		max-width: 400px;
		margin: 0 auto;
		border-radius: $br_ui_popup_bott;
		overflow: hidden;

		&__title{
			position: relative;
			background:$c_ui_popup_title_bg;
			height: $d_ui_popup_title_height;
			line-height: $d_ui_popup_title_height;
			padding: $d_ui_popup_title_padding;
			border-radius: $br_ui_popup;
			p{
				display: inline-block;
				margin: 0;
				color: $c_ui_popup_title_color;
				line-height: $lh_ui_popup_title;
				font-size: $fz_ui_popup_title;
			}
			.common-close{
				position: absolute;
				right: 20px;
				top: 50%;
				transform: translate(0, -50%);
			}
		}
		
		&__main{
			position: relative;
			padding: $d_ui_popup_main_padding;
		}
		&__bott{
			position: relative;
			background:$c_ui_popup_title_bg;
			height: $d_ui_popup_title_height;
			line-height: $d_ui_popup_title_height;
			padding: $d_ui_popup_title_padding;
			
			.new-ui-button{
				position: absolute;
				top: 8px;
				right: 20px;
				font-size: 16px;
			}
			.new-ui-link_blue{
				margin: 0 10px 0 0;
				&:first-child{
				}
			}
		}
	}
	
	&accList{
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
		}
		&__item{
			padding: 0 0 10px;
			&__soc{
				display: inline-block;
				width: 40px;
				margin: 0 15px 0 0;
				vertical-align: middle;
			}
			
			&__text{
				display: inline-block;
				max-width: 150px;
				width: 150px;
				margin: 0 10px 0 0;
				vertical-align: middle;
			}
			
			&__link{
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}