// COLORS
$c_ui_headers = $c_ui_textMain;

// DIMENSIONS
$d_ui_sectionHeader_margin    = 15px;
$d_ui_subSectionHeader_margin = 15px;


// FONT
$f_ui_sectionHeader_size    = 18px;
$f_ui_subSectionHeader_size = 15px;

.new-{
	&logo{
		display: inline-block;
		width 206px;
		&__image{
			display: block;
		}
	}
}

.new-ui- {
	/**
	 * Page section header
	 *
	 *
	 */

	&sectionHeader {
		// General

		// Dimensions
		padding: 0px;
		margin: $d_ui_sectionHeader_margin 0px;

		// Text
		color: $c_ui_headers;
		font-size: $f_ui_sectionHeader_size;
	}

	&subSectionHeader {
		// General

		// Dimensions
		padding: 0px;
		margin: 0px 0px $d_ui_subSectionHeader_margin 0px;

		// Text
		color: $c_ui_headers;
		font-size: $f_ui_subSectionHeader_size;

	}

	&headerMenuControls{
		display: inline-block;

		.no-touch &{
			display: none;
		}
	}
}