$d_ui_hilight_borderRadius = 4px;
$d_ui_hilight_vPadding = 9px;
$d_ui_hilight_hPadding = 20px;
$d_ui_hilight_vMargin = 20px;

$f_ui_hilight_size = 15px;

$c_ui_hilight = #fff;

$c_ui_hilight_info_bg = rgba(#0C91D7,0.75);
$c_ui_hilight_error_bg = rgba(#CC0000,0.75);
$c_ui_hilight_greenLight_bg = rgba(#13B239,0.75);

.new-ui-hilight {
	display: block;
	text-align: left;

	margin: $d_ui_hilight_vMargin 0px;
	padding: $d_ui_hilight_vPadding $d_ui_hilight_hPadding;

	color: $c_ui_hilight;
	font-size: $f_ui_hilight_size;
	font-weight: 600;

	border-radius: $d_ui_hilight_borderRadius;

	&:first-child {
		margin-top: 0px;
	}

	&:last-child {
		margin-bottom: 0px;
	}

	&+& {
		margin-top: 0px;
	}

	&_info {
		background: $c_ui_hilight_info_bg;
	}

	&_error {
		background: $c_ui_hilight_error_bg;
	}

	&_greenLight {
		background: $c_ui_hilight_greenLight_bg;
	}
}