// COLORS
$c_ui_link_text                     = $nemo-color-main;
$c_ui_link_changeable_text          = inherit;
$c_ui_link_border                   = alpha($nemo-color-main, .25);
$c_ui_link_blue_text				= $c_ui_link_text;
$c_ui_link_blue_border 				= $c_ui_link_border;

$c_ui_link_grey_text				= $nemo-color-text-secondary;

$c_ui_link_hover_text               = darken($c_ui_link_text, 10);
$c_ui_link_changeable_hover_text    = inherit;
$c_ui_link_hover_border             = alpha(darken($c_ui_link_border, 10), .75);

$i_ui_link_bBorder                  = 1px solid $c_ui_link_border;
$i_ui_link_bBorder_hover            = 1px solid $c_ui_link_hover_border;

$c_ui_pseudoLink_text               = $c_ui_link_text;
$c_ui_pseudoLink_border             = $c_ui_link_border;

$c_ui_pseudoLink_hover_text         = darken($c_ui_link_border, 10);
$c_ui_pseudoLink_hover_border       = darken($c_ui_link_hover_border, 10);

$c_ui_full_width_text				= #FEFEFE;
$fz_ui_full_width_text				= 13px;
$lh_ui_full_width_text				= $fz_ui_full_width_text + 2px;

$i_ui_pseudoLink_bBorder            = 1px dashed $c_ui_pseudoLink_border;
$i_ui_pseudoLink_bBorder_hover      = 1px dashed $c_ui_pseudoLink_hover_border;
$i_ui_blue 							= 1px dashed $c_ui_link_blue_border;

$fz_ui_link_grey 					= 15px;
$lh_ui_link_grey 					= $fz_ui_link_grey + 2px;

$fz_ui_link_blue 					= 13px;
$lh_ui_link_blue					= $fz_ui_link_blue + 2px;

$fz_ui_grey_close					= 13px;
$lh_ui_grey_close					= $fz_ui_grey_close + 2px;

$d_link_full-width_width			= 100%;
$d_link_full-width_height			= 40px;
$d_ui_full_width_text_margin		= 0 0 0 10px;

.new-ui {

	&-link {
		cursor: pointer;
		color: $c_ui_link_text;
		text-decoration: none;

		border-bottom: $i_ui_link_bBorder;

        transition: border-color $nemo-transition-main ease-in;

		&:hover {
			color: $c_ui_link_hover_text;
			border-bottom: $i_ui_link_bBorder_hover;
		}

		&_rollup {
			position: relative;

			margin-left: 20px;

			&:before {
				content: '↓';

				position: absolute;
				left: -20px;
			}
		}

		&_changeable {
			color: $c_ui_link_changeable_text;

			&:hover {
				color: $c_ui_link_changeable_hover_text;
			}
		}

		&_blue {
			color: $c_ui_link_blue_text;
			border-bottom: $i_ui_blue;
			font-family: $f_ui_font_family;
			font-size: $fz_ui_link_blue;
			line-height: $lh_ui_link_blue;
		}

		&_grey {
			font-family: $f_ui_font_family;
			font-size: $fz_ui_link_grey;
			line-height: $lh_ui_link_grey;
			color: $c_ui_link_grey_text;
			border-bottom: 0;

			&:hover{
				border-bottom: 0;
			}
		}

		&_full-width{
			display: block;
			background-color: transparent;
			text-decoration: none;
			border-bottom: 0;
			width: $d_link_full-width_width;
			text-align: center;
			height: $d_link_full-width_height;
			line-height: $d_link_full-width_height;
			&__text{
				color: $c_ui_full_width_text;
				font-size: $fz_ui_full_width_text;
				line-height: $lh_ui_full_width_text;
				font-family: $f_ui_font_family;
				margin: $d_ui_full_width_text_margin;
			}
			&:hover{
				text-decoration: none;
				border-bottom: 0;
			}
		}


	}

	&-pseudoLink {
		@extends .new-ui-link;

		border-bottom: $i_ui_pseudoLink_bBorder;

		&:hover {
			@extends .new-ui-link:hover;
			border-bottom: $i_ui_pseudoLink_bBorder_hover;
		}

		&_rollup {
			@extends .new-ui-link_rollup;

			&:before {
				@extends .new-ui-link_rollup:before;
			}
		}

		&_changeable {
			@extends .new-ui-link_changeable;

			&:hover {
				@extends .new-ui-link_changeable:hover;
			}
		}
	}
}
