// COLORS
$c_ui_link_text                     = $nemo-color-main;
$c_ui_link_border                   = alpha($nemo-color-main, .25);
$c_ui_link_blue_text				= $c_ui_link_text;
$c_ui_link_blue_border 				= $c_ui_link_border;

$c_ui_link_grey_text				= $nemo-color-text-secondary;

$c_ui_link_hover_text               = darken($c_ui_link_text, 10);
$c_ui_link_hover_border             = alpha(darken($c_ui_link_border, 10), .75);

$i_ui_link_bBorder                  = 1px solid $c_ui_link_border;
$i_ui_link_bBorder_hover            = 1px solid $c_ui_link_hover_border;

$c_ui_pseudoLink_text               = $c_ui_link_text;
$c_ui_pseudoLink_border             = $c_ui_link_border;

$c_ui_pseudoLink_hover_text         = darken($c_ui_link_border, 10);
$c_ui_pseudoLink_hover_border       = darken($c_ui_link_hover_border, 10);

$c_ui_full_width_text				= #FEFEFE;
$fz_ui_full_width_text				= 13px;
$lh_ui_full_width_text				= $fz_ui_full_width_text + 2px;

$i_ui_pseudoLink_bBorder            = 1px dashed $c_ui_pseudoLink_border;
$i_ui_pseudoLink_bBorder_hover      = 1px dashed $c_ui_pseudoLink_hover_border;
$i_ui_blue 							= 1px dashed $c_ui_link_blue_border;

$fz_ui_link_grey 					= 15px;
$lh_ui_link_grey 					= $fz_ui_link_grey + 2px;

$fz_ui_link_blue 					= 13px;
$lh_ui_link_blue					= $fz_ui_link_blue + 2px;

$fz_ui_grey_close					= 13px;
$lh_ui_grey_close					= $fz_ui_grey_close + 2px;

$d_link_full-width_width			= 100%;
$d_link_full-width_height			= 40px;
$d_ui_full_width_text_margin		= 0 0 0 10px;

a {
	color: $c_ui_link_text;
	
	&:hover {
		color: $c_ui_link_hover_text;
	}
	
	&:hover, &:focus {
		text-decoration: none;
	}
}

.nemo-ui {

	&-link {
		cursor: pointer;
		color: $c_ui_link_text;
		text-decoration: none;

		border-bottom: $i_ui_link_bBorder;

        transition: border-color $nemo-transition-main ease-in;

		&:hover {
			color: $c_ui_link_hover_text;
			border-bottom: $i_ui_link_bBorder_hover;
		}

		&_rollup {
			position: relative;

			margin-left: 20px;

			&:before {
				content: '↓';

				position: absolute;
				left: -20px;
			}
		}
	}

	&-pseudoLink {
		@extends .nemo-ui-link;

		border-bottom: $i_ui_pseudoLink_bBorder;

		&:hover {
			@extends .nemo-ui-link:hover;
			border-bottom: $i_ui_pseudoLink_bBorder_hover;
		}

		&_rollup {
			@extends .nemo-ui-link_rollup;

			&:before {
				@extends .nemo-ui-link_rollup:before;
			}
		}
	}
}
