$loaderSize = 50px;
$bigLoaderSize = 70px;
$smallLoaderSize = 34px;

.nemo-ui-loader {
	background: rgba(255, 255, 255, 0.8);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	cursor: wait;

	&:after {
		content: '';
		width: $loaderSize;
		height: $loaderSize;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -($loaderSize / 2);
		margin-top: -($loaderSize / 2);
		background-image: url('images/loader.svg');
		background-size: $loaderSize;
	}
	&_small {
		&:after {
			width: $smallLoaderSize;
			height: $smallLoaderSize;
			margin-left: -($smallLoaderSize / 2);
			margin-top: -($smallLoaderSize / 2);
			background-size: $smallLoaderSize;
		}
	}

	&_big {
		&:after {
			width: $bigLoaderSize;
			height: $bigLoaderSize;
			margin-left: -($bigLoaderSize / 2);
			margin-top: -($bigLoaderSize / 2);
			background-size: $bigLoaderSize;
		}
	}
	
	&_fixed {
		position: fixed;
	}
	
	&_planes {
		&:after {
			background-image: url('images/loader_planes.svg');
		}
	}
}