// DIMENSIONS
$d_padding 			 			= 0 20px;
$d_padding_wbott				= 0 20px 15px;

// FONT
$f_ui_title_text 				= 13px;
$f_ui_title_line_height 		= $f_ui_title_text + 2px;

$f_ui_list_text 				= 15px;
$f_ui_list_text_line_height		= $f_ui_list_text + 2px;

// COLOR
$c_ui_title_text 				= #636467;

// BORDERS
$b_ui_solid_main 				= 1px solid #C8C8C8;

.new-ui-{

	&mobileSideMenu{
		
		&__title{
			padding $d_padding;
			p{
				font-size $f_ui_title_text;
				line-height $f_ui_title_line_height;
				color $c_ui_title_text;
				margin: 0;
				padding 15px 0;
				
			}
		}
		&__btns{
			padding $d_padding;
			display:flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-content: center;
			align-items: center;
		}
		&__main{

		}
	}
	
	&menuList{
		ul{
			list-style: none;
			padding: 0;
			li{
				border-top: $b_ui_solid_main;
				a{
					padding: 15px 20px;
					display: block;
					font-size: $f_ui_list_text;
					line-height: $f_ui_list_text_line_height;
					text-decoration: none;
					color: $c_ui_title_text;
				}
			}
		}
	}
	
	&copyRight{
		padding $d_padding_wbott;
		p{
			margin: 0;
			font-size: $f_ui_list_text;
			line-height: $f_ui_list_text_line_height;
			text-decoration: none;
			color: $c_ui_title_text;
		}
	}
}



