.ui-dialog {
	border-radius: 4px;
	overflow: hidden;
	position: absolute;
	outline: 0 none;
	padding: 0;
	z-index: 100;
	border: none;
	background: #fff;

	&__wrapper {
		bottom: 0;
		left: 0;
		overflow: auto;
		position: fixed;
		right: 0;
		top: 0;

		background: rgba(#636467, 0.5);
	}

	&__open {
		overflow: hidden;
	}

	&-title {
		position: relative;
		z-index: 2;
	}

	&-titlebar {
		position: relative;
		background: #EEEEEE;
		border: none;
		color: $c_ui_textMain;
		padding: 10px 60px 10px 20px;
		line-height: 30px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		&-close {
			position: absolute;
			top: 10px;
			right: 10px;
			width: 30px;
			height: 30px;
			border-radius: 4px;
			background: transparent url(images/ui/popup-close.svg) center center no-repeat;
			border: none;
			text-indent: -10000px;
			overflow: hidden;
			cursor: pointer;
			z-index: 2;

			transition: all .2s;

			&:hover {
				background-color: rgba(#000, 0.05);
			}
		}

		&_progress {
			color: #fff;
			background: #7F7F7F;

			&:before {
				content: '';
				position: absolute;
				z-index: 0;
				top: 0;
				left: 0;
				bottom: 0;
				background: $c_corporate_blue;
				animation: new-ui-popup__progressAnimation 5s ease-in-out 1 forwards;
			}
		}
	}

	&-content {
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		border: 0 none;
		overflow: auto;
		padding: 20px;
		position: relative;
	}

	&-buttonpane {
		padding: 10px 20px;
		text-align: right;
		background: #EEEEEE;

		.ui-button {
			@extend .new-ui-button;
		}
	}
}

@keyframes new-ui-popup__progressAnimation {
	0% {width: 0%;}
	100% {width: 75%;}
}