/**
 * jQueryUI popup styling to match UIKit popup styles
 */
// COLORS
$c_ui_popup_border   = #4EB1E5;
$c_ui_popup_title_bg = $c_ui_popup_border;

// Dimensions
$d_ui_popup_borderWidth        = 1px;
$d_ui_popup_borderRadiusBottom = 2px;
$d_ui_popup_title_height       = 30px;
$d_ui_popup_title_lPadding     = 10px;
$d_ui_popup_title_close_height = 20px;
$d_ui_popup_content_padding    = 10px;

$d_ui_popup_closetext_distance = 10px;

// FONT
$f_ui_popup_title_size = 13px;
$f_ui_popup_title      = #fff;

.ui-dialog {
	padding: 0px;
	border: $d_ui_popup_borderWidth solid $c_ui_popup_border;
	border-bottom-left-radius: $d_ui_popup_borderRadiusBottom;
	border-bottom-right-radius: $d_ui_popup_borderRadiusBottom;

	.ui-dialog- {
		&titlebar {
			background-color: $c_ui_popup_title_bg;
			border: 0px;
			padding: 0px 0px 0px $d_ui_popup_title_lPadding;
			height: $d_ui_popup_title_height;
			line-height: $d_ui_popup_title_height;
			font-size: $f_ui_popup_title_size;
			color: $f_ui_popup_title;
			font-weight: normal;
		}

		&title {
			margin: 0px;
			float: none;
		}

		&titlebar-close {
			border: 0px;
			padding: 0px $d_ui_popup_closetext_distance + 12px 0px 0px;

			width: auto;
			height: $d_ui_popup_title_close_height;
			line-height: $d_ui_popup_title_close_height;
			text-decoration: none;

			top: 50%;
			right: $d_ui_popup_title_lPadding;
			margin-top: -($d_ui_popup_title_close_height/2);

			background: transparent url('images/ui/ui-icon-popup-close.png') right center no-repeat;

			opacity: 0.5;

			&.ui-state-hover {
				opacity: 1;
				text-decoration: none;
				padding: 0px $d_ui_popup_closetext_distance + 12px 0px 0px;

				.ui-icon {
					float: none;
					border: 0px none;
				}
			}

			.ui-icon {
				background: transparent;

				text-indent: 0px;
				overflow: visible;
				width: auto;
				height: auto;

				text-decoration: none;
				font-size: $f_ui_popup_title_size;
				color: $f_ui_popup_title;
				font-weight: normal;
				border: 0px none;
			}
		}

		&content {
			padding: $d_ui_popup_content_padding;
		}

		&buttonpane {
			border-color: $c_ui_popup_border;
			margin-top: 0px;
		}
	}

	.ui-progressbar {
		border-color: $c_ui_popup_border;
		margin-top: 5px;

		&-value {
			margin-top: 0px;
			background-color: $c_ui_popup_border;
			border-color: $c_ui_popup_border;
		}
	}
}