$c_ui_pseudoLink_text               = #0c91d7;
$c_ui_pseudoLink_changeable_text    = inherit;
$c_ui_pseudoLink_border             = $c_ui_pseudoLink_text;

$c_ui_pseudoLink_hover_text               = #32b4f0;
$c_ui_pseudoLink_changeable_hover_text    = inherit;
$c_ui_pseudoLink_hover_border             = $c_ui_pseudoLink_hover_text;

$i_ui_pseudoLink_bBorder = 1px dashed $c_ui_pseudoLink_border;
$i_ui_pseudoLink_bBorder_hover = 1px dashed $c_ui_pseudoLink_hover_border;

.new-ui-pseudoLink {

	cursor: pointer;

	color: $c_ui_pseudoLink_text;
	text-decoration: none;

	border-bottom: $i_ui_pseudoLink_bBorder;

	&:hover {
		color: $c_ui_pseudoLink_hover_text;
		border-bottom: $i_ui_pseudoLink_bBorder_hover;
	}

	&_rollup {
		position: relative;

		margin-left: 20px;

		&:before {
			content: '↓';

			position: absolute;
			left: -20px;
		}
	}

	&_changeable {
		color: $c_ui_pseudoLink_changeable_text;

		&:hover {
			color: $c_ui_pseudoLink_changeable_hover_text;
		}
	}
}