/**
* Select
*
* ||||||||||||| ALL VARIABLES ARE TAKEN FROM textInput |||||||||||||
*
* @usage:
* @modifiers: new-ui-selectInput__input_big
* @tags: input[type=text]
* @example:
    <label class="new-ui-selectInput">
        <span class="new-ui-selectInput__caption">Маленький инпут</span>
        <select name="" class="new-ui-selectInput__select">
        </select>
        <span class="new-ui-selectInput__hint">И подсказка к нему</span>
    </label>
*/

$d_ui_select_vPadding = 0px;
$d_ui_select_hPadding = 1px;

.new-ui-selectInput{
    display: block;
    cursor: pointer;

    &__caption{
        display: block;
        font-size: $f_ui_caption_size;
        line-height: $f_ui_caption_lineHeight;
        color: $c_ui_caption;
        margin: $d_ui_caption_margin;
    }

    &__select{
        display: block;
        width: $d_ui_input_width;
        outline: none;
        background: $c_ui_input_background;
        font-size: $f_ui_input_size;
        color: $c_ui_input_text;
        border: $i_ui_input_border;
        border-radius: $d_ui_input_borderRadius;
        box-shadow: $i_ui_input_innershadow;
        height: $d_ui_input_height;
        padding: $d_ui_select_vPadding $d_ui_select_hPadding;
        margin: $d_ui_input_margin;
        transition: all .2s;

        &_big{
            height: $d_ui_input_height_big;
        }

        &:hover{
            box-shadow: $i_ui_input_innershadow_hover;
        }

        &:focus{
            border: $i_ui_input_border_focus;
            box-shadow: $i_ui_input_innershadow_focus;
        }

        &:disabled{
            box-shadow: $i_ui_input_innershadow_disable;

            &::placeholder{
                color: $c_ui_input_placeholder_disable;
            }
        }

        &::placeholder{
            color: $c_ui_input_placeholder;
        }
    }

    &__hint{
        display: block;
        font-size: $f_ui_hint_size;
        color: $c_ui_hint;
        margin: $d_ui_hint_margin;
    }

}