.nemo-ui-select {
	position: relative;
	display: inline-block;
	vertical-align: middle;

	&__toggle {
		@extend .nemo-ui-button;
		@extend .nemo-ui-button_common;
		//@extend .nemo-ui-button_direction_down;

		font-size: 100%;
		position: relative;
		padding-left: 20px;
		padding-right: 40px;
		text-align: left;
		display: block;
		height: 30px;
		line-height: 30px;

		&:after {
			content: '';
			position: absolute;
			width: 12px;
			height: 9px;
			top: 50%;
			margin-top: -4px;
			right: 14px;
			transition: all 0.2s;
			background: url("images/ui/ui-select-arrow.svg") center center no-repeat;
		}

		&_open {
			background-image: linear-gradient(to top, $c_ui_button_common_top, $c_ui_button_common_bottom);

			&:hover{
				background-image: linear-gradient(to top, $c_ui_button_common_top, $c_ui_button_common_bottom);
			}

			&:focus, &:focus:hover{
				background-image: linear-gradient(to top, $c_ui_button_common_top, $c_ui_button_common_bottom);
			}

			&:after {
				transform: rotate(180deg);
			}
		}
	}

	&__dropdown {
		display: none;
		position: absolute;
		z-index: 50;
		margin: 5px 0;
		background: #fff none repeat scroll 0 0;
		border-radius: 4px;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
		right: 0;
		min-width: 100%;
		max-width: 90vw;
		cursor: pointer;

		&__item {
			font-size: 13px;
			line-height: 20px;
			padding: 10px;
			border-top: 1px solid $nemo-color-container-separator;
			transition: all 0.2s;
			color: $nemo-color-text-main;
			text-align: left;
			user-select: none;

			&:first-child {
				border-top: 0;
				border-top-left-radius: inherit;
				border-top-right-radius: inherit;
			}

			&:last-child {
				border-bottom-left-radius: inherit;
				border-bottom-right-radius: inherit;
			}

			&_hilighted {
				background: rgba($nemo-color-main, .05);
			}

			&:hover {
				background: rgba($nemo-color-main, .1);
			}
		}
	}
}