$d_selectList_item_height			= 40px;
$d_selectList_item_padding			= 0 20px;

$d_selectList_item_sep_height		= 25px;
$d_selectList_item_sep_width		= 1px;

$fz_selectList_title				= 13px;
$lh_selectList_title				= $fz_selectList_title + 2px;

$fz_selectList_item					= 13px;
$lh_selectList_item					= $fz_selectList_item + 2px;

$br_selectedList					= 4px;

// COLORS
$c_selectList_title					= #636467;
$c_selectList_title_default			= $nemo-color-LightPoint;

$bg_selectList_item_selected		= #63B4F5;
$bg_selectList_item_default			= $nemo-color-LightPoint;
$c_selectList_item_selected			= $nemo-color-LightPoint;

$bg_selectList_item_odd				= #E5E5E5;

$bd_selectList_item_border			= 1px solid #E5E5E5;
$bd_selectList_border				= 1px solid #E5E5E5;

$c_selectList_horizontal_top_bg		= #E5E5E5;
$c_selectList_horizontal_bottom_bg	= #F2F2F2;

$c_selectList_item_sep_bg			= #DBDBDB;

.new-ui-{
	&selectList{
		&__title{
			font-size: $fz_selectList_title;
			line-height: $lh_selectList_title;
			color: $c_selectList_title_default;
			padding: $d_filters__title__padding;
			font-family: $f_ui_font_family;
			.nemo-root_tablet &, .nemo-root_mobile &{
				color: $c_selectList_title;
			}
		}
		&__main{
			border-radius: $br_selectedList;
			overflow: hidden;
			margin: 0 0 15px;
			.nemo-root_tablet &, .nemo-root_mobile &{
				border: $bd_selectList_border;
			}
			&__item{
				background: $bg_selectList_item_default;
				border-top: $bd_selectList_item_border;
				height: $d_selectList_item_height;
				line-height: $d_selectList_item_height;
				padding: $d_selectList_item_padding;
				&:first-child{
					border-top: 0;
				}
				p{
					margin: 0;
					font-family: $f_ui_font_family;
					font-size: $fz_selectList_item;
					.nemo-root_tablet &, .nemo-root_mobile &{
						
					}
					
					span{
						float: right;
						opacity: 0.75;
						line-height: $d_selectList_item_height - 2px;
					}
				}
				&:nth-child(2n-1){
					background: $bg_selectList_item_odd;
				}
				/&_selected&{
					background: $bg_selectList_item_selected;
					p{
						color: $c_selectList_item_selected;
					}
				}
				&_refreshed{
					position: relative;
					&:before{
						position: absolute;
						top: 5px;
						right: 5px;
						width: 6px;
						height: 6px;
						content:"";
						display: block;
						background: #63B4F5;
						border-radius: 50%;
					}
				}
			}
			&_horizontal{
				display: table;
				table-layout: fixed;
				width: 100%;
				
				.new-ui-selectList__main__item{
					position: relative;
					display: table-cell;
					border-top: 0;
					text-align: center;
					background: $c_selectList_horizontal_top_bg;
					background-image: linear-gradient(to bottom, $c_selectList_horizontal_top_bg, $c_selectList_horizontal_bottom_bg);
					
					&:after{
						position: absolute;
						top: 50%;
						margin: - ($d_selectList_item_sep_height/2) 0 0 0;
						left: 0px;
						width: $d_selectList_item_sep_width;
						height: $d_selectList_item_sep_height;
						background: $c_selectList_item_sep_bg;
						content: "";
					}
					
					&:first-child{
						&:after{
							display: none;
						}
					}
				}
				.new-ui-selectList__main__item_selected{
					background: $bg_selectList_item_selected;
					
					p{
						color: $c_selectList_item_selected;
					}
					
					&:after{
						display: none;
					}
					
					&+.new-ui-selectList__main__item{
						&:after{
							display: none;
						}
					}
				}
			}
		}
	}
}