/* Old styles cleaned */
.select2-container {
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
}

.select2-selection {
	width: 100%;
}

.select2-selection--single {
	box-sizing: border-box;
	display: block;
	user-select: none;
	-webkit-user-select: none;
}

.select2-selection__rendered {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.select2-container .select2-selection--multiple {
	box-sizing: border-box;
	display: block;
	min-height: 32px;
	user-select: none;
}

.select2-selection--multiple .select2-selection__rendered {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*.select2-container .select2-search--inline {*/
	/*float: left;*/
/*}*/

/*.select2-container .select2-search--inline .select2-search__field {*/
	/*box-sizing: border-box;*/
	/*border: none;*/
	/*font-size: 100%;*/
	/*margin-top: 5px;*/
/*}*/

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

.select2-dropdown {
	box-sizing: border-box;
	display: block;
	position: absolute;
	left: -100000px;
	width: 100%;
	z-index: 1051;
}

.select2-results {
	display: block;
}

.select2-results__options {
	list-style: none;
	margin: 0;
	padding: 0;
}

.select2-results__option {
	user-select: none;
}

.select2-results__option[aria-selected] {
	cursor: pointer;
}

.select2-container--open .select2-dropdown {
	left: 0;
}

/*.select2-container--open .select2-dropdown--above {*/
	/*border-bottom: none;*/
	/*border-bottom-left-radius: 0;*/
	/*border-bottom-right-radius: 0;*/
/*}*/

/*.select2-container--open .select2-dropdown--below {*/
	/*border-top: none;*/
	/*border-top-left-radius: 0;*/
	/*border-top-right-radius: 0;*/
/*}*/

.select2-search--dropdown {
	display: block;
}

.select2-search__field {
	width: 100%;
	box-sizing: border-box!important; /* was conflicting with normalize */
}

.select2-search__field::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

.select2-search--dropdown.select2-search--hide {
	display: none;
}

.select2-close-mask {
	border: 0;
	margin: 0;
	padding: 0;
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	min-height: 100%;
	min-width: 100%;
	height: auto;
	width: auto;
	opacity: 0;
	z-index: 99;
	background-color: #fff;
}

.select2-hidden-accessible {
	border: 0 !important;
	clip: rect(0 0 0 0) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
}

.select2-selection__clear {
	cursor: pointer;
	float: right;
	font-weight: bold;
}

.select2-selection__arrow {
	height: 100%;
	position: absolute;
	top: 1px;
	right: 1px;
	width: 20px;
}

.select2-selection__arrow b {
	border-color: #2988bd transparent transparent transparent;
	border-style: solid;
	border-width: 6px 5px 0;
	height: 0;
	left: 50%;
	position: absolute;
	top: 50%;
	width: 0;
	transform: translate(-50%, -50%);
}

.select2-container--disabled {
	cursor: default;
	opacity: 0.5;
}

.select2-container--disabled .select2-selection__clear {
	display: none;
}

.select2-container--open .select2-selection__arrow b {
	border-color: transparent transparent #2988bd transparent;
	border-width: 0 5px 6px;
}

.select2-container--disabled .select2-selection__choice__remove {
	display: none;
}

/*.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,*/
/*.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {*/
	/*border-top-left-radius: 0;*/
	/*border-top-right-radius: 0;*/
/*}*/

/*.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, */
/*.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {*/
	/*border-bottom-left-radius: 0;*/
	/*border-bottom-right-radius: 0;*/
/*}*/

/*.select2-container--default .select2-search--inline .select2-search__field {*/
	/*background: transparent;*/
	/*border: none;*/
	/*outline: 0;*/
/*}*/

.select2-results__group {
	cursor: default;
	display: block;
}

/* New styles */
.new-ui-select2 {
	&__container {
		padding: 10px 20px 10px 10px;
		border: 1px solid #D9D9D9;
		line-height: 20px;
		font-size: 13px;
	}

	&__dropdown {
		box-shadow: 0 1px 4px rgba(#000, .25);
		background: #fff;
		border-radius: 4px;
		/*margin-top: 5px;*/
		white-space: nowrap;

		&.select2-dropdown-- {
			&below {
				margin-top: 5px;
			}
			&above {
				margin-top: -5px;
			}
		}

		.select2-results__option {
			font-size: 13px;
			line-height: 20px;
			padding: 10px;
			border-top: 1px solid #D7D7D7;
			transition: all 0.2s;

			&:first-child {
				border: none;
			}

			&--highlighted {
				background: rgba($c_corporate_blue, .1);
			}
		}
	}
}

/* Opened state */
.select2-container--open {
	.new-ui-select2__container {
		border-color: $c_corporate_blue;
	}
}