// COLORS
$c_ui_systemSelect_tooltip_bg		 				 = $nemo-color-LightPoint;
$c_ui_systemSelect_tooltip_item_hover 				 = rgba(12,145,215,.15);
$c_ui_systemSelect_tooltip_list_item_selected_border = $c_ui_systemSelect_tooltip_item_hover;


// DIMENSIONS
$d_ui_systemSelect_button_icon_width  		= 32px;
$d_ui_systemSelect_button_icon_height 		= 20px;
$d_ui_systemSelect_button_icon_rMargin      = 8px;
$d_ui_systemSelect_button_minwidth 			= 63px;
$d_ui_systemSelect_button_padding 			= 0 10px;

$d_ui_systemSelect_head_marginbottom 	    = 7px;

$d_ui_systemSelect_tooltip_padding 							= 10px 12px;
$d_ui_systemSelect_tooltip_borderradius 					= 4px;
$d_ui_systemSelect_tooltip_head_marginbottom 				= 10px;
$d_ui_systemSelect_tooltip_list_item_padding 				= 4px 0 4px 4px;
$d_ui_systemSelect_tooltip_list_item_borderradius 			= 4px;
$d_ui_systemSelect_tooltip_list_item_icon_width 			= 32px;
$d_ui_systemSelect_tooltip_list_item_icon_height 			= 17px;
$d_ui_systemSelect_tooltip_list_item_icon_marginright 		= 8px;
$d_ui_systemSelect_tooltip_list_item_selected_borderwidth	= 1px;

$d_ui_systemSelect_tooltip_arrow_size   = 6px;
$d_ui_systemSelect_tooltip_arrow_offset = -1px;

// FONT
$f_ui_systemSelect_button 				  = 13px;
$f_ui_systemSelect_button_text 	          = 13px;
$f_ui_systemSelect_tooltip_list_item_text = 13px;

// VALUES
$i_ui_systemSelect_tooltip_outershadow = 0 1px 3px rgba(0,0,0,.25);


.nemo-ui-systemSelect {
	position: relative;
	display: inline-block;

	&_open &__tooltip, &_open &__button:before {
		display: block;
	}

	&__select {
		display: none;
	}

	&__button {
		@extend .nemo-ui-button
		@extend .nemo-ui-button_common;
		//@extend .nemo-ui-button_medium;
		font-size: $f_ui_systemSelect_button;
		padding: $d_ui_systemSelect_button_padding;
		position: relative;

		&__icon {
			display: inline-block;
			vertical-align: middle;
			min-width: $d_ui_systemSelect_button_icon_width;
			height: $d_ui_systemSelect_button_icon_height;
			margin-right: $d_ui_systemSelect_button_icon_rMargin;
		}

		&__text {
			display: inline-block;
			vertical-align: baseline;
			font-size: $f_ui_systemSelect_button_text;
		}

		&_minWidth {
			min-width: $d_ui_systemSelect_button_minwidth;
		}
	}

	&__tooltip {
		border-radius: $d_ui_systemSelect_tooltip_borderradius;
		background-color: $c_ui_systemSelect_tooltip_bg;
		padding: $d_ui_systemSelect_tooltip_padding;
		box-shadow: $i_ui_systemSelect_tooltip_outershadow;
		box-sizing: border-box;
		position: absolute;
		top: 100%;
		margin-top: $d_ui_systemSelect_tooltip_arrow_size + $d_ui_systemSelect_tooltip_arrow_offset;
		left: -40px;
		display: none;
		white-space: nowrap;
		z-index: 1;

		&__head {
			margin-bottom: $d_ui_systemSelect_tooltip_head_marginbottom;
		}

		&__list {
			padding: 0;
			margin: 0;

			&__item {
				display: block;
				text-decoration: none;
				list-style-type: none;
				margin: 0;
				padding: $d_ui_systemSelect_tooltip_list_item_padding;
				cursor: pointer;
				border-radius: $d_ui_systemSelect_tooltip_list_item_borderradius;
				transition: .3s ease-out;

				&:hover {
					background-color: $c_ui_systemSelect_tooltip_item_hover;
				}

				&__icon {
					display: inline-block;
					vertical-align: middle;
					min-width: $d_ui_systemSelect_tooltip_list_item_icon_width;
					height: $d_ui_systemSelect_tooltip_list_item_icon_height;
					margin-right: $d_ui_systemSelect_tooltip_list_item_icon_marginright;
				}

				&__text {
					display: inline-block;
					vertical-align: middle;
					font-size: $f_ui_systemSelect_tooltip_list_item_text;
				}

				&_selected {
					border: $d_ui_systemSelect_tooltip_list_item_selected_borderwidth solid $c_ui_systemSelect_tooltip_list_item_selected_border;
				}
			}
		}
	}
}