/**
 * General-purpose table
 * usage:
 * COMPACT TABLE ADDITIONAL CLASS: "new-ui-table_compact"
 * ZEBRED ROWS MUST HAVE ADDITIONAL CLASS "new-ui-table__tr_zebred"
 * SUMMARY ROW MUST HAVE ADDITIONAL CLASS "new-ui-table__tr_summary"
 * INSIGNIFICANT DATA ROW MUST HAVE ADDITIONAL CLASS "new-ui-table__tr_insignificant"
 * ROW THAT IS FIRST OF SOME SECTION MUST HAVE ADDITIONAL CLASS "new-ui-table__tr_newSection"

 * INSIGNIFICANT CELL ADDITIONAL CLASS: "new-ui-table__td_insignificant"
<table class="new-ui-table">
	<tr class="new-ui-table__tr">
		<th class="new-ui-table__th">
			Header 1
		</th>
		<th class="new-ui-table__th">
			Header 2
		</th>
		<th class="new-ui-table__th">
			Header 3
		</th>
		<th class="new-ui-table__th">
			Header 4
		</th>
	</tr>
	<tr class="new-ui-table__tr">
		<td class="new-ui-table__td">
			Value 1 1
		</td>
		<td class="new-ui-table__td">
			Value 1 2
		</td>
		<td class="new-ui-table__td">
			Value 1 3
		</td>
		<td class="new-ui-table__td">
			Value 1 4
		</td>
	</tr>
	<tr class="new-ui-table__tr">
		<td class="new-ui-table__td">
			Value 2 1
		</td>
		<td class="new-ui-table__td">
			Value 2 2
		</td>
		<td class="new-ui-table__td">
			Value 2 3
		</td>
		<td class="new-ui-table__td">
			Value 2 4
		</td>
	</tr>
	<tr class="new-ui-table__tr">
		<td class="new-ui-table__td" colspan="3">
			Summary title
		</td>
		<td class="new-ui-table__td">
			Summary
		</td>
	</tr>
</table>
 * For inserting in subContainer and such - use wrapper:
<div class="new-ui-tableWrap"></div>
 */

// COLORS
$c_ui_table_zebred_bg = #F2F2F2;

// DIMENSIONS
$d_ui_table_th_vPadding  = 5px;
$d_ui_table_th_hPadding  = 10px;
$d_ui_table_td_vPadding  = 14px;
$d_ui_table_compact_td_vPadding  = 5px;
$d_ui_table_th_firstLastPadding  = 20px;
$d_ui_table_td_firstLastPadding  = $d_ui_table_th_firstLastPadding;
$d_ui_table_td_lPadding  = $d_ui_table_th_hPadding;
$d_ui_table_td_rPadding  = $d_ui_table_th_hPadding;

/*$d_ui_table_td_summary_vPadding  = 5px;*/


// FONT
$f_ui_table_th                 = $nemo-color-text-secondary;
$f_ui_table_th_size            = 14px;
$f_ui_table_td                 = $nemo-color-text-main;
$f_ui_table_size               = 15px;
$f_ui_table_insignificant_size = 13px;
$f_ui_table_compact_size       = 13px;
$f_ui_table_compact_th_size    = $f_ui_table_compact_size;

// COMPOSITES

.new-ui-table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;

	&__tr {
		font-size: $f_ui_table_size;

		/*&:last-child {*/
			/*border: 0px none;*/
		/*}*/

		&_zebred:nth-child(2n) {
			background-color: $c_ui_table_zebred_bg;
		}

		&_summary {
			.new-ui-table__td {
				/*padding: $d_ui_table_td_summary_vPadding $d_ui_table_td_hPadding;*/

				&:first-child {
					text-align: right;
				}

				&:last-child {
					width: 10%;
				}
			}
		}

		&_newSection {
			border-top: $i_ui_subContainer_divider_border;
		}

		&_insignificant {
			font-size: $f_ui_table_insignificant_size;
		}
	}

	&__th, &__td {
		font-weight: normal;
		text-align: left;

		&:last-child {
			text-align: right;
		}

		&:first-child {
			text-align: left;
		}
	}

	&__th {
		padding: $d_ui_table_th_vPadding $d_ui_table_th_hPadding;
		color: $f_ui_table_th;
		font-size: $f_ui_table_th_size;
		vertical-align: top;

		&:last-child {
			padding-right: $d_ui_table_th_firstLastPadding;
		}

		&:first-child {
			padding-left: $d_ui_table_th_firstLastPadding;
		}
	}

	&__td {
		padding: $d_ui_table_td_vPadding $d_ui_table_td_rPadding $d_ui_table_td_vPadding $d_ui_table_td_lPadding;
		color: $f_ui_table_td;
		vertical-align: middle;

		&_insignificant {
			color: $nemo-color-text-secondary;
		}

		&:last-child {
			padding-right: $d_ui_table_td_firstLastPadding;
		}

		&:first-child {
			padding-left: $d_ui_table_td_firstLastPadding;
		}
	}

	&_compact &__td {
		font-size: $f_ui_table_compact_size;
		padding-top: $d_ui_table_compact_td_vPadding;
		padding-bottom: $d_ui_table_compact_td_vPadding;
	}

	&_compact &__th {
		font-size: $f_ui_table_compact_th_size;
	}
}

// WRAPPER STYLES
.new-ui-container {
	.new-ui-tableWrap {
		margin: 0px 0 - $d_ui_container_padding;
	}
}

.new-ui-subContainer {
	.new-ui-tableWrap {
		margin: 0px 0 - $d_ui_subContainer_padding;
	}
}