/**
 * Tabbed blocks
 *
 * @usage:
<div class="new-ui-tabber js-ui-tabber">
	<div class="new-ui-tabber__tabs">
	    <div class="new-ui-tabber__tabs__tab js-ui-tabber__control" data-ui-tabber="tab1">
	        <div class="new-ui-tabber__tabs__tab__title">
	            Tab 1 text
	        </div>
	    </div><div class="new-ui-tabber__tabs__tab js-ui-tabber__control" data-ui-tabber="tab2">
	        <div class="new-ui-tabber__tabs__tab__title">
	            Tab 2 text
	        </div>
	    </div><div class="new-ui-tabber__tabs__tab js-ui-tabber__control" data-ui-tabber="tab3">
	        <div class="new-ui-tabber__tabs__tab__title">
	            Tab 3 text
	        </div>
	    </div>
	</div>
	<div class="new-ui-subContainer new-ui-tabber__blocks">
	    <div class="new-ui-tabber__blocks__block js-ui-tabber__block js-ui-tabber__block_tab1">
	        Tab 1 contents
	    </div>

	    <div class="new-ui-tabber__blocks__block js-ui-tabber__block js-ui-tabber__block_tab2">
	        Tab 2 contents
	    </div>

	    <div class="new-ui-tabber__blocks__block js-ui-tabber__block js-ui-tabber__block_tab3">
	        Tab 3 contents
	    </div>
	</div>
</div>
 */
// COLORS
$c_ui_tabber_tab_bg_top            = #E5E5E5;
$c_ui_tabber_tab_bg_bottom         = #CCCCCC;
$c_ui_tabber_tab_bg                = #D9D9D9;
$c_ui_tabber_tab_hover_bg_top      = lighten($c_ui_tabber_tab_bg_top, 10);
$c_ui_tabber_tab_hover_bg_bottom   = lighten($c_ui_tabber_tab_bg_bottom, 10);
$c_ui_tabber_tab_active_bg         = $nemo-color-LightPoint;

// DIMENSIONS
$d_ui_tabber_tab_vPadding          = 3px;
$d_ui_tabber_tab_hPadding          = 12px;
$d_ui_tabber_tab_bRadius           = 4px;

// FONT
$f_ui_tab_size                     = 16px;
$f_ui_tab_title                    = $nemo-color-text-main;
$f_ui_tab_title_hover              = $nemo-color-text-main_hover;
$f_ui_tab_title_disabled           = $nemo-color-LightPoint;

// VALUES
$i_ui_tab_bRadius                  = $d_ui_tabber_tab_bRadius $d_ui_tabber_tab_bRadius 0 0;
$i_ui_tab_shadow                   = 0 1px 2px rgba(0, 1px, 2px, 0.5), inset 0 0 5px rgba(0, 0, 0, 0.1);
$i_ui_tab_shadow_active            = 0 1px 2px rgba(0, 1px, 2px, 0.5), inset 0 3px 5px rgba(0, 0, 0, 0.1);
$i_ui_tab_textShadow               = 0px 1px 0px rgba(0, 0, 0, 0.25);

.new-ui-tabber {
	&__tabs {
        padding: 0 0 0 20px;

		&__tab {
			display: inline-block;
			vertical-align: top;
			background-color: $c_ui_tabber_tab_bg;
			background: linear-gradient(to bottom, $c_ui_tabber_tab_bg_top, $c_ui_tabber_tab_bg_bottom);
			margin-right: 12px;
			padding: $d_ui_tabber_tab_vPadding $d_ui_tabber_tab_hPadding;
			border-radius: $i_ui_tab_bRadius;
            box-shadow: $i_ui_tab_shadow;
			text-shadow: $i_ui_tab_textShadow;
			cursor: pointer;
			font-size: $f_ui_tab_size;
            position: relative;

            &:hover {
                linear-gradient(to bottom, $c_ui_tabber_tab_hover_bg_top, $c_ui_tabber_tab_hover_bg_bottom)
            }

            &_active {
                position: relative;
                background: $c_ui_tabber_tab_active_bg;
                box-shadow: $i_ui_tab_shadow_active;
                cursor: default;
                z-index: 2;

				&:after {
					content:'';
					position: absolute;
					top: 100%;
					left: -10px;
					right: -10px;
					height: 10px;
					background: $nemo-color-LightPoint;
				}
            }

            &_disabled{
                cursor: default;

				.new-ui-tabber__tabs__tab__title {
					color: $f_ui_tab_title_disabled;
					opacity: 1;
				}
            }

            &__title {
                color: $f_ui_tab_title;
                font-size: 14px;
				opacity: .75;
			}


		}
	}

	&__blocks {
		position: relative;
		z-index: 1;

		&__block {
			display: none;

			&_active {
				display: block;
			}
		}
	}
}
