// COLORS
$bg_whiteBox			= $nemo-color-LightPoint;
$bd_top					= 1px solid #C8C8C8;

// DIMENSIONS
$h_whiteBox				= 50px;
$p_whiteBox				= 0 20px;
$b_radius_whiteBox 		= 3px;
$m_whiteBox				= 0 0 10px;

$shadow_whiteBox		= $bg_outer_shadow	= 0 0 3px 3px rgba(0,0,0,.5);


.new-ui-{
	
	&mobileDropMenu{
		background: $bg_whiteBox;
		box-shadow: $shadow_whiteBox;
		border-radius: $b_radius_whiteBox;
		margin: $m_whiteBox;
		
		&__item{
			height: $h_whiteBox;
			line-height: $h_whiteBox;
			border-top: $bd_top;
			>*{
				padding: $p_whiteBox;
			}
			&:first-child{
				border-top: 0;
			}
			>.new-ui-link_grey{
				display: block;
				line-height: $h_whiteBox;
			}
		}
	}
}
