// Colors
$c_ui_textMain       				= #414042;
$c_ui_textMain_hover 				= #595959;
$c_ui_textSecondary  				= #969599;
$c_ui_textDisabled   				= #BDBDBD;
$c_ui_textErr        				= #B13D12;

// FONTS
$f_ui_font_family 					= "Open Sans", sans-serif;


