// COLORS
$c_ui_dropMobile_main			= #636467;
$c_ui_title_more_text			= #A0A0A0;

// SIZES
$fz_ui_dropMobile_main 			= 15px;
$lh_ui_dropMobile_main 			= $fz_ui_dropMobile_main + 2px;

$p_ui_dropMobile_drop			= 40px 0 0;

.new-ui-{
	
	&dropMenuWrap{

	}
	
	&dropMenu{
		display: inline-block;
		margin: 0 5px;
		.mobile &{
			display: none;
		}
	}
	
	&dropMobile{
		&-drop{
			padding: $p_ui_dropMobile_drop;
			display: none;
			&.dropMobile-open{
				display: block;
			}
		}
		&__main{
			&>p{
				margin: 0;
				font-family: $f_ui_font_family;
				font-size: $fz_ui_dropMobile_main;
				color: $c_ui_dropMobile_main;
				span{
					float: right;
					color: $c_ui_title_more_text;
				}
			}
		}
	}
}