// COLORS
$c_ui_headers = $c_ui_textMain;
$c_pageHeader = #F6F6F6;

// DIMENSIONS
$d_ui_sectionHeader_margin    = 15px;
$d_ui_subSectionHeader_margin = 15px;
$d_pageHeader_height = 60px;
$d_pageHeader_height_mobile = 50px;

$d_ui_pageHeader_inner_maxWidth = 1140px;
$d_ui_pageHeader_inner_padding = 0 30px;

$d_ui_pageHeader_tablet_inner_padding = 0 20px 0 10px;

// FONT
$f_ui_sectionHeader_size    = 18px;
$f_ui_subSectionHeader_size = 15px;


.new-ui- {
	/**
	 * Page section header
	 *
	 *
	 */
	&pageHeader {
		background $c_pageHeader;
		height $d_pageHeader_height;
		
		.mobile &{
			height $d_pageHeader_height_mobile;
			.logo{
				display: none;
			}
		}
		
		.tablet &{

			&__inner{
				padding: $d_ui_pageHeader_tablet_inner_padding;
			}
		}
		
		&__inner{
			display:flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-content: flex-start;
			align-items: center;
			margin 0 auto;
			height 100%;
			vertical-align: middle;
			width 100%;
			max-width: $d_ui_pageHeader_inner_maxWidth;
			padding: $d_ui_pageHeader_inner_padding;
		}
		
		.logo{
			display: inline-block;
			width 206px;
		}
	}

	&mainHeader {

	}

	&sectionHeader {
		// General

		// Dimensions
		padding: 0px;
		margin: $d_ui_sectionHeader_margin 0px;

		// Text
		color: $c_ui_headers;
		font-size: $f_ui_sectionHeader_size;
	}

	&subSectionHeader {
		// General

		// Dimensions
		padding: 0px;
		margin: 0px 0px $d_ui_subSectionHeader_margin 0px;

		// Text
		color: $c_ui_headers;
		font-size: $f_ui_subSectionHeader_size;

	}

	&headerMenuControls{
		// TODO make this working on touch
		display: inline-block;

		.no-touch &{
			display: none;
		}
	}
}