/* Dirty hack for firefox :( */
.nemo-common-ffEllipsisHack {
	display: table;
	table-layout: fixed;
	width: 100%;

	&__inner {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}

/* General money styles */
money {
	white-space: nowrap;

	currency[currency="RUB"][type="symbol"], currency[currency="RUB"][type="name"] {
		font-family: 'RubleFont';
	}
}