* {
	box-sizing: border-box;
	margin: 0;
}

html,body{
	height: 100%;
}

body{
	background-color: $nemo-color-LightPoint;
	font-family: $nemo-font-main;
	font-size: 13px;
}

iframe {
	border: 0 none;
}
/*.nemo-common-appLoader {*/
	/*height: 200px;*/
	/*width: 200px;*/
	/*background: url('images/ui/ui-loader-planes.svg') center center no-repeat;*/
	/*margin: 0 auto;*/
	/*display: none;*/
/*}*/

.nemo-common-appError {
	text-align: center;
	color: #cc0000;
	padding: 40px 20px;
}

/* General money styles */
money {
	white-space: nowrap;

	currency[currency="RUB"][type="symbol"], currency[currency="RUB"][type="name"] {
		font-family: 'RubleFont';
	}
}

// Turning animations off on small screens
@media (max-width: 500px) {
	* {
		transition: none!important;
	}
}

.nemo-common-contentPageBody {
	background: $c_content_bg;
}