@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic);

@font-face {
	font-family: 'RubleFont';
	src:
		url('font/ruble-webfont.eot') format('eot'),
		url('font/ruble-webfont.woff') format('woff'),
		url('font/ruble-webfont.ttf') format('truetype');
}