$c_content_bg = #63636C;

$c_highlight_warning = #ffd321;

$c_common_textColor = #414042;//rgba(65, 64, 66, 1);
$c_common_textColor_secondary = #636467;//rgba(99, 100, 103, 1);


//-------------------------------
//-------- Colors table ---------
//-------------------------------

// Main interface colors

$nemo-color-LightPoint                = #fff;//rgba(255, 255, 255, 1);
$nemo-color-MiddlePoint               = #646464;//rgba(100, 100, 100, 1);
$nemo-color-DarkPoint                 = #0a0a0f;//rgba(10, 10, 15, 1);
$nemo-color-main                      = #64b5f6;//rgba(100, 181, 246, 1);
$nemo-color-secondary                 = lighten(#7bb236, 5);//lighten(rgba(123, 178, 54, 1), 5);

$nemo-color-neutral                   = darken($nemo-color-LightPoint, 10);

$nemo-color-notification_error        = #ffd321;//rgba(255, 211, 33, 1);
$nemo-color-notification_error_text   = #ff9731;//rgba(255, 151, 49, 1);
$nemo-color-notification_neutral      = $nemo-color-main;
$nemo-color-notification_good         = $nemo-color-secondary;

$nemo-color-highlight                 = $nemo-color-notification_error;

// Buttons
$nemo-color-button-main          = $nemo-color-secondary;
$nemo-color-button-secondary     = $nemo-color-neutral;
/*$nemo-color-button-secondary_g1  = $nemo-color-button-secondary;*/
/*$nemo-color-button-secondary_g2  = darken($nemo-color-button-secondary, 5);*/

$nemo-color-button-secondary_g1  = rgba(#fafafa, .75);//rgba(250, 250, 250, .75);
$nemo-color-button-secondary_g2  = rgba(#f0f0f0, .75);//rgba(235, 235, 235, .75);

// Button states
$nemo-color-button-main_disabled       = darken($nemo-color-neutral, 10);
$nemo-color-button-secondary_checked   = $nemo-color-main;
$nemo-color-button-secondary_disabled  = $nemo-color-button-main_disabled;
$nemo-color-button-highlight           = $nemo-color-highlight;

// Button Text
$nemo-color-button-text           = $nemo-color-LightPoint;
$nemo-color-button-text-alt       = lighten($nemo-color-DarkPoint, 10);

// Containers
$nemo-color-container-main                = $nemo-color-LightPoint;
$nemo-color-container-flat                = lighten($nemo-color-neutral, 10);
$nemo-color-container-header              = $nemo-color-main;
$nemo-color-container-vivid               = $nemo-color-main;
$nemo-color-container-vivid_secondary     = alpha($nemo-color-main, .75);
$nemo-color-container-vivid_secondary_alt = alpha($nemo-color-LightPoint, .25);

// Containers Additional
$nemo-color-container-shadow       = alpha($nemo-color-DarkPoint, .25);
$nemo-color-container-separator    = $nemo-color-neutral;

// Datepicker
$nemo-color-datepicker-selected            = $nemo-color-main;
$nemo-color-datepicker-highlight           = alpha($nemo-color-main, .2);
$nemo-color-datepicker-period              = alpha($nemo-color-main, .1);

// Text
$nemo-color-text-main           = $nemo-color-DarkPoint;
$nemo-color-text-secondary      = alpha($nemo-color-MiddlePoint, .75);
$nemo-color-text-placeholder    = alpha($nemo-color-MiddlePoint, .5);
$nemo-color-text-disabled       = alpha($nemo-color-MiddlePoint, .4);

// Link
$nemo-color-link            = $nemo-color-main;
$nemo-color-alternate       = $nemo-color-LightPoint;

// Input
$nemo-color-input-BG              = $nemo-color-LightPoint;
$nemo-color-input-border          = $nemo-color-neutral;
$nemo-color-input-border_focus    = $nemo-color-main;

// Layout
$nemo-header-bg       = darken($nemo-color-container-main, 2);


//-------------------------------
//---------- Fonts --------------
//-------------------------------
$nemo-font-main = "Roboto", "Open Sans", sans-serif;

//-------------------------------
//-------- Dimentions -----------
//-------------------------------

$nemo-border-radius               = 4px;


//-------------------------------
//-------- Time -----------------
//-------------------------------

$nemo-transition-main       = .1s;


//-------------------------------
//-------- Adaptivity -----------
//-------------------------------

//$nemo-media-mobile           = screen and \(max-device-width\: 736px ) and (min-device-width\: 414px) and (-webkit-min-device-pixel-ratio\: 2)\;
//$nemo-media-tablet           = screen and \(max-device-width\: 1024px) and (min-device-width\: 768px)\;
$nemo-media-smallScreen        = 980px;
//$nemo-media-mediumScreen     = screen and \(max-width\: 1280px)\;
//$nemo-media-bigScreen        = screen and \(max-width\: 1500px)\;
//$nemo-media-largeScreen      = screen and \(max-width\: 1650px)\;



