$c_tableBorder = $nemo-color-container-separator;
$c_tableBackground = $nemo-color-container-main ;
$c_showMoreSwitchBackground = #E8E8E8;
$c_tableMainColor = $nemo-color-main ;

$d_tableColumnWidth = 150px;
$d_tableColumnPadding = 0 20px ;


.nemo-flights-results__compareTable{
	margin-bottom: 10px;
	&__dummy{
		padding: 100px 0;
		width: 100%;
		text-align: center;
		color:$nemo-color-LightPoint;
		word-spacing: normal;
	}
	&__item{
		position: relative;
		overflow-x: hidden;
		transition: height 0.2s ease-in 0s;
		box-shadow: 0 2px 16px $nemo-color-container-shadow;
		z-index: 9;
		border-radius: 6px;
		max-width: 450px;
	}
	&__wrapper{
		margin: 0 0px 10px;
		position: relative;
		display: inline-block;
		vertical-align: top;
		word-spacing: normal;
	}
	&__pager{
		background: #4DB0E4;
		border-radius: 6px 6px 0 0;
		color: $nemo-color-LightPoint;
		display: flex;
		justify-content:space-between;
		font-size: 14px;
		padding: 10px 13px;

		&__prev, &__next{
			display: inline-block;
			text-decoration: none;
			background: url('images/compareTable-arrow.png') no-repeat center rgba(255,255,255,.3);
			color: rgba(255,255,255,.8);
			opacity: .5;
			padding: 1px 10px 2px;
			border-radius: 3px;
			&:hover{
				opacity: 1;
			}
		}
		&__prev{
			transform: rotate(180deg);
		}
	}
	&__inner {
		position: relative;
		transition: left 0.2s ease-in 0s;
		width: 999999px;
		display: flex;
		justify-content:flex-start;
		background: $nemo-color-LightPoint;
		&:before{
			content: '';
			width: 400%;
			height: 1px;
			position: absolute;
			bottom: 0;
			left: -100%;
			background: $c_tableBorder;
			z-index: 9;
		}
	}
	&__companyLogo{
		border-bottom: 1px solid $c_tableBorder;
		display: flex;
		overflow: hidden;
		width: $d_tableColumnWidth;
		height: 50px;
		background: $nemo-color-LightPoint;
		align-items:center;
		justify-content:center;
		&__image{
			height: 70%;
			width: 70%;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
	&__companyColumn{
		vertical-align: top;
		width: 150px;
		position: relative;
		&:before{
			content: '';
			width: 1px;
			height: 100%;
			position: absolute;
			top: 0;
			left: -1px;
			background: $c_tableBorder;
			z-index: 9;
		}
		&:after{
			content: '';
			width: 1px;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			background: $c_tableBorder;
			z-index: 9;
		}
		&_visible{
			&:before{
				left: 0px;
			}
		}
		&_visible ~ &_visible{
			&:before{
				left: -1px;
			}
		}
	}
	&__groupsItem{
		display: block;
		width:$d_tableColumnWidth;
		position: absolute;
		background: $nemo-color-LightPoint;
		z-index: 10;
		text-align: left;
		cursor: pointer;
		border-bottom: 1px solid $c_tableBorder;
		&_minimized{
			height: 60px;
			position: relative;
			z-index: 1;

			&:hover {
				//background-color: #ccc;
			}
		}
		&_minimized &__fullInfo{
			display: none;
		}
		&__price{
			color: $nemo-color-text-main;
			font-weight: 500;
			font-size: 110%;
			display: block;
			padding:4px 20px 0;
			line-height: 24px;
		}
		&__duration, &__transfers{
			color: $nemo-color-text-secondary;
			font-size: 85%;
			//font-weight: 500;
			padding:$d_tableColumnPadding;
			line-height: 14px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		&__flightSelectWrap{
			border-top:1px solid $c_tableBorder;
			border-bottom:1px solid $c_tableBorder;
			margin: 10px 0px;
			padding: 10px;

			&__tip{
				//color:$c_tableMainColor;
				font-size: 85%;
				text-align: center;
				line-height: 15px;
				display: block;
				//font-weight: 500;
				margin-bottom: 0;
				margin-top: 10px;
				opacity: .75;

				&:first-child {
					margin-top: 0;
				}
			}
		}
		&__linkToFullTicket{
			color: $nemo-color-link;
			margin: $d_tableColumnPadding;
			font-size: 90%;
			text-align: center;
		}
		&__buttonWrap{
			text-align: center;
		}
		&__disclaimer{
			color: $nemo-color-text-secondary ;
			font-weight: normal;
			font-size: 90%;
			padding:$d_tableColumnPadding;
			text-align: center;
			margin: 8px 0;
			line-height: 12px;
			display: block;

			&:first-child {
				margin-top: 4px;
			}

		}
		&_hidden{
			display: none;
		}
		&_visible{
			display: block;
			box-shadow: 0 0 16px $nemo-color-container-shadow;

			&:before{
				display: none;
			}
		}
		&__shortInfo{
			min-height: 60px;
		}
		&__selector {
			padding: 0 20px;

			&__header {
				display: flex;
				flex-flow: row nowrap;
				font-size: 13px;
				line-height: 40px;

				&__title {
					min-width: 1px;

					&__text {
						overflow: hidden;
						text-overflow: ellipsis;
						padding-right: 10px;
					}

					&__date {
						display: none;

						&__dayOfWeek {
							color: $nemo-color-secondary;
						}
					}
				}

				&__seatsAvailable {
					flex-shrink: 0;
					min-width: 1px;
					white-space: nowrap;
					margin-left: auto;

					&_warning {
						color: #FF9731;
					}
				}
			}

			&__footer {
				display: flex;
				flex-flow: row nowrap;
				font-size: 12px;
				line-height: 30px;
				color: $nemo-color-secondary;

				&__detailsLink {
					min-width: 1px;
					margin-left: auto;
				}

				&__transfers {
					padding-right: 10px;
					min-width: 1px;
				}
			}

			&__selectContainer {
				position: relative;
				display: block;
				padding: 5px 0px;
			}

			&__selected {
				border-radius: 2px;
				position: relative;
				color: $nemo-color-text-main;
				display: block;
				white-space: normal;
				height: 50px;
				line-height: 20px;
				padding: 0px 10px;
				font-weight: 500;

				&_unopenable {
					cursor: auto;
					background:  #f2f2f2;

					&:after {
						display: none;
					}

					&:hover {
						background:  #f2f2f2;
					}
				}

				&__time {
					font-size: 100%;
					margin-top: 5px;
					display: inline-block;
					vertical-align: baseline;

					&__departure, &__arrival {
						display: inline-block;
						vertical-align: top;
						color: $nemo-color-text-main;

						&_nextDay {
							color: $nemo-color-notification_error;
						}
					}
				}

				&__timeEnRoute {
					font-size: 85%;
					color: $nemo-color-text-secondary;
				}
			}

			&__dropdown {

				&__option {
					//font-weight: 500;
					padding: 8px 10px;
					font-size: 90%;
					line-height: 20px;

					&__timeEnRoute {
						font-size: 85%;
						line-height: 10px;
						color: $nemo-color-text-secondary;
					}
				}
			}
		}

		&__buyButton {
			position: relative;

			&__checkText {
				font-weight: normal;
				display: none;
				position: relative;
				z-index: 1;
				font-size: 16px;
				line-height: 20px;
				//top: 50%;
				//width: 100%;
				//transform: translate(0, -50%);
			}

			&_bookingCheck &__text {
				display: none;
			}

			&_bookingCheck &__checkText {
				display: block;
			}

			&_bookingCheck {
				@extend .nemo-flights-results__flightsGroup__buyButton_bookingCheck;
			}
		}
	}
	&__showMore{
		&__container{
			margin-top: -1px;
			text-align: center;
			vertical-align: top;
			width: 100%;
		}
		&__switch{
			display: inline-block;
			background: $c_showMoreSwitchBackground;
			opacity: 0.8;
			color: $c_common_textColor;
			cursor: pointer;
			border-radius: 0 0 3px 3px;
			font-size: 12px;
			padding: 5px 15px;
			transition: opacity $nemo-transition-main ease-in;

			&:hover{
				opacity: 1;
			}
			&__icon{
				background: rgba(0, 0, 0, 0) url("images/flights_results_sprite.svg") no-repeat scroll -36px -57px;
				height: 10px;
				min-width: 15px;
				display: inline-block;
				margin-left: 4px;
				&_close{
					left: 4px;
					position: relative;
					top: 2px;
					transform: rotate(180deg);
				}

			}
		}
	}
	&__root{
		text-align: center;
		padding: 20px 0 25px;
		background: #5A595F;
		border-top:1px solid #595961;
		border-bottom:1px solid #595961;
		position: relative;
		word-spacing: 20px;

		&__closeSwitch{
			display: inline-block;
			background: #C7C7C7;
			opacity: 0.8;
			padding: 6px 20px;
			color: $c_common_textColor;
			cursor: pointer;
			border-radius: 5px 5px 0 0 ;
			font-size: 11px;
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0);
			bottom:0;
			&:hover{
				opacity: 1;
			}
		}
	}
	&__opener {
		cursor: pointer;
		text-align: center;
		padding: 10px 0;
		line-height: 19px;
		transition: all 0.2s;
		position: relative;
		background: alpha($nemo-color-DarkPoint, .25) ;

		&_resultLoadingDummy {
			opacity: .25;
		}

		&:before {
			content: '';
			display: inline-block;
			width: 10px;
			height: 20px;
			vertical-align: top;
			margin-right: 10px;
			background: url('images/flights_results_sprite.svg') 0 -20px no-repeat;
			opacity: 0.5;
			transition: all 0.2s;
			position: relative;
			z-index: 1;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjYTBhMGEwIiBzdG9wLW9wYWNpdHk9IjAuMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+');
			background: linear-gradient(to left, rgba(0,0,0,0.1) 0%,rgba(160,160,160,0.1) 50%,rgba(0,0,0,0.1) 100%);
			opacity: 0;
			transition: all 0.2s;
		}

		&__text {
			display: inline-block;
			vertical-align: top;
			font-size: 13px;
			color: $nemo-color-LightPoint;
			border-bottom: 1px dashed;
			position: relative;
			z-index: 1;
		}

		&:hover {
			&:before, &:after {
				opacity: 1;
			}
		}
	}

}