.nemo-flights-flightInfo {
	width: 90vw;
	max-width: 900px;
	padding: 0 20px;

	&__leg {
		&__header {
			padding: 20px;

			&__carrierLogo {
				display: inline-block;
				vertical-align: middle;
				height: auto;
				max-height: 40px;
				max-width: 140px;
				padding: 0;
				margin-right: 20px;

				&__mismatch {
					max-height: 30px;
					vertical-align: middle;
				}
			}

			&__text {
				display: inline-block;
				vertical-align: middle;
				color: $nemo-color-text-secondary;
				line-height: 20px;
				font-size: 13px;
			}
		}

		&__logo, &__text {
			display: inline-block;
			vertical-align: middle;
		}

		&__charter {
			color: #ff9731;
			cursor: help;
		}

		&__route {
			padding: 10px 20px;
			font-size: 16px;
			line-height: 30px;
			border-radius: 4px;
			background: rgba($nemo-color-main, 0.25);

			&__departue, &__arrival {
				display: inline-block;
				/*padding-right: 30px;*/
				position: relative;
			}

			&__departue:after {
				content: '';
				width: 20px;
				height: 20px;
				margin: 0 10px;
				background: url('images/flights_flightInfo_legHeaderArrow.svg') center center no-repeat;

				display: inline-block;
				vertical-align: middle;
			}

			&__arrival {
				display: inline-block;
				margin-right: 10px;
			}

			&__date {
				white-space: nowrap;
			}
		}

		&__segments {
			border-bottom: 1px solid #B0B0B0;
		}

		&__segment {
			font-size: 13px;

			display: flex;
			flex-flow: row nowrap;

			&__departure, &__arrival, &__additional {
				padding: 0 20px 10px 20px;
			}

			&__departure {
				flex: 0 0 32.5%;
				position: relative;
				min-width: 1px;

				&:after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					width: 20px;
					background: url('images/flights_flightInfo_segmentRouteArrow.svg') center center no-repeat;
					background-size: 100% 100%;
				}
			}

			&__arrival {
				flex: 0 0 32.5%;
				min-width: 1px;
			}

			&__sunInfo {
				color: #ff9731;
				display: flex;
				margin: 15px 0;
				margin-left: 15px;
				align-items: center;

				&_noMargin {
					margin: 0;
				}

				&:before {
					background: url('images/sun.svg') no-repeat;
					height: 20px;
					width: 20px;
					content: '';
					display: inline-block;
					padding-right: 10px;
				}
			}

			&__additional {
				flex: 0 0 35%;
				padding-top: 15px;
				min-width: 1px;
				line-height: 20px;

				&__item {
					white-space: nowrap;

					&__title, &__value {
						display: inline-block;
						vertical-align: top;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					&__title {
						width: 30%;
						color: $nemo-color-text-secondary;
					}

					&__value {
						width: 70%;

						&_warning {
							color: #FF9731;
						}
					}

					&_baggage &__value {
						display: block;
						width: auto;
					}
				}

				&__baggage {
					white-space: normal;
				}
			}

			&__time {
				line-height: 35px;
				font-size: 14px;
				opacity: 0.75;
			}

			&__date {
				color: $nemo-color-text-secondary;
				margin-bottom: 10px;
			}

			&__city {
				font-size: 13px;
				opacity: 0.75;
				line-height: 20px;
				margin-bottom: 5px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			&__airport, &__terminal {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;

				&__title {
					color: $nemo-color-text-secondary;
				}
			}

			&:first-child &__time_departure,
			&:last-child &__time_arrival {
				opacity: 1;
				font-size: 20px;
			}

			&:first-child &__city_departure,
			&:last-child &__city_arrival {
				opacity: 1;
				font-size: 15px;
			}
		}

		&__transfer {
			padding: 0 20px;
			font-size: 13px;
			line-height: 30px;
			border-radius: 4px;
			background: rgba($nemo-color-main, 0.25);

			&__duration {
				display: inline-block;
				margin-left: 0;
			}

			&__terminalChange {
				display: inline-block;
				margin-left: 15px;
				position: relative;
				padding-left: 32px;

				&:before {
					background: url('images/transfer.svg');
					content: '';
					width: 17px;
					height: 17px;
					display: block;
					background-size: 17px;
					position: absolute;
					top: 6px;
					left: 0;
				}
			}
		}

		&__stopover {
			padding: 5px 20px;
			font-size: 13px;
			line-height: 20px;
			border-radius: 4px;
			background: rgba($nemo-color-main, 0.25);
			color: $nemo-color-text-secondary;
			margin-bottom: 10px;

			&__title, &__place, &__time, &__passLanding {
				display: inline-block;
				vertical-align: top;
			}

			&__place, &__time {
				margin-right: 15px;
			}

			&__place, &__time__start, &__time__end, &__time__duration {
				color: $nemo-color-text-main;
			}
		}

		&__footer {
			padding: 20px;
			font-size: 13px;
			line-height: 20px;

			&__item {
				display: inline-block;
				vertical-align: top;
				white-space: nowrap;
				margin-right: 20px;

				&:last-child {
					margin: 0;
				}

				&__title {
					color: $nemo-color-text-secondary;
				}
			}
		}
	}
}