$c_tableBorder = #afafaf;
$c_tableBackground = #F0F0F0;
$c_showMoreSwitchBackground = #FFFFFF;
$c_tableMainColor = #3F3F3F;

$d_tableColumnWidth = 150px;
$d_tableColumnPadding = 0 20px ;


//@TODO REMOVE ALL BEFORE&AFTER ELEMENTS CRUTCH!!!!!11one
.nemo-flights-results__compareTable{
	position: relative;
	overflow-x: hidden;
	border-radius: 0 0 6px 6px;
	transition: height 0.2s ease-in 0s;
	&__wrapper{
		margin-left: 20px;
		position: relative;
		display: inline-block;
		vertical-align: top;
	}
	&__pager{
		background: #4DB0E4;
		border-radius: 6px 6px 0 0;
		color: #ffffff;
		display: flex;
		justify-content:space-between;
		font-size: 14px;
		padding: 10px 13px;
		&__prev, &__next{
			display: inline-block;
			text-decoration: none;
			background: rgba(255,255,255,.3);
			color: rgba(255,255,255,.8);
			opacity: .5;
			padding: 1px 6px 2px;
			border-radius: 3px;
			&:hover{
				opacity: 1;
			}
		}
	}
	&__inner {
		position: relative;
		transition: left 0.2s ease-in 0s;
		width: 999999px;
		display: flex;
		justify-content:flex-start;
		background: #fff;
		&:before{
			content: '';
			width: 400%;
			height: 1px;
			position: absolute;
			bottom: 0;
			left: -100%;
			background: $c_tableBorder;
			z-index: 9;
		}
	}
	&__companyLogo{
		border-bottom: 1px solid $c_tableBorder;
		display: flex;
		overflow: hidden;
		width: $d_tableColumnWidth;
		height: 50px;
		background: #FFFFFF;
		align-items:center;
		justify-content:center;
		&__image{
			height: 70%;
			width: 70%;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
	&__companyColumn{
		vertical-align: top;
		width: 150px;
		position: relative;
		&:before{
			content: '';
			width: 1px;
			height: 100%;
			position: absolute;
			top: 0;
			left: -1px;
			background: $c_tableBorder;
			z-index: 9;
		}
		&:after{
			content: '';
			width: 1px;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			background: $c_tableBorder;
			z-index: 9;
		}
		&_visible{
			&:before{
				left: 0px;
			}
		}
		&_visible ~ &_visible{
			&:before{
				left: -1px;
			}
		}
	}
	&__groups{
		&Item{
			display: block;
			width:$d_tableColumnWidth;
			position: absolute;
			background: #ffffff;
			z-index: 10;
			text-align: left;
			&:before{
				content: '';
				width: 400%;
				height: 1px;
				position: absolute;
				bottom: 0;
				left: -200%;
				background: $c_tableBorder;
				z-index: 9;
			}
			&_minimized{
				height: 60px;
				position: relative;
				z-index: 1;
			}
			&_minimized &__fullInfo{
				display: none;
			}
			&__price{
				color: $c_tableMainColor;
				font-weight: normal;
				font-size: 13px;
				padding:$d_tableColumnPadding;
				line-height: 24px;
			}
			&__duration{
				color: $c_ui_textSecondary;
				font-size: 55%;
				font-weight: normal;
				padding:$d_tableColumnPadding;
				line-height: 12px;
			}
			&__flightSelectWrap{
				border-top:1px solid $c_tableBorder;
				border-bottom:1px solid $c_tableBorder;
				margin: 10px 0px;
				padding: 10px 20px;
				&__tip{
					color:$c_tableMainColor;
				}
			}
			&__linkToFullTicket{
				color:#0B90D6;
				margin:$d_tableColumnPadding;
				font-size: 11px;
			}
			&__buttonWrap{
				text-align: center;
			}
			&__disclaimer{
				color: #969599;
				font-weight: normal;
				font-size: 11px;
				padding:$d_tableColumnPadding;
				text-align: center;
				margin:3px 0;
			}
			&_hidden{
				display: none;
			}
			&_visible{
				display: block;
				box-shadow: 0 0 5px #888;
				&:before{
					display: none;
				}
			}
			&__shortInfo{
				min-height: 60px;
			}
		}
	}
	&__showMore{
		&__container{
			margin-top: -1px;
			text-align: center;
			vertical-align: top;
			width: 100%;
		}
		&__switch{
			display: inline-block;
			background: $c_showMoreSwitchBackground;
			opacity: 0.8;
			padding:3px 10px 3px 10px;
			color: $c_ui_textMain;
			cursor: pointer;
			border-radius: 0 0 5px 5px;
			font-size: 13px;
			&:hover{
				opacity: 1;
			}
			&__icon{
				color: #6FABCB;
				font-size: 11px;
				margin-left: 5px;
			}
		}
	}
	&__root{
		text-align: center;
		padding: 20px 0 35px;
		background: #5A595F;
		border-top:1px solid #595961;
		border-bottom:1px solid #595961;
		position: relative;
		&_closed{
			display: none;
		}
		&_opened{
			display: inline-block;
			width: 100%;
		}
		&__closeSwitch{
			display: inline-block;
			background: $c_showMoreSwitchBackground;
			opacity: 0.8;
			padding:3px 10px 3px 10px;
			color: $c_ui_textMain;
			cursor: pointer;
			border-radius: 5px 5px 0 0 ;
			font-size: 13px;
			position: absolute;
			left: 50%;
			margin-left: -30px;
			bottom:0;
			&:hover{
				opacity: 1;
			}
		}
	}
	&__opener {
		cursor: pointer;
		text-align: center;
		padding: 10px 0;
		line-height: 19px;
		transition: all 0.2s;
		position: relative;
		background: #63636B;
		&:before {
			content: '';
			display: inline-block;
			width: 10px;
			height: 20px;
			vertical-align: top;
			margin-right: 10px;
			background: url('images/flights_results_sprite.svg') 0 -20px no-repeat;
			opacity: 0.5;
			transition: all 0.2s;
			position: relative;
			z-index: 1;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjYTBhMGEwIiBzdG9wLW9wYWNpdHk9IjAuMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+');
			background: linear-gradient(to left, rgba(0,0,0,0.1) 0%,rgba(160,160,160,0.1) 50%,rgba(0,0,0,0.1) 100%);
			opacity: 0;
			transition: all 0.2s;
		}

		&__text {
			display: inline-block;
			vertical-align: top;
			font-size: 13px;
			color: #fff;
			border-bottom: 1px dashed;
			position: relative;
			z-index: 1;
		}

		&:hover {
			&:before, &:after {
				opacity: 1;
			}
		}
	}

}