$c_tableBorder = $nemo-color-container-separator;
$c_tableBackground = $nemo-color-container-main ;
$c_showMoreSwitchBackground = #E8E8E8;
$c_tableMainColor = $nemo-color-main ;

$d_tableColumnWidth = 150px;
$d_tableColumnPadding = 0 20px ;


//@TODO REMOVE ALL BEFORE&AFTER ELEMENTS CRUTCH!!!!!11one
.nemo-flights-results__compareTable{
	margin-bottom: 10px;

	&__item{
		position: relative;
		overflow-x: hidden;
		border-radius: 0 0 6px 6px;
		transition: height 0.2s ease-in 0s;
		box-shadow: 0 2px 16px $nemo-color-container-shadow;
		z-index: 9;
	}
	&__wrapper{
		margin-left: 20px;
		position: relative;
		display: inline-block;
		vertical-align: top;
	}
	&__pager{
		background: #4DB0E4;
		border-radius: 6px 6px 0 0;
		color: $nemo-color-LightPoint;
		display: flex;
		justify-content:space-between;
		font-size: 14px;
		padding: 10px 13px;

		&__prev, &__next{
			display: inline-block;
			text-decoration: none;
			background: rgba(255,255,255,.3);
			color: rgba(255,255,255,.8);
			opacity: .5;
			padding: 1px 6px 2px;
			border-radius: 3px;
			&:hover{
				opacity: 1;
			}
		}
	}
	&__inner {
		position: relative;
		transition: left 0.2s ease-in 0s;
		width: 999999px;
		display: flex;
		justify-content:flex-start;
		background: $nemo-color-LightPoint;
		&:before{
			content: '';
			width: 400%;
			height: 1px;
			position: absolute;
			bottom: 0;
			left: -100%;
			background: $c_tableBorder;
			z-index: 9;
		}
	}
	&__companyLogo{
		border-bottom: 1px solid $c_tableBorder;
		display: flex;
		overflow: hidden;
		width: $d_tableColumnWidth;
		height: 50px;
		background: $nemo-color-LightPoint;
		align-items:center;
		justify-content:center;
		&__image{
			height: 70%;
			width: 70%;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
	&__companyColumn{
		vertical-align: top;
		width: 150px;
		position: relative;
		&:before{
			content: '';
			width: 1px;
			height: 100%;
			position: absolute;
			top: 0;
			left: -1px;
			background: $c_tableBorder;
			z-index: 9;
		}
		&:after{
			content: '';
			width: 1px;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			background: $c_tableBorder;
			z-index: 9;
		}
		&_visible{
			&:before{
				left: 0px;
			}
		}
		&_visible ~ &_visible{
			&:before{
				left: -1px;
			}
		}
	}
	&__groups{
		&Item{
			display: block;
			width:$d_tableColumnWidth;
			position: absolute;
			background: $nemo-color-LightPoint;
			z-index: 10;
			text-align: left;
			cursor: pointer;
			&:before{
				content: '';
				width: 500%;
				height: 1px;
				position: absolute;
				bottom: 0;
				left: -200%;
				background: $c_tableBorder;
				z-index: 9;
			}
			&_minimized{
				height: 60px;
				position: relative;
				z-index: 1;
			}
			&_minimized &__fullInfo{
				display: none;
			}
			&__price{
				color: $c_tableMainColor;
				font-weight: normal;
				font-size: 13px;
				padding:$d_tableColumnPadding;
				line-height: 24px;
			}
			&__duration, &__transfers{
				color: $nemo-color-text-secondary;
				font-size: 55%;
				font-weight: normal;
				padding:$d_tableColumnPadding;
				line-height: 12px;
			}
			&__flightSelectWrap{
				border-top:1px solid $c_tableBorder;
				border-bottom:1px solid $c_tableBorder;
				margin: 10px 0px;
				padding: 10px;
				&__tip{
					color:$c_tableMainColor;
					font-size: 75%;
					line-height: 15px;
					display: block;
					margin-bottom: 5px;
				}
			}
			&__linkToFullTicket{
				color: $nemo-color-link  ;
				margin: $d_tableColumnPadding;
				font-size: 11px;
			}
			&__buttonWrap{
				text-align: center;
			}
			&__disclaimer{
				color: $nemo-color-text-secondary ;
				font-weight: normal;
				font-size: 11px;
				padding:$d_tableColumnPadding;
				text-align: center;
				margin: 10px 0;
				display: block;

			}
			&_hidden{
				display: none;
			}
			&_visible{
				display: block;
				box-shadow: 0 0 16px $nemo-color-container-shadow;

				&:before{
					display: none;
				}
			}
			&__shortInfo{
				min-height: 60px;
			}
			&__selector {
				padding: 0 20px;

				&__header {
					display: flex;
					flex-flow: row nowrap;
					font-size: 13px;
					line-height: 40px;

					&__title {
						min-width: 1px;

						&__text {
							overflow: hidden;
							text-overflow: ellipsis;
							padding-right: 10px;
						}

						&__date {
							display: none;

							&__dayOfWeek {
								color: $c_ui_textSecondary;
							}
						}
					}

					&__seatsAvailable {
						flex-shrink: 0;
						min-width: 1px;
						white-space: nowrap;
						margin-left: auto;

						&_warning {
							color: #FF9731;
						}
					}
				}

				&__footer {
					display: flex;
					flex-flow: row nowrap;
					font-size: 12px;
					line-height: 30px;
					color: $c_ui_textSecondary;

					&__detailsLink {
						min-width: 1px;
						margin-left: auto;
					}

					&__transfers {
						padding-right: 10px;
						min-width: 1px;
					}
				}

				&__selectContainer {
					position: relative;
				}

				&__selected {
					border-radius: 2px;
					background: linear-gradient(to bottom, #f2f2f2, #e5e5e5);
					padding: 0 10px;
					position: relative;
					cursor: pointer;
					color: $nemo-color-text-main;

					&:hover {
						background: linear-gradient(to bottom, #e5e5e5, #f2f2f2);
					}

					&:after {
						content: '';
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
					}

					&:after {
						content: "▼";
						font-size: 10px;
						height: 10px;
						margin-top: 3px;
						right: 9px;
						transition: all 0.2s ease 0s;
						width: auto
					}
					&_unopenable {
						cursor: auto;
						background: linear-gradient(to bottom, #f2f2f2, #e5e5e5);

						&:after {
							display: none;
						}

						&:hover {
							background: linear-gradient(to bottom, #f2f2f2, #e5e5e5);
						}
					}

					&.nemo-flights-results__flightGroupsSelector_open {
						border-bottom-left-radius: 0;
						border-bottom-right-radius: 0;
						background: linear-gradient(to bottom,#e5e5e5, #f2f2f2);
					}

					&__time {
						font-size: 11px;
						height: 17px;
						display: inline-block;
						vertical-align: baseline;
					}
					&__timeEnRoute {
						font-size: 10px;
						height: 20px;
					}
					&__optionsNumber{
						font-size: 11px;
						position: absolute;
						right: 10px;
						top: 10px;
						z-index: 9;
						opacity: .6;
					}
				}

				&__dropdown {
					/*overflow: hidden;*/
					position: absolute;
					z-index: 1;
					width: 100%;
					display: none;
					border-bottom:1px solid #f2f2f2;
					border-left:1px solid #f2f2f2;
					border-right:1px solid #f2f2f2;
					&__option {
						padding: 5px;
						border-bottom: 1px solid #D7D7D7;
						background: $nemo-color-LightPoint;
						cursor: pointer;
						transition: all 0.2s;
						font-size: 12px;
						&:hover, &:hover &__transfers__transfer {
							background: #EAF6FF;
						}

						&__departure, &__arrival {
							line-height: 20px;
							display: inline-block;
							vertical-align: top;
							color:$nemo-color-text-main;
						}

						&__transfers {
							display: inline-block;
							vertical-align: top;
							min-width: 50px;
							height: 20px;
							text-align: center;
							position: relative;
							padding-right: 4px;
							transition: all 0.2s;

							&:before {
								content: '';
								position: absolute;
								top: 9px;
								border-bottom: 1px solid #969599;
								left: 0;
								right: 0;
							}

							&:after {
								content: '';
								position: absolute;
								top: 6px;
								border: 1px solid #969599;
								right: 0;
								width: 6px;
								height: 6px;
								transform: rotate(45deg);
								border-bottom: none;
								border-left: none;
							}

							&__transfer {
								display: inline-block;
								vertical-align: top;
								margin: 5px;
								width: 9px;
								height: 9px;
								border-radius: 9px;
								background: $nemo-color-LightPoint;
								border: 1px solid #969599;
								position: relative;
								z-index: 1;
							}
						}

						&__timeEnRoute {
							font-size: 9px;
							color: $c_ui_textSecondary;
						}
					}
				}
			}
		}
	}
	&__showMore{
		&__container{
			margin-top: -1px;
			text-align: center;
			vertical-align: top;
			width: 100%;
		}
		&__switch{
			display: inline-block;
			background: $c_showMoreSwitchBackground;
			opacity: 0.8;
			color: $c_common_textColor;
			cursor: pointer;
			border-radius: 0 0 3px 3px;
			font-size: 12px;
			padding: 5px 15px;
			transition: opacity $nemo-transition-main ease-in;

			&:hover{
				opacity: 1;
			}
			&__icon{
				color: #6FABCB;
				font-size: 11px;
				margin-left: 5px;
			}
		}
	}
	&__root{
		text-align: center;
		padding: 20px 0 35px;
		background: #5A595F;
		border-top:1px solid #595961;
		border-bottom:1px solid #595961;
		position: relative;
		&_closed{
			display: none;
		}
		&_opened{
			display: inline-block;
			width: 100%;
		}
		&__closeSwitch{
			display: inline-block;
			background: #C7C7C7;
			opacity: 0.8;
			padding: 6px 20px;
			color: $c_common_textColor;
			cursor: pointer;
			border-radius: 5px 5px 0 0 ;
			font-size: 11px;
			position: absolute;
			left: 50%;
			margin-left: -35px;
			bottom:0;
			&:hover{
				opacity: 1;
			}
		}
	}
	&__opener {
		cursor: pointer;
		text-align: center;
		padding: 10px 0;
		line-height: 19px;
		transition: all 0.2s;
		position: relative;
		background: alpha($nemo-color-DarkPoint, .25) ;
		&:before {
			content: '';
			display: inline-block;
			width: 10px;
			height: 20px;
			vertical-align: top;
			margin-right: 10px;
			background: url('images/flights_results_sprite.svg') 0 -20px no-repeat;
			opacity: 0.5;
			transition: all 0.2s;
			position: relative;
			z-index: 1;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjYTBhMGEwIiBzdG9wLW9wYWNpdHk9IjAuMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+');
			background: linear-gradient(to left, rgba(0,0,0,0.1) 0%,rgba(160,160,160,0.1) 50%,rgba(0,0,0,0.1) 100%);
			opacity: 0;
			transition: all 0.2s;
		}

		&__text {
			display: inline-block;
			vertical-align: top;
			font-size: 13px;
			color: $nemo-color-LightPoint;
			border-bottom: 1px dashed;
			position: relative;
			z-index: 1;
		}

		&:hover {
			&:before, &:after {
				opacity: 1;
			}
		}
	}

}