$i_hotels_form_segment_input_bsh = inset 0 0 5px rgba(#000, 0);
$i_hotels_form_segment_input_bsh_hover = inset 0 0 10px rgba(#0B90D6, 0);
$i_hotels_form_segment_toRT_hover = inset 0 0 16px rgba($nemo-color-LightPoint, .2);

.nemo-hotels-form {
	position: relative;
	margin-top: 30vh;
	font: 13px $nemo-font-main;

// Setting initial box-sizing and fonts
	&, & * {
		box-sizing: border-box;
	}

	/*&__loader {*/
	/*height: 200px;*/
	/*background: url('images/ui/ui-loader-planes.svg') center center no-repeat;*/
	/*background-size: contain;*/
	/*display: none;*/
	/*}*/

	&__formContainer, &__searchOptions {
		width: 100%;

		&__inner {
			width: 1260px;
			max-width: 1260px;
			margin: 0 auto;
			padding: 20px 30px;
		}
	}

	&__formContainer {
		background: $nemo-color-container-vivid;
		color: $nemo-color-LightPoint;
		position: relative;

		&__inner {
			display: table;
			padding-bottom: 0;
			width: 1280px;
			max-width: 1280px;
		}
	}

	&__additional {
		max-width: 1280px;
		margin: 20px auto;
		padding: 0 30px;
		text-align: right;
		&__item {
			display: inline-block;
			vertical-align: top;

			&_lastSearches {
				text-align: right;
			}
		}

		&__parameters {
			&__toggle {
				display: inline-block;
			}

			&__dropdown {
				right: 0;
				max-width: 400px;
				min-width: 1px;
				padding: 20px;
				color: #636467;
				cursor: auto;
				white-space: normal;
			}

			&__header {
				color: inherit;
			}

			&__item {
				margin-bottom: 20px;

				&:last-child {
					margin: 0;
				}

				&__title {
					display: inline-block;
					vertical-align: top;
					width: 33%;
					padding-right: 10px;
					line-height: 20px;
					padding-top: 5px;

					&_transfers {
						padding-top: 0;
					}
				}

				&__content {
					display: inline-block;
					vertical-align: top;
					width: 67%;

					&__maxPriceField {
						margin: 0;
					}

					&__maxPriceField {
						max-width: 90px;
						padding-right: 25px;
						display: inline-block;
						vertical-align: top;
					}

					&__maxPriceFieldClearer {
						display: inline-block;
						vertical-align: top;
						width: 20px;
						height: 20px;
						margin: 5px 5px 0 -25px;
						opacity: .25;
						cursor: pointer;
						transition: all .2s;
						background: url(images/fsf-sprite.svg) 6px -54px no-repeat;
						position: relative;
						z-index: 1;

						&:hover {
							opacity: 1;
						}
					}

					&__maxPriceCurrency {
						display: inline-block;
						vertical-align: top;
						padding: 5px 0 0 10px;
						line-height: 20px;
					}
				}
			}

			&__checkbox {
				display: block;
				padding: 0;
				margin-bottom: 10px;

				&:last-child {
					margin: 0;
				}

				&__caption {
					&, &:hover {
						color: inherit;
					}
				}
			}

			&__carrierLoading {
				line-height: 20px;
				padding-top: 5px;
			}

			&__timeEnStaying {
				&__subTitle {
					display: inline-block;
					vertical-align: top;
					padding: 5px 10px 0 0;
					line-height: 20px;
				}
			}
		}
	}

	&__staying, &__passengers, &__buttonContainer {
		display: table-cell;
		vertical-align: top;
	}

	&__buttonContainer {
		padding-left: 20px;
		white-space: nowrap;
		width: 1%;
		text-align: right;
	}

	&__searchBlockedError {
		max-width: 90vw;
		white-space: normal;
		z-index: 1;
	}

	&__staying {
		padding: 0;

		&__segment {
			display: inline-block;
			vertical-align: top;
			width: 100%;
			padding-bottom: 20px;
			font-size: 0px;

			&_returnSegment {
				width: 20%;
			}

			&_CR, &_returnSegment &__item_date {
				width: 100%;
			}

			&_returnSegment &__item_date {
				padding-left: 1px;
			}

			&_CR &__item {
				width: 39.4%;

				&_date {
					width: 21.2%;
				}
			}

			&__input {
				margin: 0;
			//border-radius: 2px;
				padding: 0 10px;
				height: 40px;
				cursor: pointer;
				line-height: 40px;
				font-size: 105%;
				color: $nemo-color-text-main;
			//&::-webkit-input-placeholder {
			//  line-height: 22px;
			//}

				&, &:focus {
					border: 0;

				//&::-webkit-input-placeholder {
				//  line-height: 22px;
				//}
				}

				&:hover {
				}

				&_date {
					background-position: right 11px;
					background-repeat: no-repeat;
					padding-right: 36px;
				}

			//&::-webkit-input-placeholder {
			//  line-height: 22px;
			//}
			}

			&__item {
				display: inline-block;
				vertical-align: top;
				padding-right: 20px;
				position: relative;

				&_from, &_to {
					width: 52%;
				}

				&_to {
					font-size: 13px;
				}
				&_date {
					width: 24%;
					padding-right: 1px;
				}

				&__dummy {
					text-indent: 10px;
					line-height: 40px;
					font-size: 105%;
				}

				&__date {
					font-size: 13px;

					&__dummy {
						padding-right: 36px;
						font-size: 105%;

						&_short {
							display: none;
						}
					}

					&__indicator {
						position: absolute;
						line-height: 20px;
						width: 24px;
						text-align: center;
						top: 50%;
						margin-top: -12px;
						right: 10px;
						color: #636467;
						z-index: 1;
						opacity: 0.75;
						border-radius: 2px;
						border: 2px solid $nemo-color-main;
						font-size: 14px;
						background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjkyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2UzZTVlNyIgc3RvcC1vcGFjaXR5PSIwLjkyIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2UzZTVlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=');
						background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.92) 50%, rgba(227, 229, 231, 0.92) 51%, rgba(227, 229, 231, 1) 75%);

						&:after {
							content: '';
							position: absolute;
							top: 50%;
							left: 0;
							right: 0;
							height: 2px;
							margin-top: -1px;
							background: $nemo-color-main;
						}
					}
				}

				&__inputContainer {
					margin: 0;
				}
			}

			&_autocomplete {
				&_container {
					position: absolute;
					background: #fff;
					left: 0;
					top: 45px !important;
					padding: 0;
					margin: 0;
					border-radius: 4px;
					z-index: 20;
					box-shadow: 0 0 5px rgba(#000, 0.2);
				}
				&_title {
					list-style: none;
					color: rgba(100, 100, 100, 0.75);
					font-size: 11px;
					padding: 10px 10px 0;
					line-height: 15px;
				}
				&_item {
					list-style: none;
					color: #636467;
					padding: 0 10px;
					line-height: 40px;
					border-bottom: 1px solid #EFEFEF;
					&:hover {
						background: rgba(100, 181, 246, 0.1);
						cursor: pointer;
					}
					&__first {
						padding: 0 20px 0 0;
					}
					&__second {
						font-size: 11px;
						color: rgba(100, 100, 100, 0.75);
					}
				}
			}
		}

		&__switchToRT {
			line-height: 40px;
			background: rgba($nemo-color-LightPoint, .25);
			border-radius: 2px;
			padding: 0 35px;
			text-align: center;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			cursor: pointer;
			transition: all $nemo-transition-main ease-in;

			&:hover {
				box-shadow: $i_hotels_form_segment_toRT_hover;
			}
		}

		&__switchToOW {
			position: absolute;
			z-index: 10;
			top: -10px;
			right: -10px;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: $nemo-color-LightPoint url("images/fsf-sprite.svg") 6px -54px no-repeat;
			cursor: pointer;
			transition: all 0.2s;
			opacity: 0.5;

			&:hover {
				box-shadow: 0 0 5px rgba(#000, 0.2);
				opacity: 1;
			}
		}

		&__continueCR {
			line-height: 40px;
			background: rgba($nemo-color-LightPoint, .25);
			border-radius: 2px;
			cursor: pointer;
			transition: all 0.2s;
			text-align: center;
			margin: 0 0 20px 0;

			&:hover {
				box-shadow: $i_hotels_form_segment_toRT_hover;
			}

			&_inactive {
				opacity: 0.5;
				cursor: default;

				&:hover {
					box-shadow: none;
				}
			}
		}

		&__removeCRSegment {
			position: absolute;
			width: 28px;
			height: 26px;
			background: #B23E13 url("images/fsf-sprite.svg") 7px -83.5px no-repeat;
			top: 50%;
			right: 100%;
			cursor: pointer;
			margin-top: -13px;

			&:hover {
				background-color: lighten(#B23E13, 10%);
			}

			&_inactive {
				display: none;
			}
		}
	}

	&__stayingOptions {
		display: table-row;
		height: 45px;
		&__inner {
			display: table-cell;
			padding: 10px 0;
			/*position: relative;*/

			&:before {
				content: '';
				position: absolute;
				z-index: 0;
				background: $nemo-color-container-vivid_secondary_alt;

				left: 0;
				right: 0;
				bottom 0;

				height: 50px;
			}
		}

		&_CR &__item {
			&_stayingType, &_class {
				width: 39.4%;
			}
		}

		&__item {
			display: inline-block;
			vertical-align: middle;
			text-align: right;
			position: relative;
			z-index: 1;

			&_loyalCard {
				position: relative;
				display: table-cell;
				direction: rtl;

				.nemo-ui-select__toggle {
					box-shadow: none !important;
				}
			}

			&__title {
				margin: 0;
			}
			&__town {
				margin: 0 0 0 10px;
				cursor: pointer;
				border-bottom: 1px dotted;
			}
			&_stayingType, &_class {
				width: 80% * .379;
			}

			&_direct, &_multiDate {
				text-align: left;
			}

			&__selector {
				display: inline-block;
				position: relative;
				margin-left: 10px;
				vertical-align: middle;
				box-shadow: none;

				&__button {
				//line-height: 30px;
				//height: 30px;
				//box-shadow: none;
					padding-left: 10px;
					padding-right: 30px;
					text-align: left;
					display: block;

					&:after {
						right: 9px;
					}

				//.select2-selection__arrow {
				//	width: 33px;
				//}
				}

				&__dropdown {
				//	background: $nemo-color-LightPoint;
				//	border-radius: 4px;
				//	box-shadow: 0 1px 4px rgba(#000,.25);
				//	overflow: hidden;
				//
				//	position: absolute;
				//	margin-top: 5px;
				//	z-index: 50;
				//
					&__item {
					//		font-size: 13px;
					//		color: #636467;
					//		line-height: 20px;
					//		padding: 10px;
					//		cursor: pointer;
					//		border-bottom: 1px solid #D7D7D7;
					//		transition: all .2s;
					//		min-width: 100px;
					//		text-align: left;
					//
					//		&:last-child {
					//			border: none;
					//		}
					//
					//		&:hover {
					//			background: rgba($nemo-color-main, 0.25);
					//		}
					}
				}
			}

			&__checkbox {
				padding: 0;

				&__caption {
				//font-size: 14px;
					color: $nemo-color-LightPoint;
					transition: all $nemo-transition-main ease;
				}

				&:hover &__caption {
					color: darken($nemo-color-LightPoint, 1%);
				}
			}
			&_example {
				width: 52%;
				padding-right: 20px;
				text-align: left;
			}
		}
	}

	&__passengers {
		width: 29.2%;
		white-space: nowrap;
		position: relative;
		padding-left: 20px;

		&__rooms {
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row;
			min-width: 0;
			max-width: unset;
			overflow: auto;
			margin-bottom: -1px;

			@media (max-width: 1136px) {
				display: block;
				height: 100%;
			}
		}

		&__room {
			width: 250px;
			border-right: 1px solid #dcdcdc;
			display: flex;
			flex-direction: column;
			position: relative;

			.nemo-flights-form__passengers__buttonSelect__item__count {
				width: 95px;
				padding-right: 0;
			}

			.nemo-flights-form__passengers__buttonSelect__item__desc {
				color: #a6a6a6;
				font-size: 13px;
				white-space: nowrap;
				text-align: left;
			}

			.nemo-flights-form__passengers__buttonSelect {
				flex: 1;

				&__item_age {
					.nemo-flights-form__passengers__buttonSelect__item__name {
						font-size: 13px;
						color: #a6a6a6;
						white-space: nowrap;
					}
				}
			}

			&:last-child {
				border-right: none;
			}

			&__header {
				font-size: 13px;
				color: #0a0a0f;
				background: #f9f9f9;
				border-bottom: 1px solid #dcdcdc;
				padding: 15px;
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
			}

			@media (max-width: 1136px) {
				flex-basis: 100%;
				width: 100%;
				display: block;
				border: none;

				&:last-of-type {
					padding-bottom: 70px;
				}

				&__header {
					display: block;
					font-size: 15px;
					border-radius: 0;
				}

				.nemo-flights-form__passengers__buttonSelect {
					display: flex;
					flex-wrap: wrap;

					&__item {
						&_adults, &_infants {
							width: 50%;
						}

						&_infants {
							border-left: 1px solid #dcdcdc;
						}

						&_age {
							width: 100%;
						}
					}
				}

				.nemo-hotels-form__RoomsPopup__addRoomButton {
					position: absolute;
					margin-top: 9px;
					margin-bottom: 0;
					margin-right: 15px;
					right: 0;
					top: 0;
				}
			}

			@media (max-width: 450px) {
				.nemo-flights-form__passengers__buttonSelect__item {
					&_adults, &_infants {
						width: 100%;
						border-left: none;
					}
				}
			}
		}

		&__close {
			display: none;

			@media (max-width: 1136px) {
				display: block;
				width: 100%;
				height: 50px;
				background: #64b5f6;
				color: #fff;

				position: absolute;
				bottom: 0;
				text-align: center;
				line-height: 50px;
				font-width: 500;
				font-size: 17px;
			}
		}

		&__containerColumn {
			display: none;
			@extend .nemo-flights-form__routeOptions__item__selector__button;
			text-align: left;
			/*margin: 0;*/
			/*line-height: 30px;*/
			/*height: 30px;*/
		}

		&__container {
			/*min-width: 120px;*/
			/*max-width: 140px;*/
			width: auto;
			height: 40px;
			line-height: 40px;
			font-size: 105%;
			color: $nemo-color-text-main;
			background: $nemo-color-LightPoint !important;
			padding: 0 40px 0 10px;
			box-shadow: none !important;
			border-radius: 0px;
			cursor: pointer;
			overflow: hidden;
			text-overflow: ellipsis;
			transition: all 0.2s;
			position: relative;

			&:hover {
				background: $nemo-color-LightPoint;
			}

			&_fullScreen {
				display: none;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			@media (max-width: 1136px) {
				&_fullScreen {
					display: block;
				}

				&_pseudoSelect {
					display: none;
				}
			}
		}

		&__fastSelect {
			display: block;
			min-width: 0;

			@media (max-width: 1136px) {
				position: fixed;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				margin-top: 0;
				border-radius: 0;
				min-width: 100%;
			}
		}
	}

	&__passengersPopUp {
		margin: 0 -10px;
		display: none;

		&__item {
			display: inline-block;
			vertical-align: top;
			margin: 0 10px;
			font-size: 13px;
			white-space: normal;

			&__header {
				font-size: 14px;
			}

			&__subheader {
				color: $nemo-color-text-secondary;
				min-height: 35px;
			}

			&__count {
				padding: 0 15px;
				line-height: 30px;
				min-width: 100px;
				margin-top: 5px;
				border-radius: 8px;
				background: rgba(#969599, 0.1);
				cursor: pointer;
				transition: all 0.2s;
				white-space: nowrap;

				&:first-child {
					margin: 0;
				}

				&:hover {
					color: inherit;
					background: rgba(#52A2CC, 0.25);
				}

				&_active {
					color: $nemo-color-LightPoint;
					background: #52A2CC;

					&:hover {
						color: $nemo-color-LightPoint;
						background: rgba(#52A2CC, 0.75);
					}
				}

				&_disabled {
					opacity: 0.2;
					cursor: default;

					&:hover {
						color: inherit;
						background: rgba(#969599, 0.1);
					}
				}
			}
		}
	}

	&__stayingTypeSelector {
		padding: 20px;
		position: relative;
		display: none;

		&__button {
			line-height: 40px;
			height: 40px;
			min-width: 200px;
			text-align: center;
			font-size: 13px;
			display: inline-block;
			/*vertical-align: middle;*/
			/*background: #e5e5e5 linear-gradient(to top, #e5e5e5, #f2f2f2);*/
			color: #636467;
			cursor: pointer;
			transition: all 0.2s;
			position: relative;
			box-shadow: none;
			border-radius: 0;

			&:after {
				content: '';
				position: absolute;
				height: 25px;
				width: 1px;
				background: #BDBDBD;
				top: 8px;
				right: 0;
			}

			&:last-child {
				border-top-right-radius: $d_ui_button_borderradius;
				border-bottom-right-radius: $d_ui_button_borderradius;

				&:after {
					display: none;
				}
			}

			&:first-child {
				border-top-left-radius: $d_ui_button_borderradius;
				border-bottom-left-radius: $d_ui_button_borderradius;
			}

			/*&:hover {*/
			/*background-image: linear-gradient(to top, #f2f2f2, #fafafa);*/
			/*}*/

			&_active {
				background: $nemo-color-main;
				color: $nemo-color-LightPoint;
				margin-left: -1px;
				box-shadow: inset 0 0 5px rgba(#000, 0.2);

				&:after {
					display: none;
				}

				&:hover {
					background: lighten($nemo-color-main, 10%);
				}
			}
		}

		&__selectWrap {
			position: relative;
			display: inline-block;
			vertical-align: middle;
		}

		&__select {
			@extend .nemo-flights-form__routeOptions__item__selector__button;
			margin: 0;
			line-height: 30px;
			height: 30px;
		}
	}

	&__searchingInfoPopup {
		padding: 0;

		&__content {
			display: none;
			width: 80vw;
			max-width: 700px;
			padding: 5px 20px 20px;
		}

		&__header {
			padding-left: 55px;

			&:after {
				content: '';
				position: absolute;
				width: 20px;
				height: 20px;
				background: url('images/fsf-sprite.svg') -30px -60px no-repeat;
				top: 50%;
				left: 20px;
				margin-top: -10px;
				animation: nemo-flights-form__searchingInfoPopup__headerAnimation 1s infinite;
			}
		}
	}

	&__searchingInfo {
		color: $nemo-color-text-main;
		font-size: 13px;
		line-height: 20px;

		&__subHeader {
			margin-bottom: 10px;
		}

		&__segment {
			margin-bottom: 20px;
			padding: 0 10px;

			&__inner {
				background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f2f2f2, #e5e5e5) repeat scroll 0 0;
				border-radius: 4px;
				padding: 10px 20px 10px 55px;
				position: relative;
				line-height: 20px;

				&:before {
					content: '';
					position: absolute;
					width: 20px;
					height: 20px;
					left: 20px;
					top: 50%;
					margin-top: -10px;
					background: transparent url('images/fsf-sprite.svg') -30px 0px no-repeat;
				}
			}

			&:last-child {
				margin: 0;
			}

			&:nth-child(2n) &__inner:before {
				background-position: -30px -30px;
			}

			&__date {
				font-size: 12px;
				color: $nemo-color-text-secondary;
			}

			&__staying {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;

				&__departure {
					&:after {
						content: '';
						display: inline-block;
						height: 10px;
						width: 30px;
						background: url('images/fsf-sprite.svg') -25px -84px no-repeat;
					}
				}
			}
		}

		&__segments {
			margin: 0 -10px;
		}

		&__segments_RTLike &__segment {
			display: inline-block;
			width: 50%;
			margin-bottom: 0;
		}
	}

	&__spinner {
		margin-top: 3px;
		overflow: hidden;

		.ui-spinner {
			display: flex;
			justify-content: center;
			width: 85px;
			height: 30px;
			position: relative;
		}

		&_disabledDown {
			.ui-spinner-down {
				opacity: 0.5;
				cursor: not-allowed !important;

				&:hover {
					background: #fff !important;
				}
			}
		}

		&_disabledUp {
			.ui-spinner-up {
				opacity: 0.5;
				cursor: not-allowed !important;

				&:hover {
					background: #fff !important;
				}
			}
		}

		.ui-spinner-up {
			display: block;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background: #fff;
			box-shadow: none;
			border: 1px solid #cae0ed;
			cursor: pointer;
			padding: 0;

			position: absolute;
			right: 0;
			top: 0;

			&:hover {
				background-color: #e1f5ff;
			}

			&:after {
				content: '';
				background: url(images/fsf-sprite.svg);
				width: 10px;
				height: 10px;
				position: absolute;
				top: 9px;
				left: 9px;
				background-position: -35px -122px;
			}
			.ui-button-text {
				display: none;
			}

		}
		.ui-spinner-down {
			display: block;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background: #fff;
			box-shadow: none;
			border: 1px solid #cae0ed;
			cursor: pointer;
			padding: 0;

			position: absolute;
			left: 0;
			top: 0;

			&:after {
				content: '';
				background: url(images/fsf-sprite.svg);
				width: 10px;
				height: 10px;
				position: absolute;
				top: 9px;
				left: 9px;
				background-position: -35px -97px;
			}

			&:hover {
				background-color: #e1f5ff;
			}

			.ui-button-text {
				display: none;
			}
		}
		.ui-spinner-input {
			border: none;
			display: inline-block;
			vertical-align: top;
			line-height: 30px;
			width: 25px;
			text-align: center;
			border-radius: none;
			text-shadow: none;
		}
	}

	&__yearsPicker {
		position: relative;
		&_container {
			display: inline-block;
			vertical-align: top;
			height: 40px;
			width: 80px;
			border: 1px solid #EFEFEF;
			box-sizing: border-box;
			padding: 5px;
			position: relative;
			margin: 0 10px 13px 0;
			cursor: pointer;
			&:before {
				content: '';
				position: absolute;
				width: 30px;
				height: 100%;
				top: 0;
				right: 0;
				background: #ffffff;
				z-index: 3;
			}
			&:after {
				content: '';
				position: absolute;
				width: 12px;
				height: 9px;
				top: 50%;
				margin-top: -4px;
				right: 10px;
				transition: all 0.2s;
				background: url("images/ui/ui-select-arrow.svg") center center no-repeat;
				z-index: 4;
			}
			&.opened {
				&:after {
					transform: rotate(180deg);
				}
				.nemo-hotels-form__yearsPicker_drop {
					display: block;
				}
			}
		}
		&_input {
			border: none;
			height: 100%;
			width: 60%;
		}

		&_drop {
			position: absolute;
			left: 0;
			top: 40px;
			padding: 8px;
			border-radius: 4px;
			box-shadow: 0 13px 10px 1px rgba(10, 10, 15, 0.25);
			background: #fff;
			width: 173px;
			display: none;
			font-size: 0;
			z-index: 10;

			&_item {
				display: inline-block;
				vertical-align: top;
				text-align: center;
				width: 40px;
				height: 40px;
				line-height: 40px;
				cursor: pointer;
				border: 1px solid #F1F1F1;
				font-size: 13px;
				margin: 0 -1px -1px 0;
			}
		}
		&_mobile {
			border: none;
			height: 100%;
			width: 100%;
			background: #ffffff
			position: relative;
			z-index: 1;
			-webkit-appearance: none;
		}
	}

	&__RoomsPopup {
		&__addRoomButton {
			display: block;
			text-align: center;
			cursor: pointer;
			text-decoration: none;
			outline: medium none;
			transition: all 0.1s ease-in 0s;
			border: 1px solid #64b5f6;
			border-radius: 4px;
			color: #FFF;
			background: #64b5f6;
			height: 30px;
			font-size: 13px;
			line-height: 29px;

			position: absolute;
			right: 0;
			top: 0;
			margin: 0;
			margin-top: 7px;
			margin-right: 15px;

			&_delete {
				background: none;
				border-color: #ef5350;
				color: #ef5350;

				&:hover, &:focus {
					box-shadow: none !important;
					color: #fff !important;
					background: #ef5350 !important;
					border-color: #ef5350 !important;
				}
			}

			&:hover {
				box-shadow: none !important;
				color: #64b5f6;
				background: #fff;
				border-color: #64b5f6;
			}

			&:focus, &:focus:hover {
				background: #64b5f6;
				box-shadow: none !important;
				color: #fff;
				border: 1px solid #64b5f6;
			}
		}
		&__room {
			margin: 0 -20px;
			padding: 0 20px;
			position: relative;

			&__delete {
				position: absolute;
				top: 10px;
				right: 10px;
				padding: 0 30px 0 10px;
				height: 30px;
				border-radius: 4px;
				background: transparent url("images/ui/popup-close.png") no-repeat scroll 90% center;
				border: medium none;
				font-size: 11px;
				overflow: hidden;
				cursor: pointer;
				z-index: 2;
				transition: all 0.2s ease 0s;
				&:hover {
					background-color: rgba(0, 0, 0, 0.05);
				}
			}
			&__title {
				margin: 0 0 10px 0;
			}
			&__guests {
				display: inline-block;
				vertical-align: top;
				margin: 0 40px 20px 0;

				&__title {
					margin: 0 0 10px 0;
				}
				&__adults {
					display: inline-block;
					vertical-align: top;
					margin: 0 20px 0 0;
				}
				&__children {
					display: inline-block;
					vertical-align: top;
				}
			}
			&__ages {
				display: inline-block;
				vertical-align: top;
				max-width: 280px;

				&__title {
					margin: 0 0 10px 0;
				}
			}
		}

		&__room_more {
			border-top: 1px solid #F4F4F4;
			padding: 20px 20px 0;
		}
	}
	&__previousSearches {
		padding: 0;
		max-width: none;

		&_item {
			text-align: left;
			color: $c_common_textColor;
			width: 690px;
			border-bottom: 1px solid #F4F4F4;
			padding: 10px 20px;
			line-height: 30px;
			position: relative;
			&:hover {
				cursor: pointer;
				background: #EEF7FE;
				.nemo-hotels-form__previousSearches_item_close {
					opacity: 1;
				}
			}
			&_close {
				position: absolute;
				width: 12px;
				height: 12px;
				top: 50%;
				right: 20px;
				margin: -6px 0 0 0;
				opacity: 0.6;
				cursor: pointer;
				background: url('images/ui/popup-close.png') 0 0 no-repeat;
			}
		}
		&_title {
			display: inline-block;
			vertical-align: middle;
			width: 330px;
			line-height: 18px;
			&_object {

			}
			&_location {
				font-size: 11px;
				color: $c_common_textColor_secondary;
			}
		}
		&_info {
			display: inline-block;
			vertical-align: middle;
			width: 215px;
			line-height: 18px;
			&_guests {
				font-size: 11px;
			}
		}
		&_price {
			display: inline-block;
			vertical-align: middle;
			width: 90px;
			line-height: 18px;
			&_details {
				font-size: 11px;
			}
		}
	}

	&__loyalCard {
		&__dropdown {
			padding: 20px;
			direction: ltr;
			cursor: default;
			min-width: 350px;

			@media (max-width: 490px) {
				min-width: 100%;
			}
		}

		&__done {
			height: 30px;
			line-height: 30px;
			font-size: 13px;
		}

		&__item {
			margin-bottom: 10px;

			&__tip {
				color: #ababab;
				font-size: 11px;
				margin-top: 5px;
			}

			&_label {
				color: #636467;
				margin-bottom: 5px;
			}

			&_code {
				margin-top: 0;
			}

			&_chain {
				text-transform: uppercase;
			}

			&_hint {
				cursor: help;
			}

			&_notValid {
				border-color: #f44336;
			}
		}

		&__adaptive {
			display: none;
			float: left;
			padding: 0 20px 0 0;
			z-index: 1;
			padding-top: 5px;

			&_button {
				padding-left: 10px;

				&:after {
					right: 9px;
				}
			}

			@media (max-width: 1300px) {
				display: block;
			}

			@media (max-width: 490px) {
				display: block;
				width: 100%;
				padding: 0;
				margin-bottom: 20px;
				float: none;
				white-space: normal;
				z-index: auto;
			}
		}
	}

	&__clientNationality {
		margin-bottom: 15px;

		.nemo-ui-subSectionHeader {
			margin-bottom: 10px;
		}
	}
}

.nemo-ui-dummiedInput__dummy__placeholder {
	opacity: 0.6;
}

.no-overflow {
	overflow: visible;
	.ui-dialog-content {
		overflow: visible;
	}
	.nemo-hotels-form__passengersPopUp {
		margin: 0;
	}
}

@keyframes nemo-flights-form__searchingInfoPopup__headerAnimation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#map.nemo-ui-subContainer {
	min-height: 724px;
}
