adapt_flights_form_noOptsCaptions() {
	.nemo-flights-form {
		&__routeOptions {
			&__inner {
				display: block;
				width: 100%;
			}

			&__item, &_CR &__item {
				width: auto;
			}

			&__item {
				&__caption {
					display: none;
				}

				&__selector {
					margin: 0;
				}
			}
		}
	}
}

adapt_flights_form_twoThirds() {
	.nemo-flights-form {
        margin-top: 10vh;

		&__formContainer__inner {
			width: 100%;
		}

		&__routeTypeSelector_buttons {
			display: block;
            text-align: center;
		}

		&__formContainer__inner, &__additional {
			padding-right: 20px;
			padding-left: 20px;
		}

		&__routeOptions__item_routeType {
			display: none;
		}

		&__route, &__passengers, &__buttonContainer {
			display: block;
			width: auto;
			position: relative;
		}

		&__route {
			&__segment {
				width: 100%;

				&_CR {
					.nemo-flights-form__route__segment__item {
						padding: 0 20px 0 0;
						width: 40%;

						&_date {
							width: 20%;
							padding: 0;
						}

						&__date__dummy_short {
							display: block;
						}

						&__date__dummy_full {
							display: none;
						}
					}
				}

				&__item {
					padding-right: 10px;

					&__date__dummy_short {
						display: none;
					}

					&__date__dummy_full {
						display: block;
					}

					&_from, &_to, &_date {
						width: 50%;
						padding-bottom: 20px;
					}

					&_to {
						padding-right: 0;
						padding-left: 10px;
					}

					&_date {
						padding-bottom: 0;
					}
				}

				&_returnSegment {
					/*position: relative;*/
					padding: 0;
					position: absolute;
					left: auto;
					top: auto;
					right: 0;
					bottom: 20px;
					width: 50%;
				}

				&_returnSegment {
					.nemo-flights-form__route__segment__item_date {
						width: 100%;
						padding-right: 0;
						padding-left: 10px;
					}
				}
			}

			&__continueCR {
				margin: 0 0 20px;
			}
		}

		&__passengers {
			float: left;
			padding: 0 20px 0 0;
			z-index: 10;

			&__container {
				width: 160px;
				max-width: 160px;
			}

			&__fastSelect, &__buttonSelect {
				right: inherit;
			}
		}

		&__routeOptions {
			display: block;
			position: relative;
			margin-top: 20px;

			&__inner {
				padding: 0 0 20px;

				&:before {
					display: none;
				}
			}

			&__item {
				&_class {
					position: absolute;
					left: 180px;
					top: -55px;
					z-index: 2;
				}
			}
		}
	}

	adapt_flights_form_noOptsCaptions();
}

adapt_flights_form_compact() {
	.nemo-flights-form {
        margin-top: 0;

		input {
			line-height: 22px;
		}

		&__formContainer__inner {
			padding-right: 20px;
			padding-left: 20px;
			display: block;
		}

		&__routeTypeSelector {
			&__selectWrap, &__select {
				width: 100%;
				text-align: left;
				min-width: 1px!important; // Needed for automatic width of 100%
			}

			&_buttons {
				display: none;
			}

			&_select {
				display: block;
			}
		}

		&__route, &__passengers, &__buttonContainer {
			display: block;
			position: relative;
		}

		&__route {
			&__switchToRT {
				line-height: 30px;
			}

			&__segment {
				padding: 0;
				display: block;
				width: 100%;

				&_returnSegment {
					display: block;
					padding: 0;
					position: relative;
					width: 100%;
					top: auto;
					bottom: auto;
					padding-bottom: 10px;
				}

				&__item {
					padding: 0 0 10px;
					display: block;
					width: 100%;

					&__dummy {
						line-height: 30px;
					}

					&__date {
						&__indicator {
							display: block;
							right: 5px;
						}
					}

					&__citySwap{
						display: none;
					}
				}

				&_returnSegment &__item {
					padding: 0;
				}

				&__input {
					height: 30px;

					&::-webkit-input-placeholder {
						line-height: 23px;
					}
				}
			}

			&_CR, &_OW, &_RT {
				.nemo-ui-dummiedInput__dummy__aux {
					display: inline;
				}

				.nemo-flights-form__route__segment__item__date__dummy {
					&_full {
						display: block;
					}

					&_short {
						display: none;
					}
				}
			}

			&__removeCRSegment {
				margin-top: -18px;
				width: 20px;
				background-position: 3px -83.5px;
			}

			&__switchToOW {
				right: -15px;
				top: 50%;
				margin-top: -10px;
			}

			&__continueCR {
				line-height: 30px;
				margin: -10px 0 20px;
			}

			&_OW, &_RT {
				.nemo-flights-form__route__segment__item_to {
					padding-bottom: 20px;
				}
			}

			&_CR .nemo-flights-form__route__segment {
				padding-bottom: 10px;

				&__item {
					padding: 0 0 10px;
					width: auto;
				}
			}
		}

		&__passengers {
			display: block;
			width: 100%;
			padding: 0;
			margin-bottom: 10px;
			float: none;
			z-index: auto;

			&__container {
				display: none;
			}

			&__containerColumn {
				display: block;
			}

			&__fastSelect {
				min-width: 100%;
			}

			&__buttonSelect__item {
				&__desc{
					width: 65px;
				}

				&__count{
					padding: 0 10px 0 10px;
				}
			}
		}

		&__buttonContainer {
			padding: 40px 0 0;
			width: 100%;
			display: block;
		}

		&__searchButton {
			width: 100%;
		}

		&__routeOptions {
			display: block;
			position: relative;
			margin-top: 20px;
			text-align: left;
			z-index: auto;

			&__inner {
				padding: 0 0 20px;

				&:before {
					display: none;
				}
			}

			&__item {
				vertical-align: top;

				&_routeType {
					display: none
				}

				&_class {
					position: absolute;
					left: 0;
					right: 0;
					padding: 0;
					top: -100px;
					z-index: 2;

					.nemo-flights-form__routeOptions__item__selector,
					.nemo-flights-form__routeOptions__item__selector__button {
						width: 100%;
						text-align: left;
						display: block;
						min-width: 1px!important; // Needed for automatic width of 100%
					}
				}

				&_multiDate {
					margin-bottom: 5px;
				}
			}
		}

		&__additional {
			&__parameters {
				&__dropdown {
					width: 100%;
					max-width: 100%;
				}

				&__item {
					&__title, &__content {
						padding: 0;
						display: block;
						width: auto;
						max-width: 100%;
					}

					&__title {
						margin-bottom: 5px;
					}
				}
			}
		}
	}

	adapt_flights_form_noOptsCaptions();
}

@media (max-width: 1300px) {
	.nemo-flights-form {
		&__formContainer__inner, &__additional {
			max-width: 100%;
			width: auto;
		}

		&__route__segment__item__date__dummy_full {
			display: none;
		}

		&__route__segment__item__date__dummy_short {
			display: block;
		}
	}

	adapt_flights_form_noOptsCaptions();
}

@media (max-width: 1020px) {
	adapt_flights_form_noOptsCaptions();
}

.nemo-flights-form_twoThirds {
	adapt_flights_form_twoThirds();

	max-width: 640px;

	.nemo-flights-form__formContainer {
		border-radius: 4px;
	}
}

@media (max-width: 970px) {
	adapt_flights_form_twoThirds();
}

@media (max-width: 700px) {
	.nemo-flights-form {
		&__routeTypeSelector {
			&__button {
				padding-right: 10px;
				padding-left: 10px;
				min-width: 145px;
			}
		}
	}
}

@media (max-width: 625px) {
	.nemo-flights-form {
		&__route {
			&_CR &__segment {
				&__item {
					&__date {
						&__dummy {
							padding-right: 10px;
						}

						&__indicator {
							display: none;
						}
					}
				}

				&__input_date {
					padding-right: 10px;
				}
			}
		}

		&__searchingInfo {
			&__segments_RTLike &__segment {
				display: block;
				width: auto;
				margin-bottom: 20px;
			}
		}
	}
}

@media (max-width: 500px) {
	.nemo-flights-form {
		&__routeTypeSelector {
			&_buttons {
				display: none;
			}

			&_select {
				display: block
			}
		}

		&__route__segment__item__date__dummy .nemo-ui-dummiedInput__dummy__aux {
			display: none;
		}

		&__additional__item {
			display: block;
			width: auto;
			text-align: left;
		}
	}
}

@media (max-width: 450px) {
	adapt_flights_form_compact();
}

.nemo-flights-form_compact {
	adapt_flights_form_compact();

	max-width: 480px;

	.nemo-flights-form__formContainer {
		border-radius: 4px;
	}
}