.nemo-flights-results {
	padding: 0;
	color: $c_common_textColor;

	&__bookingCheck {
		display: none;
		max-width: 700px;

		&__errorMessage {
			margin: 10px 0;
		}

		&__buttons {
			.nemo-ui-button:first-child {
				margin-right: 20px;
			}

			display: flex;
			justify-content: space-between;
			margin-top: 20px;
		}
	}

	&__error {
		max-width: 420px;
		margin: 40px auto;
		padding: 0 10px;

		&__header {
			@extend .ui-dialog-titlebar;
		}

		&__content {
			@extend .ui-dialog-content;
			border-radius: 0;
		}

		&__link {
			padding: 0 20px 20px 20px;
			background #fff;
		}

		&__footer {
			@extend .ui-dialog-buttonpane;

			&__button {
				font-size: 15px;
			}
		}
	}

	&__warning {
		max-width: 600px;
	}

	&__globalError {
		max-width: 1540px;
		margin: 40px auto;
		padding: 0 20px;

		&__bock {
			text-align: center;
			padding-top: 30px;
			padding-bottom: 30px;
			color: #cc0000;
			font-size: 20px;
		}
	}

	&__expirePopup {
		display: none;
		height: 90px;
		position: relative;
		padding-left: 100px;
		font-size: 13px;

		&:before {
			content: '';
			position: absolute;
			width: 80px;
			height: 80px;
			border-radius: 80px;
			box-shadow: 0 1px 5px rgba(#000, 0.25);
			left: 0;
			top: 50%;
			margin-top: -40px;
			background: url("images/flights_results_sprite.svg") no-repeat scroll 0px -200px;
		}

		&_expired:before {
			background-position: 0 -290px;
		}

		&__inner {
			position: relative;
			top: 45px;
			transform: translate(0, -50%);
		}

		&__countdown {
			font-size: 20px;
		}
	}

	&__form {
		margin: 0;
		position: relative;

        .nemo-flights-form {
            margin-top: 0;
        }
	}

	&__summary {
		max-width: 1220px;
		margin: 0 auto 10px;
		padding: 10px 10px 0;
		white-space: nowrap;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: stretch;
		position: relative;

		&_formActive {
			padding-top: 0;
			padding-bottom: 0;
		}

		&__filterSwitch {
			height: 40px;
			line-height: 40px;
			margin-right: 20px;
			flex: 0 0 auto;
			display: none;

			&_active {
				background: $nemo-color-main;
				color: $nemo-color-LightPoint;

				&:hover, &:active {
					background: lighten($nemo-color-main, 10%);
				}
			}
		}

		&__filters {
			/*position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			z-index: 1000;
			opacity: 1;
			padding: 10px;
			max-width: 320px;
			white-space: normal;
			display: none;

			background: rgba(#000, 0.75);
			overflow: auto;*/
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 100;
			opacity: 1;
			padding: 0px;
			margin: 10px;
			width: 320px;
			white-space: normal;


			&__header {
				position: absolute;
				top: 10px;
				left: 10px;
				right: 10px;
				font-size: 20px;
				color: $nemo-color-LightPoint;
				text-align: center;

				display: none;
			}

			&__filters {
				opacity: 1;
				padding: 10px;
			}

			&__controls {
				position: absolute;
				left: 10px;
				right: 10px;
				bottom: 10px;
				margin: 0 -10px;
				display: none;

				&__item {
					display: inline-block;
					width: 50%;
					padding: 0 10px;
				}

				&__button {
					width: 100%;
					height: 35px;
					line-height: 35px;
				}
			}
		}

		&__inner {
			color: $c_common_textColor;

			background: $nemo-color-LightPoint;
			border-radius: 4px;
			box-shadow: 0 0 7px rgba(0, 0, 0, 0.6) inset;

			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			align-items: stretch;
			flex:  0 1 auto;
			min-width: 1px;
			width: 100%;

			cursor: pointer;
		}

		&__route, &__passengers {
			font-size: 13px;
			line-height: 20px;
			padding: 10px;
			min-width: 1px;
		}

		&__passengers {
			&_passengers {
				&:not(:only-child) {
					&:after {
						content: ',';
					}
				}
			}

			&_serviceClass {
				text-transform: lowercase;
			}
		}

		&__route {
			flex-grow: 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			&__segment {
				margin-right: 10px;
				display: inline;

				&:last-child {
					margin: 0;
				}

				&__geo, &__date {
					display: inline;
					vertical-align: top;
				}

				&__geo {
					&_departure:after {
						content: '';
						display: inline-block;
						width: 18px;
						height: 15px;
						margin: 0 5px;
						vertical-align: middle;
						background: url('images/flights_results_sprite.svg') 0px -10px no-repeat;
					}

					&__aux {
						color: $nemo-color-text-secondary;
					}

					&_arrival {
						padding-right: 10px;
					}
				}

				&__date {
					color: $nemo-color-text-secondary;
					margin: 0;
				}
			}

			&_RT &__segment__geo_departure:after {
				background-position: 0 1px;
			}
		}

		&__passengers {
			flex-shrink: 0;
			white-space: nowrap;
		}

		&__switch {
			flex-shrink: 0;
			margin-left: auto;
			height: 40px;
			line-height: 40px;
			background: $nemo-color-main;
			font-size: 15px;

			&:hover, &:active {
				background: lighten($nemo-color-main, 10%);
			}
		}
	}


	&__content {
		max-width: 1700px;

		min-height: 85vh;
		margin: 0 auto;

		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: flex-start;

		&__postfilters, &__offers, &__results {
			margin: 0 10px;
			flex-grow: 0;
			min-width: 1px;
			align-self: stretch;
		}

		&__postfilters, &__offers {
			flex-basis: 18%;
			min-width: 280px;
			transition: all 0.2s;
			flex-shrink: 0;
		}

		&__postfilters {
			position: relative;

			&:before{
				content: "";
				width: 100vw;
				top: 0;
				bottom: 0;
				right: 100%;
				position: absolute;
			}

			&_resultLoadingDummy {
				opacity: .4;

				&:hover {
					opacity: .4;
				}
			}

			&__loadingDummy {
				text-align: center;
				padding: 40px;
				position: relative;

				&__title {
					font-size: 15px;
					margin-bottom: 10px;
				}

				&__text {
					font-size: 13px;
				}
			}
		}

		&__offers {
			opacity: 0.75;
			transition: all 0.2s;

			&:hover {
				opacity: 1;
			}
			&_resultLoadingDummy {
				opacity: .4;

				&:hover {
					opacity: .4;
				}
			}

			&__text {
				color: $nemo-color-LightPoint;
				font-size: 13px;
				margin-bottom: 20px;

				&__header {
					font-size: 15px;
					margin: 20px 0;
				}
			}
		}

		&__results {
			//padding: 0 20px 20;
			border-radius: 8px 8px 0px 0px;
			flex: 0 1 64%;
			/*flex-basis: 100%;*/

			&_PFWorking {
				opacity: 0.25;
			}

			&__loadingDummy {
				&__header {
					border-radius: 4px;

					margin-bottom: 20px;
				}
			}

			&__controls {
				display: flex;
				flex-flow: row nowrap;
				justify-content: flex-end;
				align-items: flex-start;
				margin-bottom: 0px;

				&:first-child {
					margin-top: -10px;
				}

				&_resultLoadingDummy {
					opacity: .5;
				}

				&__item {
					line-height: 30px;

					&_count {
						flex-grow: 1;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						padding-right: 20px;
						font-size: 120%;
						margin-right: auto;
						//font-weight: 500;
					}

					&_sorting {
						flex-shrink: 0;
						font-size: 13px;
					}

					&_displayType {
						margin-left: 40px;
						white-space: nowrap;
					}

					&__displayTypeSelector {
						height: 30px;
						display: inline-block;
						vertical-align: top;

						&__option__button {
							padding-left: 35px;
							position: relative;

							&:before {
								content: '';
								position: absolute;
								width: 17px;
								height: 17px;
								background: url("images/flights_results_sprite.svg") -40px -170px no-repeat;
								top: 50%;
								margin-top: -8px;
								left: 10px;
							}

							&_active:before {
								background-position: -40px -140px;
							}

							&_list:before {
								background-position: -70px -170px;
							}

							&_list&_active:before {
								background-position: -70px -140px;
							}
						}
					}

					&__sortTitle, &__displayTypeTitle {
						display: inline-block;
						vertical-align: top;
						margin-right: 10px;
						opacity: .75;
					}

					&__sortTitle {
						vertical-align: top;
					}

					&__sort {
						vertical-align: top;
					}

					&__fakeSort {
						vertical-align: top;

						&__toggle {
							width: 100px;

							&, &:hover, &:active {
								background: $nemo-color-neutral;
							}

							&:after {
								opacity: 0.5;
							}
						}
					}
				}
			}
		}
	}

	&__showcase {
		display: flex;
		flex-flow: row wrap;

		margin: -20px -20px 0;
		padding: 10px;
		border-bottom: $i_ui_subContainer_divider_border;
		margin-bottom: 10px;

		&:last-child {
			border-bottom: none;
			margin-bottom: -20px;

		}

		//&_resultLoadingDummy {
		//	opacity: .7;
		//}

		&__item  {
			padding: 10px;
			flex: 1 1 50%;
			width: 100%;
			min-width: 1px;

			&_recommended {
				flex-basis: 100%;
			}
		}
	}

	&__groupList {
		&__item {
			margin-top: 20px;

			&:first-child {
				margin: 0;
			}
		}
	}

	&__showAll {
		text-align: center;
		margin-top: 20px;

		&__button {
			height: 40px;
			line-height: 40px;
			background: $nemo-color-main;
			font-size: 15px;

			&:hover, &:active {
				background: lighten($nemo-color-main, 10%);
			}
		}
	}

	&__emptyFilterResults {
		font-size: 15px;

		&__header {
			font-weight: normal;
			font-size: 20px;
		}

		&__filterList {
			&__item {
				/*display: inline-block;*/
				@extend .nemo-ui-button;
				@extend .nemo-ui-button_common;
				padding-right: 28px;
				margin: 20px 10px 0 0;
				max-width: 80%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				position: relative;

				&:after {
					content: '';
					position: absolute;
					top: 50%;
					right: 10px;
					margin-top: -4px;
					width: 8px;
					height: 8px;
					background: url("images/flights_results_sprite.svg") -41px -120px no-repeat;
				}

				&__additional {
					font-size: 13px;
					color: $nemo-color-text-secondary;
				}
			}
		}
	}

	&__flightsWarnings {
		&__item {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&-EAR &__content {
		min-height: auto;

		&__results {
			align-self: auto;
		}
	}

	&__flightInfoPopup {
		@media (max-width: 750px) {
			width: 100% !important;
			max-width: 100% !important;
			height: 100% !important;
			border-radius: 0 !important;
			padding: 0 !important;

			.ui-dialog-titlebar {
				width: 100%;
				border-radius: 0;
			}

			.ui-dialog-content {
				height: 100% !important;
				padding-bottom: 50px;
			}

			.nemo-flights-flightInfo {
				width: 100% !important;
				height:100% !important;
			}
		}
	}
	
	&__subsidyInformation {
		$fareFamiliesLightBorder = 1px solid rgba(230, 230, 230, .75);
		$fareFamiliesMainPadding = 20px;

		&__link {
			padding-top: 5px;
		}

		&__categories {
			width: 980px !important;
			height: auto;
			overflow: auto;
			top: 70px !important;
			padding: 0 !important;
			font-family: $nemo-font-main;

			&__contents {
				@media (max-width: 980px) {
					max-height: 100% !important;
					overflow: auto !important;
				}
			}

			@media (max-width: 980px) {
				position: fixed;
				top: 0 !important;
				left: 0 !important;
				bottom: 0 !important;
				right: 0 !important;
				width: auto !important;
				max-width: none !important;
			}


			.ui-dialog-titlebar {
				@media (max-width: 980px) {
					border-radius: 0;
				}
			}

			.ui-dialog-content.ui-widget-content {
				padding: $fareFamiliesMainPadding !important;

				@media (max-width: 980px) {
					max-height: 100% !important;
					height: 100% !important;
					padding-bottom: 100px !important;
				}

				@media (max-width: 450px) {
					padding-left: 0 !important;
					padding-right: 0 !important;
					padding-top: 10px !important;
					padding-bottom: 50px !important;
				}
			}

			.nemo-common-postFilters__notification {
				@media (max-width: 450px) {
					border-radius: 0;
					margin: 15px 0;
				}
			}

			&__header {
				margin: 15px 0;
				font-size: 1.1em;

				@media (max-width: 450px) {
					padding: 0 $fareFamiliesMainPadding;
				}
			}

			&__wrapper {
				min-height: 400px;

				&_error {
					@media (max-width: 800px) {
						display: flex;
						flex: 1;
						justify-content: center;
						align-items: center;
						height: 100%;
					}
				}

				@media (max-width: 800px) {
					padding-bottom: 30px;
				}
			}

			&__tariffs {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				margin-bottom: -($fareFamiliesMainPadding);

				@media (max-width: 980px) {
					margin-bottom: 0;
				}

				&__error {
					width: 400px;
					text-align: center;
					margin: 0 auto;
					padding-top: 140px;

					@media (max-width: 800px) {
						padding-top: 0;
					}

					&__text {
						font-size: 30px;
						font-weight: bold;
						color: #bbb;
						text-align: center;
						cursor: default;
					}
				}

				&__tariff {
					background-color: #f7f7f7;
					box-shadow: none !important;
					width: 100%;
					min-width: 270px;
					position: relative;
					padding: $fareFamiliesMainPadding 30px;
					margin-bottom: $fareFamiliesMainPadding;
					border-radius: 4px;

					@media (max-width: 980px) {
						width: 100%;
						max-width: none;
					}

					&__header {
						background-color: #64b5f6;
						margin: (-($fareFamiliesMainPadding)) -30px $fareFamiliesMainPadding !important;

						&__title {
							font-weight: bold;
							font-size: 1.2em;
						}

						@media (max-width: 450px) {
							border-radius: 0;
						}
					}

					&__features {
						margin-bottom: 60px;
						margin-left: -10px;
						margin-right: -10px;

						&__list {
							padding-left: 0;
							list-style-type: none;
							margin: 15px 0;
							padding-bottom: 15px;
							border-bottom: 1px solid #eeeeee;

							&:last-child {
								border-bottom: none;
								padding-bottom: 15px;
							}

							&__title {
								color: #999;
								font-size: 11px;
							}

							&__feature {
								padding-left: 18px;
								margin-bottom: 12px;
								color: #626467;
								cursor: default;

								&:last-child {
									margin-bottom: 0;
								}

								&__hint {
									z-index: 1005 !important;

									.tooltipster-content {
										padding: 10px 15px !important;
										max-width: 300px !important;
									}
								}

								&__icon {
									position: absolute;
									margin-left: -18px;

									& .fa-check {
										color: #88c43d;
										font-size: 12px;
									}

									& .fa-exclamation {
										color: #ff9731;
										font-size: 12px;
										width: 12px;
										text-align: center;
									}
								}

								money {
									margin-right: 4px;
								}
							}
						}
					}

					&__price {
						height: 40px;
						line-height: 41px;
						padding: 0 $fareFamiliesMainPadding;
						position: absolute;
						left: $fareFamiliesMainPadding;
						bottom: $fareFamiliesMainPadding;
						border-radius: 4px;
						font-size: 16px;
						font-weight: bold;
						color: #636469;
						background: #fae58c;
					}

					&__buy {
						position: absolute;
						right: $fareFamiliesMainPadding;
						bottom: $fareFamiliesMainPadding;
						height: 40px;

						&__button {
							font-weight: bold;
							padding-right: 45px;
						}
					}
				}
			}
		}

		&__popup {

			.nemo-ui-spinner {
				.ui-spinner {
					&-down,
					&-up {
						color: #64b5f6;
						box-shadow: none;
						border: 1px solid #ddd;
						padding: 0;
						padding-left: 2px;
					}

					&-down {
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
						border-right: 0;
					}

					&-up {
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
						border-left: 0;
					}

					&-input {
						border-color: #ddd;
					}
				}
			}

			&__footer {
				width: 100%;
				position: relative;
				min-height: 40px;
				display: flex;
				align-items: center;
				justify-content: flex-end;

				@media (max-width: 500px) {
					flex-direction: column;
					padding: 0 20px;
				}
			}

			&__error {
				color: #B23E13;
				padding-right: 10px;
			}

			&__tariffs {
				&__desc {
					margin-left: -20px;
					margin-right: -20px;
					margin-bottom: 10px;
					padding: 10px 20px;
					padding-top: 0;
					border-bottom: 1px solid rgba(230, 230, 230, 0.75);

					&_header {
						font-size: 17px;
						font-weight: 700;
						color: #333;
					}

					&_full {
						margin-top: 2px;
						margin-bottom: 10px;
						color: #626467;
					}
				}

				&__items {
					display: flex;
					overflow-x: auto;
					margin-top: 10px;

					@media (min-width: 800px) {
						margin-left: -10px;
						margin-right: -10px;
					}

					@media (max-width: 620px) {
						display: block;
					}
				}

				&__totalPrice {
					float: right;
					height: 40px;
					box-shadow: 0 4px 8px 0 rgba(93,134,41,.25), inset 0 1px 2px 0 #b8dc8b;

					@media (max-width: 500px) {
						width: 100%;
						margin-right: 0;
						margin-top: 10px;
					}
				}

				&__item {
					margin: 10px;

					&_header {
						font-size: 15px;
						font-weight: 800;
					}

					&__desc {
						padding-left: 0 !important;
						padding-bottom: 15px;
						margin-bottom: 15px;
						border-bottom: 1px solid rgba(230, 230, 230, 0.75);
					}
				}
			}

			@media (max-width: 800px) {
				&__tariffs__item {
					margin-left: 0;
				}

				.ui-dialog-buttonpane {
					position: fixed;
					bottom: 0;
					width: 100%;
				}

				&__tariffs__totalPrice {
					margin-right: 10px;
				}
			}

			@media (max-width: 450px) {
				&__tariffs__desc {
					margin: 10px 0;
				}
			}
		}
	}
}
