.nemo-flights-results__flightsListGroup {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 0;
	position: relative;

	&__wrapper {
		flex-basis: 100%;
		min-width: 1px;
		align-self: stretch;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		position: relative;
		
		&_withPadding {
			padding-bottom: 50px;
		}
	}

	&__fareVariations {
		margin: 0;
		border: 0;
		border-top: 1px solid rgba(230, 230, 230, .75);
		background-color: #f7f7f7;
		height: 50px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	&__segments {
		display: flex;
		flex-direction: column;
		flex-basis: 100%;
		width: 100%;
	}

	&__segment {
		border-top: $i_ui_subContainer_divider_border;
		padding-right: 20px;
		display: flex;
		align-items: stretch;
		flex-flow: row nowrap;
		justify-content: flex-start;
		text-overflow: ellipsis;
		min-height: 65px;
		align-self: stretch;
		
		@media (min-width: 672px) {
			flex: auto;
		}

		&:first-child {
			border-top: 0;
		}

		&:only-child {
			min-height: 100px;
		}

		&:only-child &__selected {
			padding-top: 23px;
			padding-bottom: 23px;
			height: 100%;
			flex-direction: column;
			justify-content: center;
		}

		&__charter {
			color: #ff9731;
		}

		&__carrier {
			flex: 0 0 140px;
			width: 140px;
			padding: 10px 20px;
			border-right: $i_ui_subContainer_divider_border;
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 1px;
			position: relative;

			&__logo {
				height: auto;
				max-height: 30px;
				max-width: 95px;

				&_mismatch {
					padding-left: 10px;
				}
			}

			&__operating {
				position: relative;
				bottom: 0;
				padding: 10px;
				text-align: center;
				color: #666;
				width: 100%;
				font-size: 11px;

				@media(max-width: 670px) {
					position: relative;
				}
			}

			&_operating {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;

				@media(max-width: 670px) {
					flex-wrap: nowrap;
				}
			}
		}

		&__charter {
			color: #ff9731;
		}

		&__selector {
			min-width: 1px;
			border-right: $i_ui_subContainer_divider_border;
			display: inline-block;
			vertical-align: middle;
			flex-shrink: 0;
			flex-grow: 0;
			flex-basis: 310px;
		}

		&__selected {
			min-width: 250px;
			border-radius: 0;
			padding: 7px 15px;
			line-height: 20px;
			transition: all $nemo-transition-main;
			background: transparent;
			color: $nemo-color-text-main;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			height: 100%;

			&__info {
				width: 100%;
				display: flex;
				white-space: nowrap;
			}

			&:hover, &:active {
				background: rgba($nemo-color-main, .1);
			}

			&_unopenable {
				cursor: auto;

				&:after {
					display: none;
				}

				&:hover, &:active {
					background: transparent;
				}
			}

			&__departure, &__arrival {
				display: inline-block;
				vertical-align: top;
			}

			&__operating {
				font-size: 12px;
				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				color: #ff9731;
			}

			&__arrival {
				position: relative;
				width: 140px;

				&__nextDayWarn {
					position: absolute;
					top: 110%;
					left: 0;
					font-size: 10px;
					color: $nemo-color-text-secondary;
					line-height: 10px;
					white-space: nowrap;
				}
			}

			&__departure {
				padding-right: 40px;
				position: relative;
				width: 160px;

				&:after {
					content: '';
					position: absolute;
					top: 50%;
					right: 15px;
					margin-top: -10px;
					width: 18px;
					height: 20px;
					background: url("images/flights_results_sprite.svg") -70px 0 no-repeat;
				}
			}

			&__time {
				display: inline-block;
				vertical-align: baseline;
				font-size: 17px;
				min-width: 50px;
				color: #636467;
				line-height: 17px;

				&_nextDay {
					color: $nemo-color-notification_error_text;
				}
			}

			&__date {
				display: inline-block;
				vertical-align: baseline;
				color: $nemo-color-text-main;
				font-size: 10px;
				line-height: 10px;

				&_nextDay {
					color: $nemo-color-notification_error_text;
				}
			}

			&__portName, &__city {
				font-size: 12px;
				line-height: 15px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			&__moreFlights {
				position: absolute;
				line-height: 20px;
				font-size: 13px;
				color: $nemo-color-text-secondary;
				right: 45px;
				top: 50%;
				margin-top: -10px;
				display: none;
			}
		}

		&__additionalDetails {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			flex: 1 1 auto;
			padding: 5px 0 5px 20px;
			min-width: 1px;
			justify-content: space-between;

			&__info {
				flex: 0 1 130px;
				min-width: 1px;
				padding-right: 5px;
			}

			&__aux {
				text-align: right;
				white-space: nowrap;
				flex: 0 0 auto;
				min-width: 1px;
			}
			
			&__fareInfo {
				width: 90px;
				max-width: @width;
				overflow: hidden;
				text-overflow: ellipsis;
				text-align: left;
				padding: 5px 0;
				
				@media (max-width: 1665px) {
					padding: 0;
				}

				&__baggage {
					font-size: 11px;
					position: relative;
					text-transform: lowercase;
					white-space: nowrap;
					display: flex;
					align-items: center;
					color: #666;
					
					&__icon {
						font-size: 14px !important;
						margin-right: 7px;
						color: @color;
					}
					
					&:not(.nemo-ui-pseudoLink) {
						color: rgba(100, 100, 100, .75);
					}
					
					//&:before {
					//	content: '';
					//	position: absolute;
					//	top: 1px;
					//	left: 0;
					//	background: url(images/sprite_alt_tariffs.png) center 0;
					//	width: 14px;
					//	height: 13px;
					//}
				}
				
				&__rules {
					margin-top: 2px;
				}
			}
		}

		&__seatsAvailable {
			color: $nemo-color-text-secondary;
			overflow: hidden;

			&_warning {
				color: $nemo-color-notification_error_text;
			}
		}

		&__class {
			overflow: hidden;
			font-size: 11px;
			max-width: 100px;
			white-space: normal;
		}

		&__timeEnRoute {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			line-height: 15px;
			margin-bottom: 5px;
			max-width: 125px;
		}

		&__details {
			padding-left: 5px;
			padding-right: 5px;
			width: 80px;
			margin-left: 10px;
			flex: 0 0 auto;
			min-width: 1px;

			display: none;
		}

		&__transfers {
			line-height: 14px;

			&__count {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				line-height: 20px;
			}

			&__details {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				max-width: 125px;
			}

			&__time, &__places {
				color: $nemo-color-text-secondary;
				font-size: 80%;
			}
		}

		&__dropdown {
			&__option {
				@extend .nemo-flights-results__flightsGroup__leg__selector__dropdown__option;
				padding: 0 5px;

				&__data {
					padding: 10px 10px;
				}

				&__departure, &__arrival {
					font-weight: 500;
					font-size: 120%;
				}

				&__arrival {
					&__nextDayDate {
						font-size: 70%;
					}
				}

				&__transfers {
					min-width: 43px;


					&__transfer {
						margin-left: 2px;
						margin-right: 2px;
					}
				}
			}
		}
	}

	&__buyButtonCnt {
		padding: 10px 20px;
		flex-shrink: 0;
		align-self: stretch;
		border-left: $i_ui_subContainer_divider_border;
		min-width: 1px;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		max-width: 205px;

		&__inner {
			text-align: center;
			
			&__exchange {
				margin-top: 10px;
				text-align: right;
			}

			&__warning {
				color: #ff3939;
				padding-bottom: 10px;
			}
		}
		
		.nemo-flights-results__flightsGroup__footer__disclaimer {
			text-align: center;

			&_priceForAll {
				font-size: 10px;
			}
		}
	}

	&__footer__couplingButtonContainer {
		padding: 10px 0;
	}

	&__footer__fareFamilies {
		padding-top: 10px;
	}

	&__buyButton {
		@extend .nemo-flights-results__flightsGroup__buyButton;
		font-size: 140%;
		padding: 0 10px 0 45px;
		min-width: 160px;
		height: 50px;
		line-height: 51px;
		display: block;
		text-align: center;

		&__checkText {
			display: none;
		}

		&_bookingCheck{
			@extend .nemo-flights-results__flightsGroup__buyButton_bookingCheck;
			padding: 0 40px 0 10px;
			font-size: 120%;
		}

		&_bookingCheck &__text {
			display: none;
		}

		&_bookingCheck &__checkText {
			display: inline;
		}
	}

	&__fullDetails {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	&__pricingDebugLink {
		text-align: right;
		display: block;
		padding-top: 4px;
	}

	&__gds-comission-block {
		padding: 5px 10px;
		text-align: center;
		width: 100%;

		&__gds {
			display: block;
		}
	}

	&__fareVariations {
		padding: 10px 0;

		.nemo-flights-results__fareVariations {
			text-align: center;
		}
	}

	&__full {
		&__segments {
			flex-flow: row nowrap;
			width: 100%;
		}

		.nemo-flights-results__flightsGroup__leg__info {
			display: block !important;
		}

		&__IATA {
			background: #64b5f6;
			color: #fff;
			width: 40px;
			text-align: center;
			display: inline-block;
			margin-top: 5px;
		}

		&__segment {
			display: flex;
			flex-direction: column;
			flex: 1;
			padding-right: 0;
			border-top: 0;

			&:not(:last-child){
				border-right: 1px dashed #ececec;

				@media (max-width: 525px) {
					border-right: 0;
				}
			}

			&__carrier{
				max-height: 40px;
				flex-basis: 40px;
				justify-content: space-between;
				width: 100%;
				border-bottom: 1px solid #ececec;
				border-right: none;

				&__logo{
					max-height: 25px;
				}
			}

			&__direction {
				color: #8e8e8e;
			}

			&__dropdown {

				&__option {
					display: block;
					cursor: pointer;
					position: relative;

					&:only-child {
						height: 100%;
						border-bottom: 0 !important;
					}

					&:last-child {
						border-bottom: 1px solid #e6e6e6;
						margin-bottom: -1px;

						@media (max-width: 525px) {
							border-bottom: 0;
							margin-bottom: 0;
						}
					}

					&__radio {
						position: absolute;
						left: -9999999px;

						&__caption {
							cursor: pointer;

							&:before{
								content: '';
								position: absolute;
								left: 15px;
								//top: 0;
								width: $d_ui_pseudoInput_width;
								height: $d_ui_pseudoInput_height;
								border-radius: $d_ui_pseudoInput_borderRadius;
								background-image: url($i_ui_radio);
								background-position: bottom;
							}
						}
					}

					&_selected > &__radio__caption:before {
						background-position: top;
					}

					&__availSeats {
						display: none;
					}

					&__dateWrapper {
						display: inline-block;
						/*white-space: nowrap;*/
						margin-bottom: 5px;
					}

					&__data {
						padding: 10px 45px;
						position: relative;
					}
					&__arrival {
						font-size: 16px;

						&_nextday {
							color: #ff9731;
						}
						&__date {
							font-size: 13px;
							font-weight: 400;
						}

						&__nextDayDate {
							line-height: 0;
						}
					}
					&__departure {
						font-size: 16px;

						&__date {
							font-size: 13px;
							font-weight: 400;
						}
					}

					&_selected {
						background: rgba(100, 181, 246, 0.2);

						&:hover {
							background: rgba(100, 181, 246, 0.3);
						}
					}

					&__timeEnRoute {
						padding-left: 35px;
					}

					&_uncombinable &__data{
						opacity: .2;
					}

					&_uncombinable&_selected {
						background: rgba(205, 205, 205, 0.2);

						&:hover {
							background: rgba(205, 205, 205, 0.3);
						}
					}

					&__uncombinableWarn {
						//margin-left: 43px;
						position: absolute;
						text-align: center;
						width: 100%;
						padding-top: 30px;
					}
					&__airport {
						display: inline-block;
						height: 18px;
						width: 35px;
						margin-right: 5px;
						text-align: center;
						line-height: 18px;
						font-size: 12px;
						font-weight: 400;
						position: relative;
						bottom: 1px;
					}

					&__transfers {
						min-width: 16px;
						margin: 0 10px;

						&:before {
							border-width: 2px;
						}

						&:after {
							border-width: 2px;
						}

					}
				}
			}

			&__option__additionalDetails {
				&__timeEnRoute {
					&__label {
						display: inline-block;
						width: 90px;

						@media (max-width: 300px) {
							width: auto;
						}
					}

					&__value {
						color: #8e8e8e;
					}
				}

				&__operatingCompany {
					&__label {
						width: 90px;
						display: inline-block;
					}

					&__company {
						color: #ff9731;

						@media (max-width: 420px) {
							display: block;
						}
					}
				}

				&__transfers {
					&__count {
						display: inline-block;
						width: 90px;
						vertical-align: top;

						@media (max-width: 300px) {
							width: auto;
						}
					}

					&__points {
						display: inline-block;
						color: #8e8e8e;
					}
				}
			}
		}

		@media (max-width: 740px) {
			.nemo-flights-results__flightsGroup__leg__info__route__departure,
			.nemo-flights-results__flightsGroup__leg__info__route__arrival {
				display: block;
			}
		}

		.nemo-flights-results__flightsGroup__leg__info__route__arrival,
		.nemo-flights-results__flightsGroup__leg__info__route__departure {
			white-space: normal;
		}
	}
}
