adapt_flights_results_condensedGroup() {
	.nemo-flights-results__flightsGroup {
		&__header__logo {
			max-width: 100px;
		}

		&__rating_inHeader {
			display: none;
		}

		&__subHeader {
			display: flex;
		}

		&__leg {
			&__info {
				display: none;
			}

			&__selector {
				&__selected {
					padding-left: 10px;

					&:before {
						display: none;
					}
				}
				
				&__header {
					font-size: 12px;
					line-height: 30px;

					&__title__text {
						&_short {
							display: none;
						}

						&_dates {
							display: block;
						}
					}
				}
			}
		}

		&__footer {
			padding-top: 10px;
			padding-bottom: 10px;

			&__buyButtonContainer__disclaimer {
				display: none;
			}

			&__disclaimer {
				display: block;
			}
		}

		&__couplingButton__addText {
			display: none;
		}
	}
}

adapt_flights_results_2legsAsRow() {
	.nemo-flights-results__flightsGroup {
		&__legs_count_2 {
			display: flex;
			flex-flow: row nowrap;
			align-content: stretch;
			min-width: 1px;
		}

		&__legs_count_2 .nemo-flights-results__flightsGroup__leg {
			border-right: $i_ui_subContainer_divider_border;
			border-right-style: dashed;
			flex: 0 0 50%;
			min-width: 1px;

			&:last-child {
				border-right: none;
			}
		}
	}
}

// Less than 1220 px - no offers sidebar
@media (max-width: 1220px) {
	.nemo-flights-results__content {
		&__results {
			flex-basis: 82%;
		}

		&__offers {
			display: none;
		}
	}

}

// PF hidden
@media (max-width: 940px) {

	.nemo-flights-results {
		&__flightsGroup__footer {
			&__couplingButtonContainer {
				display: none;
			}

			&__buyButtonContainer {
				/*display: block;*/
				/*width: auto;*/
				width: 100%;
				text-align: right;
			}
		}

		&__content__postfilters {
			padding: $d_ui_subContainer_padding;
			border-radius: $d_ui_subContainer_borderradius;
			box-shadow: $i_ui_subContainer_outershadow;
			background-color: $c_ui_subContainer_bg;

			position: absolute;
			top: 0;
			width: 380px;
			opacity: 1;

			display: none;

			.nemo-common-sticker__inner {
				left: 20px;
				right: 5px;
				width: auto;
			}
		}

		&__formDummy {
			padding-top: 10px;
			&__filterSwitch, &__filters {
				display: block;
			}
		}

		.nemo-common-postFilters {
			&__notification {
				display: none;
			}

			&__filterList__filter {
				&__caption__name {
					color: $c_common_textColor;
				}

				&__valuesBlock__values__value {
					border: 1px solid #E5E5E5;
					border-bottom: none;

					&:last-child {
						border: 1px solid #E5E5E5;
					}
				}
			}
		}

		&__content{
			&__results {
				flex-basis: 100%;
			}

			&__postfilters_forced {
				display: block;
			}
		}
	}
}

// Wide showcase - tiled items, if only one - full view with segments as row
@media (min-width: 1441px) {
	.nemo-flights-results {
		&__showcase {
			flex-wrap: nowrap;

			// If more than 1 item - display groups condensed
			&:not(&_oneItem) {
				adapt_flights_results_condensedGroup();
			}

			// If one item - display full and with 2 legs as row
			&_oneItem {
				adapt_flights_results_2legsAsRow();
			}

			&__item {
				flex: 0 1 auto;
			}
		}
	}
}

// 751px - 1440px - semi-wide showcase, recommended and only item - as full with 2 legs as row, otherwise - condensed
@media (min-width 751px) and (max-width: 1440px) {
	.nemo-flights-results__showcase {
		&__item_recommended,
		&_oneItem {
			adapt_flights_results_2legsAsRow();
		}

		&__item_fastest,
		&__item_cheapest,
		&_severalJoined {
			adapt_flights_results_condensedGroup();
		}
	}
}

// 750+ px - tiled results (2 per row)
@media (min-width: 750px) {
	adapt_flights_results_condensedGroup();

	.nemo-flights-results__groupList {
		display: flex;
		flex-flow: row wrap;
		margin: 0 -10px;

		&__item {
			margin: 0;
			padding: 10px;
			min-width: 1px;

			flex: 0 0 50%;
		}
	}
}

@media (min-width: 1440px) {
	.nemo-flights-results__groupList__item {
		flex-basis: 33.3%;
	}
}

@media (min-width 751px) {
	.nemo-flights-results__flightsGroup_bestCompanies {
		adapt_flights_results_condensedGroup();
	}
}

// Width < 750px - showcase in column
@media (max-width: 750px) {
	.nemo-flights-results {
		&__showcase {
			display: block;

			&__item {
				margin-right: 0;
				width: auto;
			}
		}

		&__formDummy {
			position: relative;
			padding: 0;
			padding-bottom: 50px;

			&__filterSwitch {
				position: absolute;
				bottom: 0;
				margin: 10px 10px 0;
			}

			&__switch {
				display: none;
			}

			&__inner {
				border-radius: 0;
				box-shadow: none;
				background: $nemo-color-main;
				color: #fff;
				display: block;
				width: 100%;
				padding: 10px;
			}

			&__passengers {
				padding: 0;
			}

			&__route {
				padding: 0;
				white-space: normal;

				&__segment {
					display: block;

					&__date {
						color: inherit;
					}

					&__geo {
						&_departure:after {
							background: transparent;
							content: '—';
							height: auto;
							vertical-align: baseline;
						}

						&__aux {
							display: none;
						}
					}
				}
			}
		}
	}
}

// 601px - 750px - everything as normal with 2 legs as row
@media (min-width: 601px) and (max-width: 750px)  {
	adapt_flights_results_2legsAsRow();
}

@media (max-width: 500px)  {
	.nemo-flights-results__content__results__controls {
		display: block;
	}
}

// Width < 500px - everything - condensed
@media (max-width: 500px)  {
	adapt_flights_results_condensedGroup();

	.nemo-flights-results__compareTable {
		display: none;
	}
}

// < 400px - supercondensed view of wrappers
@media (max-width: 450px)  {
	.nemo-flights-results {
		&__adaptivePF {
			overflow: hidden;
		}

		&__formDummy {
			&__filters {
				width: auto;
				max-width: 100vw;
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;

				z-index: 1000;
				opacity: 1;
				padding: 10px;
				white-space: normal;

				background: rgba(#000, 0.75);
				overflow: auto;

				display: block;
				margin: 0;

				&__header, &__controls {
					display: block;
				}

				&__filters {
					opacity: 1;
					padding: 10px;
					height: 75vh;
					overflow: auto;
					margin: 0;
				}

				.nemo-common-postFilters__clearAll {
					display: none;
				}
			}
		}

		.nemo-common-postFilters__filterList__filter__valuesBlock {
			&_slider .nemo-common-postFilters__filterList__filter__valuesBlock__values__value {
				border: none;
				padding: 0;
			}
		}

		&__content {
			display: block;

			&__results {
				margin: 0;
				padding: 0;
				border-radius: 0;
				background: none;
				box-shadow: none;

				&__controls {
					padding: 0 10px 10px;

					&__item {
						&_count, &__sortTitle {
							color: $nemo-color-LightPoint;
						}
					}
				}
			}
		}

		&__showcase {
			margin: 0px;
			padding: 0px;
		}

		&__flightsGroup__header {
			&__title {
				display: none;
			}

			&__additional {
				width: 100%;
				text-align: center;
			}

			&__logo {
				margin-left: 0;
			}
		}

		&__groupList {
			padding: 0 10px;
		}
	}
}