.nemo-flights-results__couplingTable {
	padding: 0 0 10px;

	&__carrierLogo {
		@extend .nemo-flights-results__flightsGroup__header__logo;
		margin: 0;
		position: absolute;
		right: 50px;
		top: -25px;

		//height: auto;
		//max-height: 50px;
		//max-width: 150px;
		//padding: 0;

		transform: translate(0, -50%);
	}

	&__header {
		white-space: nowrap;
		padding: 10px 20px;
		border-bottom: $i_ui_subContainer_divider_border;

		&__title {
			display: inline-block;
			vertical-align: middle;
			font-size: 13px;
			color: $nemo-color-text-secondary;
			margin-right: 15px;
		}

		&__sort {
			display: inline-block;
			vertical-align: middle;
		}
	}

	&__groups {
		width: 840px;
		margin: 0 20px;

		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		position: relative;

		&__connector {
			position: absolute;
			width: 2px;
			background: #B0B0B0;
			z-index: 1;
			//left: 395px;
			margin-top: 22px;
			margin-left: -1px;

			&_selected {
				background: $nemo-color-main;
				z-index: 2;
			}
		}

		&__group {
			min-width: 1px;
			flex: 1 1 100%;

			&_firstLeg {
				padding-right: 15px;

				@media (max-width: 400px) {
					padding-right: 0;
				}
			}

			&_lastLeg {
				padding-left: 15px;
			}

			&__header {
				font-size: 13px;
				line-height: 20px;
				padding: 5px 0;

				&__departure, &__arrival, &__date {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				&__date {
					color: $nemo-color-text-secondary;
					font-size: 11px;
				}
			}

			&__item {
				margin-bottom: 5px;
				position: relative;

				&:last-child {
					margin: 0;
				}

				&:before, &:after {
					content: '';
					height: 2px;
					width: 15px;
					position: absolute;
					top: 50%;
					margin-top: -1px;
					background: #B0B0B0;
				}

				&:before {
					right: 100%;
				}

				&:after {
					left: 100%;
				}

				&_selected {
					&:before, &:after {
						background: $nemo-color-main;
					}
				}

				&_inactive {
					&:before, &:after {
						display: none;
					}
				}

				&__button {
					display: block;
					white-space: normal;
					height: auto;
					line-height: 17px;
					padding: 5px 10px 6px;
					text-align: left;

					@media (max-width: 920px) {
						overflow: hidden;
						text-overflow: ellipsis;
					}

					&:active {
						padding-top: 6px;
					}

					&_selected {
						background: $nemo-color-main none repeat scroll 0 0;
						box-shadow: inset 0 0 5px rgba(#000, 0.25);
						color: #fff;

						&:hover {
							background: $c_ui_stateBtn_checked_hover;
						}

						&:active {
							background: $c_ui_stateBtn_checked_active;
						}
					}

					&_inactive {
						opacity: 0.5;
						background: none;
						padding: 4px 9px 5px;
						border: 1px solid $nemo-color-input-border;

						&:active, &:hover {
							background: none;
							opacity: 1;
						}

						&:active {
							padding-top: 5px;
						}
					}
				}

				&__depTime {
					font-size: 15px;
					font-weight: 600;
					display: inline-block;
					margin-right: 5px;

					@media (max-width: 390px) {
						font-size: 12px;
					}
				}

				&__arrTime {
					font-size: 11px;
					opacity: 0.75;
					display: inline-block;
					margin-right: 10px;

					&_nextDay {
						color: #B23E13;
					}
				}

				&__timeEnRoute, &__transfers {
					font-size: 11px;
					opacity: 0.5;
				}

				&__details {
					font-size: 11px;
					position: absolute;
					right: 10px;
					bottom: 6px;
					line-height: 16px;

					@media (max-width: 620px) {
						top: 6px;
						bottom: auto;
					}
				}

				&__fareVariations {
					position: absolute;
					right: 60px;
					bottom: 4px;
					width: 200px;
					
					.nemo-ui-pseudoLink:first-of-type {
						font-size: 11px;
						line-height: 16px;
						position: absolute;
						bottom: 0;
						right: 0;
					}
				}

				&__route {
					font-size: 11px;
					padding-top: 5px;
					padding-right: 45px;
					line-height: 20px;

					@media (max-width: 620px) {
						padding-right: 0;
					}
					
					&__delimiter {
						font-size: 14px;
					}

					&__departure, &__transferDeparture {
						position: relative;
					}

					&__flightNumber {
						font-size: 9px;
						position: absolute;
						top: -13px;
						left: 0;
						white-space: nowrap;
					}
				}

				&__button_selected &__arrTime_nextDay {
					color: #fff;
				}

				&__button_selected &__details {
					&, &:hover, &:active {
						color: #fff;
						border-bottom-color: #fff;
					}
				}

				&__button_selected &__fareVariations {
					.nemo-ui-pseudoLink:first-of-type {
						&, &:hover, &:active {
							color: #fff;
							border-bottom-color: @color;
						}
					}
				}
			}

			&_firstLeg &__item:before {
				display: none
			}

			&_lastLeg &__item:after {
				display: none;
			}
		}

		&__infoGroup {
			flex: 1 0 auto;

			padding: 50px 10px 0 0;

			&__item {
				height: 45px;
				margin-bottom: 5px;
				overflow: hidden;
				font-size: 12px;
				line-height: 20px;
				padding-top: 5px;
				white-space: nowrap;
				color: $nemo-color-text-secondary;
				text-align: right;

				&__selector {
					font-size: 11px;
				}
			}
		}

		&__buyGroup {
			text-align: right;
			flex: 1 0 auto;
			padding-left: 10px;
			position: relative;
			z-index: 1;

			padding-top: 50px;

			&__item {
				height: 56px;
				padding-top: 5px;
				margin-bottom: 5px;
				position: relative;
				white-space: nowrap;

				&:last-child {
					margin: 0;
				}

				&:before {
					content: '';
					height: 2px;
					width: 10px;
					position: absolute;
					top: 50%;
					margin-top: -1px;
					background: #B0B0B0;
					right: 100%;
				}

				&_selected {
					&:before {
						background: $nemo-color-main;
					}
				}

				&_inactive {
					font-size: 12px;
					color: $nemo-color-text-secondary;
					line-height: 20px;
					padding-top: 5px;
					text-align left;

					&:before {
						display: none;
					}
				}

				&__selector {
					font-size: 11px;
				}
			}
		}

		&_1 &__buyGroup__item::before {
			display: none;
		}
	}

	&__noCombinableFlight {
		font-weight: bold;
		color: #ff9731;
	}

	&__buyButton {
		min-width: 100px;
		line-height: normal;
		height: 45px;
		white-space: normal;
		padding: 8px 2px 2px;
		display: block;

		&_warning {
			@extend .nemo-flights-results__flightsGroup__buyButton_warning;
		}

		&__text {
			font-size: 12px;
			line-height: 10px;
			color: rgba($nemo-color-LightPoint, 0.5);
			white-space: nowrap;
		}

		&__price {
			font-size: 16px;
			line-height: 25px;
			display: block;
			font-weight: 600;
		}

		&__checkText {
			font-weight: normal;
			display: none;
			position: absolute;
			z-index: 1;
			line-height: 15px;
			top: 50%;
			transform: translate(0, -50%);
			color: $nemo-color-text-main;
			font-size: 13px;
			left: 2px;
			right: 30px;
		}

		&_bookingCheck &__text,
		&_bookingCheck &__price {
			display: none;
		}

		&_bookingCheck &__checkText {
			display: block;
		}

		&_bookingCheck {
			@extend .nemo-flights-results__flightsGroup__buyButton_bookingCheck;
			padding-left: 2px;
			padding-right: 2px;

			&:before {
				width: 20px;
				height: 20px;
			}
		}
	}

	&__showAll {
		padding-top: 5px;

		&__button {
			font-size: 13px;
			line-height: 35px;
			height: 35px;
		}
	}
}