adapt_hotels_form_noOptsCaptions() {
  .nemo-hotels-form {
    &__stayingOptions {
      &__inner {
        display: block;
        width: 100%;
      }

      &__item, &_CR &__item {
        width: auto;
      }

      &__item {
        &__caption {
          display: none;
        }

        &__selector {
          margin: 0;
        }
      }
    }


  }
  .nemo-ui-select__dropdown.nemo-hotels-form__passengers__fastSelect {
    left: 0;
    right: auto;
  }
}

adapt_hotels_form_twoThirds() {
  .nemo-hotels-form {
    margin-top: 10vh;

    &__formContainer__inner {
      width: 100%;
    }

    &__stayingTypeSelector_buttons {
      display: block;
      text-align: center;
    }

    &__formContainer__inner, &__additional {
      padding-right: 20px;
      padding-left: 20px;
    }

    &__stayingOptions__item_stayingType {
      display: none;
    }

    &__staying, &__passengers, &__buttonContainer {
      display: block;
      width: auto;
      position: relative;
    }

    &__staying {
      &__segment {
        width: 100%;
        font-size: 0;
        &_CR {
          .nemo-hotels-form__staying__segment__item {
            padding: 0 20px 0 0;
            width: 40%;

            &_date {
              width: 20%;
              padding: 0;
            }

            &__date__dummy_short {
              display: block;
            }

            &__date__dummy_full {
              display: none;
            }
          }
        }

        &__item {
          padding-right: 10px;

          &__date__dummy_short {
            display: none;
          }

          &__date__dummy_full {
            display: block;
          }

          &_from, &_to, &_date {
            width: 50%;
            padding-bottom: 20px;
          }

          &_to {
            padding-right: 0px;
            display: block;
            width: 100%;
            font-size: 13px;
          }

          &_date {
            padding: 0px;
            width: 50%;
            display: inline-block;
            font-size: 13px;
            &:last-child {
              width: 49%;
              margin: 0 0 0 1%;
            }
          }
        }

        &_returnSegment {
          /*position: relative;*/
          padding: 0;
          position: absolute;
          left: auto;
          top: auto;
          right: 0;
          bottom: 20px;
          width: 50%;
        }

        &_returnSegment {
          .nemo-hotels-form__staying__segment__item_date {
            width: 100%;
            padding-right: 0;
            padding-left: 10px;
          }
        }
      }

      &__continueCR {
        margin: 0 0 20px;
      }
    }

    &__passengers {
      float: left;
      padding: 0 20px 0 0;
      z-index: 10;

      &__container {
        width: 160px;
        max-width: 160px;
      }
    }

    &__stayingOptions {
      display: none;
      position: relative;
      margin-top: 20px;

      &__inner {
        padding: 0 0 20px;

        &:before {
          display: none;
        }
      }

      &__item {
        &_class {
          position: absolute;
          left: 180px;
          top: -55px;
          z-index: 2;
        }
      }
    }
  }

  adapt_hotels_form_noOptsCaptions();
}

adapt_hotels_form_compact() {
  .nemo-hotels-form {
    margin-top: 0;

    input {
      line-height: 22px;
    }

    &__formContainer__inner {
      padding-right: 20px;
      padding-left: 20px;
      display: block;
    }

    &__stayingTypeSelector {
      &__selectWrap, &__select {
        width: 100%;
        text-align: left;
        min-width: 1px!important; // Needed for automatic width of 100%
      }

      &_buttons {
        display: none;
      }

      &_select {
        display: block;
      }
    }

    &__staying, &__passengers, &__buttonContainer {
      display: block;
      position: relative;
    }

    &__staying {
      &__switchToRT {
        line-height: 30px;
      }

      &__segment {
        padding: 0;
        display: block;
        width: 100%;

        &_returnSegment {
          display: block;
          padding: 0;
          position: relative;
          width: 100%;
          top: auto;
          bottom: auto;
          padding-bottom: 10px;
        }

        &__item {
          padding: 0 0 20px;
          display: block;
          width: 100%;

          &__dummy {
            line-height: 30px;
          }
          &_date:last-child {
            width: 100%;
            margin: 0;
          }
          &__date {
            &__indicator {
              display: block;
              right: 5px;
            }
          }
        }

        &_returnSegment &__item {
          padding: 0;
        }

        &__input {
          height: 30px;

          &::-webkit-input-placeholder {
            line-height: 23px;
          }
        }
      }

      &_CR, &_OW, &_RT {
        .nemo-ui-dummiedInput__dummy__aux {
          display: inline;
        }

        .nemo-hotels-form__staying__segment__item__date__dummy {
          &_full {
            display: block;
          }

          &_short {
            display: none;
          }
        }
      }

      &__removeCRSegment {
        margin-top: -18px;
        width: 20px;
        background-position: 3px -83.5px;
      }

      &__switchToOW {
        right: -15px;
        top: 50%;
        margin-top: -10px;
      }

      &__continueCR {
        line-height: 30px;
        margin: -10px 0 20px;
      }

      &_OW, &_RT {
        .nemo-hotels-form__staying__segment__item_to {
          padding-bottom: 20px;
        }
      }

      &_CR .nemo-hotels-form__staying__segment {
        padding-bottom: 10px;

        &__item {
          padding: 0 0 10px;
          width: auto;
        }
      }
    }

    &__passengers {
      display: block;
      width: 100%;
      padding: 0;
      margin-bottom: 20px;
      float: none;
      white-space: normal;

      &__container {
        display: none;
      }

      &__containerColumn {
        display: block;
      }

      &__fastSelect {
        min-width: 100%;
      }
    }

    &__buttonContainer {
      padding: 0;
      width: 100%;
      display: block;
    }

    &__searchButton {
      width: 100%;
    }

    &__stayingOptions {
      display: none;
      position: relative;
      margin-top: 20px;
      text-align: left;
      z-index: 1;

      &__inner {
        padding: 0 0 20px;

        &:before {
          display: none;
        }
      }

      &__item {
        vertical-align: top;

        &_stayingType {
          display: none
        }

        &_class {
          position: absolute;
          left: 0;
          right: 0;
          padding: 0;
          top: -100px;
          z-index: 2;

          .nemo-hotels-form__stayingOptions__item__selector,
          .nemo-hotels-form__stayingOptions__item__selector__button {
            width: 100%;
            text-align: left;
            display: block;
            min-width: 1px!important; // Needed for automatic width of 100%
          }
        }

        &_multiDate {
          margin-bottom: 5px;
        }
      }
    }
    &__staying {
      &__segment {
        &_RT {
          margin: 0;
        }
      }
    }

    &__previousSearches{
      &_item {
        width: auto;
      }
      &_title {
        width: auto;
      }
    }
  }

  adapt_hotels_form_noOptsCaptions();
}

@media (max-width: 1300px) {
  .nemo-hotels-form {
    &__formContainer__inner, &__additional {
      max-width: 950px;
    }

    &__formContainer__inner {
      padding: 20px 30px;
    }

    &__staying__segment__item__date__dummy_full {
      display: none;
    }

    &__staying__segment__item__date__dummy_short {
      display: block;
    }

    &__staying {
      display: block;
      width: auto;
      position: relative;
    }
    &__buttonContainer {
      width: auto;
      position: relative;
      display: block;
    }
    &__passengers {
      float: left;
      padding: 0px 20px 0px 0px;
      z-index: 10;
    }
    &__stayingOptions {
      display: none;
    }
  }

  adapt_hotels_form_noOptsCaptions();
}

@media (max-width: 1020px) {
  adapt_hotels_form_noOptsCaptions();
}

.nemo-hotels-form_twoThirds {
  adapt_hotels_form_twoThirds();

  max-width: 640px;

  .nemo-hotels-form__formContainer {
    border-radius: 4px;
  }
}

@media (max-width: 970px) {
adapt_hotels_form_twoThirds();
}

@media (max-width: 700px) {
  .nemo-hotels-form {
    &__stayingTypeSelector {
      &__button {
        padding-right: 10px;
        padding-left: 10px;
        min-width: 145px;
      }
    }
    &__previousSearches {

      &_item {
        width: 320px;
        &_close {
          top: 10px;
          right: 10px;
          margin: 0;
        }
      }
      &_title {
        padding: 0 50px 0 0;
        display: block;
        margin: 0 0 10px 0;
      }

      &_info {
        width: 140px;
      }
    }
  }
}

@media (max-width: 625px) {
  .nemo-hotels-form {
    &__staying {
      &_CR &__segment {
        &__item {
          &__date {
            &__dummy {
              padding-right: 10px;
            }

            &__indicator {
              display: none;
            }
          }
        }

        &__input_date {
          padding-right: 10px;
        }
      }
    }

    &__searchingInfo {
      &__segments_RTLike &__segment {
        display: block;
        width: auto;
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 500px) {
  .nemo-hotels-form {
    &__stayingTypeSelector {
      &_buttons {
        display: none;
      }

      &_select {
        display: block
      }
    }

    &__staying__segment__item__date__dummy .nemo-ui-dummiedInput__dummy__aux {
      display: none;
    }

    &__additional__item {
      display: block;
      width: auto;
    }
  }
}

@media (max-width: 450px) {
adapt_hotels_form_compact();
}

.nemo-hotels-form_compact {
  adapt_hotels_form_compact();

  max-width: 480px;

  .nemo-hotels-form__formContainer {
    border-radius: 4px;
  }
}