@media (max-width: 1665px) {
	.nemo-flights-results__flightsListGroup {
		&__segment {
			display: block;
			padding-right: 0;
			padding-left: 140px;
			position: relative;

			&__carrier {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
			}

			&__selector {
				display: block;
				border-right: 0;
				border-bottom: $i_ui_subContainer_divider_border;
			}

			&__selected {
				&:after {
					right: 20px;
				}

				&__moreFlights {
					display: block;
				}

				&_unopenable &__moreFlights {
					display: none;
				}
			}

			&:only-child &__selected {
				padding: 7px 20px;
				height: 65px;
			}

			&__additionalDetails {
				padding: 10px 20px;
				align-items: flex-start;

				&__info {
					display: flex;
					flex-flow: row nowrap;
					flex: 0 1 auto;
				}
			}

			&__aux {
				align-self: center;
			}

			&__timeEnRoute, &__transfers {
				margin-bottom: 0;
				flex: 0 0 auto;
				min-width: 1px;
			}

			&__transfers {
				flex-shrink: 1;
				max-width: 130px;
				width: 130px;
				
				&__details {
					max-width: 130px;
				}
			}

			&__timeEnRoute {
				width: 185px;
				max-width: 185px;
			}
		}
	}

	.nemo-flights-results__flightsListGroup__full {
		&__segment {
			display: flex;
			padding-right: 0;
			padding-left: 0;

			&__carrier {
				position: static;

			}

			&__selector {
				display: block;
				border: none;
			}
		}
	}
}

@media (max-width: 1500px) {
	.nemo-flights-results__flightsListGroup {
		display: block;

		&__buyButtonCnt {
			padding: 15px 20px;
			border-left: 0;
			border-top: $i_ui_subContainer_divider_border;
			display: block;
			max-width: none;

			&__inner {
				text-align: right;
				direction: rtl;
			}
			
			.nemo-flights-results__flightsGroup__footer__disclaimer {
				text-align: right;
			}
		}

		&__buyButton {
			display: inline-block;
			min-width: 1px;
			direction: ltr;
		}

		&__fullDetails {
			border-radius: $nemo-border-radius;
			margin-right: 20px;
		}
		
		&__gds-comission-block {
			text-align: right;
		}
		
		//&__segment {
		//	&__additionalDetails {
		//		&__fareInfo {
		//			padding-right: 15px;
		//		}
		//	}
		//}
	}
	.nemo-flights-results__flightsListGroup__full {
		display: flex;
		flex-wrap: wrap;
		//flex-direction: column;
		align-items: center;
		padding: 0;
		position: relative;

		&__pricedebug{
			margin: 0;
			flex-basis: 100%;
			&__item{

			}
		}
		
		.nemo-flights-results__flightsListGroup__buyButtonCnt {
			flex-basis: 100%;
			max-width: 100%;
		}
	}
}

@media (max-width: 670px) {
	.nemo-flights-results__flightsListGroup {
		&__segment {
			padding-left: 0;

			&__carrier {
				display: none;

				&__logo {
					max-height: 30px;
				}
			}
				
			&:first-child &__carrier {
				display: flex;
				width: 100%;
				border-right: 0;
				border-bottom: $i_ui_subContainer_divider_border;
				height: 51px;
				position: static;
				top: auto;
				left: auto;
				right: auto;
				bottom: auto;
			}
		}
	}

	.nemo-flights-results__flightsListGroup__full {
		&__segment {
			padding-left: 0;

			&__carrier {
				display: flex;

				&__logo {
					max-height: 30px;
				}
			}
		}
	}
}


@media (max-width: 525px) {
	.nemo-flights-results__flightsListGroup {
		&__full {
			&__segments {
				flex-direction: column;
				display: block;
			}
			&__segment {
				&:not(:first-child) {
					border-top: 1px solid rgba(230, 230, 230, .75);
				}
			}
		}

		&__segment {
			&__selected {
				padding-right: 25px;

				&:after {
					right: 10px;
				}

				&__moreFlights {
					display: none;
				}

				&__departure, &__arrival {
					width: 50%;
				}

				&__departure {
					padding-right: 20px;

					&:after {
						right: -9px;
					}
				}

				&__arrival {
					padding-left: 20px;
				}
			}

			&__timeEnRoute {
				width: auto;
				margin-right: 20px;
			}
			
			&__transfers {
				max-width: auto;
				width: auto;
			}

			&__additionalDetails__info {
				flex-direction: column;
				width: 110px;
				max-width: 110px;
			}
		}
	}
}

@media (max-width: 370px) {
	.nemo-flights-results__flightsListGroup__fullDetails {
		max-width: 123px;
		margin-right: 5px;
		white-space: nowrap;
		text-align: left;
		direction: ltr;
		overflow: hidden;
		text-overflow: ellipsis;
		position: relative;
		top: 12px;
	}
}