.nemo-flights-results__flightsGroup {
	padding: 0;

	&__header {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		padding: 0;
		margin: 0;
		background-color: #fff;
		position: relative;
		overflow: visible;

		&__showcase {
			position: absolute;
			top: 50%;
			margin: -40px 0 0 5px;
			direction: rtl;
			display: none;

			&__item {
				width: 70px;
				height: 70px;
				border: 5px solid $nemo-color-LightPoint;
				display: inline-block;
				vertical-align: top;
				background: #FFD83D;
				background-image: radial-gradient(circle at 100% 100%, #fff, #FFD83D);
				border-radius: 50%;
				margin-left: -15px;
				box-shadow: 2px 2px 2px rgba(#000, 0.25);
				position: relative;
				padding: 10px;
				cursor: pointer;

				&:before {
					content: '';
					display: block;
					width: 40px;
					height: 40px;
					background: #000;
					background: url("images/flights_results_sprite.svg") -102px 5px no-repeat;
				}

				&_fastest:before {
					background-position: -102px -88px;
				}

				&_cheapest:before {
					background-position: -102px -42px;
				}
			}
		}

		&__title {
			flex 1 1 auto;
			padding-left: $d_ui_subContainer_padding;
			min-width: 1px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			&_showcase {
				//visibility: hidden;
			}
		}

		&__carriersMismatch {
			margin-left: 15px;
			height: 20px;
			width: auto;
			max-width: 100px;

			&__notice {
				display: inline-block;
				overflow: visible;
				cursor: help;
				margin-right: -20px;
				width: 25px;

				&:after {
					content: '!';
					position: absolute;
					display: block;
					background: #ffd321;
					color: #fff;
					font-size: 17px;
					text-align: center;
					font-weight: bold;
					width: 20px;
					height: 20px;
					border-radius: 20px;
					line-height: 21px;
					transition: all .2s;
					right: 5px;
					bottom: 50%;
				}

				&:hover:after {
					background: #ffdc4d;
				}
			}

			&__tooltip {
				margin-top: -20px;
			}

			@media (max-width: 450px) {
				height: auto;
				max-width: 20% !important;
			}
		}

		&__additional {
			flex 0 0 auto;
			margin-right: auto;
			padding: 0 $d_ui_subContainer_padding;
			min-width: 1px;

			&_carriersMismatch {
				flex-basis: 100%;
				width: 100%;
				max-width: 100%;
				text-align: right;
			}
		}

		&__logo, &__info {
			display: inline-block;
			vertical-align: top;
			line-height: 30px;
			margin-left: 20px;
			padding: 10px 0;
			min-width: 1px;

			&:first-child {
				margin: 0;
			}
		}

		&__logo {
			height: auto;
			vertical-align: middle;
			max-height: 30px;
			max-width: 150px;
			padding: 0;
			margin-top: -4px;

			&__mismatch {
				max-height: 20px;
				margin-left: 20px;
			}
		}

		&__info {
			height: 30px;
			width: 30px;
			background: url("images/flights_results_sprite.svg") 5px -47px no-repeat;
			cursor: pointer;
			border-radius: 4px;
			transition: all .2s;
			margin: 10px -5px 0 10px;
			padding: 0;
			position: relative;

			&:hover {
				background-color: rgba( $nemo-color-LightPoint , 0.1);
			}

			&_multiple {
				background: transparent;
				margin-top: 5px;
				height: 40px;
				padding-top: 5px;

				&:before, &:after {
					content: '';
					width: 13px;
					height: 13px;
					display: block;
					margin: 0 auto;
					background: url("images/flights_results_sprite.svg") -60px -80px no-repeat;
				}

				&:after {
					margin-top: 4px;
				}
			}
		}

		&_luminocity &__title {
			color: $nemo-color-text-main;
		}

		&_luminocity &__info {
			background-position: -65px -47px;

			&:hover {
				background-color: rgba($nemo-color-DarkPoint, 0.1);
			}

			&_multiple {
				&:before, &:after {
					background-position: -80px -80px;
				}
			}
		}
	}

	&__rating {
		display: inline-block;
		vertical-align: top;
		line-height: 30px;
		margin-left: 20px;

		&:first-child {
			margin: 0;
		}

		&__item {
			display: inline-block;
			vertical-align: top;
			width: 17px;
			height: 19px;
			background: url("images/flights_results_sprite.svg") -1px -80px no-repeat;
			margin-left: 2px;

			&:first-child {
				margin: 0;
			}

			&__inner {
				display: block;
				height: 19px;
				background: url("images/flights_results_sprite.svg") -1px -110px no-repeat;
			}
		}

		&_inHeader {
			padding: 10px 0;
			line-height: 30px;
		}

		&_inHeader &__item {
			margin-top: 7px;
		}

		&_inSubHeader {
			line-height: 30px;
			padding: 2px 0;
		}

		&_inSubHeader &__item {
			margin-top: 7px;
		}
	}

	&__subHeader {
		//display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-content: center;
		display: none;

		border-bottom: $i_ui_subContainer_divider_border;

		&__title {
			flex 1 1 auto;
			padding-left: $d_ui_subContainer_padding;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			line-height: 34px;
			font-size: 13px;
			color: $nemo-color-text-secondary;
		}

		&__additional {
			flex 0 0 auto;
			margin-right: auto;
			padding: 0 $d_ui_subContainer_padding;
		}
	}

	&__leg {
		border-bottom: $i_ui_subContainer_divider_border;

		&__features {

			.nemo-flights-results__fareFamilies:first-of-type {
				border-top: 1px solid rgba(230, 230, 230, .75);
			}

			.nemo-flights-results__fareFamilies:last-of-type {
				&:not(.nemo-flights-results__fareFamilies_opened) {
					.nemo-flights-results__fareFamilies__header {
						border-bottom: none;
					}
				}

				.nemo-flights-results__fareFamilies__actions {
					border-bottom: none;
				}
			}
		}

		&__info {
			padding: 10px 20px 10px 20px;
			position: relative;
			border-bottom: $i_ui_subContainer_divider_border;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 20px;
				width: 20px;
				height: 20px;
				margin-top: -10px;
				//background: url("images/flights_results_sprite.svg") 0px -140px no-repeat;
			}

			&_direct:before {
				background-position: 0px -170px;
			}

			&__date {
				font-size: 12px;
				color: $c_common_textColor;
				opacity: 0.75;

				&__dayOfWeek {
					color: $nemo-color-text-secondary;
				}
			}

			&__route {
				font-size: 13px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;

				&__departure, &__arrival {
					display: inline;
				}

				&__departure {
					&:after {
						content: '';
						background: url("images/flights_results_sprite.svg") 0 -10px no-repeat;
						display: inline-block;
						height: 15px;
						margin: 0 5px;
						vertical-align: middle;
						width: 18px;
					}
				}
			}
		}

		&__selector {
			padding: 0 20px;

			&__header {
				display: flex;
				flex-flow: row nowrap;
				font-size: 13px;
				line-height: 30px;
				margin-bottom: 2px;
				margin-top: 3px;

				&__title {
					min-width: 1px;

					&__text {
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						padding-right: 10px;
						display: inline-block;

						&_dates {
							display: none;
						}

						&__dayOfWeek {
							color: $nemo-color-text-secondary;
						}

						&__charter {
							border-left: 1px solid $nemo-color-notification_error_text;
							padding-left: 5px;
							color: #ff9731 !important;
						}
					}

					&__date {
						display: none;

						&__dayOfWeek {
							color: $nemo-color-text-secondary;
						}
					}
				}

				&__seatsAvailable {
					flex-shrink: 0;
					min-width: 1px;
					white-space: nowrap;
					margin-left: auto;
					color: $nemo-color-text-secondary;
					font-size: 95%;

					&_warning {
						/*background-color: $nemo-color-notification_error;
						padding: 2px 4px;
						border-radius: 2px;*/
						color: $nemo-color-notification_error_text;
					}
				}
			}

			&__footer {
				display: flex;
				flex-flow: row nowrap;
				font-size: 12px;
				line-height: 30px;
				color: $nemo-color-text-secondary;
				margin-top: 2px;
				margin-bottom: 3px;

				&__detailsLink {
					min-width: 1px;
					margin-left: auto;

					.nemo-ui-pseudoLink {
						color: #666;
						border-color: #666;
					}
				}

				&__transfers {
					padding-right: 10px;
					min-width: 1px;

					&__operating {
						line-height: normal;
						margin-top: 6px;
						//font-weight: 700;
						color: #ff9731;
					}

					&__places {
						line-height: 18px;
						padding: 6px 0;
					}

					&__notransfers {
						color: #b5b5b7;
					}
				}
			}

			&__selectContainer {
				//position: relative;
				display: block;

				.nemo-ui-select__toggle_open {

					.nemo-flights-results__flightsGroup__leg__selector__selected__showMoreFligths {
						display: none;
					}
				}
			}

			&__selected {
				padding: 13px 40px 13px 20px;
				min-height: 60px;
				height: auto;
				line-height: normal;
				position: relative;
				font-size: 13px;
				border-radius: 4px;

				&__block {
					display: flex !important;
					justify-content: space-between;
					align-items: center;
				}

				&:before {
					//content: '';
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					width: 20px;
					height: 20px;
					border-radius: 10px;
					box-shadow: 0 1px 3px rgba(#000, 0.3);
					//background: url('images/flights_results_sprite.svg') -30px -30px no-repeat;
					left: 15px;
				}

				&_unopenable {
					cursor: auto;
					background: #f7f7f7;
					padding-right: 15px;

					&:after {
						display: none;
					}

					&:hover {
						background: #f7f7f7;
					}
				}

				&_inDropDown {
					&:after {
						background: rgba(0, 0, 0, 0) url("images/ui/ui-select-arrow.svg") no-repeat scroll center center;
						content: "";
						height: 9px;
						margin-top: -4px;
						position: absolute;
						right: 14px;
						top: 50%;
						width: 12px;
						transform: rotate(180deg);
					}
				}

				&__timeAndTimeEnRoute {
					display: block;
				}

				&__showMoreFligths {
					font-size: 13px;
					color: rgba(100, 100, 100, 0.5);
				}

				&__time {
					display: inline-block;
					vertical-align: baseline;

					&:not(&_dummy) {
						color: #636467;
					}

					&__arrival {
						font-size: 13px;

						&_nextDay {
							color: #B23E13;
						}
					}

					&__departure {
						font-size: 17px;
						font-weight: 600;
					}
				}

				&__timeEnRoute {
					color: $nemo-color-text-secondary;

					&__addText {
						color: $nemo-color-text-secondary;
					}
				}
			}

			&__dropdown {
				width: 100%;
				top: 0;
				margin: 0;

				&__option {
					padding: 5px 15px;

					&:hover &__transfers__transfer {
						background: #EAF6FF;
					}

					//&_selected {
					//	background: red;//lighten(#EAF6FF, 70%);
					//}

					&_uncombinable &__data {
						opacity: 0.5;
					}

					&__uncombinableWarn {
						font-size: 95%;
						color: $nemo-color-notification_error_text;
						white-space: normal;
					}

					&__departure, &__arrival {
						font-size: 95%;
						font-weight: 600;
						line-height: 20px;
						display: inline-block;
						vertical-align: top;
						margin-bottom: 0px;
					}

					&__arrival_nextday {
						color: $nemo-color-notification_error_text;
					}

					&__moreFlights {
						text-align: center;
						padding: 0;

						&__inner {
							text-align: center;
							padding: 10px;
						}
					}

					&__transfers {
						display: inline-block;
						vertical-align: top;
						min-width: 50px;
						height: 20px;
						text-align: center;
						position: relative;
						padding-right: 4px;
						transition: all 0.2s;

						&:before {
							content: '';
							position: absolute;
							top: 9px;
							border-bottom: 1px solid #969599;
							left: 0;
							right: 0;
						}

						&:after {
							content: '';
							position: absolute;
							top: 6px;
							border: 1px solid #969599;
							right: 0;
							width: 6px;
							height: 6px;
							transform: rotate(45deg);
							border-bottom: none;
							border-left: none;
						}

						&__transfer {
							display: inline-block;
							vertical-align: top;
							margin: 5px;
							width: 9px;
							height: 9px;
							border-radius: 9px;
							background: $nemo-color-LightPoint;
							border: 1px solid #969599;
							position: relative;
							z-index: 1;
						}
					}

					&__timeEnRoute {
						font-size: 80%;
					}

					&__availSeats {
						color: $nemo-color-text-secondary;
						font-size: 95%;
						float: right;
						//margin-top: -20px;

						&_warning {
							color: $nemo-color-notification_error_text;
						}
					}
				}
			}

			&__fareInfo {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 0 -20px;
				padding: 15px 20px;
				border-radius: 0;
				border: none;
				border-top: 1px solid rgba(230,230,230,.75);
				background: #f7f7f7;
				height: 50px;

				&__baggage {
					font-size: 11px;
					position: relative;
					text-transform: lowercase;
					color: #666;
					display: flex;
					align-items: center;

					&__icon {
						font-size: 14px !important;
						margin-right: 7px;
					}

					//&:before {
					//	content: '';
					//	position: absolute;
					//	top: 1px;
					//	left: 0;
					//	background: url(images/sprite_alt_tariffs.png) center 0;
					//	width: 14px;
					//	height: 13px;
					//}

					&__tooltip {
						.tooltipster-content {
							padding: 10px 15px;

							ul {
								padding-left: 0;

								li {
									list-style-type: none;

									&:not(:last-of-type) {
										margin-bottom: 5px;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	&__nightDeparture {
		color: #b23e13 !important;
		cursor: help;

		&__tooltip {
			z-index: 1010 !important;
		}
	}

	&__footer {
		font-size: 13px;
		color: $nemo-color-text-secondary;
		padding: 15px 20px 15px;

		&__controls {
			display: flex;
			justify-content: space-between;

			&__actions {
				width: 100%;
				min-width: 0;

				display: flex;
				flex-wrap: wrap;

				&__selectFare {
					overflow: hidden;
					margin-right: 10px;
					padding: 0 !important;

					&__dummy {
						width: 120px;
						background: #e6f4fe;
						height: 18px;
						padding: 5px;
						display: block;
						margin: 10px;
					}

					&_secret {
						padding: 9px 15px !important;
					}

					.nemo-flights-results__fareFamilies__action {
						display: flex;

						.nemo-ui-pseudoLink {
							overflow: hidden;
							text-overflow: ellipsis;
							padding: 9px 15px;
							white-space: nowrap;
						}
					}
				}
			}
		}

		//&__couplingButtonContainer, &__buyButtonContainer {
		//display: inline-block;
		//vertical-align: middle;
		//width: 50%;
		//}

		&__buyButtonContainer {
			text-align: right;

			&__exchange {
				margin-top: 10px;
			}

			&__disclaimer {
				//text-align: right;
				//padding-top: 10px;
				color: $nemo-color-text-secondary;
				align-self: baseline;
				display: inline-block;
				margin-right: 10px;
				font-size: 90%;
			}

			&__subagent {
				color: $nemo-color-text-secondary;
				align-self: baseline;
				display: inline-block;
				margin-right: 10px;
				font-size: 90%;
				text-align: right;
			}
		}

		//&__disclaimers {
		//	margin: 15px -20px 0;
		//	padding: 10px 20px 5px;
		//	border-top: 1px solid rgba(230, 230, 230, .75);
		//	display: flex;
		//	flex-direction: column;
		//	justify-content: center;
		//	align-items: center;
		//}
		//
		//&__disclaimers &__disclaimer {
		//	display: block;
		//}

		&__disclaimer {
			color: $nemo-color-text-secondary;
			text-align: right;
			padding-top: 4px;
			display: none;
		}

		&__priceDetails {
			text-align: right;
			padding-top: 4px;
		}
	}

	&__couplingButton {
		height: 40px;
		font-size: 13px;
		line-height: 20px;
		border-radius: 5px;
		padding: 9px 15px;

		border: 1px solid alpha($nemo-color-main, 0.15);
		transition: all $nemo-transition-main ease-in;
		background: none;
		color: #64b5f6;

		&:hover {
			background: none;
			border: 1px solid alpha($nemo-color-main, 0.5);
		}

		&:active {
			padding-top: 8px;
		}

		a.nemo-ui-pseudoLink {
			border-bottom: none !important;

			&:hover {
				color: #64b5f6;
			}
		}
	}

	&__flightInfo {
		padding: 0;
	}

	&_joined &__header__additional_carriersMismatch, &_recommended &__header__additional_carriersMismatch {
		flex-basis: auto;
	}

	&_carriersMismatch &__header__title_showcase {
		color: rgba(100, 100, 100, 0.75);
	}

	&__buyButton {
		vertical-align: middle;
		flex-grow: 0;
		font-size: 16px;
		padding: 0 20px 0 50px;
		text-align: right;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		position: relative;
		line-height: 41px;
		font-weight: 600;

		&:before {
			content: '';
			background: url('images/flights_results_sprite.svg') -39px 3px no-repeat;
			width: 25px;
			height: 25px;

			position: absolute;
			top: 50%;
			left: 10px;
			margin-top: -12.5px;
		}

		&_warning {
			overflow: visible;

			&:after {
				content: '!';
				position: absolute;
				background: $nemo-color-notification_error;
				color: $nemo-color-LightPoint;
				font-size: 22px;
				text-align: center;
				font-weight: bold;
				top: 50%;
				right: -25px;
				margin-top: -15px;
				width: 30px;
				height: 30px;
				border-radius: 30px;
				line-height: 30px;
				transition: all .2s;
			}

			&:hover:after {
				background: lighten($nemo-color-notification_error, 20%);
			}
		}

		&_bookingCheck {
			padding-left: 10px;
			padding-right: 50px;
			box-shadow: none;
			cursor: auto;
			position: relative;
			text-align: right;
			transition: none;

			&, &:hover, &:active, &:focus, &:hover:focus {
				//background: #7F7F7F;
				background: transparent;// url('images/loader.svg') right center no-repeat;
			}

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: auto;
				right: 0;
				bottom: auto;
				height: 40px;
				width: 40px;
				margin: 0;
				transform: translate(0, -50%);
				background: url('images/loader.svg') right center no-repeat;
				background-size: contain;
			}
		}

		&_bookingCheck &__checkText {
			display: block;
		}

		&_bookingCheck &__text {
			display: none;
		}

		&__checkText {
			font-weight: normal;
			display: none;
			position: relative;
			z-index: 1;
			color: $nemo-color-text-main;
			font-size: 13px;
		}
	}

	&__couplingTablePopup {
		padding: 0;
		overflow: visible;
	}

	&__managerInfoBlock {
		padding: 0 20px;
		display: flex;
		justify-content: flex-end;
		border-top: 1px solid rgba(230, 230, 230, .75);
		background-color: #f7f7f7;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;

		&__item {
			padding: 12px 0;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			min-width: 0;

			& a, span {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			&:not(:last-child) {
				border-right: 1px solid rgba(230, 230, 230, .75);
				padding-right: 10px;
				margin-right: 10px;
			}
		}
	}

	&__pricingDebugLink {
		padding: 0 10px 10px;
		text-align: right;
		display: block;
	}

	&_bestCompanies {
		margin-bottom: 20px;

		.nemo-flights-results__fareFamilies__header__title_togglable {
			font-size: 13px;
			white-space: nowrap;
			max-width: 50%;
			overflow: hidden;
			text-overflow: ellipsis;
			padding-right: 10px;
		}

		.nemo-flights-results__fareFamilies__actions {
			display: flex;
		}

		.nemo-flights-results__fareFamilies__action {
			text-align: center;
		}
	}

	&__couplingTablePopupHeader {
		&_light {
			color: #FFF;

			.ui-dialog-titlebar-close {
				background-image: url('images/ui/popup-close_light.svg');
			}
		}
	}

	&__couplingTableDialog {
		.ui-dialog-buttonpane {
			display: none;
		}

		@media (max-width: 900px) {
			width: 100% !important;

			.nemo-flights-results__couplingTable__groups {
				width: auto;

				&__connector {
					display: none;
				}

				&__group {
					&__item {
						&:after,
						&:before {
							display: none;
						}
					}
				}

				&__infoGroup {
					&__item {
						margin-bottom: 20px;
						padding-top: 10px;
					}
				}
			}
		}

		@media (max-width: 620px) {
			position: fixed;
			top: 0!important;
			left: 0!important;
			bottom: 0!important;
			right: 0!important;
			width: auto!important;
			max-width: none!important;
			padding: 0;

			.ui-dialog-content,
			.ui-dialog-titlebar {
				border-radius: 0;
			}

			.nemo-flights-results__couplingTable {
				position: relative;
				height: 100%;

				&__groups {
					margin-bottom: 150px;

					&__group__item {
						&__timeEnRoute,
						&__transfers {
							display: none;
						}
					}

					&__buyGroup {
						display: none;
					}
				}

				&__showAll {
					position: absolute;
					bottom: 120px;
					left: 50%;
					transform: translateX(-50%);

					&__button {
						white-space: nowrap;
					}
				}
			}

			.ui-dialog-buttonpane {
				display: block;
				position: fixed;
				width: 100%;
				bottom: 0;
			}

			.nemo-flights-results__flightsGroup__couplingTablePopup {
				height: 100% !important;
				max-height: 100% !important;
				position: relative;
			}
		}

		@media (max-width: 520px) {
			.nemo-flights-results__couplingTable {
				&__groups {
					&__infoGroup {
						display: none;
					}
				}

				&__header {
					&__title {
						display: none;
					}
				}
			}
		}

	}

	.nemo-flights-results__fareFamilies__features__notice {
		margin-bottom: -5px;
	}

	&__moneyWall {
		text-align: right;
		font-size: 12px;
		font-weight: 500;
		padding-top: 5px;
	}
}
