$i_flights_form_segment_input_bsh = inset 0 0 5px rgba(#000, 0.2);
$i_flights_form_segment_input_bsh_hover = inset 0 0 10px rgba(#0B90D6, 0.4);
$i_flights_form_segment_toRT_hover = inset 0 0 10px rgba(#fff, 0.4);

.nemo-flights-form {
	&, & input {
		font: 14px "Open Sans", sans-serif;
	}

	// Setting initial box-sizing and fonts
	&, & * {
		box-sizing: border-box;
	}

	// Invisibility class
	.i-invisible {
		left: -9999px;
		position: absolute;
		visibility: hidden;
	}

	&__loader {
		height: 200px;
		background: url('images/ui/ui-loader-planes.svg') center center no-repeat;
	}

	&__formContainer, &__searchOptions {
		width: 100%;

		&__inner {
			max-width: 1260px;
			margin: 0 auto;
			padding: 20px 30px;
		}
	}

	&__formContainer{
		background: $c_corporate_blue;
		color: #fff;
		position: relative;

		&__inner {
			display: table;
			padding-bottom: 0;
			max-width: 1260px;
		}
	}

	&__route, &__passengers, &__buttonContainer {
		display: table-cell;
		vertical-align: top;
	}

	&__buttonContainer {
		padding-left: 20px;
		white-space: nowrap;
		width: 1%;
		text-align: right;
	}

	&__searchButton {
		&_searching {
		}
	}

	&__route {
		padding: 0;

		&__segment {
			display: inline-block;
			width: 80%;
			padding-bottom: 20px;

			&_returnSegment {
				width: 20%;
				padding-left: 1px;
			}

			&_CR, &_returnSegment &__item_date {
				width: 100%;
			}

			&_CR &__item {
				width: 39.4%;

				&_date {
					width: 21.2%;
				}
			}

			&__input {
				margin: 0;
				border-radius: 2px;
				padding: 8px 10px;
				height: 40px;
				box-shadow: $i_flights_form_segment_input_bsh;
				cursor: pointer;
				font-size: 13px;
				color: $c_ui_textMain;

				&, &:focus {
					border: 0;
				}

				&:hover {
					box-shadow: $i_flights_form_segment_input_bsh_hover;
				}

				&_date {
					/*background-image: url('images/fsf-sprite.svg');*/
					background-position: right 11px;
					background-repeat: no-repeat;

					padding-right: 36px;
				}

				&::-webkit-input-placeholder {
					line-height: 20px;
				}
			}

			&__item {
				display: inline-block;
				vertical-align: top;
				padding-right: 20px;
				position: relative;

				&_from, &_to {
					width: 37.9%;
				}

				&_date {
					width: 24.2%;
					padding-right: 0;
				}

				&__date {
					&__dummy {
						padding-right: 36px;

						&_short {
							display: none;
						}
					}

					&__indicator {
						position: absolute;
						line-height: 20px;
						width: 24px;
						text-align: center;
						top: 50%;
						margin-top: -12px;
						right: 10px;
						color: #636467;
						z-index: 1;
						opacity: 0.75;
						border-radius: 2px;
						border: 2px solid $c_corporate_blue;
						font-size: 14px;
						background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjkyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2UzZTVlNyIgc3RvcC1vcGFjaXR5PSIwLjkyIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2UzZTVlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=');
						background: linear-gradient(to bottom, rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.92) 50%,rgba(227,229,231,0.92) 51%,rgba(227,229,231,1) 75%);

						&:after {
							content: '';
							position: absolute;
							top: 50%;
							left: 0;
							right: 0;
							height: 2px;
							margin-top: -1px;
							background: $c_corporate_blue;
						}
					}
				}

				&__dummy {
					text-indent: 9px;
					line-height: 32px;
				}

				&__inputContainer {
					margin: 0;
				}
			}
		}

		&__switchToRT {
			line-height: 40px;
			background: rgba(#fff, .25);
			border-radius: 2px;
			padding: 0 35px;
			text-align: center;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			cursor: pointer;
			transition: all 0.2s;

			&:hover {
				box-shadow: $i_flights_form_segment_toRT_hover;
			}
		}

		&__switchToOW {
			position: absolute;
			top: -10px;
			right: -10px;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: #fff url("images/fsf-sprite.svg") 6px -54px no-repeat;
			cursor: pointer;
			transition: all 0.2s;
			opacity: 0.5;

			&:hover {
				box-shadow: 0 0 5px rgba(#000, 0.2);
				opacity: 1;
			}
		}

		&__continueCR {
			line-height: 40px;
			background: rgba(#fff, .25);
			border-radius: 2px;
			cursor: pointer;
			transition: all 0.2s;
			text-align: center;
			margin: 0 0 20px 0;

			&:hover {
				box-shadow: $i_flights_form_segment_toRT_hover;
			}

			&_inactive {
				opacity: 0.5;
				cursor: default;

				&:hover {
					box-shadow: none;
				}
			}
		}

		&__removeCRSegment {
			position: absolute;
			width: 28px;
			height: 26px;
			background: #B23E13 url("images/fsf-sprite.svg") 7px -83.5px no-repeat;
			top: 50%;
			right: 100%;
			cursor: pointer;
			margin-top: -13px;

			&:hover {
				background-color: lighten(#B23E13, 10%);
			}

			&_inactive {
				display: none;
			}
		}
	}

	&__routeOptions {
		display: table-row;

		&__inner {
			display: table-cell;
			padding: 10px 0;
			/*position: relative;*/

			&:before {
				content: '';
				position: absolute;
				z-index: 0;
				background: rgba(#fff, .25);

				left: 0;
				right: 0;
				bottom 0;

				height: 50px;
			}
		}

		&_CR &__item {
			&_routeType, &_class {
				width: 39.4%;
			}
		}

		&__item {
			display: inline-block;
			vertical-align: middle;
			padding-right: 20px;
			text-align: right;
			position: relative;
			z-index: 1;

			&_routeType, &_class {
				width: 80% * .379;
			}

			&_direct, &_multiDate {
				text-align: left;
			}

			&__selector {
				display: inline-block;
				position: relative;
				margin-left: 10px;
				vertical-align: middle;
				box-shadow: none;

				&__button {
					line-height: 30px;
					height: 30px;
					box-shadow: none;
					padding-right: 33px;
					text-align: left;

					.select2-selection__arrow {
						width: 33px;
					}
				}

				&__dropdown {
					background: #fff;
					border-radius: 4px;
					box-shadow: 0px 1px 4px rgba(#000,.25);
					overflow: hidden;

					position: absolute;
					margin-top: 5px;
					z-index: 50;

					&__item {
						font-size: 13px;
						color: #636467;
						line-height: 20px;
						padding: 10px;
						cursor: pointer;
						border-bottom: 1px solid #D7D7D7;
						transition: all .2s;
						min-width: 100px;
						text-align: left;

						&:last-child {
							border: none;
						}

						&:hover {
							background: rgba($c_corporate_blue, 0.25);
						}
					}
				}
			}

			&__checkbox {
				padding: 5px 0 0 0;

				&__caption {
					font-size: 14px;
					color: #fff;
					transition: all 0.2s;
				}

				&:hover &__caption {
					color: darken(#fff, 5%);
				}
			}
		}
	}

	&__passengers {
		width: 11.6%;
		white-space: nowrap;
		position: relative;
		padding-left: 20px;

		&__containerColumn {
			display: none;
			@extend .nemo-flights-form__routeOptions__item__selector__button;
			text-align: left;
			/*margin: 0;*/
			/*line-height: 30px;*/
			/*height: 30px;*/
		}

		&__container {
			/*min-width: 120px;*/
			/*max-width: 140px;*/
			width: 14
			0px;
			height: 40px;
			line-height: 40px;
			font-size: 13px;
			color: $c_ui_textMain;
			background: #fff ;
			padding: 0 40px 0 10px;
			box-shadow: $i_flights_form_segment_input_bsh;
			border-radius: 2px;
			cursor: pointer;
			overflow: hidden;
			text-overflow: ellipsis;
			transition: all 0.2s;
			position: relative;

			&:hover {
				box-shadow: $i_flights_form_segment_input_bsh_hover;
			}

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				right: 14px;
				margin-top: -3px;
				border-width: 7px 5px 0;
				border-style: solid;
				border-color: #2888bc transparent transparent;
			}
		}

		&__fastSelect {
			@extend .nemo-flights-form__routeOptions__item__selector__dropdown;

			&__item {
				@extend .nemo-flights-form__routeOptions__item__selector__dropdown__item;
			}
		}
	}

	/*&__passengersPopUpWrapper {*/
		/*position: fixed;*/
		/*top: 0;*/
		/*left: 0;*/
		/*height: 100vh;*/
		/*width: 100vw;*/
		/*background: rgba(#50505A, 0.5);*/
		/*text-align: center;*/
		/*overflow: auto;*/
		/*z-index: 1000;*/
	/*}*/

	&__passengersPopUp {
		&__item {
			display: inline-block;
			vertical-align: top;
			margin-left: 20px;
			font-size: 13px;
			white-space: normal;

			&:first-child {
				margin: 0;
			}

			&__header {
				font-size: 14px;
			}

			&__subheader {
				color: $c_ui_textSecondary;
				min-height: 35px;
			}

			&__count {
				padding: 0 15px;
				line-height: 30px;
				min-width: 100px;
				margin-top: 5px;
				border-radius: 8px;
				background: rgba(#969599, 0.1);
				cursor: pointer;
				transition: all 0.2s;
				white-space: nowrap;

				&:first-child {
					margin: 0;
				}

				&:hover {
					color: inherit;
					background: rgba(#52A2CC, 0.25);
				}

				&_active {
					color: #fff;
					background: #52A2CC;

					&:hover {
						color: #fff;
						background: rgba(#52A2CC, 0.75);
					}
				}

				&_disabled {
					opacity: 0.2;
					cursor: default;

					&:hover {
						color: inherit;
						background: rgba(#969599, 0.1);
					}
				}
			}
		}
	}

	&__routeTypeSelector {
		padding: 20px;
		position: relative;
		display: none;

		&__button {
			line-height: 40px;
			height: 40px;
			min-width: 200px;
			text-align: center;
			font-size: 13px;
			display: inline-block;
			/*vertical-align: middle;*/
			/*background: #e5e5e5 linear-gradient(to top, #e5e5e5, #f2f2f2);*/
			color: #636467;
			cursor: pointer;
			transition: all 0.2s;
			position: relative;
			box-shadow: none;
			border-radius: 0;

			&:after {
				content: '';
				position: absolute;
				height: 25px;
				width: 1px;
				background: #BDBDBD;
				top: 8px;
				right: 0px;
			}

			&:last-child {
				border-top-right-radius: $d_ui_button_borderradius;
				border-bottom-right-radius: $d_ui_button_borderradius;

				&:after {
					display: none;
				}
			}

			&:first-child {
				border-top-left-radius: $d_ui_button_borderradius;
				border-bottom-left-radius: $d_ui_button_borderradius;
			}

			/*&:hover {*/
				/*background-image: linear-gradient(to top, #f2f2f2, #fafafa);*/
			/*}*/

			&_active {
				background: $c_corporate_blue;
				color: #fff;
				margin-left: -1px;
				box-shadow: inset 0 0 5px rgba(#000, 0.2);

				&:after {
					display: none;
				}

				&:hover {
					background: lighten($c_corporate_blue, 10%);
				}
			}
		}

		&__selectWrap {
			position: relative;
			display: inline-block;
			vertical-align: middle;
		}

		&__select {
			@extend .nemo-flights-form__routeOptions__item__selector__button;
			margin: 0;
			line-height: 30px;
			height: 30px;
		}
	}
}