.nemo-flights-results {
	background: $c_content_bg;
	padding: 10px 0 20px;
	color: $c_common_textColor;

	&__loader {
		max-width: 1540px;
		margin: 10px auto;
		height: 200px;
		background-image: url('images/ui/ui-loader-planes.svg');
		background-position: center center;
		background-repeat: no-repeat;
	}

	&__error {
		padding-top: 30px;
		padding-bottom: 30px;
		text-align: center;
		max-width: 1540px;
		color: #cc0000;
		font-size: 20px;
		margin: 0 auto;
	}

	&__form {
		margin: 0 0 10px;
	}

	&__formDummy {
		max-width: 980px;
		margin: 0 auto 10px;
		padding: 0 10px;
		white-space: nowrap;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: stretch;
		position: relative;

		&__filterSwitch {
			height: 40px;
			line-height: 40px;
			margin-right: 20px;
			flex: 0 0 auto;
			display: none;

			&_active {
				background: $nemo-color-main;
				color: $nemo-color-LightPoint;

				&:hover, &:active {
					background: lighten($nemo-color-main, 10%);
				}
			}
		}

		&__filters {
			@extend .new-ui-subContainer;
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 1000;
			opacity: 1;
			padding: 20px;
			margin: 10px;
			max-width: 320px;
			white-space: normal;
			display: none;
		}

		&__inner {
			color: $c_common_textColor;

			background: $nemo-color-LightPoint;
			border-radius: 4px;
			box-shadow: 0 0 7px rgba(0, 0, 0, 0.6) inset;

			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			align-items: stretch;
			flex:  0 1 auto;
			min-width: 1px;
		}

		&__route, &__passengers {
			font-size: 13px;
			line-height: 20px;
			padding: 10px;
			min-width: 1px;
		}

		&__route {
			flex-grow: 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			&__segment {
				margin-right: 10px;
				display: inline;

				&:last-child {
					margin: 0;
				}

				&__geo, &__date {
					display: inline;
					vertical-align: top;
				}

				&__geo {
					&_departure:after {
						content: '';
						display: inline-block;
						width: 18px;
						height: 15px;
						margin: 0 5px;
						vertical-align: middle;
						background: url('images/flights_results_sprite.svg') 0px -10px no-repeat;
					}

					&__aux {
						color: $nemo-color-text-secondary;
					}

					&_arrival {
						padding-right: 10px;
					}
				}

				&__date {
					color: $nemo-color-text-secondary;
					margin: 0;
				}
			}

			&_RT &__segment__geo_departure:after {
				background-position: 0 1px;
			}
		}

		&__passengers {
			flex-shrink: 0;
			white-space: nowrap;
		}

		&__switch {
			flex-shrink: 0;
			margin-left: auto;
			height: 40px;
			line-height: 40px;
			background: $nemo-color-main;
			font-size: 15px;

			&:hover, &:active {
				background: lighten($nemo-color-main, 10%);
			}
		}
	}


	&__content {
		max-width: 1700px;
		margin: 0 auto;

		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: flex-start;

		&__postfilters, &__offers, &__results {
			margin: 10px;
			flex-grow: 0;
		}

		&__postfilters, &__offers {
			flex-basis: 18%;
			min-width: 280px;
			transition: all 0.2s;
			flex-shrink: 0;
		}

		&__offers {
			opacity: 0.75;
			transition: all 0.2s;

			&:hover {
				opacity: 1;
			}

			&__text {
				color: $nemo-color-LightPoint;
				font-size: 13px;
				margin-bottom: 20px;

				&__header {
					font-size: 15px;
					margin: 20px 0;
				}
			}
		}

		&__results {
			padding: 20px;
            border-radius: 8px;
			flex-basis: 100%;

			&__controls {
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				align-items: flex-start;
				padding: 10px 0;

				&__item {
					line-height: 40px;

					&_count {
						flex-grow: 0;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						padding-right: 20px;
						font-size: 15px;
					}

					&_sorting {
						flex-shrink: 0;
						margin-left: auto;
						font-size: 13px;
					}

					&__sortTitle {
						display: inline-block;
						vertical-align: middle;
						margin-right: 20px;
					}
				}
			}
		}
	}

	&__showcase {
		display: block;
		margin: -20px -20px 0;
		//padding: 15px;
		border-bottom: $i_ui_subContainer_divider_border;

        &__main {
          display: block;
          width: 100%;
          padding: 20px;
        }

        &__additional {
          display: flex;
          padding: 0 20px 20px;

          &__item {
              margin-right: 20px;

            &:last-child {
	            margin: 0;
            }
          }
        }
	}

	&__groupList {
		&__item {
			margin-top: 20px;

			&:first-child {
				margin: 0;
			}
		}
	}

	&__flightsGroup {
		padding: 0;
        box-shadow: 0 1px 8px rgba(0, 0, 0, .45);

		&__header {
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			padding: 0;
			margin: 0;

			&__title {
				flex 1 1 auto;
				padding-left: $d_ui_subContainer_padding;
			}

			&__additional {
				flex 0 0 auto;
				margin-right: auto;
				padding: 0 $d_ui_subContainer_padding;
			}

			&__logo, &__info {
				display: inline-block;
				vertical-align: top;
				line-height: 30px;
				margin-left: 20px;
				padding: 10px 0;

				&:first-child {
					margin: 0;
				}
			}

			&__logo {
				height: auto;
				vertical-align: middle;
				max-height: 40px;
				max-width: 140px;
				padding: 0;
				margin-top: -2px;
			}

			&__info {
				height: 30px;
				width: 30px;
				margin-top: 10px;
				background: url("images/flights_results_sprite.svg") 5px -47px no-repeat;
				cursor: pointer;
				border-radius: 4px;
				transition: all .2s;

				&:hover {
					background-color: rgba($nemo-color-LightPoint, 0.1);
				}
			}
		}

		&__rating {
			display: inline-block;
			vertical-align: top;
			line-height: 30px;
			margin-left: 20px;

			&:first-child {
				margin: 0;
			}

			&__item {
				display: inline-block;
				vertical-align: top;
				width: 19px;
				height: 19px;
				background: url("images/flights_results_sprite.svg") 0 -80px no-repeat;

				&_active {
					background: url("images/flights_results_sprite.svg") 0 -110px no-repeat;
				}
			}

			&_inHeader {
				padding: 10px 0;
				line-height: 30px;
			}

			&_inHeader &__item {
				margin-top: 7px;
			}

			&_inSubHeader {
				line-height: 30px;
				padding: 2px 0;
			}

			&_inSubHeader &__item {
				margin-top: 7px;
			}
		}

		&__subHeader {
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			align-content: center;
			display: none;

			border-bottom: $i_ui_subContainer_divider_border;

			&__title {
				flex 1 1 auto;
				padding-left: $d_ui_subContainer_padding;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				line-height: 34px;
				font-size: 13px;
				color: $nemo-color-text-secondary;
			}

			&__additional {
				flex 0 0 auto;
				margin-right: auto;
				padding: 0 $d_ui_subContainer_padding;
			}
		}

		&__leg {
			border-bottom: $i_ui_subContainer_divider_border;

			&__info {
				padding: 20px 20px 15px 55px;
				position: relative;
				border-bottom: $i_ui_subContainer_divider_border;

				&:before {
					content: '';
					position: absolute;
					top: 50%;
					left: 20px;
					width: 20px;
					height: 20px;
					margin-top: -10px;
					background: url("images/flights_results_sprite.svg") 0px -140px no-repeat;
				}

				&__date {
					font-size: 12px;
					color: $c_common_textColor;
					opacity: 0.75;

					&__dayOfWeek {
						color: $nemo-color-text-secondary;
					}
				}

				&__route {
					font-size: 13px;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;

					&__departure, &__arrival {
						display: inline;
					}

					&__departure {
						&:after {
							content: '';
							background: url("images/flights_results_sprite.svg") 0 -10px no-repeat;
							display: inline-block;
							height: 15px;
							margin: 0 5px;
							vertical-align: middle;
							width: 18px;
						}
					}
				}
			}

			&:nth-child(2n) &__info:before {
				background-position: 0px -170px;
			}

			&__selector {
				padding: 0 20px;

				&__header {
					display: flex;
					flex-flow: row nowrap;
					font-size: 13px;
					line-height: 40px;

					&__title {
						min-width: 1px;

						&__text {
							overflow: hidden;
							text-overflow: ellipsis;
							padding-right: 10px;

							&_dates {
								display: none;
							}

							&__dayOfWeek {
								color: $nemo-color-text-secondary;
							}
						}

						&__date {
							display: none;

							&__dayOfWeek {
								color: $nemo-color-text-secondary;
							}
						}
					}

					&__seatsAvailable {
						flex-shrink: 0;
						min-width: 1px;
						white-space: nowrap;
						margin-left: auto;

						&_warning {
							color: #FF9731;
						}
					}
				}

				&__footer {
					display: flex;
					flex-flow: row nowrap;
					font-size: 12px;
					line-height: 30px;
					color: $nemo-color-text-secondary;

					&__detailsLink {
						min-width: 1px;
						margin-left: auto;
					}

					&__transfers {
						padding-right: 10px;
						min-width: 1px;
					}
				}

				&__selectContainer {
					position: relative;
				}

				&__selected {
					border-radius: 4px;
					background: linear-gradient(to bottom, #f2f2f2, #e5e5e5);
					padding: 10px 40px 10px 50px;
					position: relative;
					cursor: pointer;

					&:hover {
						background: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
					}

					&:before, &:after {
						content: '';
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
					}

					&:before {
						width: 20px;
						height: 20px;
						border-radius: 10px;
						box-shadow: 0 1px 3px rgba(#000, 0.3);
						background: url('images/flights_results_sprite.svg') -30px -30px no-repeat;
						left: 15px;
					}

					&:after {
						width: 12px;
						height: 10px;
						background: url('images/flights_results_sprite.svg') -39px -58px no-repeat;
						right: 14px;
						transition: all 0.2s;
					}

					&_unopenable {
						cursor: auto;
						background: linear-gradient(to bottom, #fCfCfC, #fAfAfA);

						&:after {
							display: none;
						}

						&:hover {
							background: linear-gradient(to bottom, #fCfCfC, #fAfAfA);
						}
					}

					&_open {
						border-bottom-left-radius: 0;
						border-bottom-right-radius: 0;
						background: #fff;
						box-shadow: 0 1px 5px rgba(#000, 0.2);

						&:after {
							transform: rotate(180deg) translateY(50%);
						}

						&:hover {
							background: #fff;
						}
					}

					&__time {
						font-size: 16px;
						height: 23px;
						display: inline-block;
						vertical-align: baseline;

						&__arrival, &__nextDayDate {
							font-size: 12px;
						}

						&__departure {
							font-weight: 600;
						}
					}

					&__timeEnRoute {
						font-size: 12px;
						opacity: 0.75;
						height: 17px;

						&__addText {
							color: $nemo-color-text-secondary;
						}
					}
				}

				&__dropdown {
					box-shadow: 0 1px 5px rgba(#000, 0.2);
					border-radius: 0 0 4px 4px;
					position: absolute;
					z-index: 1;
					width: 100%;

					&:before {
						content: '';
						position: absolute;
						top: -10px;
						left: 0;
						right: 0;
						height: 9px;
						background: #fff;
					}

					&__option {
						padding: 5px 15px;
						border-bottom: 1px solid #D7D7D7;
						background: $nemo-color-LightPoint;
						cursor: pointer;
						transition: all 0.2s;

						&:last-child {
							border: none;
							border-radius: inherit;
						}

						&:hover, &:hover &__transfers__transfer {
							background: #EAF6FF;
						}

						&__departure, &__arrival {
							font-size: 14px;
							font-weight: 600;
							line-height: 20px;
							display: inline-block;
							vertical-align: top;
						}

						&__transfers {
							display: inline-block;
							vertical-align: top;
							min-width: 50px;
							height: 20px;
							text-align: center;
							position: relative;
							padding-right: 4px;
							transition: all 0.2s;

							&:before {
								content: '';
								position: absolute;
								top: 9px;
								border-bottom: 1px solid #969599;
								left: 0;
								right: 0;
							}

							&:after {
								content: '';
								position: absolute;
								top: 6px;
								border: 1px solid #969599;
								right: 0;
								width: 6px;
								height: 6px;
								transform: rotate(45deg);
								border-bottom: none;
								border-left: none;
							}

							&__transfer {
								display: inline-block;
								vertical-align: top;
								margin: 5px;
								width: 9px;
								height: 9px;
								border-radius: 9px;
								background: $nemo-color-LightPoint;
								border: 1px solid #969599;
								position: relative;
								z-index: 1;
							}
						}

						&__timeEnRoute {
							font-size: 11px;
						}
					}
				}
			}
		}

		&__footer {
			font-size: 13px;
			color: $nemo-color-text-secondary;
			padding: 20px;

			&__couplingButtonContainer, &__buyButtonContainer {
				display: inline-block;
				vertical-align: middle;
				width: 50%;
			}

			&__buyButtonContainer {
				display: inline-flex;
				flex-flow: row nowrap;
				justify-content: flex-end;

				&__disclaimer {
					margin-right: 15px;
					text-align: right;
					align-self: center;
				}
			}

			&__disclaimer {
				text-align: right;
				padding-top: 10px;

				display: none;
			}
		}

		&__couplingButton {
			height: 40px;
			font-size: 13px;
			line-height: 19px;
			padding: 9px 30px;
			border: 1px solid #A5C5E5;
			background: none;

			&:hover {
				background: none;
			}

			&:active {
				padding-top: 10px;
			}
		}

		&__flightInfo {
			padding: 0;
		}

		&__buyButton {
			vertical-align: middle;
			flex-grow: 0;
			font-size: 16px;
			padding: 0 20px 0 60px;
			white-space: nowrap;

			&, &:hover {
				background-image: url('images/flights_results_sprite.svg');
				background-position: -25px 11px;
				background-repeat: no-repeat;
		    }

			&:active {
				background-position: -25px 12px;
			}
		}

		&__couplingTablePopup {
			padding: 0;
		}

		&_common {
			margin-top: 20px;

			&:first-child {
				margin-top: 0;
			}
		}

		&_cheapest &__header__title,
		&_cheapest &__header__additional {
			background: #B23E13;
		}

		&_bestCompanies {
			margin-bottom: 20px;
		}

		/* ================== */
		/* USE FOR ADAPTIVITY */
		/* ================== */
		&_bestCompanies {
			.nemo-flights-results__flightsGroup {
				&__footer {
					padding-top: 10px;

					&__couplingButtonContainer, &__buyButtonContainer {
						display: block;
						width: auto;
						padding-top: 10px;
					}
				}

				&__couplingButton, &__buyButton {
					display: block;
					width: auto;
				}

				&__couplingButton__addText {
					display: inline;
				}
			}
		}
		/* ================== */
		/* ================== */
		/* ================== */
	}

	&__commonSelect {
		background: linear-gradient(to bottom, #F2F2F2, #E5E5E5);
		padding: 0 40px 0 20px;
		line-height: 40px;
		border-radius: 4px;

		.select2-selection__arrow {
			width: 40px;
			top: 0;
			right: 0;
		}
	}
}
