<li class="nemo-hotel__content__about__location__distances__distance" data-bind="visible: distancesArray[0].value">
            <span class="nemo-hotel__content__about__location__distances__distance__name
    nemo-hotel__content__about__paramName" data-bind="text: typeName">
    </span>

    <span class="nemo-hotel__content__about__location__distances__distance__params">
            <span class="nemo-hotel__content__about__location__distances__distance__param">

            <span class="nemo-hotel__content__about__location__distances__distance__param__value"
                  data-bind="text: distancesArray[0].value ? distancesArray[0].value.distance : ''">
            </span>

            <span class="nemo-hotel__content__about__location__distances__distance__param__units"
                  data-bind="text: distancesArray[0].value ? distancesArray[0].value.measurement: ''">
            </span>
            </span>
            </span>
</li>