<div class="nemo-hotels-results__content__results__loadingDummy">
    <div class="ui-dialog-titlebar
                        ui-dialog-titlebar_progress
                        nemo-hotels-form__searchingInfoPopup__header
                        nemo-hotels-results__content__results__loadingDummy__header">
        <img class="nemo-loader
                             nemo-loader__2
                             nemo-hotels-results__content__results__loadingDummy__loader" src="/css/images/ui/ui-loader-circle.svg" alt="loading">
                <span class="ui-dialog-title">
                    <span data-bind="i18n: 'HotelsSearchResults.loadingDummy__results__progressText'"></span>
                </span>
    </div>

    <div class="nemo-hotels-results__searchingInfo">
        <div class="nemo-hotels-results__searchingInfo__header" data-bind="i18n: 'HotelsSearchResults.loadingDummy__results__progressText_timed'"></div>
    </div>

    <div class="nemo-hotels-results__content__results__loadingDummy__groupList" data-bind="foreach: [0, 1, 2]">
        <div class="nemo-hotels-results__groupList__item"
             data-bind="css: {'has-flag': $index() < 1}">
            <div class="nemo-ui-subContainer
                                nemo-hotels-results__hotelsGroup
                                nemo-hotels-results__content__results__loadingDummy__item">
                <div class="nemo-ui-subContainer__header
                                    nemo-hotels-results__hotelsGroup__header
                                    nemo-hotels-results__content__results__loadingDummy__item__header">
                    <div class="nemo-hotels-results__hotelsGroup__header__title">
                                <span class="nemo-hotels-results__hotelsGroup__header__title__text
                                             nemo-hotels-results__content__results__loadingDummy__textItem
                                             nemo-hotels-results__content__results__loadingDummy__item__header__title"></span>
                        <div class="nemo-hotels-results__hotelsGroup__stars
                                            nemo-hotels-results__content__results__loadingDummy__item__stars">
                            <div class="nemo-hotels-results__hotelsGroup__stars__item
                                                nemo-hotels-results__content__results__loadingDummy__item__stars__item">
                                <div class="nemo-hotels-results__hotelsGroup__stars__item__inner"></div>
                            </div>
                            <div class="nemo-hotels-results__hotelsGroup__stars__item
                                                nemo-hotels-results__content__results__loadingDummy__item__stars__item">
                                <div class="nemo-hotels-results__hotelsGroup__stars__item__inner"></div>
                            </div>
                            <div class="nemo-hotels-results__hotelsGroup__stars__item
                                                nemo-hotels-results__content__results__loadingDummy__item__stars__item">
                                <div class="nemo-hotels-results__hotelsGroup__stars__item__inner"></div>
                            </div>
                            <div class="nemo-hotels-results__hotelsGroup__stars__item
                                                nemo-hotels-results__content__results__loadingDummy__item__stars__item">
                                <div class="nemo-hotels-results__hotelsGroup__stars__item__inner"></div>
                            </div>
                        </div>
                    </div>
                    <div class="nemo-hotels-results__hotelsGroup__header__additional" data-bind="visible: $index() < 1, i18n: 'HotelsSearchResults.header-flag__best_price'"></div>
                </div>
                <div class="nemo-ui-subContainer
                                    nemo-hotels-results__hotelsGroup__content">
                    <div class="nemo-hotels-results__hotelsGroup__mainInfo">
                        <div class="nemo-hotels-results__hotelsGroup__mainInfo__photoWrap
                                            nemo-hotels-results__content__results__loadingDummy__item__image"></div>
                        <div class="nemo-hotels-results__hotelsGroup__mainInfo__rating
                                            nemo-hotels-results__content__results__loadingDummy__item__rating">
                                    <span class="nemo-hotels-results__content__results__loadingDummy__item__rating__number
                                                 nemo-hotels-results__content__results__loadingDummy__textItem"></span>
                                    <span class="nemo-hotels-results__content__results__loadingDummy__item__rating__text
                                                 nemo-hotels-results__content__results__loadingDummy__textItem"></span>
                                    <span class="nemo-hotels-results__content__results__loadingDummy__item__rating__link
                                                 nemo-hotels-results__content__results__loadingDummy__textItem"></span>
                        </div>
                        <div class="nemo-hotels-results__hotelsGroup__mainInfo__infoBlock">
                            <div class="nemo-hotels-results__hotelsGroup__mainInfo__infoWrap">
                                <div class="nemo-hotels-results__hotelsGroup__mainInfo__addressWrap">
                                    <div class="nemo-hotels-results__hotelsGroup__mainInfo__distances
                                                        nemo-hotels-results__content__results__loadingDummy__item__distances">
                                                <span class="nemo-hotels-results__hotelsGroup__mainInfo__distance
                                                             nemo-hotels-results__content__results__loadingDummy__item__address
                                                             nemo-hotels-results__content__results__loadingDummy__textItem"></span>
                                                <span class="nemo-hotels-results__hotelsGroup__mainInfo__distance
                                                             nemo-hotels-results__content__results__loadingDummy__item__distance
                                                             nemo-hotels-results__content__results__loadingDummy__textItem"></span>
                                                <span class="nemo-hotels-results__hotelsGroup__mainInfo__mapLink
                                                             nemo-hotels-results__content__results__loadingDummy__item__mapLink
                                                             nemo-hotels-results__content__results__loadingDummy__textItem"></span>
                                                <span class="nemo-hotels-results__hotelsGroup__mainInfo__district
                                                             nemo-hotels-results__content__results__loadingDummy__item__district
                                                             nemo-hotels-results__content__results__loadingDummy__textItem"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="nemo-hotels-results__hotelsGroup__mainInfo__description
                                                nemo-hotels-results__content__sidebar__offer__description">
                                <div class="nemo-hotels-results__hotelsGroup__mainInfo__description__text
                                                    nemo-hotels-results__content__results__loadingDummy__item__description
                                                    nemo-hotels-results__content__results__loadingDummy__textItem"></div>
                                <a href="#" class="nemo-hotels-results__hotelsGroup__mainInfo__description__link
                                                           nemo-hotels-results__content__sidebar__offer__description__link"></a>
                            </div>
                        </div>
                        <ul class="nemo-hotels-results__content__results__loadingDummy__item__services
                                           nemo-hotels-services">
                            <li class="nemo-hotels-results__content__results__loadingDummy__item__services__service"></li>
                            <li class="nemo-hotels-results__content__results__loadingDummy__item__services__service"></li>
                            <li class="nemo-hotels-results__content__results__loadingDummy__item__services__service"></li>
                            <li class="nemo-hotels-results__content__results__loadingDummy__item__services__service"></li>
                            <li class="nemo-hotels-results__content__results__loadingDummy__item__services__service"></li>
                            <li class="nemo-hotels-results__content__results__loadingDummy__item__services__service"></li>
                            <li class="nemo-hotels-results__content__results__loadingDummy__item__services__service"></li>
                            <li class="nemo-hotels-results__content__results__loadingDummy__item__services__service"></li>
                            <li class="nemo-hotels-results__content__results__loadingDummy__item__services__service"></li>
                            <li class="nemo-hotels-results__content__results__loadingDummy__item__services__service"></li>
                            <li class="nemo-hotels-results__content__results__loadingDummy__item__services__service"></li>
                            <li class="nemo-hotels-results__content__results__loadingDummy__item__services__service"></li>
                            <li class="nemo-hotels-results__content__results__loadingDummy__item__services__service"></li>
                            <li class="nemo-hotels-results__content__results__loadingDummy__item__services__service"></li>
                        </ul>
                    </div>
                    <div class="nemo-hotels-results__hotelsGroup__rooms
                                        nemo-hotels-results__content__results__loadingDummy__rooms">
                        <div class="nemo-hotels-results__hotelsGroup__rooms__title">
                                    <span class="nemo-hotels-results__content__results__loadingDummy__item__rooms__title__text
                                                 nemo-hotels-results__content__results__loadingDummy__textItem"></span>
                        </div>
                        <ul class="nemo-hotels-results__hotelsGroup__roomsList">
                            <li class="nemo-hotels-results__hotelsGroup__room">
                                <div class="nemo-hotels-results__hotelsGroup__room__info">
                                    <div class="nemo-hotels-results__hotelsGroup__room__title">
                                                    <span class="nemo-hotels-results__hotelsGroup__room__title__count
                                                                 nemo-hotels-results__content__results__loadingDummy__item__rooms__room__count
                                                                 nemo-hotels-results__content__results__loadingDummy__textItem"></span>
                                                    <span class="nemo-hotels-results__hotelsGroup__room__title__iconsWrap
                                                                 nemo-hotels-results__content__results__loadingDummy__item__rooms__room__iconWrap">
                                                        <span class="nemo-hotels-results__hotelsGroup__room__title__icon"></span>
                                                    </span>
                                                    <span class="nemo-hotels-results__hotelsGroup__room__title__text
                                                                 nemo-hotels-results__content__results__loadingDummy__item__rooms__room__text
                                                                 nemo-hotels-results__content__results__loadingDummy__textItem"></span>
                                    </div>
                                    <ul class="nemo-hotels-results__hotelsGroup__room__featuresList">
                                        <li class="nemo-hotels-results__hotelsGroup__room__feature">
                                                    <span class="nemo-hotels-results__content__results__loadingDummy__item__rooms__room__feature1
                                                                 nemo-hotels-results__content__results__loadingDummy__textItem"></span>
                                        </li>
                                        <li class="nemo-hotels-results__hotelsGroup__room__feature">
                                                    <span class="nemo-hotels-results__content__results__loadingDummy__item__rooms__room__feature2
                                                                 nemo-hotels-results__content__results__loadingDummy__textItem"></span>
                                        </li>
                                    </ul>
                                </div>
                                        <span class="nemo-hotels-results__hotelsGroup__room__additional
                                                     nemo-hotels-results__content__results__loadingDummy__item__rooms__room__additional
                                                     nemo-hotels-results__content__results__loadingDummy__textItem"></span>
                            </li>
                        </ul>
                                <span class="nemo-hotels-results__hotelsGroup__rooms__allRoomsWrap">
                                    <span class="nemo-hotels-results__hotelsGroup__rooms__allRooms">
                                        <span class="nemo-ui-pseudoLink
                                                     nemo-hotels-results__hotelsGroup__rooms__allRooms__link" data-bind="i18n: 'HotelsSearchResults.PH__link_all_rooms'">
                                        </span>
                                    </span>
                                </span>
                    </div>
                    <div class="nemo-hotels-results__hotelsGroup__footer">
                        <div class="nemo-ui-button
                                            nemo-ui-button_main
                                            nemo-hotels-results__hotelsGroup__orderBtn
                                            nemo-hotels-results__hotelsGroup__room__additional
                                            nemo-hotels-results__content__results__loadingDummy__item__orderBtn">
                            <div class="nemo-hotels-results__hotelsGroup__footer__priceWrap">
                                        <span class="nemo-hotels-results__hotelsGroup__footer__price
                                                     nemo-hotels-results__content__results__loadingDummy__item__orderBtn__price
                                                     nemo-hotels-results__content__results__loadingDummy__textItem"></span>
                                        <span class="nemo-hotels-results__hotelsGroup__footer__period
                                                     nemo-hotels-results__content__results__loadingDummy__item__orderBtn__period
                                                     nemo-hotels-results__content__results__loadingDummy__textItem"></span>
                            </div>
                            <div class="nemo-hotels-results__hotelsGroup__footer__arrow
                                                nemo-hotels-results__content__results__loadingDummy__item__orderBtn__arrow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>