<!-- ko if: $data.bookingCheckError && $data.bookingCheckError() -->
	<div data-bind="automaticPopup: {
		title: $root.i18n('HotelsSearchResults', 'bookingCheck__error__title')
	}">
		<div class="nemo-hotels-results__bookingCheck nemo-hotels-results__bookingCheck_error">
			<!-- ko text: $root.i18n('HotelsSearchResults', 'bookingCheck__error__header') --><!-- /ko -->

			<div class="nemo-hotels-results__bookingCheck__errorMessage" data-bind="text: $data.bookingCheckError()"></div>
			
			<a style="float: left" href='/hotels'>
				<!-- ko text: $root.i18n('HotelsSearchResults', 'bookingCheck__link_to_mainPage') --><!-- /ko -->
			</a>
			
			<a style="float: right" data-bind="attr: { href: '/hotels/results/' + $data.searchId() }">
				<!-- ko text: $root.i18n('HotelsSearchResults', 'bookingCheck__link_to_searchResults') --><!-- /ko -->
			</a>
		</div>
	</div>
<!-- /ko -->