<!-- ko foreach: featureFilterValuesAsArray -->
<label class="nemo-common-postFilters__filterList__filter__checkboxesBlock__checkboxes__checkbox">

    <input type="checkbox" class="nemo-common-postFilters__filterList__filter__checkboxesBlock__checkboxes__checkbox__input" data-bind="checked: $data.checked">

    <span class="nemo-common-postFilters__filterList__filter__checkboxesBlock__checkboxes__checkbox__name nemo-common-postFilters__filterList__filter__checkboxesBlock__checkboxes__checkbox__name__stars" data-bind="text: $data.name"></span>

    <span class="nemo-common-postFilters__filterList__filter__checkboxesBlock__checkboxes__checkbox__value" data-bind="text: $data.count"></span>

</label>
<!-- /ko -->