<!-- ko foreach: hotels -->
<li class="nemo-hotels-results__content__sidebar__offer nemo-ui-subContainer nemo-hotels-results__hotelsGroup nemo-hotel__additional__viewed__item">

    <div class="nemo-ui-subContainer__header
                                    nemo-hotels-results__hotelsGroup__header
                                    nemo-hotels-results__content__sidebar__offer__header
                                    nemo-hotel__additional__viewed__item__header">

        <div class="nemo-hotels-results__hotelsGroup__header__title
                                        nemo-hotels-results__content__sidebar__offer__title
                                        nemo-hotel__additional__viewed__item__title">

            <a class="nemo-hotels-results__hotelsGroup__header__title__text
                      nemo-hotels-results__content__sidebar__offer__title__text"
               href="#"
               data-bind="text: $data.name, click: function(hotel){ $parent.resultsController.showCardHotel(hotel) }, attr: { href: $parent.resultsController.makeHotelLink($data) }">
            </a>

            <div class="nemo-hotels-results__hotelsGroup__stars nemo-hotels-results__content__sidebar__offer__stars nemo-hotel__additional__viewed__item__stars" data-bind="foreach: $data.staticDataInfo.starRating">
                <div class="nemo-hotels-results__hotelsGroup__stars__item nemo-hotels-results__content__sidebar__offer__starItem">
                    <div class="nemo-hotels-results__hotelsGroup__stars__item__inner nemo-hotels-results__content__sidebar__offer__starItem__inner"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="nemo-ui-subContainer nemo-hotels-results__hotelsGroup__content nemo-hotels-results__content__sidebar__offer__content">

        <div class="nemo-hotels-results__hotelsGroup__mainInfo">
            <div class="nemo-hotels-results__hotelsGroup__mainInfo__photoWrap nemo-hotels-results__content__sidebar__offer__photoWrap"
                 data-bind="style: {'backgroundImage': $parent.resultsController.getHotelMainImage($data) }, click: function(hotel){ $parent.resultsController.showCardHotel(hotel) }"></div>

            <!-- ko if: $data.staticDataInfo.averageCustomerRating -->
                <div class="nemo-hotels-results__hotelsGroup__mainInfo__rating nemo-hotels-results__content__sidebar__offer__rating nemo-hotel__additional__viewed__item__rating">
                    <span class="nemo-hotels-results__hotelsGroup__mainInfo__rating__number nemo-hotels-results__content__sidebar__offer__rating__number" data-bind="text: $data.staticDataInfo.averageCustomerRating ? $data.staticDataInfo.averageCustomerRating.value : 0"></span>
                    <span class="nemo-hotels-results__hotelsGroup__mainInfo__rating__text nemo-hotels-results__content__sidebar__offer__rating__text" data-bind="text: $data.staticDataInfo.averageCustomerRating ? $data.staticDataInfo.averageCustomerRating.description : $root.i18n('Hotels', 'hotels-info-noReviews')"></span>
                </div>
            <!-- /ko -->

            <div class="nemo-hotels-results__hotelsGroup__mainInfo__infoBlock nemo-hotels-results__content__sidebar__offer__infoBlock">

                <div class="nemo-hotels-results__hotelsGroup__mainInfo__infoWrap">
                    <div class="nemo-hotels-results__hotelsGroup__mainInfo__addressWrap
                                                    nemo-hotels-results__content__sidebar__offer__addressWrap
                                                    nemo-hotel__additional__viewed__item__addressWrap">

                        <div class="nemo-hotels-results__hotelsGroup__mainInfo__distances
                                                        nemo-hotels-results__content__sidebar__offer__distances
                                                        nemo-hotel__additional__viewed__item__distances"
                             data-bind="css: {'nemo-hotel__additional__viewed__item__distances__alone': !$data.staticDataInfo.averageCustomerRating}">

                                                <span class="nemo-hotels-results__hotelsGroup__mainInfo__distance
                                                             nemo-hotels-results__content__sidebar__offer__distance"
                                                            data-bind="visible: $parent.resultsController.getDistances($data)[0]"
                                                >
                                                    <span class="nemo-hotels-results__hotelsGroup__mainInfo__distance__value" data-bind="text: $parent.resultsController.getDistances($data)[0]"></span>
                                                    <span class="nemo-hotels-results__hotelsGroup__mainInfo__distance__target" data-bind="i18n: 'HotelsSearchResults.targetFromCenter'"></span>
                                                </span>

                                                <span class="nemo-hotels-results__hotelsGroup__mainInfo__distance nemo-hotels-results__content__sidebar__offer__distance"
                                                      data-bind="visible: $parent.resultsController.getDistances($data)[1]">
                                                    <span class="nemo-hotels-results__hotelsGroup__mainInfo__distance__value" data-bind="text: $parent.resultsController.getDistances($data)[1]"></span>
                                                    <span class="nemo-hotels-results__hotelsGroup__mainInfo__distance__target" data-bind="i18n: 'HotelsSearchResults.targetFromAirport'"></span>
                                                </span>

                            <a href="#" class="nemo-ui-pseudoLink nemo-hotels-results__hotelsGroup__mainInfo__mapLink nemo-hotels-results__content__sidebar__offer__mapLink"
                               data-bind="click: function () { $parent.resultsController.showBigMap($data) }, i18n: 'HotelsSearchResults.map__button-show'"></a>
                        </div>

                    </div>
                </div>

                <div class="nemo-hotels-results__hotelsGroup__mainInfo__description
                                                nemo-hotels-results__content__sidebar__offer__description
                                                nemo-hotel__additional__viewed__item__description
                                                nemo-hotels-results__hotelsGroup__mainInfo__description-jquery-dotdotdot"
                                                data-bind="visible: staticDataInfo.description"
                >
                    <p class="nemo-hotels-results__hotelsGroup__mainInfo__description__text
                                                          nemo-hotel__additional__viewed__item__description__text" data-bind="html: staticDataInfo.description, click: function () { $parent.resultsController.showCardHotel($data) }">
                    </p>
                    <a href="#" data-bind="click: function () { $parent.resultsController.showCardHotel($data) }, attr: {href: $parent.resultsController.makeHotelLink($data) }" class="nemo-hotels-results__hotelsGroup__mainInfo__description__link
                                                           nemo-hotels-results__content__sidebar__offer__description__link
                                                           nemo-hotel__additional__viewed__item__description__link"></a>
                </div>

            </div>
        </div>

		<!-- ko if: $data.staticDataInfo.popularFeatures && $data.staticDataInfo.popularFeatures.length -->
			<ul class="nemo-hotels-results__content__sidebar__offer__services nemo-hotels-services nemo-hotel__additional__viewed__item__services" data-bind="foreach: staticDataInfo.popularFeatures">
				<li class="nemo-hotels-results__content__sidebar__offer__services__service nemo-hotels-services__service hotels-services__service_active">
					<span class="nemo-hotels-services__service__icon" data-bind="css: 'nemo-hotels-services__service__icon_' + $data, tooltip: { content: $parents[1].resultsController.popularHotelsFeatures[$data] }"></span>
				</li>
			</ul>
		<!-- /ko -->

        <div class="nemo-hotels-results__hotelsGroup__footer nemo-hotels-results__content__sidebar__offer__footer nemo-hotel__additional__viewed__item__footer">
            <div class="nemo-ui-button nemo-ui-button_main nemo-hotels-results__hotelsGroup__footer__orderBtn nemo-hotels-results__content__sidebar__offer__footer__orderBtn emo-hotel__additional__viewed__item__footer__button"
                 data-bind="click: function () { $parent.resultsController.showCardHotel($data) }"
            >
                <div class="nemo-hotels-results__hotelsGroup__footer__priceWrap">
                    <span class="nemo-hotels-results__hotelsGroup__footer__priceContainer nemo-hotel__additional__viewed__item__footer__button__priceContainer">
                        <span data-bind="text: $root.i18n('HotelsSearchResults', 'from2')"></span>
                        <span class="nemo-hotels-results__hotelsGroup__footer__priceContainer__price">
                            <money data-bind="money: $data.priceObservable" round="up" format="0,0 $"></money>
                        </span>
                    </span>

                    <span class="nemo-hotels-results__hotelsGroup__footer__period" data-bind="text: $root.i18n('HotelsSearchResults', 'for') + ' ' + $parent.resultsController.countOfNights() + ' ' + $parent.resultsController.labelAfterNights()"></span>
                </div>
                <div class="nemo-hotels-results__hotelsGroup__footer__arrow"></div>
            </div>
        </div>
    </div>
</li>
<!-- /ko -->
