<ul class="nemo-hotels-results__content__sidebar__offersList
                   nemo-hotels-results__content__sidebar__loadingDummy__offersList">
    <li class="nemo-hotels-results__content__sidebar__offer
                       nemo-ui-subContainer nemo-hotels-results__hotelsGroup">
        <div class="nemo-ui-subContainer__header
                            nemo-hotels-results__hotelsGroup__header
                            nemo-hotels-results__content__sidebar__offer__header">
            <div class="nemo-hotels-results__hotelsGroup__header__title
                                nemo-hotels-results__content__sidebar__offer__title">
                        <span class="nemo-hotels-results__hotelsGroup__header__title__text
                                     nemo-hotels-results__content__sidebar__offer__title__text
                                     nemo-hotels-results__content__sidebar__loadingDummy__offer__title__text
                                     nemo-hotels-results__content__results__loadingDummy__textItem"></span>
                <div class="nemo-hotels-results__hotelsGroup__stars
                                    nemo-hotels-results__content__sidebar__offer__stars
                                    nemo-hotels-results__content__sidebar__loadingDummy__offer__stars">
                    <div class="nemo-hotels-results__hotelsGroup__stars__item
                                        nemo-hotels-results__content__sidebar__offer__starItem
                                        nemo-hotels-results__content__sidebar__loadingDummy__offer__starItem">
                        <div class="nemo-hotels-results__hotelsGroup__stars__item__inner
                                            nemo-hotels-results__content__sidebar__offer__starItem__inner"></div>
                    </div>
                    <div class="nemo-hotels-results__hotelsGroup__stars__item
                                        nemo-hotels-results__content__sidebar__offer__starItem
                                        nemo-hotels-results__content__sidebar__loadingDummy__offer__starItem">
                        <div class="nemo-hotels-results__hotelsGroup__stars__item__inner
                                            nemo-hotels-results__content__sidebar__offer__starItem__inner"></div>
                    </div>
                    <div class="nemo-hotels-results__hotelsGroup__stars__item
                                        nemo-hotels-results__content__sidebar__offer__starItem
                                        nemo-hotels-results__content__sidebar__loadingDummy__offer__starItem">
                        <div class="nemo-hotels-results__hotelsGroup__stars__item__inner
                                            nemo-hotels-results__content__sidebar__offer__starItem__inner"></div>
                    </div>
                    <div class="nemo-hotels-results__hotelsGroup__stars__item
                                        nemo-hotels-results__content__sidebar__offer__starItem
                                        nemo-hotels-results__content__sidebar__loadingDummy__offer__starItem">
                        <div class="nemo-hotels-results__hotelsGroup__stars__item__inner
                                            nemo-hotels-results__content__sidebar__offer__starItem__inner"></div>
                    </div>
                </div>
            </div>
            <div class="nemo-hotels-results__hotelsGroup__header__additional nemo-hotels-results__content__sidebar__offer__additional" data-bind="i18n: 'HotelsSearchResults.header-flag__city-centre'"></div>
        </div>

        <div class="nemo-ui-subContainer
                            nemo-hotels-results__hotelsGroup__content
                            nemo-hotels-results__content__sidebar__offer__content">
            <div class="nemo-hotels-results__hotelsGroup__mainInfo">
                <div class="nemo-hotels-results__hotelsGroup__mainInfo__photoWrap
                                    nemo-hotels-results__content__sidebar__offer__photoWrap
                                    nemo-hotels-results__content__sidebar__loadingDummy__offer__photoWrap"></div>
                <div class="nemo-hotels-results__hotelsGroup__mainInfo__rating
                                    nemo-hotels-results__content__sidebar__offer__rating
                                    nemo-hotels-results__content__sidebar__loadingDummy__offer__rating">
                            <span class="nemo-hotels-results__hotelsGroup__mainInfo__rating__number
                                         nemo-hotels-results__content__sidebar__offer__rating__number
                                         nemo-hotels-results__content__sidebar__loadingDummy__offer__rating__number"></span>
                            <span class="nemo-hotels-results__hotelsGroup__mainInfo__rating__text
                                         nemo-hotels-results__content__sidebar__offer__rating__text
                                         nemo-hotels-results__content__sidebar__loadingDummy__offer__rating__text"></span>
                            <!--<span class="nemo-hotels-results__hotelsGroup__mainInfo__rating__link-->
                                         <!--nemo-hotels-results__content__sidebar__offer__rating__link-->
                                         <!--nemo-hotels-results__content__sidebar__loadingDummy__offer__rating__link"></span>-->
                </div>
                <div class="nemo-hotels-results__hotelsGroup__mainInfo__infoBlock
                                    nemo-hotels-results__content__sidebar__offer__infoBlock">
                    <div class="nemo-hotels-results__hotelsGroup__mainInfo__infoWrap">
                        <div class="nemo-hotels-results__hotelsGroup__mainInfo__addressWrap
                                            nemo-hotels-results__content__sidebar__offer__addressWrap
                                            nemo-hotels-results__content__sidebar__loadingDummy__offer__addressWrap">
                            <div class="nemo-hotels-results__hotelsGroup__mainInfo__distances
                                                nemo-hotels-results__content__sidebar__offer__distances
                                                nemo-hotels-results__content__sidebar__loadingDummy__offer__distances">
                                        <span class="nemo-hotels-results__hotelsGroup__mainInfo__distance
                                                     nemo-hotels-results__content__sidebar__offer__distance
                                                     nemo-hotels-results__content__sidebar__loadingDummy__offer__distance1"></span>
                                        <span class="nemo-hotels-results__hotelsGroup__mainInfo__distance
                                                     nemo-hotels-results__content__sidebar__offer__distance
                                                     nemo-hotels-results__content__sidebar__loadingDummy__offer__distance2"></span>
                                        <span class="nemo-ui-pseudoLink
                                                     nemo-hotels-results__hotelsGroup__mainInfo__mapLink
                                                     nemo-hotels-results__content__sidebar__offer__mapLink
                                                     nemo-hotels-results__content__sidebar__loadingDummy__offer__mapLink"></span>
                            </div>
                        </div>
                    </div>
                    <div class="nemo-hotels-results__hotelsGroup__mainInfo__description
                                        nemo-hotels-results__content__sidebar__offer__description
                                        nemo-hotels-results__content__sidebar__loadingDummy__offer__description">
                        <p class="nemo-hotels-results__hotelsGroup__mainInfo__description__text
                                          nemo-hotels-results__content__sidebar__loadingDummy__offer__description__text
                                          nemo-hotels-results__content__sidebar__loadingDummy__textItem"></p>
                        <a href="#" class="nemo-hotels-results__hotelsGroup__mainInfo__description__link
                                                   nemo-hotels-results__content__sidebar__offer__description__link"></a>
                    </div>
                </div>
            </div>
            <ul class="nemo-hotels-results__content__sidebar__loadingDummy__offer__services
                               nemo-hotels-services">
                <li class="nemo-hotels-results__content__sidebar__loadingDummy__offer__services__service"></li>
                <li class="nemo-hotels-results__content__sidebar__loadingDummy__offer__services__service"></li>
                <li class="nemo-hotels-results__content__sidebar__loadingDummy__offer__services__service"></li>
                <li class="nemo-hotels-results__content__sidebar__loadingDummy__offer__services__service"></li>
                <li class="nemo-hotels-results__content__sidebar__loadingDummy__offer__services__service"></li>
                <li class="nemo-hotels-results__content__sidebar__loadingDummy__offer__services__service"></li>
                <li class="nemo-hotels-results__content__sidebar__loadingDummy__offer__services__service"></li>
                <li class="nemo-hotels-results__content__sidebar__loadingDummy__offer__services__service"></li>
                <li class="nemo-hotels-results__content__sidebar__loadingDummy__offer__services__service"></li>
                <li class="nemo-hotels-results__content__sidebar__loadingDummy__offer__services__service"></li>
                <li class="nemo-hotels-results__content__sidebar__loadingDummy__offer__services__service"></li>
                <li class="nemo-hotels-results__content__sidebar__loadingDummy__offer__services__service"></li>
                <li class="nemo-hotels-results__content__sidebar__loadingDummy__offer__services__service"></li>
                <li class="nemo-hotels-results__content__sidebar__loadingDummy__offer__services__service"></li>
            </ul>
            <div class="nemo-hotels-results__hotelsGroup__footer
                                nemo-hotels-results__content__sidebar__offer__footer">
                <div class="nemo-ui-button
                                    nemo-ui-button_main
                                    nemo-hotels-results__hotelsGroup__footer__orderBtn
                                    nemo-hotels-results__content__sidebar__offer__footer__orderBtn
                                    nemo-hotels-results__content__sidebar__loadingDummy__offer__footer__orderBtn">
                    <div class="nemo-hotels-results__hotelsGroup__footer__priceWrap">
                                <span class="nemo-hotels-results__hotelsGroup__footer__price
                                             nemo-hotels-results__content__sidebar__loadingDummy__offer__footer__orderBtn__price"></span>
                                <span class="nemo-hotels-results__hotelsGroup__footer__period
                                             nemo-hotels-results__content__sidebar__loadingDummy__offer__footer__orderBtn__period"></span>
                    </div>
                    <div class="nemo-hotels-results__hotelsGroup__footer__arrow
                                        nemo-hotels-results__content__sidebar__loadingDummy__offer__footer__orderBtn__arrow"></div>
                </div>
            </div>
        </div>
    </li>
</ul>