<div class="nemo-ui-slider__info">
    <span class="nemo-ui-slider__info__block nemo-ui-slider__info__block_min">
        <span>
			<money data-bind="money: { amount: displayRangeMin(), currency: $root.user.settings.agencyCurrency() }"></money>
		</span>&nbsp;
    </span>

	<span class="nemo-ui-slider__info__block nemo-ui-slider__info__block_divider">
        —
    </span>

	<span class="nemo-ui-slider__info__block nemo-ui-slider__info__block_max">
        <span>
			<money data-bind="money: { amount: displayRangeMax(), currency: $root.user.settings.agencyCurrency() }"></money>
		</span>&nbsp;
    </span>
</div>

<div class="nemo-ui-slider__wrapper">
	<div class="nemo-ui-slider" data-bind="slider: value"></div>
</div>