.nemo-auth {
	//position: relative;

	&_popup {
		width: 90vw !important;
		max-width: 400px;
		padding: 20px !important;
		overflow: visible;

		@media (max-width: 450px) {
			width: 100% !important;
			max-width: 100%;
			height: 100% !important;
			padding-bottom: 70px;
			overflow: auto;
		}
	}

	&__dialog {
		@media (max-width: 450px) {
			left: 0 !important;
			top: 0 !important;
			padding: 0;
			width: 100% !important;
			height: 100% !important;
			background: #fff;

			&.ui-widget-header {
				boder-radius: 0 !important;
			}
		}
	}

	&_passRecoveryPopup {
		width: 90vw !important;
		overflow: visible;
		padding: 20px !important;
		padding-bottom: 5px;

		@media (max-width: 450px) {
			width: 100% !important;
			height: 100% !important;
			padding-bottom: 70px;
		}
	}

	&__stub {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba($nemo-color-LightPoint, 0.5) url(images/loader.svg) center center no-repeat;
		background-size: 40px;
	}

	&__field {
		width: 100%;
		position: relative;
		margin-bottom: 10px;

		&:first-child {
			margin-top: 0;
		}

		&_passrestore {
			width: 100%;
			max-width: 100%;
		}

		&__label {
			display: flex;
			align-items: center;
			
			&__caption {
				display: inline-block;
				vertical-align: middle;
				margin: 0;
				width: 30%;
				padding-right: 10px;
			}

			&__input {
				display: inline-block;
				vertical-align: middle;
				margin: 0;
				width: 100%;
				height: 40px;
			}
		}
	}

	&__mainButtons {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 15px;
		margin-bottom: 15px;
		
		&__links {
			a {
				margin-right: 15px;
			}
		}
		
		&_noMargin {
			margin-bottom: 0;
		}

		& .nemo-ui-button_main {
			font-size: 15px;
		}
	}

	&__social {
		min-height: 20px;
		border-top: 1px solid #e6e6e6;
		margin-left: -20px;
		margin-right: -20px;
		padding: 20px;
		padding-bottom: 15px;

		&__label {
			text-align: center;
			color: $c_common_textColor;
		}

		&__items {
			margin-top: 20px;

			&_item {
				padding: 10px;
				background: #f3f3f3;
				width: 170px;
				border-radius: 4px;
				margin-bottom: 10px;
				display: inline-block;
				transition: 0.8s;
				cursor: pointer;

				@media (max-width: 450px) {
					width: 100%;
					display: block;
				}

				&:nth-child(2n+1) {
					margin-right: 10px;
				}

				&_label {
					padding-left: 10px;
					color: #565656;
					width: 80%;
					float: right;
					line-height: 21px;
				}

				& .fa {
					font-size: 20px;
				}

				& .fa-facebook {
					color: #006999;
				}

				& .fa-google {
					color: #0097ef;
				}

				& .fa-twitter {
					color: #00b4e0;
				}

				& .fa-vk {
					color: #507299;
				}

				&:hover {
					background: rgb(232, 232, 232);
				}

				&:focus {
					background: #efefef;
				}
			}
		}
	}

	&__error, &__info {
		margin: 10px 0 10px 0;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	&__submitButton {
		//margin-top: 10px;
		height: 40px;
		line-height: 40px;
		vertical-align: middle;
	}

	&__registrationLink {
		display: inline-block;
		margin-left: 20px;
	}

	&__links {
		margin-top: 10px;
	}

	&_separatePage {
		.nemo-auth {
			&__field {
				display: inline-block;
				vertical-align: middle;
				margin-top: 10px;
				margin-bottom: 0;
				margin-right: 20px;
				width: 100%;

				&:first-child {
					margin: 0;
				}

				@media (max-width: 600px) {
					width: 100%;
				}

				&__label {
					white-space: nowrap;

					&__caption, &__input {
						width: 100%;
					}

					@media (max-width: 600px) {
						&__caption {
							width: 100px;
						}

						&__input {
							width: 100%;
						}
					}
				}

				//&_newPassword &__label__caption,
				//&_newPasswordConfirm &__label__caption {
				//	width: auto;
				//}
			}

			&__submitButton {
				margin-top: 10px;
			}
		}

		&_container {
			max-width: 400px;
			margin: 0 auto;
			margin-top: 5%;
			box-shadow: 0 1px 8px rgba(10,10,15,.15)
		}

		&__header {
			position: relative;
			background: #eee;
			border: none;
			color: #0a0a0f;
			padding: 10px 60px 10px 20px;
			line-height: 30px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			border-radius: 4px 4px 0 0;
			margin-right: -20px;
			margin-left: -20px;
			margin-top: -20px;
			margin-bottom: 10px;
		}

		.pro-auth__form__stub {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba($nemo-color-LightPoint, 0.5) url(images/ui/ui-loader-planes.svg) center center no-repeat;
		}

		.nemo-auth__registrationLink {
			margin-left: 0 !important;
		}

		.nemo-ui-hilight {
			margin-bottom: 10px;
			margin-top: 20px;
		}
	}

	& .nemo-common-errorField, .pro-validation_error_field {
		background: rgba(255, 255, 0, 0.25) !important;
		border: 1px solid #e6e6e6;
	}
}