.nemo-common-breadCrumbs {
	background: $nemo-color-LightPoint;

	&__inner {
		margin: 0 auto;
		max-width: 1600px;
		min-height: 50px;
		padding: 0 30px;
		position: relative;

		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}

	&__additional, &__crumbs {
		min-width: 1px;
		padding: 10px 0;
	}

	&__additional {
		flex-shrink: 0;
		text-align: right;
	}

	&__crumbs {
		vertical-align: top;
		&__crumb {
			display: inline-block;
			vertical-align: top;
			font-size: 13px;
			line-height: 20px;

			&:after {
				content: '/';
				display: inline-block;
				vertical-align: top ;
				margin: 0 5px 0 3px;
			}

			&:last-child:after {
				display: none;
			}

			&__title {
				display: inline-block;
				vertical-align: baseline;
				font-size: 13px;
				line-height: 15px;
			}
		}
	}
}