.nemo-common-checkOrder {
	&Popup {
		max-width: 400px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	&__header {
		margin-bottom: 10px;
		padding: 10px 0;
		display: block;
	}

	&__dialog {
		.nemo-ui-button_main {
			background: #88c43d;
			font-size: 15px;
			padding: 0 15px;

			height: 40px;
			line-height: 40px;

			&:hover,
			&:focus {
				background: #94ca51;
			}

			&:focus {
				box-shadow: 0 0 8px #edbe00;
			}
		}

		.ui-dialog-titlebar-close {
			height: 30px;
			background transparent url(images/ui/popup-close.svg) center center no-repeat;

			&:hover {
				background: transparent url(images/ui/popup-close.svg) center center no-repeat;
				background-color: rgba(#000, 0.05);
			}

			&:focus {
				background: transparent url(images/ui/popup-close.svg) center center no-repeat;
				box-shadow: none;
			}
			&:focus:hover {
				background: transparent url(images/ui/popup-close.svg) center center no-repeat;
				box-shadow: none;
			}
		}

	}

	&__field {
		position: relative;
		margin-bottom: 10px;

		&:last-child {
			margin: 0;
		}

		&__label{
			&__caption, &__input {
				display: inline-block;
				vertical-align: middle;
				width: 50%;
				margin: 0;
			}

			&__caption {
				padding-right: 10px;
				white-space: normal;
			}
		}

		.nemo-ui-hint {
			margin-left: 25%;
		}
	}

	&_pageForm &__field {
		display: inline-block;
		vertical-align: middle;
		margin-right: 20px;

		&__label{
			&__caption, &__input {
				width: auto;
			}
		}
	}
}
