.nemo-common{
	&-pageWrapper{
		margin: 0 auto;
		min-height: 100%;
		padding-bottom: 60px;
	}

	&-footer {
		margin: 0 auto;
		margin-top:-60px;
		height: 60px;
		position: relative;
		background: #f5f5f5;

		&__footerInner {
			padding: 13px 20px 0;
			max-width: 1140px;
			margin: 0 auto;

			@media only screen and (min-width: 1340px) {
				max-width: 1600px;
			}
		}

		&__left{
			display: inline-block;
			width: 49%;
			vertical-align: middle;

			.nemo-root_mobile &{
				display: block;
				width: 100%;
			}
		}

		&__right{
			display: none;
			width: 50%;
			text-align: right;
			vertical-align: middle;

			.nemo-root_mobile &{
				display: block;
				width: 100%;
				text-align: left;
				padding: 10px 0 0;
			}
		}

		.nemo-root_mobile &{
			padding: 25px 20px 15px;
		}

		&__footerMenu{
			display: inline-block;
			vertical-align: baseline;

			&__item{
				color: #63B4F5;
				font-size: 13px;
				line-height: 15px;
				text-decoration: underline;
				margin: 0 0 0 20px;
			}
		}
		&__copyRight{
			color: #404040;
			font-size: 13px;
			line-height: 20px;
			display: inline-block;
			vertical-align: baseline;
			padding-left: 20px;
		}
		&__companyLogo{
			display: inline-block;
			width: 130px;
			margin: 0 20px;
			vertical-align: middle;
			img{
				width: 100%;
			}
		}
	}
}

@media (max-width: 400px){
	.nemo-common{
		&-pageWrapper{
			padding-bottom: 175px;
		}

		&-footer {
			height: 175px;
			margin-top: -175px;

			&__right, &__left{
				display: block;
				width: 100%;
				text-align: left;
			}
		}
	}
}

@media (max-width: 600px) and (min-width: 400px) {
	.nemo-common{
		&-pageWrapper{
			margin: 0 auto;
			min-height: 100%;
			padding-bottom: 100px;
		}

		&-footer {
			height: 100px;
			margin-top:-100px;

			&__right, &__left{
				display: block;
				width: 100%;
				text-align: left;
			}

			&__copyRight{
				padding-bottom: 20px;
				padding-top: 0;
			}

			&__companyLogo{
				margin: 0 6px;
				width: 160px;
			}
		}
	}
}

@media (max-width: 1024px) and (min-width: 600px) {
	.nemo-common{
		&-footer {
			&__companyLogo{
				margin: 0 6px;
				width: 120px;
			}

		}
	}
}

@media (max-width: 600px) {
	.nemo-common-footer__copyRight {
		padding-top: 0;
		padding-bottom: 20px;
	}
}