$c_postFilters_textColor = $nemo-color-LightPoint;
$c_postFilters_separatorColor = rgba(200, 200, 200, .25);
$c_postFilters_disabledBG = rgba(240, 240, 240, 1);
$c_postFilters_quantityBG = rgba(255, 255, 255, .25);
$t_postFilters_animationTime = .1s;

.nemo-common-postFilters {
    position: relative;
    opacity: .75;
    padding: 10px 0;

    &:hover {
        transition: opacity .1s ease;
        opacity: 1;
    }

    &-text {
        padding-right: 15px !important;

        &_closed {
            background-color: #64b5f6 !important;
            color: #fff;
            padding: 0 !important;
        }

        &__inputWrapper {
            display: flex;
            width: 100%;

            input {
                width: 100%;
                border: none;
                flex-basis: 100%;
                outline: none !important;
                background: none;

                &:focus {
                    outline: none !important;
                }
            }
        }

        &__close {
            color: #43b6f2;
        }

        &__overlay {
            width: 100%;
            text-align: center;
            padding-right: 10px;
            font-size: 110%;
            display: flex;
            align-items: center;
            justify-content: center;

            .fa {
                font-size: 13px;
                margin-right: 5px;
                display: block;
                margin-bottom: 4px;
            }
        }
    }

    &__inner {
        max-width: 100%;
    }

    &_stick {
        position: fixed;
        top: 0;
        height: 100%;
        width: 280px;
        padding-right: 20px;
        overflow: hidden;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &__notification {
        margin: 0 0 15px 0;
        display: block;
        font-size: 12px;
        line-height: 20px;
        padding: 10px 50px 10px 20px;
        background-color: $c_highlight_warning;
        border-radius: 4px;
	    position: relative;

        &__close {
			border-radius: 20px;
	        width: 20px;
	        height: 20px;
	        background: $nemo-color-LightPoint url("images/pf_hint_close.svg") center center no-repeat;
	        cursor: pointer;

	        position: absolute;
	        right: 15px;
			top: 50%;
	        margin-top: -10px;
        }
    }

    &__sort {
    }

    &__clearAll {
	    margin-bottom: 20px;

        &__button {
            display: block;
            width: 100%;
            font-size: 14px;
            line-height: 30px;
            height: 30px;
        }
    }

    &__filterList {
        position: relative;
        z-index: 1;

        &__filter {
	        margin-top: 20px;
            opacity: .85;
            transition: opacity .4s ease-out;

			&:first-child {
				margin: 0;
			}

            &:hover {
                opacity: 1;
                transition: opacity $t_postFilters_animationTime ease-in;
            }

            &_slider {
                background-color: $nemo-color-LightPoint;
                padding: 10px 10px;
            }

            &__caption {
                display: flex;
                justify-content: space-between;
                line-height: 20px;
                margin: 0 0 15px 0;
                font-size: 15px;

                &_inner {
                    margin-top: -15px;
                    margin-bottom: 5px;
                    font-size: 13px;
                    opacity: .75;
                }

                &__name {
                    color: $c_postFilters_textColor;
                    font-weight: normal;
                    margin: 0;
                }

                &__clear {
                    font-size: 13px;
                    display: none;
                }
            }

            &__partSelector {
                border-radius: 4px;
                overflow: hidden;
                display: flex;
                line-height: 40px;
                cursor: pointer;
                margin: 0 0 20px 0;

                &__part {
	                @extends .nemo-ui-button;
	                @extends .nemo-ui-button_common;
                    box-shadow: none;
                    flex-basis: 0;
                    flex-grow: 1;
                    text-align: center;
                    position: relative;
					border-radius: 0;
	                line-height: 40px;
                    height: 40px;
                    min-width: 0;
                    padding: 0;
                    font-size: 95%;
					//font-weight: 500;

                    &::before {
                        content: '';
                        border-left: 1px solid $c_postFilters_separatorColor;
                        height: 60%;
                        position: absolute;
                        left: 0;
                        top: 20%;
                    }

                    &:first-child {
                        border-left: none;

                        &:before {
                            display: none;
                        }
                    }

                    &_selected {
                        cursor: default;
                        background-color: $nemo-color-main;
                        background-image: none;
                        color: $nemo-color-LightPoint;

                        &:hover {
                            background-color: $nemo-color-main;
                            background-image: none;
                        }
                    }

                    &_hasChanges {

                        &::after {
                            content: '';
                            position: absolute;
                            top: 6px;
                            right: 6px;
                            width: 6px;
                            height: 6px;
                            border-radius: 3px;
                            background-color: $nemo-color-main;
                        }
                    }
                }
            }

            &__valuesBlock {

                &__values {
                    border-radius: 4px;
                    overflow: hidden;

                    &__value {
                        //@extends .nemo-ui-button_common
                        background-color: $nemo-color-LightPoint;
                        box-shadow: none;
                        padding: 0 10px 0 20px;
                        height: 40px;
                        line-height: 40px;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                        transition: all $t_postFilters_animationTime ease-in;
                        border-top: 1px $c_postFilters_separatorColor solid;

                        &:first-of-type {
                            border-top: none;
                        }

                        &_noFlex {
                            display: block;
                            height: auto;
                            padding: 0 20px 0 20px;
                        }

                        &:hover {
                            background: darken($nemo-color-LightPoint, 2);
                        }

                        &_disabled {
                            background-color: $c_postFilters_disabledBG;
                            background-image: none;
                            cursor: default;

                            &:hover {
                                background-color: $c_postFilters_disabledBG;
                                background-image: none;
                            }
                        }

                        &_checked {
                            background-color: $nemo-color-main;
                            background-image: none;
                            cursor: default;
                            color: $nemo-color-LightPoint;

                            &:hover {
                                background-color: $nemo-color-main;
                                background-image: none;
                            }
                        }

                        &__input {
                            width: 20px;
                            margin-right: 5px;
                            display: none;

                        }

                        &__name {
                            flex-grow: 50;
                            display: block;
                            width: 100px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            margin-right: 10px;
                            font-size: 100%;
							font-weight: 400;

                            &_noMatter {
                                font-size: 110%;
                            }

                            &_small {
                                font-size: 90%;
                                //white-space: normal;
                                //line-height: 15px;
                            }

                            &__tooltip {
                                margin-top: 20px;
                            }
                        }

                        &__price {
                            flex-grow: 1;
                            margin-right: 2px;
                            font-size: 90%;
	                        white-space: nowrap;
							font-weight: 500;
							opacity: .75;
                            //color: $c_common_textColor_secondary;

                            currency {
                                font-size: 110%;
                            }
                        }

                        &__quantity {
                            flex-grow: 1;
                            line-height: 2.1;
                            background-color: $c_postFilters_quantityBG;
                            border-radius: 11px;
                            font-size: 80%;
							font-weight: 500;
                            opacity: .5;
                            text-align: center;
                            margin-left: 5px;
	                        width: 2em;
	                        height: 2.1em;
                        }

                    }
                }

                &__sliderBlock {

                    &__selection {
                    }

                    &__slider {
                    }
                }
            }

            &__checkboxesBlock {

                &__checkboxes {
                    border-radius: 4px;
                    overflow: hidden;

                    &__checkbox {
                        background-color: $nemo-color-LightPoint;
                        box-shadow: none;
                        padding: 0 10px 0 20px;
                        height: 40px;
                        line-height: 40px;
                        width: 100%;
                        display: block;
                        cursor: pointer;
                        transition: all $t_postFilters_animationTime ease-in;
                        border-top: 1px $c_postFilters_separatorColor solid;
                        overflow: hidden;

                        &:hover {
                            background: $nemo-header-bg;
                            transition: all $nemo-transition-main;
                        }

                        &:first-of-type {
                            border-top: none;
                        }
                        &__name,
                        &__value {
                            display: inline-block;
                            vertical-align: middle;
                        }

                        &__input {
                            display: none;
                        }

                        &__input:checked + &__name {
                            &:before {
                                background-color: $nemo-color-main;
                            }
                        }


                        &__name {
                            max-width: 219px;
                            line-height: 1em;
                            padding-left: 29px;
                            position: relative;

                            &:before {
                                content: '';
                                display: block;
                                position: absolute;
                                line-height: 39px;
                                left: 0;
                                top: 50%;
                                margin-top: -10px;
                                width: 19px;
                                height: 19px;
                                background: $nemo-color-neutral url(images/ui/checkbox_sprite.svg);
                                border-radius: 5px;
                             }

                            &__stars {
                                color: $c_content_bg;
                                
                                &:first-letter {
                                    text-transform: uppercase;
                                }
                                    
                                &__star {
                                    display: inline-block;
                                    width: 17px;
                                    height: 17px;
                                    background: url("images/hotels_results_sprite.svg") -2px -24px no-repeat;
                                }
                            }
                        }

                        &__value {
                            float: right;
                            color: $nemo-color-text-secondary;
                        }
                    }
                }
            }
        }

    }
}