.nemo-common-sticker {
  position: relative;
  display: block;
  //height: 100%;
  align-self: stretch;
  //overflow: hidden;

  &__inner {
    //padding: 20px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    margin: 10px 0;
  }
}