
.new-ui-{

	&flight{
		box-shadow: 0 0 10px 1px rgba(0,0,0,.4);
		border-radius: 5px;
		margin: 0 0 20px;

		&__title{
			background: #A5C5E5;
			border-radius: 5px 5px 0 0;
			padding: 0 18px;
			height: 50px;
			display: table;
			width: 100%;
			
			&__item{
				display: table-cell;
				vertical-align: middle;
				&__text{
					display: inline-block;
					vertical-align: middle;
					font-size: 15px;
					line-height: 17px;
					color: #fff;
					font-family: $f_ui_font_family;
				}
				
				&__right{
					display: inline-block;
					vertical-align: middle;
					float: right;
				}
			}
		}
		&__main{
			@extend .clearfix;

			&__col{
				float: left;
				border-left: 1px dashed #DBDBDB;
				width: 50%;
				
				&:first-child{
					border-left: 0;
					border-right: 1px dashed #dbdbdb;
					margin: 0 -1px 0 0;
				}
				
				&__title{
					border-bottom: 1px solid  #DBDBDB;					
				}
				
				&__info{
					padding: 20px 20px 10px;
				}
			}
			
			&_fullWidth{
				border-top: 1px solid  #DBDBDB;
				.new-ui-flight__main__col{
					float: none;
					width: 100%;
					border-right: 0;
				}
				&:first-child{
					border-top: 0;
				}
			}
		}
		
		&__bott{
			border-top: 1px solid  #DBDBDB;
			padding: 20px;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-content: center;
			align-items: center;
			
			&__more{
				
			}
			
			&__price{
				
				&__text{
					display: inline-block;
					text-align: right;
					font-size : 13px;
					line-height : 17px;
					color: #9F9F9F;
					padding: 0 10px 0 0;
					vertical-align: middle;
				}
			}
		}
		
		&__bottText{
			display: inline-block;
			text-align: right;
			font-size: 13px;
			line-height: 17px;
			color: #9f9f9f;
			padding: 0 20px 10px;
			vertical-align: middle;
			width: 100%;
		}
		
		&_hot{

			.new-ui-flight__title{
				background: #F9BA00;
				&__item{
					&__text{
						color: #626366;
					}
				}
			}
		}
		
		&_hotSecond{

			.new-ui-flight__title{
				background: #B23E13;
				&__item{
					&__text{
						
					}
				}
			}
		}
	}
}

.new-{

	&flight{

		&Descr{
			padding 20px;
			
			&__icon{
				width: 20px;
				height: 20px;
				display: inline-block;
				margin: 0 15px 0 0;
				vertical-align: middle;
			}
			
			&__text{
				display: inline-block;
				vertical-align: middle;
				&__date{
					font-size : 12px;
					line-height : 20px;
					color: #636467;
					span{
						color: #9F9F9F;
					}
				}
				
				&__route{
					font-size : 13px;
					line-height : 20px;
					color : #636467;
				}
			}
		}
		
		&Info{

			&__title{
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-content: center;
				align-items: center;
				margin 0 0 10px;

				&__text{
					font-size : 13px;
					line-height : 15px;
					color : #636467;
					
					a{
						color: #9F9F9F;
						text-decoration: none;
					}

				}
				
				&__message{
					font-size : 13px;
					line-height : 15px;
					color : #636467;
					
					&_hightLight{
						color: #FF9731;
					}

				}
			}
			
			&__main{
				padding: 0 0 15px;
			}
		}
		
		&Select{
			position: relative;
			box-shadow: 0 0 5px 1px rgba(0,0,0,.4);
			border-radius: 5px;
			
			&.new-flightSelect_open{
				border-radius: 5px 5px 0 0;
			}
			
			&__selected{
				cursor: pointer;
				border-radius: 5px;
				padding: 10px;
				background-image: linear-gradient(to bottom, #E5E5E5, #F2F2F2);
				
				/.new-flightSelect_open &{
					border-radius: 5px 5px 0 0;
				}
			}
			
			&__drop{
				position: absolute;
				left:0;
				right:0;
				top: 57px;
				display: none;
				background #fff;
				border-radius: 0 0 5px 5px;
				box-shadow: 0 3px 5px 1px rgba(0,0,0,.4);
				
				/.new-flightSelect_open &{
					display: block;
				}
				
				&__item{
					padding: 5px 10px;
					border-top: 1px solid  #D7D7D7;
					cursor: pointer;
					
					&:first-child{
						border-top: 0;
					}
					
					.no-touch &:hover{
						background: #AADCFF;
					}
				}
			}
			
			&_smaller{
				.new-flightSelect__selected{
					padding: 2px 10px;
				}
				.new-flightTime__text__time{
					font-size: 11px;
					b{
						font-size: 13px;
					}
				}
				.new-flightSelect__drop{
					top: 40px;
				}
			}
		}
		
		&Time{
			display:flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-content: center;
			align-items: center;

			&__icon{
				padding: 0 10px 0 0;
			}
			
			&__text{
				flex-grow: 1;
				flex-shrink: 0;
				flex-basis: 200px;
				vertical-align: middle;
				
				&__time{
					color: #636467;
					font-size : 12px;
					line-height : 20px;
					flex-grow: 1;
					flex-shrink: 0;
					flex-basis: 200px;
					b{
						font-weight: 600;
						font-size: 16px;
						line-height: 20px;
					}
					span{
						color: #FF9731;
					}
				}
				
				&__duration{
					font-size: 12px;
					line-height: 15px;
					
					a{
						color: #9F9F9F;
						text-decoration: none;
					}
				}
			}
		}
		
		&Details{

			&__text{

				p{
					color: #9F9F9F;
					padding: 0 0 15px;
					font-size : 12px;
					line-height : 15px;
					margin: 0;
					
					span{
						color: #FF9731;
					}
					
					a{
						color: #52A2CC;
						float: right;
					}
				}
			}
		}
	}
}
















