.new-layout-{
	&footer__inner{
		max-width: 1140px;
		margin: 0 auto;
		padding: 25px 20px;
		&__left{
			display: inline-block;
			width: 49%;
		}
		&__right{
			display: inline-block;
			width: 50%;
			text-align: right;
		}
	}
}

.new-{
	&fMenu{
		display: inline-block;
		color: #63B4F5;
		font-size: 13px;
		line-height: 15px;
		text-decoration: underline;
	}
}

.nemo-{

	&company{
		display: inline-block;
		width: 130px;
		margin: 0 20px;
		img{
			width: 100%;
		}
	}
}