.new-{
	&hotel{
		&__top{
			padding: 7px 0 8px;
			&__title{
				color: #636467;
				font-size: 13px;
				line-height: 15px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				display: inline-block;
				width: 168px;
				vertical-align: middle;
			}
			&__rating{
				display: inline-block;
				width: 67px;
			}
		}
		&__btn{
			padding: 0 0 10px;
			.new-ui-button{
				width: 100%;
			}
		}
	}
}