

.new-ui-{

	&rating{
		display: inline-block;

		&__item{
			display: inline-block;
			background: url("../img/star-grey.svg") 0 0 no-repeat;
			width: 16px;
			height: 16px;
			vertical-align: middle;

			&_selected{
				background: url("../img/star-gold.svg") 0 0 no-repeat;
			}
		}
	}
}

.new-{
	&cLogo{
		display: inline-block;
		vertical-align: middle;
		margin: 0 0 0 20px;
		img{
			vertical-align: middle;
		}
	}
}