

.new-ui-{

	&rating{
		display: inline-block;

		&__item{
			display: inline-block;
			background: url("images/star-grey.svg") 0 0 no-repeat;
			width: 16px;
			height: 16px;
			vertical-align: middle;

			&_selected{
				background: url("images/star-gold.svg") 0 0 no-repeat;
			}
			
			&_half{
				background: url("images/star-half.svg") 0 0 no-repeat;
			}
		}
		
		&_small{
			
			.new-ui-rating__item{
				width: 10px;
				height: 10px;
			}
		}
	}
}

.new-{
	&cLogo{
		display: inline-block;
		vertical-align: middle;
		margin: 0 0 0 20px;
		img{
			vertical-align: middle;
		}
	}
	
	&ratingDetails{
		padding: 15px 15px 5px;
		background: $nemo-color-LightPoint;
		border-radius: 5px;

		&__title{
			font-size: 14px;
			line-height: 16px;
			color: #626366;
			padding: 0 0 10px;
		}
		
		&__item{
			white-space: nowrap;
			padding: 0 0 10px;

			&__rating{
				display: inline-block;
				width: 105px;
				vertical-align: middle;
				
				.new-ui-rating__item{
					width: 18px;
					height: 18px;
				}
			}
			
			&__text{
				vertical-align: middle;
				display: inline-block;
				width: 130px;
				padding: 0 0 0 5px;
				font-size: 12px;
				line-height: 15px;
				color: #626366;
			}
		}
	}
}