.new-{
	&route{
		&__tabs{
			padding: 0 20px 15px;
			border-bottom: 1px solid  rgba(175, 175, 175, 0.5);
			margin-bottom: 20px;
			&__item{
				background: rgb(204,204,204);
				background: linear-gradient(to bottom, rgba(204,204,204,1) 0%,rgba(229,229,229,1) 100%); 
				height: 24px;
				line-height: 24px;
				display: inline-block;
				font-size: 13px;
				padding: 0 10px;
				margin: 0 5px 0 0;
				border-radius: 4px;
				cursor: pointer;
				&_selected{
					background: #0B90D6;
					color: $nemo-color-LightPoint;
					box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.4);
				}
			}
			&__text{
				display: inline-block;
				vertical-align: middle;
				color: #9F9F9F;
				font-size: 13px;
				line-height: 20px;
			}
		}
		&__main{
			padding: 0 20px;
			&__table{
				table-layout:fixed;
				width: 100%;
				tr{
					&:first-child{
						&+tr{
							td{
								border-top: 0;
							}
						}
					}
				}
				td{
					padding: 10px 0 10px 10px;
					border-top: 1px solid  rgba(175, 175, 175, 0.5);
					&:first-child{
						padding: 10px 10px 10px 0;
					}
				}
				th{
					padding: 10px 0 0 10px;
					&:first-child{
						padding: 10px 10px 0 0;
					}
				}
				&__text{
					font-weight: normal;
					p{
						color: #404041;
						font-size: 13px;
						margin: 0;
						line-height: 20px;
						text-align: left;
						span{
							color: #9F9F9F;
						}
					}
					&_small{
						width: 56px;
						p{
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
						}
					}
				}
				&__cell{
					width: 200px;
					max-width: 200px;
					&_small{
						width: 60px;
					}
					&_right{
						text-align: right;
					}
				}
			}
		}
	}
	
	&routeRun{
		position: relative;
		background: rgb(204,204,204);
		background: linear-gradient(to bottom, rgba(204,204,204,1) 0%,rgba(229,229,229,1) 100%); 
		padding: 8px 10px;
		border-radius: 7px;
		width: 200px;
		height: 50px;
		cursor: pointer;
		&__circle{
			position: absolute;
			top: -7px;
			right: -7px;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: #EDEDED;
			&__icon{
				width: 8px;
				height: 8px;
				background: url("images/arrs-grey.svg");
				display: block;
				margin: 6px auto 0;
			}
		}
		&__top{
			&__start{
				display: inline-block;
				vertical-align: middle;
				color: #404041;
				font-size: 16px;
				line-height: 20px;
				font-weight: 600;
			}
			&__end{
				display: inline-block;
				vertical-align: middle;
				font-size: 13px;
				line-height: 15px;
				color: #404041;
			}
			&__text{
				display: inline-block;
				vertical-align: middle;
				font-size: 12px;
				line-height: 14px;
				color: #404041;
			}
		}
		&__bottom{
			@extend .clearfix;
			&__path{
				color: #9F9F9F;
				font-size: 12px;
				line-height: 14px;
				float: left;
				width: 120px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				
			}
			&__seat{
				color: #9F9F9F;
				font-size: 12px;
				line-height: 14px;
				float: right;
			}
		}
		&_small{
			width: 60px;
			.new-routeRun__top__start{
				display: block;
			}
			.new-routeRun__top__end{
				display: block;
			}
		}
		&_selected{
			background: #0b90d6;
			box-shadow: inset 0 0 5px 0 rgba(0,0,0,.4);
			.new-routeRun__circle{
				background: #0b90d6;
			}
			.new-routeRun__circle__icon{
				background: url("images/arrs-white.svg");
			}
			.new-routeRun__top__start{
				color: $nemo-color-LightPoint;
			}
			.new-routeRun__top__end{
				color: rgba(255,255,255, 0.75);
			}
			.new-routeRun__top__text{
				color: rgba(255,255,255, 0.75);
			}
			.new-routeRun__bottom__path{
				color: $nemo-color-LightPoint;
			}
			.new-routeRun__bottom__seat{
				color: rgba(255,255,255, 0.75);
			}
		}
		&_opacity{
			opacity: 0.25;
		}
	}
}

.new-{
	&buy{
		font-size: 13px;
		line-height: 15px;
		color: $nemo-color-LightPoint;
		background: #4D7F0D;
		border: 0;
		background: linear-gradient(to bottom, #4D7F0D 0%, #81D617 100%); 
		text-align: center;
		height: 50px;
		border-radius: 4px;
		width: 130px;
		text-align: center;
		b{
			font-size: 16px;
			line-height: 18px;
			display: block;
			font-weight: normal;
			span{
				font-size: 16px;
				line-height: 18px;
			}
		}
		&_opacity{
			opacity: 0.6;
			&:hover{
				opacity: 1;
			}
		}
	}
}

