@media (max-width: 1199px) {
    .nemo-hotel {
        &__additional {
            display: none;
        }

        &__content {
            flex-basis: 100%;

            &__rooms {
                &__mobileHeader {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 15px;
                    margin-top: -5px;

                    &__title {
                        font-size: 20px;
                    }
                }

                &__slider {
                    height: auto;

                    &__dummy {
                        height: 0;
                        padding-bottom: 52%;
                    }
                }
            }
        }
    }
}