.nemo-hotel {
	display: flex;
	
	&__noPhoto {
		backgroundImage: url(../img/no_hotel.svg)
	}

	&__big-map {
		position: relative;
		width: calc(100% - 40px);
		height: calc(100% - 40px);
		background: #fff;
		-webkit-border-radius: $nemo-border-radius;

		&-holder {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $nemo-color-container-shadow;
			padding: 20px 0 0 20px;
			z-index: 999
		}

		&__btn {
			position: absolute;
			z-index: 999;
			width: 20px;
			height: 20px;
			background: darken($nemo-color-LightPoint, 5);
			top: 10px;
			right: 10px;
			cursor: pointer;

			&:hover {
				background: darken($nemo-color-LightPoint, 10);
			}

			&:before,
			&:after {
				display: block;
				content: '';
				position: absolute;
				width: 1px;
				height: 13px;
				background: $nemo-color-MiddlePoint;
				top: 4px;
				left: 9px;
			}

			&:before {
				transform: rotate(45deg);
			}

			&:after {
				transform: rotate(-45deg);
			}
		}
	}

	&__additional {
		margin: 15px 10px 0 20px;
		flex: 0 0 400px;

		&__block {
			margin-bottom: 20px;

			&__title {
				font-size: 17px;
				font-weight: 400;
				margin-bottom: 15px;
			}
		}

		&__info {
			color: $nemo-color-LightPoint;
			padding-top: 3px;
			height: 75px;
			position: relative;
			width: 400px;

			&__name,
			&__address {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				display: block;
			}

			&__name {
				font-size: 20px;
				max-width: 295px;
				padding-bottom: 7px;
			}

			&__stars {
				position: absolute;
				top: 7px;
				right: 0;
				white-space: nowrap;

				&__item {
					display: inline-block;
					width: 17px;
					height: 19px;
					background: url("images/hotels_results_sprite.svg") -2px -24px no-repeat;
				}
			}
		}

		&__location {
			padding: 0;

			&__map {
				overflow: hidden;
				border-radius: $d_ui_subContainer_borderradius;
				position: relative;
				box-shadow: 0 1px 8px rgba(10, 10, 15, .35);

				#cardHotelMap {
					& > div {
						border-radius: $nemo-border-radius $nemo-border-radius 0 0 !important;
					}
				}

				&__button {
					background: $nemo-color-main;
					font-size: 15px;
					width: 150px;
					height: 40px;
					line-height: 40px;
					position: absolute;
					bottom: 40px;
					right: 0;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;

					&:hover, &:active {
						background: lighten($nemo-color-main, 10%);
					}
				}
			}

			&__distances {
				padding: 20px 20px;
				color: #50505a;

				&__title {
					margin-bottom: 10px;
				}

				&__param {
					display: flex;
					line-height: 25px;

					&__name {
						display: block;
						width: 210px;
						color: $nemo-color-text-secondary;
						flex-shrink: 0;
					}

					&__values {
						&__value {
							display: inline-block;
						}
					}
				}
			}
		}

		&__booking {
			&__list {
				list-style-type: none;
				padding: 0;

				&__item {
					white-space: nowrap;
					margin-bottom: 10px;

					&:before {
						content: '';
						display: inline-block
						width: 11px;
						height: 12px;
						background: url(images/hotels_hotel_sprite.svg) no-repeat 0 0;
						vertical-align: middle;
						margin-right: 11px;
					}

					&__text {
						display: inline-block;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		&__viewed {
			&__title {
				color: $nemo-color-LightPoint;
				margin-bottom: 20px;
			}

			&__item {
				margin-top: 0 !important;
				margin-bottom: 20px;

				&:last-child {
					margin-bottom: 0;
				}

				&__header {
					&:before {
						content: none;
					}
				}

				&__title {
					width: 100%;
					padding: 0 20px;
					padding-top: 14px;
				}

				&__stars {
					margin: 0;
				}

				&__addressWrap {
					padding-top: 0;
					margin-top: -20px;
				}

				&__distances {
					margin-left: 60px;
					justify-content: space-around;
                                           
					&__alone {
						margin: 0 auto;
					}
				}

				&__rating {
					margin-right: 70px;
				}

				&__description {
					padding-left: 20px;
					padding-right: 30px;

					&__text {
						height: 45px;
						color: rgba(100, 100, 100, .75);
					}

					&__link {
						right: 20px;
					}
				}

				&__services {
					padding-left: 15px;
					padding-right: 15px;
					border-top: 1px solid $nemo-color-neutral;
					margin: 0;
					font-size: 0;

					li {
						margin-right: 4px;
					}
				}

				&__footer {
					border-top: 1px solid $nemo-color-neutral;
					padding: 10px 20px 10px 0;

					&__button {
						width: auto;

						&__priceContainer {
							display: block;

							&__price {
								display: inline-block;
							}
						}
					}
				}
			}
		}
	}

	&__content {
		margin: 15px 20px 0 10px;
		flex: 0 1 82%;
		overflow: hidden;
		color: #50505a;

		&__tabs {
			height: 75px;
			padding: 5px 5px 0;
			background: $c_content_bg;
			position: relative;
			z-index: 1;

			&__tab {
				display: inline-block;
				margin: 0 18px;
				padding-top: 5px;
				opacity: .5;
				height: 40px;
				border-bottom: 3px solid transparent;
				cursor: pointer;

				&__text {
					color: $nemo-color-LightPoint;
					border-bottom: 1px dashed $nemo-color-LightPoint;
					font-size: 15px;
				}

				&_active {
					border-color: $nemo-color-LightPoint;
					opacity: 1;

					& > * {
						border-color: transparent;
					}
				}
			}
		}

		&__tabsContent {
			min-height: auto;
			margin-top: -95px;
			padding-top: 111px;
			position: relative;
			margin-bottom: 25px;

			&:before {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 20px;
				background: $c_content_bg;
				left: 0;
				top: 95px;
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 20px;
				background: $nemo-color-LightPoint;
				left: 0;
				top: 95px;
				-webkit-border-radius: $nemo-border-radius $nemo-border-radius 0 0;
				-moz-border-radius: $nemo-border-radius $nemo-border-radius 0 0;
				border-radius: $nemo-border-radius $nemo-border-radius 0 0;

			}
		}

		&__rooms {
			&__mobileHeader,
			&__mobileDistances {
				display: none;
			}
			
			&__header {
				margin-bottom: 15px;
			}
			
			&__description {
				width: 49%;
				margin-right: 1%;
				float: left;
				
				h2 {
					font-size: 17px;
					font-weight: 400;
					margin-bottom: 5px;
				}
				
				p {
					margin-bottom: 15px;
				}
			}
			
			&__slider {
				position: relative;
				
				.lightSlider {
					.lslide {
						text-align: center;
						position: relative;
						bottom: -4px;
						
						.lslideUndercover {
							background-repeat: no-repeat;
							background-size: cover;
							background-position: center;
							position: absolute;
							filter: blur(7px);
							top: -15px;
							bottom: -15px;
							left: -15px;
							right: -15px;
							z-index: -2;
						}
						
						.lslideUndercoverDarken {
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							z-index: -1;
							background: rgba(0, 0, 0, 0.5);
						}
						
						img {
							max-height: 500px;
						}
					}
				}

				.lSSlideOuter {
					.lSPager.lSGallery {
						img {
							width: auto;
							height: 80px;
						}
						
						li {
							opacity: 0.4;
							transition: opacity 0.2s;
							
							a {
								display: flex;
								justify-content: center;
							}

							&.active, &:hover {
								opacity: 1;
								border-radius: 0;
							}
						}
					}
				}
				
				&_aside {
					width: 49%;
					float: right;
				}

				.fotorama__stage__frame, .fotorama__stage {
					background: #555;
				}

				.carousel-inner {
					position: relative;

					.item {
						height: 100%;
					}

					img {
						position: absolute;
						width: 100%;
						height: auto;
						top: 50%;
						left: 50%;
						-webkit-transform: translate(-50%, -50%);
						-moz-transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
						-o-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);

					}
				}

				ol {
					position: relative;
					margin: 0 -1%;
					width: 102%;
					left: 0;
					overflow: hidden;
					bottom: auto !important;

					li {
						width: 8% !important;
						height: 80px !important;
						text-indent: 0;
						position: relative;
						display: block;
						float: left;
						border: none !important;
						margin: 5px 1% !important;
						-webkit-box-shadow: 1px 1px 4px #777;
						-moz-box-shadow: 1px 1px 4px #777;
						box-shadow: 1px 1px 4px #777;

						/*img {
							display: block;
							position: absolute;
							top: 50%;
							left: 50%;
							-webkit-transform: translate(-50%, -50%);
							-moz-transform: translate(-50%, -50%);
							-ms-transform: translate(-50%, -50%);
							-o-transform: translate(-50%, -50%);
							transform: translate(-50%, -50%);
						}*/

						span {
							display: block;
							width: 100%;
							height: 100%;
							background-position: 50% 50%;
							-webkit-background-size: cover;
							background-size: cover;
							-webkit-border-radius: 6px;
							-moz-border-radius: 6px;
							border-radius: 6px;
						}

						&.active {
							-webkit-box-shadow: -1px -1px 2px #aaa;
							-moz-box-shadow: -1px -1px 2px #aaa;
							box-shadow: -1px -1px 2px #aaa;

							span {
								opacity: .3;
							}
						}
					}
				}

				&__dummy {
					width: 100%;
					height: 100%;
					background-size: cover;
					background-position: 50% 50%;
					background-color: $nemo-color-neutral;
				}
			}

			&__rating {
				position: absolute;
				top: 20px;
				right: 20px;
				width: 110px;
				height: 80px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				border-radius: $nemo-border-radius;
				background: lighten($nemo-color-neutral, 9);
				box-shadow: 0 0 9px rgba(0,0,0,0.3);
				transition: opacity 0.1s;
				
				&__num,
				&__text {
					color: $c_ui_button;
				}

				&__num {
					font-size: 24px;
				}

				&__text {
					margin-top: -2px;
					margin-bottom: 2px;
				}
			}

			&__title {
				font-weight: 400;
				padding-bottom: 2px;
			}

			&__subtitle {
				display: inline-block;
				color: $nemo-color-text-secondary;
				margin-bottom: 15px;
				font-size: 13px;
			}

			&__summary {
				display: flex;
				opacity: .5;
				transition: opacity $nemo-transition-main;
				margin-bottom: 20px;

				&:hover,
				&_active {
					opacity: 1;
				}

				&__title {
					width: 90px;
					display: block;
					flex-shrink: 0;
					line-height: 40px;
				}

				&__inner {
					flex-basis: 100%;
					display: flex;
					border: 1px solid $nemo-color-neutral;
					border-radius: $nemo-border-radius;
					justify-content: space-between;
					align-items: center;
					line-height: 40px;
					position: relative;
					
					&__change {
						font-size: 15px;
						width: 150px;
						height: 42px;
						line-height: 40px;
						border-radius: 0 4px 4px 0;
						position: absolute;
						right: -1px;
						
						&, &:hover, &:active, &:focus {
							background: #64b5f6;
						}
					}
				}

				&__switch {
					margin: -1px -1px -1px 0;
					height: 40px;
					line-height: 40px;
					background: $nemo-color-main;
					font-size: 15px;

					&:hover,
					&:active {
						background: $nemo-color-main;
					}
				}

				&__info {
					&__from,
					&__to,
					&__rooms {
						display: inline-block;
						margin-left: 20px;
					}

					&__paramName {
						color: $nemo-color-text-secondary;
						padding-right: 10px;
					}
				}
			}

			&__list {
				list-style-type: none;
				padding: 0;
				margin: 0;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				&__item {
					padding: 0;
					margin: 0;
					flex: 0 1 49%;

					&__title {
						display: flex;
						align-items: center;
						margin-bottom: 20px;
						position: relative;

						&__number,
						&__roomName,
						&__separator,
						&__guests {
							display: block;
							font-size: 15px;
						}

						&__number {
							display: block;
							width: 30px;
							height: 30px;
							line-height: 30px;
							background: $nemo-color-main;
							text-align: center;
							border-radius: 50%;
							color: $nemo-color-LightPoint;
							margin-right: 15px;
						}

						&__separator,
						&__guests {
							color: $nemo-color-text-secondary;
						}

						&__separator {
							padding: 0 5px;
						}

						&__button {
							height: 40px;
							line-height: 40px;
							position: absolute;
							right: 0;
							top: -5px;
						}
					}
				}
			}

			&__footer {
				border-top: 1px solid $nemo-color-neutral;
				margin: 0 -20px;
				padding: 20px 20px 0;
				display: flex;
				justify-content: flex-end;
				align-items: center;

				&.sticked {
					position: fixed;
					left: 0;
					right: 0;
					bottom: 0;
					max-width: 1700px;
					min-width: 0;
					margin: 0 auto;
					height: 80px;
					background: #fff;
					padding: 0;
					padding-right: 40px;
					padding-left: 40px;
					z-index: 10;

					&:before {
						content: '';
						background: #fff;
						position: fixed;
						width: 100%;
						height: inherit;
						right: 0;
						left: 0;
						z-index: -1;
						border-top: 1px solid #e6e6e6;
					}

					@media (max-width: 1199px) {
						padding-left: 20px;
						padding-right: 20px;
					}

					@media (max-width: 635px) {
						.nemo-hotel__content__rooms__footer__dummy {
							&__text {
								display: none;
							}

							&__button {
								width: 195px;
								margin-top: 10px;
							}
						}
					}
				}

				&__wrapper {
					min-height: 80px;

					@media (max-width: 500px) {
						min-height: 100px;
					}
				}

				&__dummy {
					display: flex;
					justify-content: flex-end;
					align-items: center;

					&__text {
						text-align: right;
						padding-right: 20px;
						color: $nemo-color-text-secondary;
						font-size: 13px;
						line-height: 1.5em;
					}

					&__button {
						cursor: default;
					}
				}

				&__button {
					display: table;
					width: auto;
					height: 60px;
					justify-content: flex-end;
					align-items: center;
					border-radius: $nemo-border-radius;
					overflow: hidden;
					padding: 0;

					&__price {
						display: table-cell;
						text-align: right;
						line-height: 1.5em;
						font-size: 13px;
						padding-right: 10px;
						padding-left: 15px;
						vertical-align: middle;
						padding-top: 3px;

						&__allNights {
							display: block;
							white-space: nowrap;

							&__value {
								font-size: 20px;
							}

							currency {
								font-size: 15px;
							}
						}
							
						&__perNight {
							white-space: nowrap;
							font-size: 13px;
						}
					}

					&__icon {
						background: darken($c_ui_button, 10);
						display: table-cell;
						height: 60px;
						width: 60px;
						text-align: center;
						vertical-align: middle;
						padding-right: 15px;
						border-radius: 0 $nemo-border-radius $nemo-border-radius 0;
						transition: all .1s ease-in;

						&:before {
							content: '';
							display: block;
							width: 30px;
							margin-left: 15px;
							height: 24px;
							background: url("images/hsf-sprite.svg") no-repeat -1px -22px;
						}
					}
						
					&:hover &__icon {
						background: darken($c_ui_button, 8);
					}
				}
			}
		}

		&__about {
			&__title {
				font-size: 21px;
				font-weight: 400;
				margin-bottom: 15px;
			}
			
			&__subtitle {
				font-size: 15px;
				font-weight: 400;
				margin-bottom: 10px;
			}
			
			&__testimonials {
				margin-bottom: 30px;

				&__item {
					font-size: 13px;
				}

				&__list {
					list-style-type: none;
					padding: 0;
					margin: 0;
				}
			}
			
			&__description {
				margin-bottom: 30px;

				&__text {
					margin-bottom: 15px;
					font-size: 13px;

					br {
						display: none;
					}
					
					b, strong {
						font-size: 13px;
						font-weight: 400;
					}

					h2 {
						font-size: 17px;
						font-weight: 400;
						margin-bottom: 5px;
					}

					p, ul {
						margin-bottom: 15px;
					}
				}
			}
			
			&__location {
				& &__distances {
					&__distance {
						width: 50%;
						float: left;
					}
				}
					
				&__distances {
					color: #50505a;

					&__list {
						list-style-type: none;
						padding: 0;
						margin: 0;
					}

					&__distance {
						margin-bottom: 5px;
						overflow: hidden;

						&:last-child {
							margin-bottom: 0;
						}

						&__name {
							display: block;
							float: left;
							width: 210px;
							overflow: hidden;
							text-overflow: ellipsis;
							padding-right: 5px;
						}

						&__params {
							display: block;
							margin-left: 120px;
						}

						&__param {
							display: inline-block;
						}
					}
				}

				&__map {
					width: 100%;
					height: 400px;
					margin-top: 15px;
				}
			}

			&__services {
				&__list {
					list-style-type: none;
					margin: 0;
					padding: 0;
				}

				&__service {
					margin-bottom: 10px;
					overflow: hidden;

					&:last-child {
						margin-bottom: 0;
					}

					&__name {
						display: block;
						float: left;
						width: 190px;
					}

					&__values {
						display: block;
						margin-left: 200px;
					}
				}
			}
				
			&__rules {
				&:after {
					content: '';
					display: block;
					clear: both;
				}

				&__list {
					list-style-type: none;
					padding: 0;
					margin: 0;
				}

				&__rule {
					margin-bottom: 15px;
					overflow hidden;

					&:last-child {
						margin-bottom: 0;
					}

					&__name {
						float: left;
						display: block;
						width: 150px;
					}

					&__values {
						margin-left: 160px;

						p {
							margin-bottom: 10px;

							&:last-child {
								margin-bottom: 0;
							}
						}
					}
				}
			}
			&__contacts {
				font-size: 13px;

				p {
					font-size: inherit;
					margin-bottom: 15px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
			&__paramName {
				color: $nemo-color-text-secondary;
			}
		}
		&__title {
			font-size: 15px;
		}
	}
}

.nemo-hotelRoom {
	border: 1px solid #ebebeb;
	border-radius: $nemo-border-radius;
	overflow: hidden;
	margin-bottom: 20px;

	&__info,
	&__tariff {
		padding: 15px;
		overflow: hidden;

		&__feature {
			font-size: 13px;
		}
	}

	&__info {
		padding-right: 85px;
		position: relative;

		&__toggle {
			content: '';
			display: block;
			width: 15px;
			height: 15px;
			background: url(images/hotels_hotel_sprite.svg) no-repeat 1px -18px;
			border: none;
			outline: none;
			cursor: pointer;
			position: absolute;
			top: 20px;
			right: 30px;

			&.expand {
				transform: rotate(180deg);
			}
		}

		&_short {
			&:before {
				transform: rotate(180deg);
			}
		}

		&__title {
			font-weight: 400;
			font-size: 15px;
			border-bottom: 1px dashed lighten($nemo-color-main, 20);
			margin-bottom: 11px;
			display: inline-block;
			cursor: pointer;
			transition: $nemo-transition-main;

			&:hover {
				border-color: $nemo-color-main;
			}
		}

		&__description {
			color: $nemo-color-text-secondary;
			font-size: 13px;
		}

		&__gallery {
			margin-top: 15px;
			width: 100%;
			max-width: 430px;
			height: 255px;
		}

		&__services {
			margin-top: 25px;

			&__title {
				display: block;
				margin-bottom: 18px;
			}

			&__list {
				list-style-type: none;
				padding: 0;
				margin: 0;
				column-count: 3;
				-moz-column-count: 3;
				-webkit-column-count: 3;
				column-gap: 2em;
			}

			&__service {
				font-size: 13px;
				line-height: 1.2em;
				margin-bottom: 10px;
				position: relative;
				padding-left: 10px;

				&:before {
					content: '';
					position: absolute;
					left: 0;
					background: $nemo-color-main;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					border-radius: 50%;
					display: block;
					height: 4px;
					width: 4px;
					top: 6px;
					left: 2px;
				}
			}
		}
	}

	&__tariff {
		border-top: 1px solid $nemo-color-neutral;
		
		&__wrapper:first-of-type & {
			border-top: none;
		} 
		
		&__wrapper:last-child & {
			border-bottom: none;
		}
	}

	&__tariffs {
		&__more {
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&__tariff {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 11px;
		padding-bottom: 11px;

		&__features {
			flex: 1 1 100%;
		}

		&__feature {
			display: block;
			line-height: 20px;
			
			&__name {
				font-weight: bold;
			}

			&__corporateFare {
				color: #ff9731;
			}

			.fa {
				color: #64b5f6;
				font-size: 14px;
				cursor: pointer;
			}
		}

		&__price {
			flex: 0 0 190px;
			text-align: right;

			&__allNights {
				display: block;
				margin-top: -5px;

				&__value {
					font-size: 20px;
				}
				
				currency {
					font-size: 15px;
				}

				&__period {
					color: $nemo-color-text-secondary;
				}
			}

			&__perNight {
				display: block;
				font-size: 13px;
				color: $nemo-color-text-secondary;
			}

			&__cancellation {
				font-size: 13px;
				
				&__tooltip {
					.tooltipster-content {
						padding: 12px 15px;
						background: #fff5cc;
						font-weight: 400;
						color: #333;
						font-size: 13px;
						
						.tooltipster-header {
							font-weight: 500;

							&:not(:first-of-type) {
								margin-top: 15px;
							}
						}
						
						money {
							font-weight: 500;
						}

						p {
							margin-bottom: 10px;

							&:last-of-type {
								margin-bottom: 0;
							}
						}
					}
				}
			}
		}

		&__controlWrap {
			flex: 0 0 130px;
			text-align: right;
			align-self: center;

			&__button {
				display: inline-block;
				height: 40px;
				width: 110px;
				text-align: center;
				line-height: 38px;
				border: 1px solid $c_ui_button;
				color: $c_ui_button;
				border-radius: $nemo-border-radius;
				font-size: 15px;
				cursor: pointer;
				transition: $nemo-transition-main;
				background: $nemo-color-LightPoint;
				user-select: none;

				&_withWarning {
					position: relative;

					&:after {
						content: '!';
						position: absolute;
						right: -10px;
						border-radius: 50%;
						width: 20px;
						height: 20px;
						line-height: 20px;
						top: 8px;
						font-weight: 600;
						background: #fff;
						border: 1px solid #ff9731;
						color: #ff9731;
					}
				}

				&:hover {
					background: lighten($c_ui_button, 45);
				}
			}
		}

		&_selected {
			background: $c_ui_button;

			.nemo-hotelRoom__tariff__feature__name .fa {
				color: #fff;
			}

			& * {
				color: $nemo-color-LightPoint;
			}
				
			& .nemo-hotelRoom__tariff__controlWrap {
				align-self: center;
				flex-basis: 130px;

				&__button {
					background: $c_ui_button !important;
					position: relative;

					&:before {
						content: '';
						display: block;
						position: absolute;
						width: 12px;
						height: 10px;
						background: url(images/hotels_hotel_sprite.svg) no-repeat 0 -44px;
						left: 0;
						top: 50%;
						margin-top: -5px;
					}

					&_withWarning {
						&:after {
							background: #ff9731;
							color: #fff;
						}
					}
				}
			}

			& .nemo-hotelRoom__tariff__price {
				&__link, &__cancellation {
					color: $nemo-color-LightPoint !important;
					border-color: $nemo-color-LightPoint !important;
				}
			}

		}
		
		&_disabled {
			.nemo-hotelRoom__tariff__controlWrap__button {
				opacity: 0.3;
				cursor: default !important;
				user-select: none;
				background: transparent !important;
			}
		}
	}


	&__tariffs-buttons {
		padding: 15px 0;
		border-top: 1px solid $nemo-color-neutral;
	}

	&__more-tarifs {
		background: none;
		outline: none;
		padding: 0;
		margin: 0 auto;
		border-top: none;
		border-left: none;
		border-right: none;
		display: block;
	}
}

.fotorama {
	&__stage {
		height: 450px !important;

		&__frame {
			background: $nemo-color-neutral;
		}
	}

	&__img {
		top: 50% !important;
		transform: translate(0, -50%) !important;
	}

	&__arr {
		display: none !important;
	}
}
