@media (max-width: 1339px) {
    .nemo-hotels-results {
        &__content {
            &__sidebar {
                display: none;
            }

            &__results {
                flex-basis: 82%;
            }

            &__postfilters {
                &__showOnMap {
                    display: block;
                }
            }
        }
    }
}

@media (max-width: 1049px) {
    .nemo-hotels-results {
        &__summary {
            &__filters {
                display: block;
            }

            &__filterSwitch {
                display: block;
            }
        }

        &__content {
           &__results {
                flex-basis: 100%;
            }

            &__postfilters {
                display: none;
            }
        }
    }
}

