.nemo-hotels-results__wrapper {
	background: $c_content_bg;
	width: 100%;
}
.nemo-hotels-results {
	padding: 0;

	&__summary {
		max-width: 1220px;
		margin: 0 auto;
		padding: 0 10px;
		white-space: nowrap;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: stretch;
		position: relative;

		&__inner {
			color: $c_common_textColor;
			background: $nemo-color-LightPoint;
			border-radius: 4px;
			margin-top: 10px;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: stretch;
			flex:  0 1 auto;
			min-width: 1px;
			width: 100%;

			cursor: pointer;
		}

		&__filterSwitch {
			height: 40px;
			line-height: 40px;
			margin-right: 20px;
			margin-top: 10px;
			flex: 0 0 auto;
			display: none;

			&_active {
				background: $nemo-color-main;
				color: $nemo-color-LightPoint;

				&:hover, &:active {
					background: lighten($nemo-color-main, 10%);
				}
			}

			&__mobileText {
				display: none;
			}
		}

		&__area {
			font-size: 13px;
			line-height: 20px;
			padding: 10px;
			min-width: 1px;
			flex-grow: 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 13px;
			line-height: 20px;
			padding: 10px;
			min-width: 1px;

			&__segment {
				margin-right: 10px;
				display: inline;

				&:last-child {
					margin: 0;
				}

				&__geo, &__date, &__guests {
					display: inline;
					vertical-align: top;
				}
					
				&__date {
					color: $nemo-color-text-secondary;
					padding-left: 20px;
				}

				&__guests {
					padding-left: 20px;
				}
			}
		}

		&__switch {
			flex-shrink: 0;
			margin-left: auto;
			height: 40px;
			line-height: 40px;
			background: $nemo-color-main;
			font-size: 15px;

			&:hover, &:active {
				background: lighten($nemo-color-main, 10%);
			}
		}
	}

	&__switch {
		flex-shrink: 0;
		margin-left: auto;
		height: 40px;
		line-height: 40px;
		background: $nemo-color-main;
		font-size: 15px;

		&:hover, &:active {
			background: lighten($nemo-color-main, 10%);
		}
	}

	&__content {
		max-width: 1700px;
		min-height: 85vh;
		margin: 0 auto;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: flex-start;

		&__postfilters,
		&__sidebar {
			flex-basis: 18%;
			min-width: 280px;
			flex-shrink: 0;
			opacity: .75;
			transition: all .2s;

			&:hover {
				opacity: 1;
			}
		}

		&__postfilters,
		&__sidebar,
		&__results {
			margin: 20px 10px 0;
			flex-grow: 0;
			align-self: stretch;
		}

		&__postfilters {
			position: relative;
			transition: all .2s;
			margin-top: 0;
			margin-left: 20px;
		}

		&__results {
			border-radius: 8px 8px 0 0;
			flex: 0 1 64%;

			&__loadingDummy {
				&__header {
					border-radius: $nemo-border-radius;
					padding-top: 5px;
					padding-bottom: 5px;

					&:after {
						content: none;
					}
				}

				&__loader {
					position: absolute;
					width: 26px;
					height: 26px;
					top: 50%;
					margin-top: -13px;
					left: 10px;
					z-index: 1;
				}

				&__enoughBtn {
					position: absolute;
					height: 40px;
					line-height: 40px;
					top: 0;
					right: -1px;

					display: none;
				}

				&__textItem {
					display: inline-block;
					background: $nemo-color-neutral;
				}

				&__item {
					&__header {
						&__title {
							width: 150px;
							height: 19px;
							background: $nemo-color-LightPoint;
							border: none;
							opacity: .5;
						}
					}

					&__stars {
						&__item {
							background: url(/css/images/hsf-sprite.svg) no-repeat -1px -1px !important;
						}
					}

					&__rating {

						&__number,
						&__text,
						&__link {
							background: $nemo-color-LightPoint;
						}

						&__number {
							width: 43px;
							height: 22px;
							margin-bottom: 6px;
						}

						&__text {
							width: 65px;
							height: 12px;
							margin-bottom: 8px;
						}

						&__link {
							width: 75px;
							height: 12px;
						}
					}

					&__image {
						background: $nemo-color-neutral;
						margin-right: 20px;
					}

					&__distances {
						background: none;

						&:before {
							top: auto;
							bottom: 23px;
							background-position: -2px -4px;
						}
					}

					&__address {
						width: 280px;
						height: 20px;
						display: block;
					}
					&__distance {
						display: inline-block;
						width: 110px;
						height: 10px;
					}

					&__mapLink {
						width: 80px;
						height: 10px;
						margin-left: 5px;
					}

					&__district {
						width: 130px;
						opacity: .5;
						background: $c_highlight_warning;
						display: block;
					}

					&__description {
						width: 100%;
						height: 43px;
						margin-left: -10px;
					}

					&__services {
						margin: 0;
						padding: 0;
						font-size: 0;
						margin-top: 5px;

						&__service {
							display: inline-block;
							width: 20px;
							height: 20px;
							border-radius: $nemo-border-radius;
							background: $nemo-color-neutral;
							margin: 5px 10px 5px 0;
						}
					}

					&__rooms {
						&__title {
							&__text {
								width: 185px;
								height: 14px;
								display: block;
							}
						}

						&__room {
							&__count {
								width: 18px;
								height: 14px;
							}

							&__iconWrap {
								opacity: .35;
							}

							&__text {
								width: 245px;
								height: 14px;
							}

							&__feature1 {
								width: 312px;
								height: 12px;
							}

							&__feature2 {
								width: 160px;
								height: 12px;
							}

							&__additional {
								width: 80px;
								height: 12px;
							}
						}
					}

					&__orderBtn {
						background: $nemo-color-neutral !important;
						height: 60px;
						box-shadow: none;
						padding-right: 0;
						overflow: hidden;

						&__price {
							width: 94px;
							height: 10px;
							background: $nemo-color-LightPoint;
							display: inline-block;
							margin-bottom: 10px;
						}

						&__period {
							width: 68px;
							height: 10px;
							background: $nemo-color-LightPoint;
							display: inline-block;
						}

						&__arrow {
							background: darken($nemo-color-neutral, 5);

							&:before {
								width: 30px;
								height: 24px;
								background: url(/css/images/hsf-sprite.svg) no-repeat -1px -22px;
							}
						}
					}


				}
			}
		}

		&__sidebar {
			margin-right: 20px;

			&__loadingDummy {

				&__textItem {
					display: inline-block;
					background: $nemo-color-neutral;
				}

				&__offer {
					&__title {
						&__text {
							width: 120px;
							height: 19px;
							background: $nemo-color-LightPoint;
							opacity: .5;
						}
					}

					&__stars {
						width: 96px;
						margin-left: 20px !important;
						text-align: right;
					}

					&__starItem {
						width: 16px !important;
						background-image: url(/css/images/hsf-sprite.svg);
						background-position: -1px -2px !important;
					}

					&__photoWrap {
						background: $nemo-color-neutral;
					}

					&__rating,
					&__distances {
						margin-top: -20px !important;
						opacity: .5 !important;
						padding: 5px !important;
						background: darken($nemo-color-neutral, 10) !important;
						justify-content: space-around !important;
						height: 60px !important;
					}

					&__rating {
						&__number,
						&__text,
						&__link {
							background: $nemo-color-LightPoint;
							display: inline-block;
						}

						&__number {
							height: 12px;
							width: 46px;
						}

						&__text {
							width: 69px;
							height: 10px;
							margin-top: -1px !important;
						}

						&__link {
							width: 83px;
							height: 10px;
						}
					}

					&__addressWrap {
						padding-top: 0;
						margin-top: -30px;
					}

					&__distance1,
					&__distance2,
					&__mapLink {
						height: 10px;
						display: block;
						background: $nemo-color-LightPoint;
					}

					&__distance1 {
						width: 94px;
					}

					&__distance2 {
						width: 121px;
					}

					&__mapLink {
						width: 83px;
					}

					&__description {
						&__text {
							height: 60px;
							width: 100%;
						}
					}

					&__services {
						margin: 0 -5px 0;
						padding: 10px 10px 0
						font-size: 0;

						&__service {
							display: inline-block;
							width: 20px;
							height: 20px;
							border-radius: $nemo-border-radius;
							background: $nemo-color-neutral;
							margin: 0 5px 10px;
						}
					}

					&__footer {
						&__orderBtn {
							background: $nemo-color-neutral;
							box-shadow: none;
							cursor: default !important;

							&:hover {
								background: $nemo-color-neutral;
							}

							&__price,
							&__period {
								display: block;
								background: $nemo-color-LightPoint;
								height: 10px;
							}

							&__price {
								width: 95px;
							}

							&__period {
								width: 69px;
								margin-top: 10px;
							}

							&__arrow {
								background: darken($nemo-color-neutral, 7);

								&:before {
									width: 30px;
									height: 24px;
									background: url("/css/images/hsf-sprite.svg") no-repeat -1px -22px;
								}
							}
						}
					}
				}
			}
		}
	}

	&__groupList {
		&__item:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__showMoreWrap {
		padding: 20px 0 20px;
		text-align: center;
	}
	&__searchingInfo {
		margin-bottom: 20px;

		&__header {
			color: $nemo-color-text-secondary;
			margin: 16px 0 10px;

		}

		&__summary {
			display: flex;
			justify-content: flex-start;
			align-items: center;

			&__inner {
				flex-grow: 10;
			}

			&__area {
				font-size: 15px;
				line-height: 1.5em;
			}

			&__info {
				color: $nemo-color-text-secondary;
			}

			&__changeBtn {
				flex-grow: 0;
				flex-shrink: 0;
				font-size: 15px;
				background: $nemo-color-main;
				color: $nemo-color-LightPoint;
				height: 40px;
				line-height: 40px;

				&:hover, &:active {
					background: lighten($nemo-color-main, 10%);
				}
			}
		}
	}


	&__map {
		&__controlWrap {
			padding: 5px 20px 20px;
			display: flex;
		}

		&__controlTitle {
			flex: 0 0 260px;
			color: $nemo-color-LightPoint;
		}

		&__control {
			flex: 1 1 50%;

			.nemo-ui-slider {

				&:before {
					content: '';
					display: block;
					position: absolute;
					width: 100%;
					height: 2px;
					background: darken($nemo-color-neutral, 20);
					top: 7px;
				}

				.ui-slider-range {
					border-radius: $nemo-border-radius;
				}
				.ui-slider-handle {
					border-radius: $nemo-border-radius;
				}
			}
		}
	}
}

.hotels-services {
	&__service {
		opacity: .4;

		&_active {
			opacity: 1;
		}

		&__icon {
			display: block;
			background: url(/css/images/hotels_results_services_sprite.svg) no-repeat;

			&_pool {
				width: 20px;
				height: 16px;
				background-position: 0 -3px;
			}

			&_parking {
				width: 12px;
				height: 17px;
				background-position: -33px -2px;
			}

			&_sport {
				width: 20px;
				height: 12px;
				background-position: -57px -5px;
			}

			&_electricity {
				width: 16px;
				height: 16px;
				background-position: -89px -3px;
			}

			&_wifi {
				width: 20px;
				height: 15px;
				background-position: -117px -3px;
			}

			&_laundry {
				width: 16px;
				height: 20px;
				background-position: -148px 0px;
			}

			&_transport {
				width: 18px;
				height: 20px;
				background-position: -176px -1px;
			}

			&_roundTheClock {
				width: 20px;
				height: 9px;
				background-position: -206px -6px;
			}

			&_fridge {
				width: 18px;
				height: 18px;
				background-position: -238px -2px;
			}

			&_luggage {
				width: 20px;
				height: 16px;
				background-position: -267px -3px;
			}

			&_spa {
				width: 20px;
				height: 9px;
				background-position: -299px -6px;
			}

			&_bar {
				width: 15px;
				height: 21px;
				background-position: -331px -1px;
			}

			&_resturant {
				width: 20px;
				height: 18px;
				background-position: -358px -1px;
			}

			&_infinity {
				width: 20px;
				height: 19px;
				background-position: -389px -1px;
			}
		}
	}
}