@media (max-width: 859px) {
	.nemo-hotels-results {
		&__content {
			display: block;
			padding: 0 10px;
		}
	}
}
	
@media (max-width: 635px) {
	.nemo-hotels-results {
		&__groupList {
			&__item {
				&.has-flag {
					//padding-top: 50px;
				}
			}
		}

		&__content {
			display: block;
			padding: 0 10px;

			&__results {
				margin: 0 !important;

				&__loadingDummy {
					&__item {
						&__district, &__distances {
							display: none;
						}
					}
				}
			}
		}
		&__hotelsGroup {
			&__header {
				display: block;
				height: auto;

				&__title {
					height: 50px;
					background: $nemo-color-main;
					padding-right: 20px;
					position: relative;
					z-index: 1;
					border-radius: $nemo-border-radius $nemo-border-radius 0 0;
				}

				&__additional {
					position: static;
					padding-left: 20px;
					border-radius: 0;

					&:before, &:after {
						display: none;
					}
				}
			}

			&__content {
				padding: 0 10px 10px;
			}

			&__mainInfo {
				overflow: visible;
				position: relative;

				&__photoWrap {
					float: none
					border-radius: 0;
					width: auto;
					height: 0;
					padding-bottom: 51.62%;
					margin: 0 -10px 55px;
				}

				&__rating,
				&__addressWrap {
					position: absolute;
					margin-top: -75px;
					background: $nemo-color-neutral;
					border-radius: $nemo-border-radius;
					padding: 10px;
					height: 60px;
				}

				&__rating {
					float: none;
					left: 50%;
					margin-left: 40px;

					&__number {
						font-size: 20px;
						margin-top: -7px;
					}

					&__link,
					&__text {
						font-size: 11px;
					}

					&__link {
						margin-top: 0;
					}
				}

				&__addressWrap {
					width: 170px;
					margin-right: -30px;
					right: 50%;
					display: flex;
					align-items: center;

					&__address {
						display: none;
					}

					&__alone {
						position: relative;
						margin-right: auto;
						margin-left: auto;
						left: 0;
						right: 0;
					}
				}

				&__distances {
					&:before {
						content: none;
					}
				}

				&__distance {
					display: block;
				}

				&__mapLink {
					margin-left: 0;

					&__desctop {
						display: none;
					}

					&__mobile {
						display: block;
					}
				}

				&__infoBlock {
					margin: 0 15px 0 0;
				}
			}

			&__services {
				margin-left: 0;
			}

			&__rooms {
				display: none;
			}
		}
	}
	.has-flag {
		.nemo-hotels-results__hotelsGroup__header__title {
			padding-right: 20px;
		}
	}
}

@media (max-width: 500px) {
	.nemo-hotels-results {
		&__wrapper {
			background: transparent;
		}
			
		&__hotelsGroup {
			&__stars {
				margin: 0;
				position: absolute;
				padding: 0 13px 10px 13px;
				top: 100%;
				width: 100%;
				left: 0;
				background: #64b5f6;
			}

			&__mainInfo {
				&__distance,
				&__mapLink {
					font-size: 11px;
				}
			}

			&__footer {
				&__orderBtn {
					width: 100%;
					text-align: right;
				}
			}
		}

		&__showMoreWrap {
			.nemo-ul-showMoreBtn {
				width: 100%;
			}
		}
	}
	.has-flag .nemo-hotels-results__hotelsGroup__stars {
		padding: 0 13px;
		left: auto;
		right: 0;
		width: auto;
		height: 50px;
	}
}