@media (max-width: 1339px) {
    .nemo-hotels-results {
        &__content {
            &__sidebar {
                display: none;
            }

            &__results {
                flex-basis: 82%;
            }
        }
    }
}