.nemo-hotels-results__content {
	&__postfilters {
		padding-top: 0 !important;

		&__loadingDummy {
			text-align: center;
			padding: 135px 40px 40px;
			position: relative;
			margin-top: 20px;

			&:before {
				content: "";
				width: 40px;
				height: 40px;
				left: 50%;
				top: 70px;

				margin: -20px 0 0 -20px;
				animation: none;
				position: absolute;
				background: url(images/ui/ui-loader-circle-blue.svg) no-repeat;
				background-size: 100%;
			}

			&__title {
				font-size: 15px;
				margin-bottom: 10px;
			}

			&__text {
				font-size: 13px;
			}
		}

		&__notification {
			padding-right: 40px;
		}

		&__order {
			display: flex;
			justify-content: space-between;
			margin-bottom: 15px;

			&__title {
				color: $nemo-color-LightPoint;
				line-height: 30px;
				margin-right: 9px;
			}
		}

		&__showOnMap {
			margin-bottom: 15px;
			display: none;

			&__button {
				width: 100%;
				font-size: 14px;
			}
		}

		&__inlineSlider {
			&__value {
				display: flex;
				padding-right: 20px;
				align-items: center;
				justify-content: space-between;
			}

			&__slider {
				padding-bottom: 0;
				width: 100%;
			}

			&__info {
				&__value {
					display: inline-block;
					min-width: 15px;
				}
			}
		}

		.nemo-common-scrollable__content {
			padding-right: 0;
		}

		.nemo-common-sticker__inner {
			overflow: visible;
		}

		.nemo-common-scrollable__scroller {
			right: -14px;
		}

		.nemo-hotels-form__routeOptions__item__selector__button {
			min-width: 190px !important;
		}
	}
}

.nemo-hotels-results__summary {
	&__filters {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 100;
		opacity: 1;
		width: 320px;
		margin: 10px;
		padding: 0;

		&__inner {
			padding: 10px;
			background: $nemo-color-LightPoint;
			box-shadow: 0 1px 8px $nemo-color-container-shadow;
			border-radius: $nemo-border-radius;
			position: relative;
			z-index: 100;
		}

		&__overlay {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 99;
		}

		&__order {
			&__title {
				color: $nemo-color-text-main;
			}
		}

		&__filter {
			&__caption {
				&__name {
					color: $nemo-color-text-main;
				}
			}

			&__valuesBlock,
			&__checkboxesBlock
			&__inlineSlider {
				border: 1px solid $nemo-color-neutral;
				border-radius: $nemo-border-radius;
			}
		}
	}
}

.nemo-common-postFilters {
	&__filterList {
		&__filter {
			&__checkboxesBlock {
				&__checkboxes {
					background: $nemo-color-LightPoint;

					&__checkbox {
						&_disabled {
							opacity: .4;
							cursor: default;
						}

						&__name {
							&__stars {
								&__star {
									height: 17px !important;
								}
							}
						}
					}
				}
			}

			&_flightID {
				.nemo-common-postFilters__filterList__filter__caption {
					display: none;
				}
			}
		}
	}

	&__search_input {
		margin: 0;
	}
}

.nemo-common-postFilters{
	&__filterList{
		&__filter{
			&__checkboxesBlock{
				&__checkboxes{
					&__checkbox {
						height: auto;
						display: flex;
						-webkit-justify-content: space-between;
						justify-content: space-between;
						-webkit-align-items: center;
						align-items: center;

						&__name {
							padding-top: 5px;
							padding-bottom: 5px;
							line-height: 20px;

							&__stars {
								white-space: normal;
							}
						}
					}
				}
			}
		}
	}
}