.gm-style-iw {
	&, &-d {
		max-width: none !important;
	}
	.ltr{
		top: 5%;
		left: 5%;
	}
}

.searchBox {
	height: 29px;
	width: 200px;
	margin-top: 10px;
	font-family: Roboto,"Open Sans",sans-serif;
	font-size: 13px;
	padding: 5px;
}

.mapItem {
	width: 100%;
	
//	:after{
//			background: #ccc;
//        	width: 50px;
//        	height: 50px;
//        	margin: 0 auto;
//        	bottom: -50px;
//        	position: absolute;
//        	z-index: 1000;
//	}
	
	.hotel {
		border-radius: 4px;
		box-shadow: 0px 1px 8px rgba(10, 10, 15, 0.15);
		background-color: #fff;
		padding: 0;
	}

	.header {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		padding: 5px 20px 5px 0;
		margin: 0;
		position: relative;
		overflow: visible;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		color: #fff;
		//line-height: 50px;
		//height: 50px;
		min-height: 50px;
		font-size: 15px;
		background-color: #64b5f6;

		.title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-left: 20px;
			padding-right: 0;
			flex: 1 1 100%;

			.text {
				display: inline-block;
				//border-bottom: 1px dashed #fff;
				color: #fff;
				line-height: 20px;
				//height: 20px;
				text-decoration: none;
				//max-width: 310px;
				//overflow: hidden;
				//text-overflow: ellipsis;
				//white-space: nowrap;
			}

			.stars {
				margin-left: 30px;
				line-height: 20px;
				cursor: default;
				white-space: nowrap;

				.item {
					display: inline-block;
					vertical-align: top;
					width: 17px;
					height: 19px;
					background: url("images/hotels_results_sprite.svg") -2px -24px no-repeat;
					margin-left: 2px;

					&:first-child {
						margin-left: 0;
					}
				}
			}
		}
		.additional {
			display: none;
		}
	}

	.content {
		padding-top: 10px;
		padding-bottom: 7px;
		padding: 20px;
		border-radius: 4px;
		box-shadow: 0px 1px 8px rgba(10, 10, 15, 0.15);
		background-color: #fff;

		.mainInfo {
			overflow: hidden;

			.photoWrap {
				position: relative;
				width: 160px;
				height: 160px;
				overflow: hidden;
				float: left;
				display: block;
				border-radius: 4px;
				background-size: cover;
				background-position: 50% 50%;
				background-image: url(../img/hotel_thumb.png);
				cursor: pointer;
			}

			.rating {
				background: rgba(235, 235, 235, 0.75);
				border-radius: 4px;
				width: 100px;
				height: 90px;
				float: right;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				.number {
					color: #88c43d;
					font-size: 24px;
					text-align: center;
					margin-bottom: 3px;
				}

				.text {
					color: #88c43d;
					font-size: 13px;
					text-align: center;
					margin-top: -4px;
				}

				.link {
					display: inline;
					align-self: center;
					margin-top: 3px;
					border-bottom: 1px dashed rgba(100, 181, 246, 0.25);
					cursor: pointer;
					color: #64b5f6;
					text-decoration: none;
					border-bottom: 1px solid rgba(100, 181, 246, 0.25);
					transition: border-color 0.1s ease-in;

					&:hover {
						color: #349ef3;
					}
				}
			}

			.infoBlock {
				margin: 0 120px 0 180px;

				.addressWrap {
					padding: 2px 0 10px 20px;

					.distances {
						position: relative;
						font-size: 12px;
						line-height: 1.4em;

						& > span {
							display: inline-block;
							margin-left: 5px;
						}

						.target {
							color: rgba(100, 100, 100, 0.75);
						}

						.mapLink {
							margin-left: 30px;
							font-size: 12px;
							cursor: pointer;
							color: #64b5f6;
							text-decoration: none;
							border-bottom: 1px solid rgba(100, 181, 246, 0.25);
							transition: border-color 0.1s ease-in;
							&:hover {
								color: #349ef3;
							}
						}
					}
				}

				.description {
					position: relative;
					padding-right: 20px;
					font-size: 12px;
					line-height: 1.3em;
					cursor: pointer;
					
					h2 {
						margin: 0;
						padding: 0;
 						font-size: 1em !important;
						font-weight: normal;
					}
					
					.text {
						max-height: 80px;
						overflow: auto;

						pre {
							white-space: normal!important;
							font-family: inherit!important;
						}
					}
					.link {
						display: flex;
						position: absolute;
						justify-content: flex-end;
						align-items: center;
						width: 20px;
						height: 100%;
						top: 0;
						right: 0;

						&:before {
							content: '';
							display: block;
							width: 10px;
							height: 30px;
							background: url("images/hotels_results_sprite.svg") no-repeat -3px -68px;
						}
					}
				}
			}

			.services {
				display: block;
				padding: 0;
				margin: 15px 0 0 180px;
				font-size: 0;

				.service {
					display: inline-block;
					vertical-align: middle;
					margin-right: 10px;

					&.active {
						opacity: 1;
					}

					.icon {
						display: block;
						background: url("images/hotels_results_services_sprite.svg") no-repeat;

						&_pool {
							width: 20px;
							height: 16px;
							background-position: 0 -3px;
						}

						&_parking {
							width: 12px;
							height: 17px;
							background-position: -33px -2px;
						}

						&_sport {
							width: 20px;
							height: 12px;
							background-position: -57px -5px;
						}

						&_electricity {
							width: 16px;
							height: 16px;
							background-position: -89px -3px;
						}

						&_wifi {
							width: 20px;
							height: 15px;
							background-position: -117px -3px;
						}

						&_laundry {
							width: 16px;
							height: 20px;
							background-position: -148px 0px;
						}

						&_transport {
							width: 18px;
							height: 20px;
							background-position: -176px -1px;
						}

						&_roundTheClock {
							width: 20px;
							height: 9px;
							background-position: -206px -6px;
						}

						&_fridge {
							width: 18px;
							height: 18px;
							background-position: -238px -2px;
						}

						&_luggage {
							width: 20px;
							height: 16px;
							background-position: -267px -3px;
						}

						&_spa {
							width: 20px;
							height: 9px;
							background-position: -299px -6px;
						}

						&_bar {
							width: 15px;
							height: 21px;
							background-position: -331px -1px;
						}

						&_resturant {
							width: 20px;
							height: 18px;
							background-position: -358px -1px;
						}

						&_infinity {
							width: 20px;
							height: 19px;
							background-position: -389px -1px;
						}
					}
				}
			}
		}

		.nemo-hotels-results__hotelsGroup__footer__text {
			float: left;
			text-align: left;
			padding-top: 15px;

		}

		.nemo-hotels-results__hotelsGroup__footer__text,
		.nemo-hotels-results__hotelsGroup__footer__text + .nemo-ui-button {
			margin-top: 15px;
		}

			.nemo-hotels-results__hotelsGroup__footer__price {
				font-weight: 400;
				display: inline-block;
				padding-left: 3px;
			}
	}
}
@media (max-width: 500px) {
	.mapItem .content .mainInfo {
		& .infoBlock {
			margin: 0;
			clear: both;
			padding: 10px 0;

			& .addressWrap {
				padding: 0;
			}
		}
		
		& .services {
			margin: 0;
			clear: both;
		}
	}
}
@media (max-width: 400px) {
	.mapItem .content .mainInfo {
		& .photoWrap {
			width: 140px;
			height: 140px;
		}

		& .rating {
			width: 80px;
		}
	}
}
